Repository scikit-learn/scikit-learn, pull requests merged in 2018-06, with the labels that each got.

#11228 [MRG+1] DOC Improve doc of Tree object in DecisionTreeClassifier/Regressor
  sklearn/tree/tree.py
Labels: Documentation

#11216 [MRG+1] Move examples to examples/compose
  doc/faq.rst
  doc/modules/compose.rst
  doc/tutorial/statistical_inference/putting_together.rst
  doc/whats_new/v0.18.rst
  examples/compose/README.txt
  examples/compose/plot_column_transformer.py
  examples/compose/plot_compare_reduction.py
  examples/compose/plot_digits_pipe.py
  examples/compose/plot_feature_union.py
  examples/compose/plot_transformed_target.py
  sklearn/compose/_target.py
Labels: Documentation

#11318 [MRG+1] FIX doctests I broke in merging #11180
  doc/conftest.py
Labels: Blocker

#11241 [MRG] DOC fix some sphinx warnings
  build_tools/circle/list_versions.py
  doc/conf.py
  doc/datasets/covtype.rst
  doc/datasets/kddcup99.rst
  doc/developers/advanced_installation.rst
  doc/developers/contributing.rst
  doc/developers/tips.rst
  doc/documentation.rst
  doc/faq.rst
  doc/glossary.rst
  doc/modules/compose.rst
  doc/modules/pipeline.rst
  doc/support.rst
  doc/testimonials/testimonials.rst
  examples/README.txt
  examples/calibration/plot_compare_calibration.py
  examples/ensemble/plot_gradient_boosting_early_stopping.py
  examples/ensemble/plot_isolation_forest.py
  examples/svm/plot_separating_hyperplane_unbalanced.py
  sklearn/compose/_target.py
  sklearn/covariance/elliptic_envelope.py
  sklearn/datasets/california_housing.py
  sklearn/datasets/covtype.py
  sklearn/datasets/lfw.py
  sklearn/datasets/mlcomp.py
  sklearn/datasets/rcv1.py
  sklearn/datasets/twenty_newsgroups.py
  sklearn/ensemble/iforest.py
  sklearn/ensemble/voting_classifier.py
  sklearn/linear_model/coordinate_descent.py
  sklearn/linear_model/logistic.py
  sklearn/metrics/classification.py
  sklearn/metrics/cluster/supervised.py
  sklearn/metrics/cluster/unsupervised.py
  sklearn/mixture/gaussian_mixture.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/multioutput.py
  sklearn/neighbors/lof.py
  sklearn/svm/classes.py
  sklearn/utils/extmath.py
Labels: Documentation

#11335 [MRG] DOC encourage contributors to look at related projects too
  doc/developers/contributing.rst
Labels: Documentation

#11176 [MRG] Normalization fix for gbm ensemble feature importances
  doc/modules/ensemble.rst
  doc/whats_new/v0.20.rst
  sklearn/ensemble/gradient_boosting.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: Bug

#10986 Fix LogisticRegression with warm_start, multinomial and binary data
  doc/whats_new/v0.20.rst
  sklearn/linear_model/logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: Bug

#9570 [MRG] 0.20 deprecations
  .gitignore
  benchmarks/bench_plot_incremental_pca.py
  doc/modules/classes.rst
  doc/modules/preprocessing.rst
  doc/tutorial/machine_learning_map/index.rst
  examples/model_selection/plot_nested_cross_validation_iris.py
  sklearn/__init__.py
  sklearn/base.py
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/cross_validation.py
  sklearn/decomposition/__init__.py
  sklearn/decomposition/incremental_pca.py
  sklearn/decomposition/online_lda.py
  sklearn/decomposition/pca.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/decomposition/truncated_svd.py
  sklearn/feature_selection/rfe.py
  sklearn/gaussian_process/__init__.py
  sklearn/gaussian_process/gaussian_process.py
  sklearn/gaussian_process/tests/test_gaussian_process.py
  sklearn/grid_search.py
  sklearn/isotonic.py
  sklearn/learning_curve.py
  sklearn/linear_model/base.py
  sklearn/linear_model/least_angle.py
  sklearn/linear_model/ransac.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_ransac.py
  sklearn/metrics/classification.py
  sklearn/metrics/scorer.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/mixture/__init__.py
  sklearn/mixture/dpgmm.py
  sklearn/mixture/gmm.py
  sklearn/mixture/tests/test_dpgmm.py
  sklearn/mixture/tests/test_gmm.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_base.py
  sklearn/tests/test_cross_validation.py
  sklearn/tests/test_grid_search.py
  sklearn/tests/test_learning_curve.py
  sklearn/tree/export.py
  sklearn/utils/estimator_checks.py
Labels: Blocker

#11334 DOC: Clarified different conf-mat axes in Wikipedia example #11326
  .travis.yml
  doc/modules/model_evaluation.rst
  sklearn/metrics/classification.py
Labels: Documentation

#11166 [MRG] MAINT: option to unvendor joblib
  doc/glossary.rst
  doc/modules/computing.rst
  doc/modules/scaling_strategies.rst
  doc/user_guide.rst
  doc/whats_new/v0.20.rst
  sklearn/externals/README
  sklearn/externals/_joblib/__init__.py
  sklearn/externals/_joblib/_compat.py
  sklearn/externals/_joblib/_memory_helpers.py
  sklearn/externals/_joblib/_multiprocessing_helpers.py
  sklearn/externals/_joblib/_parallel_backends.py
  sklearn/externals/_joblib/backports.py
  sklearn/externals/_joblib/disk.py
  sklearn/externals/_joblib/format_stack.py
  sklearn/externals/_joblib/func_inspect.py
  sklearn/externals/_joblib/hashing.py
  sklearn/externals/_joblib/logger.py
  sklearn/externals/_joblib/memory.py
  sklearn/externals/_joblib/my_exceptions.py
  sklearn/externals/_joblib/numpy_pickle.py
  sklearn/externals/_joblib/numpy_pickle_compat.py
  sklearn/externals/_joblib/numpy_pickle_utils.py
  sklearn/externals/_joblib/parallel.py
  sklearn/externals/_joblib/pool.py
  sklearn/externals/copy_joblib.sh
  sklearn/externals/joblib.py
  sklearn/externals/setup.py
  sklearn/model_selection/tests/test_search.py
  sklearn/utils/fixes.py
Labels: Enhancement
