Repository scikit-learn/scikit-learn, pull requests merged in 2018-11, with the labels that each got.

#12555 DOC: add a testimonial from JP Morgan
  doc/testimonials/images/jpmorgan.png
  doc/testimonials/testimonials.rst
Labels: Documentation

#12471 Bug with string dtype in OneHotEncoder with handle_unknown='ignore'
  doc/whats_new/v0.20.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: Bug

#12674 TST Specify seed in test_shuffle_kfold_stratifiedkfold_reproducibility
  sklearn/model_selection/tests/test_split.py
Labels: Blocker
