Repository scikit-learn/scikit-learn, pull requests merged in 2018-09, with the labels that each got.

#11994 DOC note controversy on multiclass balanced accuracy definition
  sklearn/metrics/classification.py
Labels: Documentation

#11998 MNT Revert the deprecation of min_samples_leaf and min_weight_fraction_leaf
  doc/modules/ensemble.rst
  doc/modules/tree.rst
  doc/whats_new/v0.20.rst
  examples/ensemble/plot_adaboost_hastie_10_2.py
  examples/ensemble/plot_gradient_boosting_oob.py
  examples/ensemble/plot_gradient_boosting_quantile.py
  sklearn/ensemble/forest.py
  sklearn/ensemble/gradient_boosting.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/tests/test_tree.py
  sklearn/tree/tree.py
Labels: Blocker

#11913 [MRG] MNT rename min_cluster_size_ratio to min_cluster_size
  sklearn/cluster/optics_.py
  sklearn/cluster/tests/test_optics.py
Labels: Needs Review

#12155 [MRG] BUG: check equality instead of identity in check_cv
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_validation.py
Labels: Blocker

#12122 [MRG] Crash when using SGDClassifier with early stopping in a parallel grid search
  sklearn/linear_model/sgd_fast.pyx
  sklearn/linear_model/stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: Bug

#11275 Kde doc fix
  sklearn/neighbors/kde.py
Labels: Documentation

#12105 [MRG] Fix diagonal in DBSCAN with precomputed sparse neighbors graph
  doc/whats_new/v0.20.rst
  doc/whats_new/v0.21.rst
  sklearn/cluster/dbscan_.py
  sklearn/cluster/tests/test_dbscan.py
Labels: Bug
