Repository scikit-learn/scikit-learn, pull requests merged in 2019-04, with the labels that each got.

#8773 [MRG+1] cross_val_predict handles multi-label predict_proba
  doc/whats_new/v0.21.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: Enhancement

#13584 [MRG] Fixed equality check in pprint
  sklearn/utils/_pprint.py
  sklearn/utils/tests/test_pprint.py
Labels: Blocker, Bug

#13543 [MRG] BUILD: check OpenMP support and add a switch to build without it
  azure-pipelines.yml
  doc/developers/advanced_installation.rst
  doc/developers/performance.rst
  setup.py
  sklearn/_build_utils/__init__.py
  sklearn/_build_utils/openmp_helpers.py
  sklearn/tests/test_common.py
Labels: Blocker

#13363 [MRG] Fix selection of solver in ridge_regression when solver=='auto'
  doc/whats_new/v0.21.rst
  sklearn/linear_model/ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: Blocker

#13436 [MRG + 1] Fix pprint ellipsis
  sklearn/base.py
  sklearn/utils/tests/test_pprint.py
Labels: Blocker, Bug

#13664 [MRG] fix broken references in documentation
  doc/about.rst
  doc/glossary.rst
  doc/governance.rst
  doc/modules/clustering.rst
  doc/modules/computing.rst
  doc/whats_new/v0.19.rst
Labels: Documentation

#13447 [MRG] Fix label_ranking_average_precision_score: sample_weighting isn't applied to items with zero true labels #13412
  doc/whats_new/v0.21.rst
  sklearn/metrics/ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: Bug

#13179 new tests for mean_shift algo
  sklearn/cluster/mean_shift_.py
  sklearn/cluster/tests/test_mean_shift.py
Labels: Needs Review

#13730 [MRG] removed close_figure helper
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/utils/testing.py
Labels: Blocker

#12077 [MRG+2] OPTICS: add extract_xi method
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/whats_new/v0.21.rst
  examples/cluster/plot_cluster_comparison.py
  examples/cluster/plot_optics.py
  sklearn/cluster/__init__.py
  sklearn/cluster/optics_.py
  sklearn/cluster/tests/test_optics.py
  sklearn/utils/estimator_checks.py
Labels: Blocker

#13749 TST use approximate equality for float comparison in cross_val_predict tests
  sklearn/model_selection/tests/test_validation.py
Labels: Build / CI
