Repository scikit-learn/scikit-learn, pull requests merged in 2019-08, with the labels that each got.

#14555 MAINT Remove vendored C99 lgamma implementation
  sklearn/metrics/cluster/expected_mutual_info_fast.pyx
  sklearn/neighbors/binary_tree.pxi
  sklearn/utils/lgamma.pxd
  sklearn/utils/lgamma.pyx
  sklearn/utils/setup.py
  sklearn/utils/src/gamma.c
  sklearn/utils/src/gamma.h
Labels: Waiting for Reviewer

#9597 [MRG+1] Add predict_proba(X) and outlier handler for RadiusNeighborsClassifier
  doc/whats_new/v0.22.rst
  sklearn/neighbors/classification.py
  sklearn/neighbors/regression.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer

#14357 [MRG] Plotting API starting with ROC curve
  doc/developers/contributing.rst
  doc/modules/classes.rst
  doc/user_guide.rst
  doc/visualizations.rst
  examples/model_selection/plot_roc_crossval.py
  examples/plot_roc_curve_visualization_api.py
  sklearn/metrics/__init__.py
  sklearn/metrics/_plot/__init__.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/__init__.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
  sklearn/metrics/setup.py
Labels: Needs Decision

#14526 MRG add dendrogram example
  doc/modules/clustering.rst
  examples/cluster/plot_agglomerative_dendrogram.py
  sklearn/cluster/hierarchical.py
Labels: Waiting for Reviewer

#13441 Correcting description of test_size parameter in model_selection.GroupShuffleSplit
  sklearn/model_selection/_split.py
Labels: Needs work

#14619 [MRG] MAINT Fixes azure/circle CI
  .circleci/config.yml
  build_tools/azure/install.sh
  build_tools/azure/test_pytest_soft_dependency.sh
Labels: Blocker

#12258 Set diagonal entries of distance matrices to zero in silhoutte_samples
  doc/whats_new/v0.22.rst
  sklearn/metrics/cluster/tests/test_unsupervised.py
  sklearn/metrics/cluster/unsupervised.py
Labels: Needs work

#12748 [WIP] DOC Fix features selection example #1149
  examples/feature_selection/plot_feature_selection.py
Labels: Waiting for Reviewer

#9951 [MRG+1] Add Normalized Discounted Cumulative Gain
  doc/modules/model_evaluation.rst
  doc/whats_new/v0.22.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/ranking.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
Labels: New Feature, Waiting for Reviewer

#11221 [MRG] DOC: add binder links to examples
  doc/binder/requirements.txt
  doc/conf.py
Labels: Documentation, Waiting for Reviewer

#14477 DOC add missing attributes to Bagging, AdaBoost algorithms #14312
  sklearn/ensemble/bagging.py
  sklearn/ensemble/weight_boosting.py
Labels: Needs work

#14381 [MRG] ENH Disassemble check estimator
  doc/developers/develop.rst
  doc/modules/classes.rst
  doc/whats_new/v0.22.rst
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: High Priority

#14647 Amg arpack workaround fix
  doc/whats_new/v0.22.rst
  sklearn/manifold/spectral_embedding_.py
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: Bug

#13707 Fix for spectral clustering error when using 'amg' solver
  doc/modules/clustering.rst
  doc/whats_new/v0.22.rst
  sklearn/manifold/spectral_embedding_.py
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: Waiting for Reviewer
