Repository scikit-learn/scikit-learn, pull requests merged in 2019-10, with the labels that each got.

#13392 [MRG+1] Adding multi output checks to common tests
  doc/whats_new/v0.22.rst
  examples/model_selection/plot_roc.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/linear_model/coordinate_descent.py
  sklearn/linear_model/least_angle.py
  sklearn/linear_model/ridge.py
  sklearn/neighbors/regression.py
  sklearn/tree/tests/test_tree.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: Waiting for Reviewer

#13311 ENH Add Deprecating Position Arguments Helper
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: API

#14605 [MRG] Expose random seed in Hashingvectorizer
  sklearn/feature_extraction/_hashing.pyx
  sklearn/feature_extraction/hashing.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
Labels: Waiting for Reviewer

#15175 [MRG] CI: don't track coverage on setups
  .codecov.yml
Labels: Build / CI

#15042 MNT Fix link flags search for the OpenMP test program
  build_tools/azure/install.sh
  doc/developers/advanced_installation.rst
  sklearn/_build_utils/openmp_helpers.py
Labels: Build / CI, High Priority, Waiting for Reviewer

#14196 MNT New helper for effective number of OpenMP threads
  sklearn/utils/_openmp_helpers.pyx
  sklearn/utils/setup.py
Labels: High Priority

#14702 MNT Add estimator check for not calling __array_function__
  doc/whats_new/v0.22.rst
  sklearn/cross_decomposition/_pls_.py
  sklearn/dummy.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_ridge.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
  sklearn/naive_bayes.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_estimator_checks.py
  sklearn/utils/validation.py
Labels: High Priority

#14865 [MRG] Support for list of lists or list of arrays multilabel indicator (continuation)
  doc/whats_new/v0.22.rst
  sklearn/metrics/tests/test_common.py
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: High Priority, Waiting for Reviewer

#15313 BLD lazy import of tempita to avoid cython dependency
  sklearn/_build_utils/__init__.py
  sklearn/linear_model/setup.py
  sklearn/utils/setup.py
Labels: Blocker, Build / CI

#15010 [MRG] ENH add missing indicator in KNNImputer
  doc/whats_new/v0.22.rst
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/impute/tests/test_base.py
  sklearn/impute/tests/test_common.py
  sklearn/impute/tests/test_impute.py
Labels: Blocker, Waiting for Reviewer

#15344 [MRG] MNT Make modules private in decomposition
  .gitignore
  benchmarks/bench_plot_nmf.py
  doc/developers/performance.rst
  examples/decomposition/plot_beta_divergence.py
  sklearn/_build_utils/deprecated_modules.py
  sklearn/decomposition/__init__.py
  sklearn/decomposition/_base.py
  sklearn/decomposition/_cdnmf_fast.pyx
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/_online_lda.py
  sklearn/decomposition/_online_lda_fast.pyx
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/setup.py
  sklearn/decomposition/tests/test_fastica.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/decomposition/tests/test_pca.py
Labels: Blocker

#14346 [MRG] improving plot_digits_pipe.py by adjusting parameters and making the graph more clear
  examples/compose/plot_digits_pipe.py
Labels: Needs work

#15395 EXA Show how to clean-up joblib cache in examples
  examples/neighbors/plot_caching_nearest_neighbors.py
  examples/release_highlights/plot_release_highlights_0_22_0.py
Labels: Blocker

#15315 DOC reorganize the build instructions
  doc/developers/advanced_installation.rst
Labels: Documentation, Enhancement, Waiting for Reviewer
