Repository scikit-learn/scikit-learn, pull requests merged in 2019-09, with the labels that each got.

#14417 ENH Adds roc weighted scorers to SCORERS
  doc/modules/model_evaluation.rst
  sklearn/metrics/scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: Waiting for Reviewer

#14538 ENH safe_sparse_dot work on 3D+ arrays
  doc/whats_new/v0.22.rst
  sklearn/linear_model/coordinate_descent.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: Waiting for Reviewer

#14593 [MRG] Adds _MultimetricScorer for Optimized Scoring
  doc/whats_new/v0.22.rst
  sklearn/metrics/scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/_validation.py
Labels: High Priority

#10482 FEA Generalize the use of precomputed sparse distance matr…
  doc/glossary.rst
  doc/modules/classes.rst
  doc/modules/neighbors.rst
  doc/whats_new/v0.22.rst
  examples/neighbors/approximate_nearest_neighbors.py
  examples/neighbors/plot_caching_nearest_neighbors.py
  sklearn/cluster/dbscan_.py
  sklearn/cluster/spectral.py
  sklearn/cluster/tests/test_dbscan.py
  sklearn/cluster/tests/test_spectral.py
  sklearn/manifold/_utils.pyx
  sklearn/manifold/isomap.py
  sklearn/manifold/locally_linear.py
  sklearn/manifold/spectral_embedding_.py
  sklearn/manifold/t_sne.py
  sklearn/manifold/tests/test_isomap.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/__init__.py
  sklearn/neighbors/base.py
  sklearn/neighbors/classification.py
  sklearn/neighbors/graph.py
  sklearn/neighbors/lof.py
  sklearn/neighbors/regression.py
  sklearn/neighbors/tests/test_graph.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
  sklearn/neighbors/unsupervised.py
  sklearn/utils/estimator_checks.py
Labels: High Priority, Waiting for Reviewer

#14898 [MRG] API Replace scorer brier_score_loss with neg_brier_score
  doc/modules/model_evaluation.rst
  doc/whats_new/v0.22.rst
  sklearn/metrics/classification.py
  sklearn/metrics/scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: Blocker

#15041 [MRG] Clean travis install script
  .travis.yml
  build_tools/travis/install.sh
Labels: Build / CI

#12569 [MRG+1] FEA Add Categorical Naive Bayes
  doc/modules/classes.rst
  doc/modules/naive_bayes.rst
  doc/whats_new/v0.22.rst
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer

#14286 [MRG+1] FIX Negative or null sample_weights in SVM
  doc/whats_new/v0.22.rst
  sklearn/svm/src/libsvm/svm.cpp
  sklearn/svm/tests/test_svm.py
Labels: Bug, Waiting for Reviewer
