Repository scikit-learn/scikit-learn, pull requests merged in 2019-12, with the labels that each got.

#15758 Configure twitter-action for @sklearn_commits
  .github/workflows/twitter.yml
Labels: Build / CI

#15799 Fix yticklabels order in permutation importances example
  examples/inspection/plot_permutation_importance_multicollinear.py
Labels: Bug, Documentation

#15834 ENH CountVectorizer: sort features after pruning by frequency
  doc/whats_new/v0.23.rst
  sklearn/feature_extraction/text.py
Labels: Waiting for Reviewer

#15293 clarify doc-string of roc_auc_score, add references
  doc/modules/model_evaluation.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: Documentation, Waiting for Reviewer

#15929 [MRG] Import sklearn._distributor_init first
  sklearn/__init__.py
Labels: Build / CI

#15935 DOC in canned comment, mention that PR title becomes commit me…
  doc/developers/tips.rst
Labels: Documentation

#15928 BUG fix pip3 ubuntu update by suffixing file
  sklearn/_build_utils/deprecated_modules.py
  sklearn/datasets/__init__.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_testing.py
Labels: Blocker

#15930 [MRG] Ways to compute center_shift_total were different in "full" and "elkan" algorithms.
  doc/whats_new/v0.22.rst
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/tests/test_k_means.py
Labels: Waiting for Reviewer

#15933 BUG ensure that parallel/sequential give the same permutation importances
  doc/whats_new/v0.22.rst
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/tests/test_permutation_importance.py
Labels: Blocker

#15944 Formatting fixes in changelog
  doc/whats_new/v0.22.rst
Labels: Documentation

#15879 Corrected the missing zero_division argument
  doc/whats_new/v0.22.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Waiting for Reviewer

#15947 BUG Adds attributes back to check_is_fitted
  doc/whats_new/v0.22.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer
