Repository scikit-learn/scikit-learn, pull requests merged in 2019-03, with the labels that each got.

#13375 [MRG+1] DOC: fix formatting in whats_new
  doc/whats_new/v0.21.rst
Labels: Documentation, Needs Review

#13378 MNT CI fix scikit-image dependency for latest numpy
  build_tools/circle/build_doc.sh
Labels: Blocker, Build / CI

#13377 DOC update and extend maintainer docs for making releases
  doc/developers/maintainer.rst
Labels: Documentation

#2568 [MRG+1] Pipeline can now be sliced or indexed
  doc/modules/compose.rst
  doc/whats_new/v0.21.rst
  examples/feature_selection/plot_feature_selection_pipeline.py
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: Needs Review

#11796 [MRG+2] Fix LDA predict_proba()
  doc/whats_new/v0.21.rst
  sklearn/discriminant_analysis.py
  sklearn/tests/test_discriminant_analysis.py
Labels: Bug

#13151 ENH/FIX Replace jaccard_similarity_score by sane jaccard_score
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v0.21.rst
  examples/multioutput/plot_classifier_chain_yeast.py
  sklearn/metrics/__init__.py
  sklearn/metrics/classification.py
  sklearn/metrics/scorer.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/tests/test_multioutput.py
Labels: Bug, Needs Review

#13443 [MRG] MNT Clean some deprecation stuff for 0.21
  doc/modules/kernel_approximation.rst
  doc/modules/sgd.rst
  sklearn/ensemble/gradient_boosting.py
  sklearn/feature_extraction/hashing.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/kernel_approximation.py
  sklearn/linear_model/passive_aggressive.py
  sklearn/linear_model/perceptron.py
  sklearn/linear_model/stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Blocker
