Repository scikit-learn/scikit-learn, pull requests merged in 2019-02, with the labels that each got.

#12732 [MRG] Use Scipy cython BLAS API instead of bundled CBLAS
  doc/whats_new/v0.21.rst
  sklearn/metrics/pairwise_fast.pyx
  sklearn/metrics/setup.py
  sklearn/utils/_cython_blas.pxd
  sklearn/utils/_cython_blas.pyx
  sklearn/utils/setup.py
  sklearn/utils/tests/test_cython_blas.py
Labels: Needs Review

#13081 CI install pillow in pypy job
  build_tools/circle/build_test_pypy.sh
Labels: Blocker

#13080 CI install pillow in Travis cron job
  build_tools/travis/install.sh
Labels: Blocker

#13053 [MRG] Update setup and travis to support OpenMP
  build_tools/travis/install.sh
  doc/developers/advanced_installation.rst
  setup.py
Labels: Needs Review

#11667 [MRG] Fixed NMF IndexError
  doc/whats_new/v0.21.rst
  sklearn/decomposition/nmf.py
  sklearn/decomposition/tests/test_nmf.py
Labels: Bug

#13238 MNT Remove failed tests in extract_patches_2d
  sklearn/feature_extraction/image.py
Labels: Blocker

#13124 FIX Shuffle each class's samples with different random_state in StratifiedKFold
  doc/whats_new/v0.21.rst
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: Regression

#10058 [MRG+2] Neighborhood Components Analysis
  doc/modules/classes.rst
  doc/modules/decomposition.rst
  doc/modules/neighbors.rst
  doc/modules/neural_networks_supervised.rst
  doc/modules/sgd.rst
  doc/whats_new/v0.21.rst
  examples/manifold/plot_lle_digits.py
  examples/neighbors/plot_nca_classification.py
  examples/neighbors/plot_nca_dim_reduction.py
  examples/neighbors/plot_nca_illustration.py
  sklearn/neighbors/__init__.py
  sklearn/neighbors/nca.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Needs Review, New Feature
