Repository scikit-learn/scikit-learn, pull requests merged in 2019-05, with the labels that each got.

#13738 [MRG+1] Cleaning for fast partial dependence computation
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/partial_dependence.py
  sklearn/inspection/partial_dependence.py
  sklearn/tree/_tree.pyx
Labels: Needs Review

#13816 Make test_ridge_regression_dtype_stability less random
  sklearn/linear_model/tests/test_ridge.py
Labels: Blocker

#13824 API Make IterativeImputer experimental
  doc/conf.py
  doc/modules/classes.rst
  doc/modules/impute.rst
  doc/whats_new/v0.21.rst
  examples/impute/plot_iterative_imputer_variants_comparison.py
  examples/impute/plot_missing_values.py
  sklearn/experimental/enable_iterative_imputer.py
  sklearn/experimental/tests/test_enable_iterative_imputer.py
  sklearn/impute.py
  sklearn/impute/__init__.py
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/tests/__init__.py
  sklearn/impute/tests/test_impute.py
  sklearn/setup.py
Labels: Blocker

#13862 FIX broken sdist
  MANIFEST.in
  sklearn/ensemble/_hist_gradient_boosting/tests/__init__.py
Labels: Blocker, Bug, Build / CI

#13877 Some fixes for parallel pairwise distances when n_jobs > 1
  doc/whats_new/v0.21.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: Blocker

#13910 [MRG] Fix eulidean distances (float32) batch management
  doc/whats_new/v0.21.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: Blocker

#13903 [MRG] Fixes test_scale_and_stability by clipping small values
  doc/whats_new/v0.21.rst
  sklearn/cross_decomposition/pls_.py
Labels: Blocker

#13894 [MRG] Fixes get_feature_names results when using drop functionality
  doc/whats_new/v0.21.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: Bug
