Repository scikit-learn/scikit-learn, pull requests merged in 2020-07, with the labels that each got.

#17661 PERF Discard old layers immediately when making neural net predictions
  doc/whats_new/v0.24.rst
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17766 MNT Collapse an unnecessary enclosed if statement
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#17759 [MRG] 32-bit support for MLP
  doc/whats_new/v0.24.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network

#17737 [MRG] Dot product optimizations using multi_dot
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_nmf.py
  sklearn/linear_model/_bayes.py
Labels: module:linear_model

#17823 DOC coef_ and intercept_ doc for BernoulliNB
  sklearn/naive_bayes.py
Labels: module:naive_bayes

#17807 Fixed typo in docstring of enet_path in _coordinate_descent.py
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#17802 TST Fix test_float_precision fails on arm
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#15007 Added mean_absolute_percentage_error in metrics fixes #10708
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/_contributors.rst
  doc/whats_new/v0.24.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_regression.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#17783 DOC Add tiebreaking explanation to DecisionTreeClassifier docs
  doc/modules/tree.rst
  sklearn/tree/_classes.py
Labels: module:tree

#17545 MNT use raise from in validation.py
  sklearn/utils/validation.py
Labels: module:utils

#17427 MNT Deprecate coef_ and intercept_ in naive bayes estimators
  doc/whats_new/v0.24.rst
  sklearn/naive_bayes.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes

#17837 FIX Change MRO for some estimators
  sklearn/calibration.py
  sklearn/discriminant_analysis.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/linear_model/_logistic.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
  sklearn/model_selection/tests/test_search.py
  sklearn/multioutput.py
  sklearn/svm/_classes.py
Labels: module:linear_model

#11064 [MRG] varimax rotation for factor analysis
  doc/modules/decomposition.rst
  doc/whats_new/v0.24.rst
  examples/decomposition/plot_varimax_fa.py
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/tests/test_factor_analysis.py
Labels: Waiting for Reviewer, module:decomposition

#17804 MNT deprecate ChangedBehaviorWarning and NonBLASDotWarning
  doc/modules/classes.rst
  doc/whats_new/v0.24.rst
  sklearn/exceptions.py
  sklearn/utils/validation.py
Labels: module:utils

#17740 DOC Add missing attrributes in ElasticNet and etc
  sklearn/linear_model/_coordinate_descent.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:linear_model, module:neural_network, module:tree

#17651 [MRG] EHN Provide a pos_label parameter in plot_roc_curve
  doc/whats_new/v0.24.rst
  sklearn/metrics/_plot/base.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
Labels: module:metrics

#17812 FIX Fix handling of binary_only tag in check_estimator
  doc/whats_new/v0.24.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#17848 MNT Don't normalize sample weights in KMeans
  doc/whats_new/v0.24.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#17850 MNT small clean up and parametrization in KMeans Tests
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#17858 TST remove useless network marker in GBDT tree
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#17846 [MRG] Add codes to raise error when l1_ratio is out-of-range in elasticnet
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#17860 TST parametrize and clean-up tests GBDT
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#17868 [MRG] Factor out concatenation of Xs after feature union transformations
  sklearn/pipeline.py
Labels: module:pipeline

#17867 MNT Small refactor for cross_validate
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#16392 [MRG] DEP Graph lasso grid scores dep
  doc/whats_new/v0.24.rst
  examples/covariance/plot_sparse_cov.py
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:covariance

#17357 BUG Fixes stacker compatibility with estimators without n_features_in_
  doc/whats_new/v0.23.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble

#17410 CLN Minor adjustment for potential overflow in hist gradient boosting
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
Labels: module:ensemble

#16899 [MRG] DOC minor update to classification_report
  sklearn/metrics/_classification.py
Labels: module:metrics

#17246 ENH Makes _deprecate_positional_args slightly faster
  sklearn/utils/validation.py
Labels: module:utils

#17875 CLN Uses bool instead of np.bool
  sklearn/impute/_base.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:impute, module:neural_network

#17861 MNT Centralize all param checks in KMeans
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#17834 [MRG] Fix documentation of default values in tree exports
  sklearn/tree/_export.py
Labels: module:tree

#17844 [DOC] Added missing attributes to OneVsRest Classifier
  sklearn/multiclass.py
  sklearn/tests/test_docstring_parameters.py
Labels: Documentation, Waiting for Reviewer

#17742 FIX MeanShift when estimated bandwidth is 0
  doc/whats_new/v0.24.rst
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/tests/test_mean_shift.py
Labels: module:cluster

#17838 DOC - added attributes in LassoLarsCV & MultitaskLassoCV
  sklearn/linear_model/_least_angle.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:linear_model

#16193 [MRG] Fix pre-build checks to handle compilers from build_ext options
  .travis.yml
  build_tools/travis/install.sh
  build_tools/travis/test_docs.sh
  build_tools/travis/test_script.sh
  doc/developers/advanced_installation.rst
  sklearn/_build_utils/openmp_helpers.py
  sklearn/_build_utils/pre_build_helpers.py
Labels: Build / CI

#17833 [MRG] Added feature clip to MinMaxScaler
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_common.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing

#17882 DOC dual_gap_ attribute for Lasso
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#17879 DOC: Fix numpydoc section name Return -> Returns
  sklearn/utils/_show_versions.py
Labels: module:utils

#17909 DOC updated documentation default value for gradient_boosting
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#17662 [MRG] ENH Add parameter to sklearn.manifold.TSNE to transition to squaring non-Euclidean distance metrics by default (#12401)
  doc/whats_new/v0.24.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
Labels: module:manifold

#17864 DOC document and deprecate missing attributes in MiniBatchKMeans
  doc/whats_new/v0.24.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:cluster

#17898 Doc update to text/CountVectorizer token_pattern parameter default value
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#17881 [MRG] Fix documentation of default values in sklearn.utils.optimize.py
  sklearn/utils/optimize.py
Labels: module:utils

#17859 [MRG] Fix documentation of default values in sklearn.utils._encode.py
  sklearn/utils/_encode.py
Labels: module:utils

#17894 code hygiene on _mocking.py
  sklearn/utils/_mocking.py
Labels: module:utils

#17828 FIX remove pytest warning in dataset/tests/test_common.py
  sklearn/datasets/tests/test_common.py
Labels: module:datasets

#17851 DOC Clarify return of cross_val_predict
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#17918 DOC Small doc formatting fixes in decomposition
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_lda.py
Labels: module:decomposition

#17896 DOC cleaning parameter docstrings in decomposition/_dict_learning.py
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#17922 DOC Missing input_type to FeatureHasher
  sklearn/feature_extraction/_hash.py
Labels: module:feature_extraction

#17927 [MRG] Fix error text when null_space fails with ARPACK
  sklearn/manifold/_locally_linear.py
Labels: module:manifold

#17849 MNT Avoid duplicate validation of data in supervised NN
  sklearn/neighbors/_base.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_lof.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/_unsupervised.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#17914 BUG Do not overwrite X when copy_X=True and Gram='auto'
  doc/whats_new/v0.23.rst
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/tests/test_least_angle.py
Labels: module:linear_model

#17932 PERF Get rid of intermediate array in binary_log_loss
  doc/whats_new/v0.24.rst
  sklearn/neural_network/_base.py
Labels: module:neural_network

#16791 [MRG] Add test for multinomial identifiability constraint in logistic regression
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model

#17736 ENH Uses binned values from training to find missing values
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#15126 [MRG] Adds support for multimetric callable return a dictionary
  doc/glossary.rst
  doc/modules/model_evaluation.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
Labels: Waiting for Reviewer, module:metrics, module:model_selection

#17884 DOC sparse_coef_ documentation for MultiTaskElasticNet and MultiTaskLasso
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#17928 MNT Refactor center initialization in KMeans
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#17885 TST More cleaning/refactoring in KMeans tests
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#15730 FIX Sets dtype for pairwise_distances when metric='seuclidean'
  doc/whats_new/v0.24.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics

#12673 Fix Add warning for GP's hyperparameters
  doc/whats_new/v0.23.rst
  doc/whats_new/v0.24.rst
  sklearn/gaussian_process/_gpc.py
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/kernels.py
  sklearn/gaussian_process/tests/test_gpc.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: Waiting for Reviewer, module:gaussian_process

#17934 FIX Change MRO for some estimators
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#17878 PERF Call KDTree in mutual_info to reduce memory footprint
  doc/whats_new/v0.24.rst
  sklearn/feature_selection/_mutual_info.py
Labels: module:feature_selection

#17946 FIX inconsistent hyperparameter and bounds issue in GP kernels
  examples/gaussian_process/plot_gpr_co2.py
  sklearn/gaussian_process/kernels.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: module:gaussian_process

#17947 TST Test for both solvers in test_nmf_sparse_input
  sklearn/decomposition/tests/test_nmf.py
Labels: module:decomposition

#17958 DOC Fix typo in the KNeighborsClassifier documentation
  sklearn/neighbors/_classification.py
Labels: module:neighbors

#17957 MNT Remove unnecessary try and except block for numpy 1.3
  sklearn/utils/multiclass.py
Labels: module:utils

#17886 DOC add attribute active_ to LarsCV
  sklearn/linear_model/_least_angle.py
Labels: module:linear_model

#17968 TST Moves testing code in quad_tree to test_quad_tree
  sklearn/neighbors/_quad_tree.pyx
  sklearn/neighbors/tests/test_quad_tree.py
Labels: module:neighbors

#17792 DOC Change "Other Versions" to "Download Docs" in dropdown
  doc/themes/scikit-learn-modern/nav.html
Labels: module:utils

#17981 DOC Fix documentation of defaults in sklearn.utils.class_weight
  sklearn/utils/class_weight.py
Labels: module:utils

#17988 DOC Fix documentation of default values in validation.py
  sklearn/utils/validation.py
Labels: module:utils

#17985 [MRG] Added test for Incremental pca value error fix
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/tests/test_incremental_pca.py
Labels: module:decomposition

#17995 [MRG] fix incorrect clusters due to dtype mismatch
  doc/whats_new/v0.24.rst
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/tests/test_affinity_propagation.py
Labels: module:cluster

#17984 Distances for agglomerativeclustering
  doc/whats_new/v0.24.rst
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster

#17998 Fix typo in docstring for GaussianMixture.
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#18002 TST Default skip network tests in datatests' common tests
  sklearn/datasets/tests/test_common.py
Labels: module:datasets

#18016 FIX Fixes CountVectorizer sample invariance with max_features
  doc/whats_new/v0.23.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#17959 [MRG] Fix KMeans convergence when tol==0
  doc/whats_new/v0.24.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#18021 DOC Fix doc of defaults in sklearn.utils.multiclass.py
  sklearn/utils/multiclass.py
Labels: module:utils

#17777 Fix #16998 classification_report with output_dict=True should not raise AttributeError
  doc/whats_new/v0.24.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Waiting for Reviewer, module:metrics

#17026 MNT Add asv benchmark suite
  asv_benchmarks/.gitignore
  asv_benchmarks/asv.conf.json
  asv_benchmarks/benchmarks/__init__.py
  asv_benchmarks/benchmarks/cluster.py
  asv_benchmarks/benchmarks/common.py
  asv_benchmarks/benchmarks/config.json
  asv_benchmarks/benchmarks/datasets.py
  asv_benchmarks/benchmarks/decomposition.py
  asv_benchmarks/benchmarks/ensemble.py
  asv_benchmarks/benchmarks/linear_model.py
  asv_benchmarks/benchmarks/manifold.py
  asv_benchmarks/benchmarks/metrics.py
  asv_benchmarks/benchmarks/model_selection.py
  asv_benchmarks/benchmarks/neighbors.py
  asv_benchmarks/benchmarks/svm.py
  asv_benchmarks/benchmarks/utils.py
  doc/developers/contributing.rst
  setup.cfg
Labels: Waiting for Reviewer

#15776 [MRG] ENH Does not overwrite ylabel in partial dependence if present
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#18035 DOC Fix return docstring cross_val_predict
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#17982 DOC Changed Doc to replace "optional" with "default"
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/_svmlight_format_io.py
Labels: module:datasets

#17911 [MRG] sklearn.metrics.normalized_mutual_info_score for continuous data does not return a warning #17892
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
Labels: module:metrics

#18037 DOC Fix doc of defaults in sklearn.utils.estimator_checks.py
  sklearn/utils/estimator_checks.py
Labels: module:utils

#17373 DOC Add doc for permutation_test_score
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#17996 Arm64 CI setup with TravisCI
  .travis.yml
  build_tools/travis/install.sh
  build_tools/travis/test_docs.sh
  build_tools/travis/test_script.sh
  conftest.py
  doc/developers/contributing.rst
  sklearn/cluster/tests/test_k_means.py
  sklearn/neural_network/tests/test_mlp.py
Labels: Waiting for Reviewer, arch:arm, module:cluster, module:neural_network

#17900 Doc cleaning parameter docstrings in feature_extraction/image.py
  sklearn/feature_extraction/image.py
Labels: module:feature_extraction
