Repository scikit-learn/scikit-learn, pull requests merged in 2020-05, with the labels that each got.

#17096 DOC detail fit_intercept docstring
  sklearn/linear_model/_ridge.py
Labels: module:linear_model

#17098 MISC: fix rst syntax
  doc/whats_new/v0.23.rst
Labels: Documentation

#17021 Speedup MultiTaskLasso
  doc/whats_new/v0.23.rst
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#16451 Remove sklearn logger default StreamHandler
  doc/whats_new/v0.23.rst
  sklearn/__init__.py
Labels: Bug

#17093 BUG Adjusts html_repr based on configuration
  sklearn/base.py
  sklearn/tests/test_base.py
Labels: Blocker

#16801 [MRG] Add random_state parameter to AffinityPropagation
  doc/whats_new/v0.23.rst
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:cluster

#17100 [MRG] MNT Use Vt instead of V as returned by svd()
  examples/decomposition/plot_pca_3d.py
  sklearn/datasets/_samples_generator.py
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_pca.py
  sklearn/discriminant_analysis.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:decomposition

#17099 Delegate choice of final model to sub class in LinearModelCV
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#17152 MNT Removed duplicate method calls in pickle estimator test
  sklearn/utils/estimator_checks.py
Labels: module:utils

#17161 DOC fix indentation in cv parameter description
  examples/model_selection/plot_learning_curve.py
  sklearn/model_selection/_search.py
Labels: module:model_selection

#17146 TST Replace Boston dataset in test_validation
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#17153 TST Replace Boston dataset in test_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#17163 [DOC] Issue #14312 - Ensure All Attributes are Documented: OAS: location_ added
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:covariance

#16195 Fix documentation of default values in base, birch
  sklearn/base.py
  sklearn/cluster/_birch.py
Labels: module:cluster

#17177 MNT properly activate the env in the linting CI
  azure-pipelines.yml
  sklearn/cluster/_agglomerative.py
  sklearn/manifold/_t_sne.py
  sklearn/utils/tests/test_utils.py
  sklearn/utils/validation.py
Labels: module:cluster, module:manifold, module:utils

#16737 [MRG] DOC add versionadded versionchanged for 0.21
  sklearn/cluster/_agglomerative.py
  sklearn/ensemble/_voting.py
Labels: module:cluster, module:ensemble, module:neighbors

#17134 [MRG] Remove class support check estimator and parametrize_with_checks
  examples/release_highlights/plot_release_highlights_0_22_0.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#16691 MNT fix test for binary crossentropy in hist-GBDT
  sklearn/ensemble/_hist_gradient_boosting/tests/test_loss.py
Labels: module:ensemble

#13204 [MRG] Feature: Additional `TimeSeriesSplit` Functionality
  doc/modules/cross_validation.rst
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: Waiting for Reviewer, module:model_selection

#16493 MAINT change default value for min/max of IterativeImputer
  doc/whats_new/v0.24.rst
  sklearn/impute/_iterative.py
Labels: module:impute

#17101 CLN Refactors _encode into two functions
  sklearn/metrics/_ranking.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/_encode.py
  sklearn/utils/tests/test_encode.py
Labels: module:metrics, module:preprocessing

#17191 MNT Cleaner cythn cdef loss function in SGD
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pxd
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model

#17199 MNT Put back and properly deprecate MaskedArray
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
Labels: module:utils

#17204 FIX don't modify sample weight inplace in KMeans
  doc/whats_new/v0.23.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#17205 FIX changed_only=True with kwargs parameters
  doc/whats_new/v0.23.rst
  sklearn/utils/_pprint.py
  sklearn/utils/tests/test_pprint.py
Labels: module:utils

#17216 MNT Replaced kwargs by named args for train_test_split
  sklearn/model_selection/_split.py
Labels: module:model_selection

#17226 DOC Fix formating in docstrings _regression.py
  sklearn/metrics/_regression.py
Labels: module:metrics

#17210 [WIP] Number of threads in KMeans should not be bigger than number of chunks
  doc/whats_new/v0.23.rst
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
Labels: module:cluster

#17241 MNT Add threadpoolctl in show_versions
  sklearn/utils/_show_versions.py
Labels: module:utils

#17222 MNT Ignore xfail_checks tag in check_estimator, with warning
  doc/developers/develop.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#17224 [MRG] MNT Removed name parameter from private check generators
  sklearn/utils/estimator_checks.py
Labels: module:utils

#17194 DOC fix links in truncated SVD docs
  doc/modules/decomposition.rst
  sklearn/decomposition/_truncated_svd.py
Labels: module:decomposition

#17235 ENH Move threadpoolctl outside of iteration loop in KMeans
  doc/whats_new/v0.23.rst
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#17254 CLN Remove duplicate line
  sklearn/decomposition/_incremental_pca.py
Labels: module:decomposition

#16985 FEA Add staged_predict to HistGradientBoosting
  doc/whats_new/v0.24.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#16533 Exchange Boston for Diabetes at plot model complexity influence
  examples/applications/plot_model_complexity_influence.py
Labels: Waiting for Reviewer

#17259 FIX/ENH CheckingClassifier support parameters and sparse matrices
  sklearn/utils/_mocking.py
  sklearn/utils/tests/test_mocking.py
Labels: module:utils

#17201 BUG Fixes cython code for ppc arch
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: module:ensemble

#16876 DOC Replace boston in ensemble.rst
  doc/modules/ensemble.rst
Labels: module:ensemble

#17154 TST Replace Boston dataset in test_weight_boosting
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#17280 DOC Clarify wording in haversine
  sklearn/metrics/pairwise.py
Labels: module:metrics

#15361 ENH add importance_getter to RFE* and SelectFromModel
  doc/modules/feature_selection.rst
  doc/whats_new/v0.24.rst
  sklearn/feature_selection/_base.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: Hard, Waiting for Reviewer, module:feature_selection

#16927 Replace boston in ensemble test_forest
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble

#17275 [MRG] Modify RandomizedSearchCV's docstring
  sklearn/model_selection/_search.py
Labels: module:model_selection

#17144 TST Replace Boston dataset in test_plot_partial_dependence
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#17293 DOC update PCA random_state description
  sklearn/decomposition/_pca.py
Labels: module:decomposition

#17133 [MRG] Remove deprecated utils
  sklearn/_build_utils/deprecated_modules.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/__init__.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/extmath.py
  sklearn/utils/optimize.py
  sklearn/utils/random.py
  sklearn/utils/tests/test_deprecated_utils.py
  sklearn/utils/tests/test_extmath.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils

#17187 ENH use colors from style in tree plotting
  doc/whats_new/v0.24.rst
  sklearn/tree/_export.py
Labels: module:tree

#15193 DOC Adds GaussianMixture and BayesianGaussianMixture examples
  sklearn/mixture/_bayesian_mixture.py
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#17038 ENH Release GIL in DistanceMetric when validating data
  doc/whats_new/v0.24.rst
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_dist_metrics.pyx
Labels: module:neighbors

#16530 ENH scipy blas for svm kernel function
  doc/whats_new/v0.24.rst
  sklearn/ensemble/tests/test_bagging.py
  sklearn/svm/_libsvm.pxi
  sklearn/svm/_libsvm.pyx
  sklearn/svm/_libsvm_sparse.pyx
  sklearn/svm/src/libsvm/LIBSVM_CHANGES
  sklearn/svm/src/libsvm/_svm_cython_blas_helpers.h
  sklearn/svm/src/libsvm/libsvm_helper.c
  sklearn/svm/src/libsvm/libsvm_sparse_helper.c
  sklearn/svm/src/libsvm/svm.cpp
  sklearn/svm/src/libsvm/svm.h
Labels: Performance, module:svm

#17309 ENH Fix averaged RMSE
  doc/whats_new/v0.24.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics

#17132 [MRG] MNT removed deprecated files generation
  .gitignore
  Makefile
  conftest.py
  sklearn/_build_utils/deprecated_modules.py
  sklearn/decomposition/__init__.py
  sklearn/inspection/__init__.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/setup.py
  sklearn/tests/test_import_deprecations.py
  sklearn/utils/deprecation.py
  sklearn/utils/tests/test_deprecated_utils.py
Labels: module:decomposition, module:inspection

#17343 DOC Fix typo in quantile_transformer
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17324 MNT Replace kwargs by named args for resample
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_utils.py
Labels: module:utils

#15230 [MRG] ENH allow to specify which methods should run a check in CheckingClassifier
  sklearn/model_selection/tests/test_search.py
  sklearn/utils/_mocking.py
  sklearn/utils/tests/test_mocking.py
Labels: module:utils

#17233 FIX Allow sparse input data for OutputCodeClassifier
  doc/whats_new/v0.24.rst
  sklearn/multiclass.py
  sklearn/tests/test_multiclass.py
Labels: module:cluster, module:decomposition, module:ensemble

#17337 TST Remove Boston dataset in test_mlp
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network

#17225 ENH Sample weights for median_absolute_error
  doc/whats_new/v0.24.rst
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/utils/fixes.py
  sklearn/utils/stats.py
  sklearn/utils/tests/test_stats.py
Labels: module:metrics, module:utils

#16656 [MRG] Fix missing 'sparse matrix' in docstrings when allowed #16646
  sklearn/preprocessing/_data.py
Labels: module:preprocessing
