Repository scikit-learn/scikit-learn, pull requests merged in 2020-04, with the labels that each got.

#16819 DOC docstring styles updates to dbscan
  sklearn/cluster/_dbscan.py
Labels: module:cluster

#16820 CLN Removes unneeded code in histgradientboosting
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#16821 FIX Truncated SVD should raise a NotFittedError if not fitted
  sklearn/decomposition/_truncated_svd.py
Labels: module:decomposition

#16823 BLD Sets minimal supported numpy version in pyproject.toml
  pyproject.toml
Labels: Waiting for Reviewer, module:linear_model

#16835 DOC Remove duplicated docstring in MinMaxScaler
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#16736 MNT Raise error when parameter isn't correct in SVC and…
  sklearn/svm/_base.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm

#16837 Fix "Improve TruncatedSVD.transform on sparse csc matrices #16828"
  sklearn/decomposition/_truncated_svd.py
Labels: module:decomposition

#16790 DOC Improve CountVectorizer and TfidfVectorizer return type
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#16762 [MRG] Add fitted check for kde
  sklearn/neighbors/_kde.py
  sklearn/neighbors/tests/test_kde.py
Labels: module:neighbors

#16769 [MRG] Updates to SVM User Guide
  doc/modules/svm.rst
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
Labels: module:svm

#13511 [MRG] Libsvm and liblinear rand() fix for convergence on windows targets (and improvement on all targets)
  doc/whats_new/v0.23.rst
  sklearn/metrics/tests/test_ranking.py
  sklearn/svm/setup.py
  sklearn/svm/src/liblinear/liblinear_helper.c
  sklearn/svm/src/liblinear/linear.cpp
  sklearn/svm/src/liblinear/linear.h
  sklearn/svm/src/libsvm/LIBSVM_CHANGES
  sklearn/svm/src/libsvm/svm.cpp
  sklearn/svm/src/newrand/newrand.h
Labels: module:metrics, module:svm

#16841 [MRG] MNT Fixes for PCA with n_components='mle'
  doc/whats_new/v0.23.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
Labels: Blocker, module:decomposition

#16847 DOC Update random_state descriptions for ensemble/_base
  sklearn/ensemble/_base.py
Labels: module:ensemble

#16891 DOC replace Boston in gradient_boosting.py
  examples/impute/plot_iterative_imputer_variants_comparison.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#16460 DOC added example to permutation importance
  sklearn/inspection/_permutation_importance.py
Labels: Waiting for Reviewer, module:inspection

#16867 API feature_selection's constructor params -> kwonly
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: API, Waiting for Reviewer, module:feature_selection

#16861 ENH Better error message needed when accidentall…
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#16893 DOC Clarify what can be passed to the plotting utilities
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
Labels: module:metrics

#16896 DOC Fix grammar and clarify VotingRegressor
  sklearn/ensemble/_voting.py
Labels: module:ensemble

#16892 DOC replace Boston in _classes.py
  sklearn/tree/_classes.py
Labels: module:tree

#16850 Fix _deprecate_positional_args for kwonly args w/o default
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#16866 API make feature_extraction's constructors' params kwonly
  doc/modules/feature_extraction.rst
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/image.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/feature_extraction/text.py
Labels: API, Waiting for Reviewer, module:feature_extraction

#16921 TST Replace boston in ensemble test_bagging
  sklearn/ensemble/tests/test_bagging.py
Labels: module:ensemble

#16908 ENH Add custom loss support for HistGradientBoosting
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#15179 [MRG] Add jitter to LassoLars
  doc/whats_new/v0.23.rst
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/tests/test_least_angle.py
Labels: module:linear_model

#16200 DOC Fixed Plot Mnist Example
  examples/neural_networks/plot_mnist_filters.py
Labels: Waiting for Reviewer

#16923 DOC Improve neighbors documentation
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_dist_metrics.pyx
  sklearn/neighbors/_lof.py
Labels: module:neighbors

#16949 MNT simplify xfail check marking logic
  doc/developers/develop.rst
  sklearn/base.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/dummy.py
  sklearn/neural_network/_rbm.py
  sklearn/svm/_classes.py
  sklearn/utils/estimator_checks.py
Labels: module:decomposition, module:neural_network, module:utils

#16953 DOC Fix docstring issue in parametrize_with_checks
  sklearn/utils/estimator_checks.py
Labels: module:utils

#16954 FIX Bug in mark_xfail_checks
  sklearn/utils/estimator_checks.py
Labels: module:utils

#16950 MNT removed _safe_tags utility
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#14048 ENH ColumnTransformer.get_feature_names() handles passthrough
  doc/whats_new/v0.23.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#16926 [MRG] API kwonly args in impute, inspection, kernel_ridge, and linear_model
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/impute/tests/test_impute.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/kernel_ridge.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_huber.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/_passive_aggressive.py
  sklearn/linear_model/_perceptron.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/_sag.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/_theil_sen.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/linear_model/tests/test_ransac.py
Labels: API, module:impute, module:inspection, module:linear_model

#15785 ENH add vlines_ attribute to PDP Display to hide deciles
  doc/whats_new/v0.23.rst
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#16870 [MRG] API make gaussian_process __init__ params kwarg
  sklearn/gaussian_process/_gpc.py
  sklearn/gaussian_process/_gpr.py
Labels: API, Waiting for Reviewer, module:gaussian_process

#16969 DOC Add link, fix wording of KNeighborsRegressor
  sklearn/neighbors/_regression.py
Labels: module:neighbors

#16979 DOC Libsvm liblinear rand fix - minor doc and header fixes
  doc/whats_new/v0.23.rst
  sklearn/svm/src/liblinear/linear.cpp
  sklearn/svm/src/libsvm/svm.cpp
  sklearn/svm/src/newrand/newrand.h
Labels: module:svm

#16975 API Adds missing keyword only argument to PCA
  sklearn/decomposition/_pca.py
Labels: module:decomposition

#16922 Replace boston in ensemble test_voting
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble

#16622 [MRG] MNT requires_y tag with y=None validation
  doc/developers/develop.rst
  doc/whats_new/v0.23.rst
  sklearn/base.py
  sklearn/covariance/_empirical_covariance.py
  sklearn/cross_decomposition/_pls.py
  sklearn/ensemble/_gb.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_ransac.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_lof.py
  sklearn/neighbors/_nca.py
  sklearn/neighbors/_unsupervised.py
  sklearn/tree/_classes.py
  sklearn/utils/estimator_checks.py
Labels: Blocker

#16997 API Deprecate positional arguments in pipeline
  sklearn/pipeline.py
Labels: module:pipeline

#17000 [MRG] MNT Fix memory leak in KMeans
  sklearn/cluster/_k_means_elkan.pyx
Labels: module:cluster

#16966 API Deprecate positional arguments in tree module
  sklearn/tree/_classes.py
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree

#16974 API Deprecate positional arguments in semi_supervised module
  sklearn/semi_supervised/_label_propagation.py
Labels: module:semi_supervised

#16973 API Deprecate positional arguments in svm module
  sklearn/svm/_bounds.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_bounds.py
Labels: module:svm

#17002 [MRG] API kwonly for neural_network module
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/_rbm.py
Labels: module:neural_network

#16849 BUG Fix instability issue of ARDRegression (with speedup)
  doc/whats_new/v0.23.rst
  sklearn/externals/_scipy_linalg.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
  sklearn/utils/fixes.py
Labels: Bug, module:linear_model, module:utils

#16692 ENH Poisson loss for HistGradientBoostingRegressor
  doc/modules/ensemble.rst
  doc/whats_new/v0.23.rst
  sklearn/ensemble/_hist_gradient_boosting/_loss.pyx
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/loss.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_loss.py
Labels: module:ensemble

#17017 DOC Add link and fix typo in nearest neighbours estimators
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/_unsupervised.py
Labels: module:neighbors

#16996 API Deprecate positional arguments in preprocessing
  sklearn/calibration.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_classification.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_label.py
Labels: module:preprocessing

#16933 API Adds defaults to Display Objects
  doc/conf.py
  doc/visualizations.rst
  examples/plot_display_object_visualization.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
Labels: module:metrics

#16918 TST Replace boston in histgradboost test_predictor
  sklearn/ensemble/_hist_gradient_boosting/tests/test_predictor.py
Labels: module:ensemble

#16992 MNT Remove redundant doctest ELLIPSIS annotations
  sklearn/metrics/_ranking.py
  sklearn/svm/_classes.py
Labels: module:metrics, module:svm

#17020 TST Replace boston dataset in test_permutation_importance.py
  sklearn/inspection/tests/test_permutation_importance.py
Labels: module:inspection

#17003 [MRG] API kwonly for naive_bayes
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes

#16989 DOC Fix link to user guide
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#16983 [MRG] DOC fix ref for ParameterSampler
  sklearn/model_selection/_search.py
Labels: module:model_selection

#17025 TST Replace Boston dataset in test_impute
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#17004 API kwonly for neighbors module
  sklearn/manifold/_locally_linear.py
  sklearn/manifold/_t_sne.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_kde.py
  sklearn/neighbors/_lof.py
  sklearn/neighbors/_nca.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/_unsupervised.py
  sklearn/neighbors/tests/test_kde.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/semi_supervised/_label_propagation.py
Labels: module:neighbors

#16982 API kwonly args in manifold, metrics, mixture, model_selection, multclass, multioutput
  sklearn/cluster/_optics.py
  sklearn/feature_selection/_rfe.py
  sklearn/manifold/_isomap.py
  sklearn/manifold/_locally_linear.py
  sklearn/manifold/_mds.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_isomap.py
  sklearn/manifold/tests/test_locally_linear.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/_regression.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/cluster/_bicluster.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/mixture/_gaussian_mixture.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/multiclass.py
  sklearn/multioutput.py
Labels: API

#17031 TST Replace Bostond dataset in test_iforest
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble

#17037 DOC Fix a typo in comment
  sklearn/decomposition/_kernel_pca.py
Labels: module:decomposition

#16929 Fix 'clf' variable naming in test_forest
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble

#17043 Remove pin now Pillow issue is fixed
  build_tools/azure/install.sh
Labels: Build / CI

#17007 [MRG] API kwonly for utils
  sklearn/utils/__init__.py
  sklearn/utils/class_weight.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_class_weight.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#16084 ENH buffer openml stream rather than reading all at once
  doc/whats_new/v0.23.rst
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: Enhancement, Waiting for Reviewer, module:datasets

#17047 Fix Mypy issue in _openml.py
  doc/developers/contributing.rst
  sklearn/datasets/_openml.py
Labels: module:datasets

#17049 DOC add detail about flip_y parameter in make_classification
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#17046 [MRG] API kwonly for utils
  sklearn/ensemble/_forest.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_base.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/neighbors/_nca.py
  sklearn/neural_network/_rbm.py
  sklearn/preprocessing/_data.py
  sklearn/utils/__init__.py
  sklearn/utils/class_weight.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_class_weight.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Blocker, module:utils

#16952 DOC Make release highlights the first gallery section
  doc/conf.py
  doc/developers/plotting.rst
  doc/modules/compose.rst
  doc/modules/ensemble.rst
  doc/modules/isotonic.rst
  doc/modules/kernel_approximation.rst
  doc/modules/kernel_ridge.rst
  doc/modules/multiclass.rst
  doc/modules/neighbors.rst
  doc/modules/outlier_detection.rst
  doc/modules/random_projection.rst
  doc/modules/tree.rst
  doc/modules/unsupervised_reduction.rst
  doc/visualizations.rst
  examples/README.txt
  examples/miscellaneous/README.txt
  examples/miscellaneous/plot_anomaly_comparison.py
  examples/miscellaneous/plot_changed_only_pprint_parameter.py
  examples/miscellaneous/plot_display_object_visualization.py
  examples/miscellaneous/plot_isotonic_regression.py
  examples/miscellaneous/plot_johnson_lindenstrauss_bound.py
  examples/miscellaneous/plot_kernel_approximation.py
  examples/miscellaneous/plot_kernel_ridge_regression.py
  examples/miscellaneous/plot_multilabel.py
  examples/miscellaneous/plot_multioutput_face_completion.py
  examples/miscellaneous/plot_partial_dependence_visualization_api.py
  examples/miscellaneous/plot_roc_curve_visualization_api.py
  sklearn/inspection/_plot/partial_dependence.py
Labels: module:inspection

#17059 [MRG] DOC kwonly section in whatsnew
  doc/whats_new/v0.23.rst
Labels: Documentation

#16719 [MRG] API make load_* args in datasets kwarg only
  sklearn/datasets/_base.py
  sklearn/datasets/_california_housing.py
  sklearn/datasets/_covtype.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_openml.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/datasets/tests/test_base.py
  sklearn/linear_model/tests/test_omp.py
Labels: Blocker, module:datasets

#16993 API pairwise_distances will require explicit V/VI param if Y is given
  doc/whats_new/v0.23.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: Waiting for Reviewer, module:metrics

#16981 [MRG] Added n_components_ to SparsePCA and MiniBatchSparsePCA
  doc/whats_new/v0.23.rst
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition

#17032 [MRG] Deprecate class support for check_estimator and parametrize_with_checks
  doc/developers/develop.rst
  doc/whats_new/v0.23.rst
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#17061 MNT Change print_changed_only default to True
  conftest.py
  doc/conf.py
  doc/whats_new/v0.23.rst
  sklearn/_config.py
  sklearn/tests/test_base.py
  sklearn/tests/test_config.py
  sklearn/utils/tests/conftest.py
  sklearn/utils/tests/test_pprint.py
Labels: module:utils

#14264 [MRG] Fix LinearModelsCV for loky backend.
  doc/whats_new/v0.23.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#17008 FIX Fixes mixed dataframes bool dtype in pandas
  sklearn/utils/validation.py
Labels: module:utils

#16508 ENH Adds pandas IntegerArray support to check_array
  doc/whats_new/v0.23.rst
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/impute/tests/test_common.py
  sklearn/metrics/pairwise.py
  sklearn/preprocessing/tests/test_common.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:preprocessing, module:utils

#16648 DOC Improve claim prediction example
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
Labels: Documentation, Waiting for Reviewer, module:ensemble, module:linear_model

#17073 TST Skips derivative check on 32bit platforms
  sklearn/ensemble/_hist_gradient_boosting/tests/test_loss.py
Labels: module:ensemble

#14180 ENH Adds HTML visualizations for estimators
  doc/modules/classes.rst
  doc/modules/compose.rst
  doc/whats_new/v0.23.rst
  examples/compose/plot_column_transformer_mixed_types.py
  sklearn/_config.py
  sklearn/base.py
  sklearn/compose/_column_transformer.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/pipeline.py
  sklearn/tests/test_base.py
  sklearn/tests/test_config.py
  sklearn/utils/__init__.py
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:inspection
