Repository scikit-learn/scikit-learn, pull requests merged in 2020-12, with the labels that each got.

#18848 Duplicate check_finite when calling scipy.linalg functions on sklearn.covariance
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/_robust_covariance.py
  sklearn/covariance/_shrunk_covariance.py
Labels: module:covariance

#18907 MNT Mark test_openml as XFAIL for PyPy
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#18949 DOC Fix sphinx WARNING: Title level inconsistent in grid search stats example.
  examples/model_selection/plot_grid_search_stats.py
Labels: Documentation

#18801 CI Add workflow_dispatch event to manually trigger wheel builder
  .github/workflows/wheels.yml
Labels: Build / CI

#18945 DOC Refer to the new numpy intersphinx inventory.
  doc/conf.py
Labels: Documentation

#18785 CI Checks the latest commit including merges
  .github/workflows/wheels.yml
Labels: Build / CI

#18800 CI Upload to pypi with GitHub actions
  .github/workflows/publish_pypi.yml
  build_tools/github/check_wheels.py
Labels: Build / CI

#18797 TST introduce _safe_tags for estimator not inheriting from BaseEstimator
  doc/developers/develop.rst
  sklearn/base.py
  sklearn/feature_selection/_base.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/linear_model/_glm/tests/test_glm.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/multiclass.py
  sklearn/neighbors/_base.py
  sklearn/pipeline.py
  sklearn/tests/test_base.py
  sklearn/tests/test_multiclass.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/__init__.py
  sklearn/utils/_tags.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
  sklearn/utils/tests/test_tags.py
Labels: module:utils

#18957 CI Dynamically select unpack directory
  .github/workflows/wheels.yml
  build_tools/github/repair_windows_wheels.sh
Labels: Build / CI

#18924 TST add py_loss for tests in _sgd_fast.pyx
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model

#18967 [MRG] DOC Fix broken link to SLEPs in the Governance docs
  doc/governance.rst
Labels: Documentation

#18938 DOC Updates confusion_matrix.py to match parameter in code
  sklearn/metrics/_plot/confusion_matrix.py
Labels: module:metrics

#18954 DOC more updates to maintainers' doc
  doc/developers/maintainer.rst
Labels: Documentation

#18979 DOC Typo addressed in confusion_matrix docstring
  sklearn/metrics/_classification.py
Labels: module:metrics

#18971 [MRG] Added missing self argument to the abstract method "fit"
  sklearn/decomposition/_base.py
Labels: module:decomposition

#18991 DOC Update logos of Consortium funders.
  doc/about.rst
  doc/templates/index.html
Labels: Documentation

#18987 change stats.mode to collections.Counter, for better performance.
  doc/whats_new/v0.24.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#18025 DOC Fix doc of defaults in sklearn.utils.sparsefuncs.py
  sklearn/utils/sparsefuncs.py
Labels: Waiting for Reviewer, module:utils

#19006 DOC Remove U+30DE unicode characters
  doc/whats_new/v0.24.rst
Labels: Documentation

#18782 CI Build wheels for the ARM64 architecture
  .travis.yml
  build_tools/travis/after_success.sh
  build_tools/travis/install.sh
  build_tools/travis/install_master.sh
  build_tools/travis/install_wheels.sh
  build_tools/travis/script.sh
  build_tools/travis/test_docs.sh
  build_tools/travis/test_pytest_soft_dependency.sh
  build_tools/travis/test_script.sh
  build_tools/travis/test_wheels.sh
  build_tools/travis/travis_fastfail.sh
Labels: Build / CI, Waiting for Reviewer

#19011 BUG Fixes fetch_kddcup99 for return_X_y and as_frame
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/tests/test_common.py
Labels: module:datasets

#18559 DOC fix multiclass AUC formulas in user guide
  doc/modules/model_evaluation.rst
Labels: Waiting for Reviewer

#19020 MNT better error message in RidgeCV
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#19018 CI Avoid Travis stuck on failure
  .travis.yml
Labels: Build / CI, To backport

#19026 CI Only build wheels on main repo
  .github/workflows/wheels.yml
Labels: Build / CI

#19033 DOC Revises a sentence in the description of RFE
  doc/modules/feature_selection.rst
Labels: Documentation

#19036 CI Removes scipy-dev from travis
  .travis.yml
Labels: Build / CI

#18969 DOC update shape of returned array in BinaryTree.query
  sklearn/neighbors/_binary_tree.pxi
Labels: module:neighbors

#19039 DOC Fix typo in Gaussian Process docs
  doc/modules/gaussian_process.rst
Labels: Documentation

#19002 ENH Avoid repeated input checks in kmeans++
  doc/whats_new/v1.0.rst
  sklearn/cluster/_kmeans.py
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: Performance, Waiting for Reviewer, module:cluster, module:metrics

#19047 DOC removed algorithm parameter of CCA
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#19049 Only changing the text of few comments - just to keep the text consistent
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/_robust_covariance.py
  sklearn/covariance/_shrunk_covariance.py
Labels: module:covariance

#19053 DOC Fix typo in experimental features documentation
  doc/developers/maintainer.rst
Labels: Documentation

#18833 MNT silence spurious FitFailedWarning in test_search_cv
  sklearn/tests/test_common.py
Labels: Build / CI, Waiting for Reviewer

#19054 DOC fix simple typo, variales -> variables
  sklearn/utils/fixes.py
Labels: module:utils

#19017 CI Use Travis secret tokens to upload the ARM64 wheels
  .travis.yml
  build_tools/travis/after_success.sh
Labels: Build / CI, To backport

#19059 DOC 0.24.0 release highlights formatting
  examples/release_highlights/plot_release_highlights_0_24_0.py
Labels: To backport

#19060 CI Publish to Pypi workflow for aarch64 wheels
  build_tools/github/check_wheels.py
Labels: Build / CI

#19052 Parallelize init_bound_dense in Elkan algorithm
  doc/whats_new/v1.0.rst
  sklearn/cluster/_k_means_elkan.pyx
Labels: module:cluster

#19055 FIX ElasticNet.fit does not modify sample_weight in place
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model
