Repository scikit-learn/scikit-learn, pull requests merged in 2020-10, with the labels that each got.

#18504 DOC Fix version in whatsnew and docstring
  doc/whats_new/v0.22.rst
  doc/whats_new/v0.23.rst
  sklearn/multioutput.py
Labels: Documentation

#18447 ENH Incremental weighted mean and var
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils

#18503 TST Makes sure name is correct for fetch_* functions
  sklearn/datasets/tests/conftest.py
Labels: module:datasets

#18370 [MRG] Nearest Centroid Divide by Zero Fix
  doc/whats_new/v0.24.rst
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/tests/test_nearest_centroid.py
Labels: module:neighbors

#18509 Remove doubled `loss_curve_` in docs
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#18522 DOC Fix versionadded for 0.23
  doc/whats_new/v0.23.rst
  sklearn/_loss/glm_distribution.py
  sklearn/datasets/_samples_generator.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_voting.py
  sklearn/impute/_iterative.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_ridge.py
  sklearn/preprocessing/_encoders.py
Labels: Documentation

#18518 DOC Clarify GaussianProcessRegressor default kernel behavior
  sklearn/gaussian_process/_gpr.py
Labels: module:gaussian_process

#18539 MNT Remove unnecessary assignments from LogisticRegression.fit
  sklearn/linear_model/_logistic.py
Labels: module:linear_model

#18536 MNT don't yield checks instead of returning early
  sklearn/utils/estimator_checks.py
Labels: module:utils

#18537 BUG exchanging _safe_accumulator_op for np.average
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: hacktoberfest-accepted, module:utils

#18547 [MRG] MNT make sure regressors don't have a decision_function
  sklearn/utils/estimator_checks.py
Labels: module:utils

#18528 FIX TruncatedSVD.fit_transform returns the same as fit.transform
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/tests/test_truncated_svd.py
Labels: module:decomposition

#18551 [MRG] MNT put back original anchor to avoid breaking links
  doc/modules/cross_validation.rst
  doc/whats_new/older_versions.rst
  sklearn/model_selection/_split.py
Labels: module:model_selection

#18510 MRG Sample weight for StandardScaler
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/extmath.py
Labels: hacktoberfest-accepted, module:preprocessing, module:utils

#18514 ENH Uses _validate_data in other methods in the neural_network module
  sklearn/base.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/_rbm.py
  sklearn/neural_network/tests/test_mlp.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:neural_network, module:utils

#18548 DOC remove irrelevant parts in _validation.py
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#18556 DOC minor update to _ranking.py
  sklearn/metrics/_ranking.py
Labels: module:metrics

#18426 DOC Add common pitfalls: data leakage
  doc/common_pitfalls.rst
  doc/modules/classes.rst
  doc/user_guide.rst
Labels: Documentation

#18045 TST enable to run common test on stacking and voting estimators
  sklearn/ensemble/tests/test_stacking.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/utils/estimator_checks.py
Labels: module:utils

#18508 [MRG] Avoid nonlinear complexity for repr of nested estimators when print_c…
  doc/whats_new/v0.24.rst
  sklearn/utils/_pprint.py
  sklearn/utils/tests/test_pprint.py
Labels: module:utils

#18570 TST Add sample order invariance to estimator_checks
  doc/whats_new/v0.24.rst
  sklearn/dummy.py
  sklearn/neighbors/_graph.py
  sklearn/neural_network/_rbm.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:neighbors, module:neural_network, module:utils

#18557 MNT n_features_in_ consistency in decomposition
  sklearn/decomposition/_base.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/_lda.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/tests/test_online_lda.py
  sklearn/tests/test_common.py
Labels: module:decomposition

#18564 [MRG] Fix randomized_svd random_state default in documentation
  sklearn/utils/extmath.py
Labels: module:utils

#18563 MNT Uses enable_halving_search_cv instead
  doc/conf.py
  doc/modules/classes.rst
  doc/modules/grid_search.rst
  examples/model_selection/plot_successive_halving_heatmap.py
  examples/model_selection/plot_successive_halving_iterations.py
  sklearn/experimental/enable_halving_search_cv.py
  sklearn/experimental/tests/test_enable_successive_halving.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_successive_halving.py
Labels: module:model_selection

#17317 ENH Adds missing value support to OneHotEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v0.24.rst
  examples/compose/plot_column_transformer_mixed_types.py
  examples/inspection/plot_permutation_importance.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/_encode.py
  sklearn/utils/tests/test_encode.py
Labels: module:preprocessing, module:utils

#18574 CI Uses "ci sync" label to sync pull request
  .github/workflows/sync_pull_request.yml
Labels: Build / CI

#18579 DOC fix docstring for monotonic constraing in hist-GBDT
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#18343 FIX allow to output error_score if a scoring failure happen
  doc/whats_new/v0.24.rst
  sklearn/feature_selection/_rfe.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: Waiting for Reviewer, module:feature_selection, module:model_selection

#18121 FIX Fixes TheilSenRegressor with fit_intercept=False and one feature
  doc/whats_new/v0.24.rst
  sklearn/linear_model/_theil_sen.py
  sklearn/linear_model/tests/test_theil_sen.py
Labels: module:linear_model

#18114 FIX select the probability estimates or transform the decision values when pos_label is provided
  doc/whats_new/v0.24.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: Waiting for Reviewer, module:metrics

#18601 DOC minor typo fix in successive halving
  sklearn/model_selection/_search_successive_halving.py
Labels: Documentation, module:model_selection

#18597 FIX removes redundant max_iter assignment in #18596
  sklearn/linear_model/_least_angle.py
Labels: module:linear_model

#18158 TST enable common tests for SearchCV
  sklearn/model_selection/_search.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
Labels: Needs work, module:model_selection, module:utils

#18599 DOC fix typos in estimator_checks.py
  sklearn/utils/estimator_checks.py
Labels: Documentation, module:utils

#18604 DOC Whats new tweaks
  doc/whats_new/v0.24.rst
Labels: Documentation

#18527 [MRG] Fit params support for permutation_test_score and validation_curve
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#18614 MNT Change MRO for Generalized Linear Models
  sklearn/linear_model/_glm/glm.py
Labels: module:linear_model

#18612 FIX sort radius neighbors results when sort_results=True and algorithm="brute"
  doc/whats_new/v0.24.rst
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#18585 MNT Uses a less strict error message for n_features_in_ checks
  sklearn/utils/estimator_checks.py
Labels: module:cluster, module:utils

#18616 DOC Add instructions about not removing anchors
  doc/developers/contributing.rst
Labels: Documentation

#18595 ENH Add support for 'fit_params' to learning_curve
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#18395 CLN Refactors find binning threshold
  sklearn/ensemble/_hist_gradient_boosting/binning.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_binning.py
Labels: ci sync, module:ensemble

#18525 ENH Warn future change of default init in NMF
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
Labels: module:decomposition

#18572 DOC Add link to video resources in docs/developers/contributing.rst
  doc/developers/contributing.rst
Labels: Documentation

#16625 FEA Top k accuracy metric
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v0.24.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#18637 DOC Modified doc/developer/contributing.rst to make it look more uniform
  doc/developers/contributing.rst
Labels: Documentation

#18629 [DOC] Update Intel logo
  doc/images/intel-small.png
  doc/images/intel.png
Labels: Documentation

#18626 DOC add Zalando as a sponsor
  doc/about.rst
  doc/images/zalando_logo-small.png
  doc/images/zalando_logo.png
  doc/templates/index.html
Labels: Documentation

#14982 [MRG] Raise error in OneHotEncoder.inverse_transform
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: Waiting for Reviewer, module:preprocessing

#18327 Remove preprocessing functions from docs.
  doc/modules/preprocessing.rst
Labels: Documentation, Waiting for Reviewer

#15427 FIX raise an error in CountVectorizer with a custom token pattern that captures several group
  doc/whats_new/v0.24.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: Waiting for Reviewer, module:feature_extraction

#18655 FIX: incr_mean_variance_axis when axis=1 and last_mean have shape of …
  doc/whats_new/v0.24.rst
  sklearn/utils/sparsefuncs.py
  sklearn/utils/tests/test_sparsefuncs.py
Labels: module:utils

#18405 FIX use unique values of y_true and y_pred in plot_confusion_matrix instead of estimator.classes_
  doc/whats_new/v0.24.rst
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
Labels: Waiting for Reviewer, module:metrics

#18577 ENH Checks n_features_in_ in preprocessing module
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:preprocessing

#18667 MNT fix MacOS failure with more stable estimator_checks
  sklearn/neighbors/_base.py
  sklearn/utils/estimator_checks.py
Labels: Build / CI, module:utils

#18673 DOC install everything from conda-forge when using conda-forge compilers
  doc/developers/advanced_installation.rst
Labels: Build / CI, Documentation

#18672 MAINT Use conda-forge channel for macOS pylatest_conda_forge_mkl on azure
  azure-pipelines.yml
  build_tools/azure/install.sh
Labels: Build / CI, Waiting for Reviewer

#18653 KMeans: warn about memory leak on Windows with MKL
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_fast.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#18569 incremental mean and var for weighted sparse X
  doc/whats_new/v0.24.rst
  sklearn/utils/sparsefuncs.py
  sklearn/utils/sparsefuncs_fast.pyx
  sklearn/utils/tests/test_sparsefuncs.py
Labels: hacktoberfest-accepted, module:utils

#18619 [MRG] DOC updates to pitfalls section
  doc/common_pitfalls.rst
Labels: Documentation, Waiting for Reviewer

#18688 Fix typo in docstring for check_pandas_support
  sklearn/utils/__init__.py
Labels: module:utils

#15763 FIX Fixes encoders for string dtypes
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/_encode.py
Labels: module:preprocessing

#18639 BUG Add tol to _make_unique to avoid inf values in IsotonicRegression
  doc/whats_new/v0.24.rst
  sklearn/_isotonic.pyx
  sklearn/tests/test_isotonic.py
Labels: Waiting for Reviewer

#18363 DOC Good practices and pitfalls for random_state
  doc/common_pitfalls.rst
  doc/faq.rst
  doc/glossary.rst
  doc/modules/cross_validation.rst
  sklearn/base.py
Labels: Documentation

#18607 FIX add attributes X_offset_ and X_scale_ in ARDRegression needed in predict
  doc/whats_new/v0.24.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:linear_model

#18695 CI Fixes CI sync
  .github/workflows/sync_pull_request.yml
Labels: Build / CI

#18682 MRG : add support for sample_weights in StandardScaler when X is sparse
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/_testing.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:preprocessing, module:utils

#18652 DOC moved from rackspace to anaconda.org
  doc/about.rst
Labels: Documentation

#17412 FEA Add Rand Index and pair confusion matrix
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v0.24.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/cluster/__init__.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_common.py
  sklearn/metrics/cluster/tests/test_supervised.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#18414 FIX VisibleDeprecationWarning in unit tests and docstrings
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/__init__.py
Labels: Waiting for Reviewer, module:preprocessing

#17448 MNT Raise error if parameter cannot be retrieved
  doc/whats_new/v0.24.rst
  sklearn/base.py
  sklearn/tests/test_base.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: Blocker, module:utils

#18650 DOC fix donation button on about.rst
  doc/about.rst
Labels: Documentation

#18696 CI Avoid that "Assign" workflow is run on each issue comment
  .github/workflows/assign.yml
Labels: Build / CI

#18423 FIX handle VisibleDeprecationWarning in type_of_target and is_multilabel
  sklearn/utils/multiclass.py
Labels: Waiting for Reviewer, module:utils

#17856 ENH Add libsvm-like calibration procedure to CalibratedClassifierCV
  doc/modules/calibration.rst
  doc/whats_new/v0.24.rst
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: Waiting for Reviewer

#18359 FIX solve wrong indexing in plots with ICE when subsampling
  examples/inspection/plot_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: Blocker, Waiting for Reviewer, module:inspection

#18693 [MRG] Skip loading_other_datasets doctest if pandas is not installed.
  doc/conftest.py
Labels: Build / CI, module:test-suite

#18634 DOC Improve n_jobs docs in sklearn/multioutput.py
  sklearn/multioutput.py
Labels: Documentation, hacktoberfest-accepted

#18654 FIX Explicit int cast in NN binary trees
  sklearn/neighbors/_binary_tree.pxi
Labels: module:neighbors
