Repository scikit-learn/scikit-learn, pull requests merged in 2020-06, with the labels that each got.

#17383 DOC Emphasized determinism of ParameterGrid in docs
  sklearn/model_selection/_search.py
Labels: module:model_selection

#17376 DOC cleaning parameter docstrings in _dict_learning.py
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#17413 DOC Update preprocessor in CountVectorizer
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#17290 TST Replace Boston dataset in test_tree
  sklearn/tree/tests/test_tree.py
Labels: module:tree

#17193 ENH Add option to scale output to unit var in RobustScaler
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing

#17369 DOC Clarify how initial conditions are chosen for NMF.
  sklearn/decomposition/_nmf.py
Labels: module:decomposition

#17319 MNT Enables subset_invariance tests to run with SparsePCA
  sklearn/decomposition/_sparse_pca.py
Labels: module:decomposition

#17446 MNT remove deprecated presort param
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#17457 DOC Fix formating in plot_roc_curve docstring example
  sklearn/metrics/_plot/roc_curve.py
Labels: module:metrics

#17464 [Sprint] Replaced array_like to array-like #17300
  sklearn/metrics/pairwise.py
Labels: module:metrics

#17466 Doc shorten estimators links for sklearn/feature_selection/* and sklearn/experimental/* modules
  sklearn/experimental/enable_hist_gradient_boosting.py
  sklearn/experimental/enable_iterative_imputer.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
Labels: module:feature_selection

#17456 DOC Use tuple for shape in roc_curve docstring
  sklearn/metrics/_ranking.py
Labels: module:metrics

#17471 doc: Standarize default documentation for cross_decomposition
  sklearn/cross_decomposition/_cca.py
  sklearn/cross_decomposition/_pls.py
Labels: module:cross_decomposition

#17467 DOC Enabling links to objects in docstrings of Bagging
  sklearn/ensemble/_bagging.py
Labels: module:ensemble

#17454 [MGR] DOC Minor fix to _agglomerative.py
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#17477 [MRG] Issue #17345: Added keyword arguments to make_pipeline
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#17490 Fix documentation of default values in sklearn.utils.validation
  sklearn/utils/validation.py
Labels: module:utils

#17496 [MRG] Issue 15761: Standardize formatting for default values in plot_tree
  sklearn/tree/_export.py
Labels: module:tree

#17488 Enable links to objects in docstrings (Sprint Issue #17417)
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_weight_boosting.py
Labels: module:ensemble

#17487 DOC added a warning to maxabs_scale to prevent data leakage
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17509 Standardize formatting for default values
  sklearn/mixture/_bayesian_mixture.py
Labels: module:mixture

#17505 DOC_standardized formatting for default values in transformer class.
  sklearn/preprocessing/_function_transformer.py
Labels: module:preprocessing

#17506 [MRG] Update default doc string values for linear_model
  sklearn/linear_model/_huber.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/_passive_aggressive.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_theil_sen.py
Labels: module:linear_model

#17474 [MRG] Issue #17345: Added keyword arguments to Shuffle
  sklearn/utils/__init__.py
Labels: module:utils

#17476 fixes default values documentation in sklearn/mixture module
  sklearn/mixture/_base.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#17473 Made required changes to kernel_approximation.py
  sklearn/kernel_approximation.py
Labels: module:linear_model, module:utils

#17453 DOC: Add example to linear_model.PoissonRegressor
  sklearn/linear_model/_glm/glm.py
Labels: module:linear_model

#17455 [MRG] DOC Fix documentation of default values in cluster module
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_bicluster.py
  sklearn/cluster/_dbscan.py
  sklearn/cluster/_feature_agglomeration.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/_optics.py
  sklearn/cluster/_spectral.py
Labels: module:cluster

#17519 DOC Add example to linear_model.GammaRegressor
  sklearn/linear_model/_glm/glm.py
Labels: module:linear_model

#17516 DOC Add examples to linear_model.TweedieRegressor
  sklearn/linear_model/_glm/glm.py
Labels: module:linear_model

#17465 doc: Standarize default documentation for feature_selection
  sklearn/feature_selection/_base.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_mutual_info.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/_variance_threshold.py
Labels: module:feature_selection

#17472 ENH Replace *args with named arguments in make_union
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#17492 DOC Add examples to PrecisionRecall and ConfusionMatrix Display
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
Labels: module:metrics

#17494 DOC Update default values CalibratedClassifierCV docstring
  sklearn/calibration.py
Labels: module:preprocessing

#17503 DOC Adding scikit-lego to Related projects #DataUmbrella
  doc/related_projects.rst
Labels: module:preprocessing

#17356 MNT remove boston from the common test / estimator checks
  sklearn/utils/estimator_checks.py
Labels: module:utils

#17520 [MRG] DOC standardize default values manifold _isomap _locally_linear
  sklearn/manifold/_isomap.py
  sklearn/manifold/_locally_linear.py
Labels: module:manifold

#17478 ENH add score_samples method in base search CV and add tests
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#17529 MNT Fix spelling of _check_classifier_response_method
  sklearn/metrics/_plot/base.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
Labels: module:metrics

#17534 DOC Specify meaning of default in cov_init for graphical_lasso
  sklearn/covariance/_graph_lasso.py
Labels: module:covariance

#17507 DOC added a warning to minmax_scale #dataumbrella
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17433 [MRG+1] Make partial_fit ignore n_iter in MiniBatchDictionaryLearning
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: Waiting for Reviewer, module:decomposition

#17539 ENH Removed redundant int()
  sklearn/ensemble/_forest.py
Labels: module:ensemble

#17535 DOC doc adding warning to power transform on data leakage and reverts unrelated PR's
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17528 DOC Fix formatting in docstring of make_moon
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#17533 DOC Specify the meaning of default=None in cluster module
  sklearn/cluster/_dbscan.py
  sklearn/cluster/_spectral.py
  sklearn/manifold/_spectral_embedding.py
Labels: module:cluster, module:manifold

#17526 [MRG]Fix simple imputer for string input
  doc/whats_new/v0.24.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#17396 Add as_frame='auto' option in datasets.fetch_openml
  doc/whats_new/v0.24.rst
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#17562 [MRG] Fixed tiny typo in test_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model

#17308 [MRG] DOC document distances_ attribute
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#17591 Fixed typo in docstring of kmeans_single_elkan lloyd -> elkan
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#17558 DOC add warning note regarding data leakage by using scale and robust_scale
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17581 DOC add warning note regarding data leakage by using quantile_transform
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#17577 FIX Fixes deprecation of positional arguments on test_percent10
  sklearn/datasets/tests/test_kddcup99.py
Labels: module:datasets

#16619 [MRG] FEA Add support for Individual Conditional Expectation (ICE) plots
  doc/modules/partial_dependence.rst
  doc/whats_new/v0.24.rst
  examples/inspection/plot_partial_dependence.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection

#17521 DOC add examples to SparseCoder and DictionaryLearning
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#17517 DOC update default docstrings in metrics module to follow guideline
  sklearn/metrics/_base.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/_regression.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/cluster/_bicluster.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/pairwise.py
Labels: module:metrics

#17512 DOC update the default in datasets and impute modules to follow guideline
  sklearn/datasets/_base.py
  sklearn/datasets/_california_housing.py
  sklearn/datasets/_covtype.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_openml.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/impute/_base.py
  sklearn/impute/_knn.py
Labels: module:datasets, module:impute

#17495 Change formatting of default values in docstring
  sklearn/utils/random.py
Labels: module:utils

#17552 DOC Updates RandomForestClassifier docstring
  sklearn/ensemble/_forest.py
Labels: module:ensemble

#17510 fix: Reduce warnings for k_means and discriminant_analysis
  sklearn/cluster/tests/test_dbscan.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/discriminant_analysis.py
  sklearn/neighbors/_base.py
  sklearn/tests/test_discriminant_analysis.py
Labels: module:cluster, module:neighbors

#17585 DOC Add "see also" links to and from "plot_roc_curve"
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_ranking.py
Labels: module:metrics

#17605 DOC minor docstring fix of fetch_california_housing
  sklearn/datasets/_california_housing.py
Labels: module:datasets

#17604 MNT Don't return anything from _compute_loss_grad
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17603 MNT Get rid of temporary dictionary in _deprecate_positional_args
  sklearn/utils/validation.py
Labels: module:utils

#17599 MNT refactor tests for datasets
  sklearn/datasets/tests/test_base.py
  sklearn/datasets/tests/test_common.py
Labels: module:datasets

#16335 ENH Add dtype parameter to KBinsDiscretizer to manage the output data type
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
Labels: Sprint, module:preprocessing

#17609 PERF Use np.maximum instead of np.clip in relu function
  sklearn/neural_network/_base.py
Labels: module:neural_network

#17615 DOC Add "see also" links to and from new plotting functions
  sklearn/metrics/_classification.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_ranking.py
Labels: module:metrics

#17601 DOC Add example for PairwiseKernel
  sklearn/gaussian_process/kernels.py
Labels: module:gaussian_process

#17606 PERF Ravel each array only once in BaseMultilayerPerceptron._backprop
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17620 _dict_learning doc formatting
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#17614 MNT Deprecate X_idx_sorted in tree module
  doc/whats_new/v0.24.rst
  sklearn/ensemble/_gb.py
  sklearn/tree/_classes.py
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/tests/test_tree.py
Labels: module:ensemble, module:tree

#17623 Replace *kwargs with named arguments in make_column_transformer
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#15212 DOC added example for Chebyshev distance.
  sklearn/neighbors/_dist_metrics.pyx
Labels: module:neighbors

#15613 Add explanation for n_jobs in cluster._spectral
  sklearn/cluster/_spectral.py
Labels: module:cluster

#15514 DOC added missing attributes in SkewedChi2Sampler
  sklearn/kernel_approximation.py
Labels: Documentation

#15520 DOC add missing attributes in RandomTreesEmbedding
  sklearn/ensemble/_forest.py
Labels: module:ensemble, module:naive_bayes

#17627 MNT Fix build with Cython 3.0a5
  sklearn/neighbors/_quad_tree.pyx
  sklearn/tree/_tree.pyx
Labels: module:neighbors, module:tree

#16935 [MRG] ENH Show split/candidate ids in verbose output of SearchCV
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: Waiting for Reviewer, module:model_selection

#17608 MNT Assign inplace_derivative outside of the loop
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17633 PERF Don't return anything from neural net activation functions
  sklearn/neural_network/_base.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17491 EHN Add parameter as_frame to fetch_covtype
  doc/whats_new/v0.24.rst
  sklearn/datasets/_covtype.py
  sklearn/datasets/descr/covtype.rst
  sklearn/datasets/tests/test_covtype.py
Labels: module:datasets

#17228 [MRG] Fix undefined behavior in _tree.pyx and _quad_tree.pyx
  sklearn/neighbors/_quad_tree.pyx
  sklearn/tree/_tree.pyx
Labels: module:neighbors, module:tree

#17450 DOC Adding examples to gaussian_process.kernels.Hyperparameter docstring
  sklearn/gaussian_process/kernels.py
Labels: module:gaussian_process

#16937 TST replace Boston in test_gradient_boosting.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#17653 DOC Add example of CompoundKernel
  sklearn/gaussian_process/kernels.py
Labels: module:gaussian_process

#17664 DOC document all params of PLSRegression
  sklearn/cross_decomposition/_pls.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:cross_decomposition

#17666 DOC add missing attributes in LatentDirichletAllocation
  sklearn/decomposition/_lda.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:decomposition

#17667 DOC add missing attributes in IsolationForest
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:ensemble

#17148 [MRG] Update NeighborsBase 'auto' heuristic
  doc/modules/neighbors.rst
  doc/whats_new/v0.24.rst
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#16352 [MRG] 32/64-bit float consistency with BernoulliRBM
  doc/whats_new/v0.23.rst
  doc/whats_new/v0.24.rst
  sklearn/neural_network/_rbm.py
  sklearn/neural_network/tests/test_rbm.py
Labels: module:neural_network

#17682 TST Skip test_covtype if pandas not installed [scipy-dev]
  sklearn/datasets/tests/test_covtype.py
Labels: module:datasets

#17669 DOC Adding missing attributes to the MLP classes docstring
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:neural_network

#17671 DOC add missing attributes in GradientBoostingRegressor
  sklearn/ensemble/_gb.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:ensemble

#17685 MNT remove code for scipy legacy version
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#17645 [WIP] Fix documentation of default values in decomposition._dict_learning
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#17594 ENH add a parameter pos_label in roc_auc_score
  doc/whats_new/v0.24.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#17569 EHN Provide a pos_label parameter in plot_precision_recall_curve
  doc/whats_new/v0.24.rst
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
Labels: module:metrics

#17703 Revert "ENH add a parameter pos_label in roc_auc_score (#17594)"
  doc/whats_new/v0.24.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#17698 DOC add missing attributes in GaussianProcessClassifier (#14312)
  sklearn/gaussian_process/_gpc.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:gaussian_process

#17678 Documentation of attributes of HistGradientBoostingClassifier
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: Superseded, module:ensemble

#17677 DOC add missing attributes in HistGradientBoostingRegressor
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/tests/test_docstring_parameters.py
Labels: Waiting for Reviewer, module:ensemble

#17708 Remove code for scipy legacy version
  sklearn/feature_extraction/_hashing_fast.pyx
Labels: module:feature_extraction

#17705 DOC add missing attributes in KernelDensity
  sklearn/neighbors/_kde.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:neighbors

#16971 DOC Missing links for user guide and source code in KDTree
  sklearn/neighbors/_binary_tree.pxi
Labels: module:neighbors

#17709 DOC Detail the problem of euclidean_distances
  sklearn/metrics/pairwise.py
Labels: module:metrics

#17697 DOC add missing attributes to MDS
  sklearn/manifold/_mds.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:manifold

#17715 MNT make MDS documentation follow our doc guidelines
  sklearn/manifold/_mds.py
Labels: module:manifold

#17712 MNT Renames remaining numpy alias
  doc/modules/impute.rst
  sklearn/utils/_random.pyx
Labels: module:utils

#16883 ENH Uses binned values from training to find missing values
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble

#17717 DOC add explanation of n_jobs in sklearn/model_selection/_validation.py
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#17716 DOC Add explanation of n_jobs in gaussian_process/_gpc.py
  sklearn/gaussian_process/_gpc.py
Labels: module:gaussian_process

#17612 ENH Add inverse_transform feature to SimpleImputer
  doc/whats_new/v0.24.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#17723 DOC add explanation of n_jobs in permutation_importance
  sklearn/inspection/_permutation_importance.py
Labels: module:inspection

#17718 DOC improve attributes and parameters descriptions in MultiLabelBinarizer
  sklearn/preprocessing/_label.py
Labels: module:preprocessing

#17053 MNT Add type annotations for OpenML fetcher
  .pre-commit-config.yaml
  azure-pipelines.yml
  sklearn/datasets/_base.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
  sklearn/externals/_arff.py
Labels: module:datasets

#17721 DOC improve attributes and parameters descriptions in RFE and RFECV
  sklearn/feature_selection/_rfe.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:feature_selection

#17722 DOC coef_ and intercept_ documentation for ComplementNB
  sklearn/naive_bayes.py
Labels: module:naive_bayes

#16289 [MRG] Expose interpolation thresholds as public fitted attribute of IsotonicRegression
  doc/whats_new/v0.24.rst
  examples/miscellaneous/plot_isotonic_regression.py
  sklearn/isotonic.py
  sklearn/tests/test_isotonic.py
Labels: Enhancement, Waiting for Reviewer

#17679 BUG fix SparseCoder to follow scikit-learn API and allow cloning
  sklearn/datasets/tests/test_base.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition

#14800 ENH Verify md5-checksums received from openml arff file metadata
  doc/whats_new/v0.24.rst
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/data/openml/1/api-v1-json-data-1.json.gz
  sklearn/datasets/tests/data/openml/1119/api-v1-json-data-1119.json.gz
  sklearn/datasets/tests/data/openml/2/api-v1-json-data-2.json.gz
  sklearn/datasets/tests/data/openml/292/api-v1-json-data-292.json.gz
  sklearn/datasets/tests/data/openml/292/api-v1-json-data-40981.json.gz
  sklearn/datasets/tests/data/openml/40589/api-v1-json-data-40589.json.gz
  sklearn/datasets/tests/data/openml/40675/api-v1-json-data-40675.json.gz
  sklearn/datasets/tests/data/openml/40966/api-v1-json-data-40966.json.gz
  sklearn/datasets/tests/test_openml.py
Labels: Waiting for Reviewer, module:datasets

#17696 DOC add missing attributes to LocalOutlierFactor
  sklearn/neighbors/_lof.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:neighbors

#17332 ENH _fit_and_score now returns a dictionary
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#17665 TST check equivalence normalize/StandardScaler and dense/sparse in linear models
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#17747 DOC improve attributes and parameters descriptions in KernelPCA
  sklearn/decomposition/_kernel_pca.py
Labels: module:decomposition

#17694 FIX fix multinomial deviance by taking the weighted average instead of the sum
  doc/whats_new/v0.24.rst
  sklearn/ensemble/_gb_losses.py
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
Labels: module:ensemble

#17692 TST Skip test_common_check_return_X_y if pillow not installed
  sklearn/datasets/tests/test_common.py
Labels: module:datasets

#17192 ENH Add parameter in colorbar in plot_confusion_matrix
  doc/whats_new/v0.24.rst
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
Labels: module:metrics

#17745 FIX Extract estimator objects before aggregating dict of scores
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#17090 [MRG] Enable percentage for n_features_to_select in RFE(Fix PR #16228)
  doc/whats_new/v0.24.rst
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection

#16851 TST Fixes estimator checks for classifers when poor_score tag is True
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#17754 MNT Remove unused variable `batch_size` in MLP `_fit`
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#17157 Python wrapper and tests for sklearn/svm/newrand/
  sklearn/svm/_newrand.pyx
  sklearn/svm/setup.py
  sklearn/svm/src/newrand/newrand.h
  sklearn/svm/tests/test_bounds.py
Labels: module:svm

#17770 FIX Refactor the check of oob score of forest predictors in unit tests
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble

#17776 CLN Remove self-assignments from tests
  sklearn/cluster/tests/test_k_means.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_compare_lightgbm.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:cluster, module:ensemble, module:neural_network

#17767 FIX Specify C++11 compiler for sklearn/svm/_newrand
  sklearn/svm/setup.py
Labels: module:svm
