Repository scikit-learn/scikit-learn, pull requests merged in 2020-11, with the labels that each got.

#18718 DOC don't suggest contributors to add type annotations
  doc/developers/contributing.rst
Labels: Documentation

#18720 DOC minor update to make_classification about flip_y
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#18576 DOC Shows kwargs in API signature
  doc/conf.py
Labels: Documentation

#18713 FIX solved legend issue in PDP
  examples/ensemble/plot_monotonic_constraints.py
  examples/release_highlights/plot_release_highlights_0_23_0.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#18724 MAINT flake8: move E402 ignore rule to setup.cfg for examples folder
  examples/.flake8
  setup.cfg
Labels: Build / CI

#18622 [MRG] FIX Add l1_ratio to set regularization with elasticnet penalty in Perceptron
  doc/whats_new/v0.24.rst
  sklearn/linear_model/_perceptron.py
  sklearn/linear_model/tests/test_perceptron.py
Labels: module:linear_model

#17386 [MRG] ENH add Poisson splitting criterion for single trees
  doc/modules/tree.rst
  doc/whats_new/v0.24.rst
  sklearn/tree/_classes.py
  sklearn/tree/_criterion.pyx
  sklearn/tree/tests/test_tree.py
Labels: module:tree

#18725 FIX make sure that ICE do not have labels
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#18734 Doc remove poisson criterion from ExtraTreeRegressor
  sklearn/tree/_classes.py
Labels: module:tree

#18726 ENH Adds n_feature_in_ checking to tree
  sklearn/tests/test_common.py
  sklearn/tree/_classes.py
Labels: module:tree

#18745 BUG Fix numpy version for `_take_along_axis` in fixes.py
  sklearn/utils/fixes.py
Labels: module:utils

#18691 FIX validate input array-like in KDTree and BallTree
  doc/whats_new/v0.24.rst
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/tests/test_ball_tree.py
  sklearn/neighbors/tests/test_kd_tree.py
Labels: module:neighbors

#18754 DOC Fix doc of fit_predict in neighbors/_lof.py
  sklearn/neighbors/_lof.py
Labels: module:neighbors

#18737 FIX numerical rounding issue causing test_poisson_zero_nodes to fail at random
  sklearn/tree/_criterion.pyx
  sklearn/tree/tests/test_tree.py
Labels: Blocker, Bug, module:tree

#18756 DOC for n_nonzero_coefs_ attribute in OrthogonalMatchingPursuit
  sklearn/linear_model/_omp.py
Labels: Documentation, module:linear_model

#18772 DOC Fix changelog rendering and undefined label sphinx warning
  doc/modules/kernel_approximation.rst
  doc/whats_new/v0.24.rst
Labels: Documentation

#17921 MNT Use cibuildwheel to build the wheels
  .github/workflows/wheels.yml
  build_tools/github/build_source.sh
  build_tools/github/build_wheels.sh
  build_tools/github/check_build_trigger.sh
  build_tools/github/upload_anaconda.sh
  build_tools/github/vendor_vcomp140.py
  doc/developers/contributing.rst
  sklearn/cross_decomposition/tests/test_pls.py
Labels: Build / CI, module:cross_decomposition, module:tree

#18755 MNT Catches scipy 1.3.0 for using deprecated tostring method
  sklearn/ensemble/tests/test_voting.py
  sklearn/gaussian_process/tests/test_gpc.py
  sklearn/gaussian_process/tests/test_gpr.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:ensemble, module:gaussian_process, module:linear_model

#18777 FIX make test_sag_regressor more robust
  sklearn/linear_model/tests/test_sag.py
Labels: Build / CI, Waiting for Reviewer, module:linear_model

#18766 DOC fix typo in _bayesian_mixture.py
  sklearn/mixture/_bayesian_mixture.py
Labels: module:mixture

#18763 DOC Improve multiclass calibration example
  examples/calibration/plot_calibration_multiclass.py
Labels: Documentation

#18799 DOC only the examples modified by a PR are executed by default
  doc/developers/contributing.rst
Labels: Build / CI, Documentation

#18794 DOC Label propagation can be used for classification tasks
  doc/modules/label_propagation.rst
Labels: Documentation

#18735 train_test_split documentation: add example for `stratify` param
  doc/modules/cross_validation.rst
  sklearn/model_selection/_split.py
Labels: module:model_selection

#18761 MNT Support and test Python 3.9
  .github/workflows/check-manifest.yml
  azure-pipelines.yml
  build_tools/azure/install.sh
  pyproject.toml
  setup.py
Labels: Blocker, Build / CI, Waiting for Reviewer

#18804 DOC Fix links to navigate to correct pages as in link text
  doc/templates/index.html
Labels: Documentation

#18792 TST add non-regression case with nan/integer and binary/continuous in metrics
  sklearn/metrics/tests/test_common.py
Labels: module:metrics

#18768 MNT deprecate attributes in Partial Least Squares module
  doc/whats_new/v0.24.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:cross_decomposition

#17937 [MRG] Create public kmeans_plusplus including index output
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/whats_new/v0.24.rst
  examples/cluster/plot_kmeans_plusplus.py
  sklearn/cluster/__init__.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#18814 DOC Fix ref to MultiTaskElasticNetCV in MultiTaskElasticNet doc
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#18816 DOC Fix docstring RST formatting in TimeSeriesSplit
  sklearn/model_selection/_split.py
Labels: module:model_selection

#18818 MNT Parallel platforms for cibuildwheel [cd build]
  .github/workflows/wheels.yml
Labels: Build / CI

#18807 MNT set OMP_NUM_THREADS=2 for cibuildwheel [cd build]
  .github/workflows/wheels.yml
Labels: Build / CI

#18711 [MRG] CI fix some nightly job failures
  sklearn/metrics/_ranking.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/tests/test_ranking.py
  sklearn/naive_bayes.py
  sklearn/utils/_seq_dataset.pyx.tp
  sklearn/utils/estimator_checks.py
  sklearn/utils/optimize.py
Labels: Build / CI, module:metrics, module:naive_bayes, module:utils

#18826 CI Enable parallel build on CI via an env variable
  .github/workflows/wheels.yml
  build_tools/azure/install.sh
  build_tools/circle/build_doc.sh
  build_tools/circle/build_test_pypy.sh
  doc/developers/advanced_installation.rst
  setup.py
Labels: Build / CI

#18757 TST Avoid warnings in kmeans tests
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster

#18834 DOC document that force_all_finite is not applied for sklearn metrics
  sklearn/metrics/pairwise.py
Labels: module:metrics

#18746 FIX Fixes test_scale_and_stability
  doc/whats_new/v0.24.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition

#18839 MNT Disable test coverage report in ci
  build_tools/azure/test_script.sh
  build_tools/travis/test_script.sh
Labels: Build / CI

#18846 Partial Dependence Plot (ICE): do not plot the legend when kind==individual.
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection

#18394 ENH Add Categorical support for HistGradientBoosting
  benchmarks/bench_hist_gradient_boosting_adult.py
  benchmarks/bench_hist_gradient_boosting_categorical_only.py
  doc/modules/ensemble.rst
  doc/whats_new/v0.24.rst
  examples/ensemble/plot_gradient_boosting_categorical.py
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pxd
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/binning.py
  sklearn/ensemble/_hist_gradient_boosting/common.pxd
  sklearn/ensemble/_hist_gradient_boosting/common.pyx
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/predictor.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_binning.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_bitset.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_grower.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_monotonic_contraints.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_predictor.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_splitting.py
  sklearn/ensemble/setup.py
Labels: module:ensemble

#18664 Correct reported size of the dataset.
  sklearn/datasets/descr/digits.rst
Labels: module:datasets

#18862 DOC Removes double space in precision_recall_curve docs
  sklearn/metrics/_ranking.py
Labels: module:metrics

#18496 MNT Correctly errors in check_array with dtype=numeric and string/bytes
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#18851 Add benchmark for HistGradientBoostingClassifier
  asv_benchmarks/benchmarks/ensemble.py
Labels: Waiting for Reviewer

#18857 ENH Sets check_finite=False in sklearn.decomposition
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_incremental_pca.py
Labels: module:covariance, module:decomposition

#18845 ENH Use check_finite=False in sklearn.datasets
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#18802 MNT Use a minimal Windows Docker container to check the wheels
  .github/workflows/wheels.yml
  build_tools/github/Windows
  build_tools/github/build_minimal_windows_image.sh
  build_tools/github/build_source.sh
  build_tools/github/build_wheels.sh
  build_tools/github/repair_windows_wheels.sh
  build_tools/github/test_source.sh
  build_tools/github/test_wheels.sh
  build_tools/github/test_windows_wheels.sh
  build_tools/github/vendor.py
  build_tools/github/vendor_vcomp140.py
  conftest.py
Labels: Blocker, Build / CI

#18869 FIXME in test_partial_dependence.py changed to 0.26
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection

#18877 MNT Update CI badges
  README.rst
Labels: Build / CI

#11682 FEA Add Self Training Estimator
  doc/modules/classes.rst
  doc/modules/semi_supervised.rst
  doc/supervised_learning.rst
  doc/whats_new/v0.24.rst
  examples/semi_supervised/plot_label_propagation_versus_svm_iris.py
  examples/semi_supervised/plot_self_training_varying_threshold.py
  examples/semi_supervised/plot_semi_supervised_newsgroups.py
  examples/semi_supervised/plot_semi_supervised_versus_svm_iris.py
  sklearn/semi_supervised/__init__.py
  sklearn/semi_supervised/_self_training.py
  sklearn/semi_supervised/tests/test_self_training.py
  sklearn/tests/test_metaestimators.py
  sklearn/utils/estimator_checks.py
Labels: New Feature, Waiting for Reviewer, module:semi_supervised, module:utils

#18727 ENH Adds n_feature_in_ checking to cluster
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_birch.py
  sklearn/cluster/_feature_agglomeration.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_mean_shift.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:cluster

#18580 ENH Adds n_features_in_ checks to impute module
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/tests/test_common.py
Labels: module:impute

#18885 DOC Forces word-break of code blocks to not break
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#18897 DOC min_sample_split does not take sample_weight into account
  doc/modules/tree.rst
Labels: Documentation

#18880 MNT Fix TODO comment referring to Cython version not sklearn
  sklearn/linear_model/_cd_fast.pyx
Labels: module:linear_model

#18905 MNT minimally revert strict_mode
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:utils

#18883 FIX Fixes histgradientboosting for cython 3.0
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pyx
Labels: module:ensemble

#18920 DOC Temporarily remove prompt from 2 command lines
  doc/developers/advanced_installation.rst
  doc/developers/maintainer.rst
Labels: Documentation

#18923 DOC Behavior with duplicates for SimpleImputer(strategy=most_frequent)
  sklearn/impute/_base.py
Labels: Documentation, module:impute

#18256 FIX Enforce strict column name order/count in ColumnTransformer
  doc/whats_new/v0.24.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: Blocker, module:compose

#18922 DOC follow doc guideline in SelfTrainingClassifier
  sklearn/semi_supervised/_self_training.py
Labels: Documentation, module:semi_supervised

#18878 DOC Update maintainers' guide to use new wheel builder system
  doc/developers/maintainer.rst
  setup.cfg
Labels: Documentation

#18293 CLN Deprecations position args in PartialDependenceDisplay.plot
  doc/whats_new/v0.24.rst
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Blocker, module:inspection

#18927 Fix DeprecationWarning for np.bool type.
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#18302 MNT initialize weights when using ARPACK solver with a utility
  benchmarks/bench_plot_randomized_svd.py
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/manifold/_locally_linear.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/utils/_arpack.py
  sklearn/utils/tests/test_arpack.py
Labels: module:decomposition, module:manifold, module:utils

#18795 DOC Release highlights for version 0.24
  doc/glossary.rst
  doc/modules/partial_dependence.rst
  examples/release_highlights/plot_release_highlights_0_24_0.py
Labels: Documentation

#18581 ENH Sets assume_finite in _non_negative_factorization
  sklearn/decomposition/_nmf.py
Labels: module:decomposition
