Repository scikit-learn/scikit-learn, pull requests merged in 2021-09, with the labels that each got.

#20891 TST Adds dtype check for feature_names_in_
  sklearn/compose/tests/test_column_transformer.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/validation.py
Labels: module:compose, module:utils, No Changelog Needed

#20853 Fix OvOClassifier.n_features_in_ and other unexpected warning at prediction time when checking feature_names_in_
  sklearn/ensemble/_forest.py
  sklearn/linear_model/_ransac.py
  sklearn/multiclass.py
  sklearn/semi_supervised/_self_training.py
  sklearn/tests/test_common.py
  sklearn/tests/test_multiclass.py
Labels: Bug, Waiting for Reviewer, module:ensemble, No Changelog Needed

#20533 DOC Ensures that BernoulliRBM passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neural_network/_rbm.py
Labels: Documentation, module:neural_network

#20722 DOC fix y-axis name in preprocessor comparison example
  examples/preprocessing/plot_all_scaling.py
Labels: Documentation

#20713 DOC Ensures MultiOutput* and RegressorChain passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/multioutput.py
Labels: Documentation

#20910 FIX removes duplicate 'min_data_in_bin' in lightgbm parameters
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
Labels: module:ensemble, No Changelog Needed, cython

#20913 CLN Removes unneeded return in DictVectorizer
  sklearn/feature_extraction/_dict_vectorizer.py
Labels: module:feature_extraction, No Changelog Needed

#20899 FIX Remove **params from fit function for FeatureAgglomeration to get more concise error message
  doc/whats_new/v1.0.rst
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#20914 DOC Replace the phrase "where `n_samples` in the number" with "where `n_samples` is the number"
  sklearn/compose/_target.py
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/_shrunk_covariance.py
  sklearn/cross_decomposition/_pls.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/decomposition/_base.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/discriminant_analysis.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/kernel_approximation.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_huber.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/_theil_sen.py
  sklearn/manifold/_isomap.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/_validation.py
  sklearn/naive_bayes.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neural_network/_base.py
  sklearn/svm/_base.py
  sklearn/svm/_bounds.py
  sklearn/svm/_classes.py
  sklearn/utils/_mocking.py
Labels: Documentation, No Changelog Needed

#20834 Improve error message for checking estimators on empty data value error
  sklearn/utils/estimator_checks.py
Labels: module:utils

#20842 DOC Ensures that RadiusNeighborsClassifier passes numpydoc validation
  doc/whats_new/v1.0.rst
  maint_tools/test_docstrings.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Documentation, module:neighbors

#20924 DOC rebuild authors page
  doc/authors.rst
  doc/authors_emeritus.rst
  doc/triage_team.rst
Labels: Documentation, Blocker

#20919 BUG Corrects tag in TfidfTransformer
  sklearn/feature_extraction/text.py
  sklearn/tests/test_common.py
Labels: module:feature_extraction, No Changelog Needed

#20904 Fixing integer overflow on 32-bit architectures.
  doc/whats_new/v1.0.rst
  sklearn/model_selection/tests/test_split.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_utils.py
Labels: module:model_selection, module:utils

#20931 DOC small fixes in what's new 1.0
  doc/whats_new/v1.0.rst
Labels: Documentation

#20569 API add from_estimator and from_predictions to RocCurveDisplay
  doc/developers/plotting.rst
  doc/visualizations.rst
  doc/whats_new/v1.0.rst
  examples/ensemble/plot_feature_transformation.py
  examples/miscellaneous/plot_roc_curve_visualization_api.py
  examples/model_selection/plot_det.py
  examples/model_selection/plot_roc_crossval.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_common_curve_display.py
  sklearn/metrics/_plot/tests/test_plot_curve_common.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_ranking.py
Labels: Blocker, module:metrics

#20933 DOC reorder changelog
  doc/whats_new/v1.0.rst
Labels: Documentation, No Changelog Needed

#17036 FEA add d2_tweedie_score
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.0.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics

#20938 DOC Adds missing whats new in 1.0
  doc/whats_new/v1.0.rst
Labels: Documentation

#20935 FIX changelog for deprecated parameter in LinearRegression
  doc/whats_new/v1.0.rst
Labels: Documentation

#20932 DOC Ensures that FeatureHasher passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_extraction/_hash.py
Labels: Documentation, module:feature_extraction

#20944 DOC Fix typos in sklearn/metrics/_classification.py
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#20948 DOC Ensures that VotingClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_voting.py
Labels: Documentation, module:ensemble

#20949 DOC Ensures that GaussianMixture passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/mixture/_gaussian_mixture.py
Labels: Documentation, module:mixture

#20946 DOC Ensures that TruncatedSVD passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/decomposition/_truncated_svd.py
Labels: Documentation, module:decomposition

#20843 MNT Deprecate unused parameter from OneClassSVM fit method.
  doc/whats_new/v1.0.rst
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm

#20945 MNT bumb version number to 1.1
  doc/whats_new.rst
  doc/whats_new/v1.0.rst
  doc/whats_new/v1.1.rst
  sklearn/__init__.py
Labels: No Changelog Needed

#20939 DOC Ensures that FunctionTransformer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_function_transformer.py
Labels: Documentation, module:preprocessing

#20936 DOC Ensures FeatureUnion passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#20903 FEA add ReadonlyArrayWrapper
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_k_means_minibatch.pyx
  sklearn/cluster/_kmeans.py
  sklearn/utils/_readonly_array_wrapper.pyx
  sklearn/utils/setup.py
  sklearn/utils/tests/test_readonly_wrapper.py
Labels: module:utils, No Changelog Needed, cython

#20947 bump to 1.0.0.rc1
  sklearn/__init__.py
Labels: No Changelog Needed

#20963 TST avoid FutureWarning due to n_features_in_ deprecation in Dummy*
  sklearn/tests/test_calibration.py
  sklearn/tests/test_dummy.py
  sklearn/tests/test_multioutput.py
Labels: Blocker, No Changelog Needed

#20921 FIX change the meaning of include_boundaries in check_scalar
  sklearn/cluster/_affinity_propagation.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:cluster, module:utils, No Changelog Needed

#20958 Fix the stalled linux/arm64 [cd build] jobs on travis
  .travis.yml
  build_tools/travis/install.sh
  build_tools/travis/install_wheels.sh
  build_tools/travis/script.sh
  build_tools/travis/test_wheels.sh
Labels: Bug, Build / CI, Blocker

#20961 BUG Fixes FunctionTransformer validation in inverse_transform
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing, To backport

#20974 DOC fix mispelling in whats new
  doc/whats_new/v1.0.rst
Labels: Documentation, To backport

#20972 DOC Ensures that Birch passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_birch.py
Labels: Documentation, module:cluster

#20880 ENH add `only_non_negative` parameter to `_check_sample_weight`
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
  sklearn/linear_model/_base.py
  sklearn/neighbors/_kde.py
  sklearn/neighbors/tests/test_kde.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:linear_model

#20973 DOC Ensures that GammaRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_glm/glm.py
Labels: Documentation, module:linear_model

#20979 DOC Reword score_sample's and similar interfaces' docstrings
  sklearn/covariance/_empirical_covariance.py
  sklearn/mixture/_base.py
  sklearn/neighbors/_kde.py
Labels: Documentation, module:covariance, module:mixture, module:neighbors

#20981 DOC Ensures that GaussianProcessRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/gaussian_process/_gpr.py
Labels: Documentation, module:gaussian_process

#20982 DOC Ensures that GaussianRandomProjection passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/random_projection.py
Labels: Documentation

#20983 DOC Ensures that SelectKBest passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#20984 DOC Ensures that SelectFdr passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#20985 DOC Ensures that SelectFpr passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#20986 DOC Ensures that SelectFwe passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#20988 DOC Ensures that SelectFromModel passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_from_model.py
Labels: Documentation, module:feature_selection

#20990 DOC Ensures that LabelBinarizer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_label.py
Labels: Documentation, module:preprocessing

#20969 DOC Ensures that Pipeline passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#20959 API Deprecates plot_partial_dependence
  doc/developers/plotting.rst
  doc/modules/partial_dependence.rst
  doc/whats_new/v1.0.rst
  examples/ensemble/plot_monotonic_constraints.py
  examples/inspection/plot_partial_dependence.py
  examples/miscellaneous/plot_partial_dependence_visualization_api.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/utils/__init__.py
Labels: Blocker, module:inspection, module:utils

#20978 TST solve issues in PyPy
  .circleci/config.yml
  sklearn/linear_model/tests/test_sgd.py
Labels: Blocker, module:linear_model, No Changelog Needed

#21004 DOC Fixes build from source instructions
  doc/developers/advanced_installation.rst
Labels: Documentation

#21005 CI Migrates pypy3 test to Azure
  .circleci/config.yml
  azure-pipelines.yml
  build_tools/azure/install.sh
  build_tools/azure/posix-docker.yml
Labels: Build / CI

#21011 DOC minor fixes to examples with isomap & precomputed distance
  doc/modules/neighbors.rst
  sklearn/neighbors/_graph.py
Labels: Documentation, module:neighbors

#21016 DOC Ensures that KBinsDiscretizer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_discretization.py
Labels: Documentation, module:preprocessing

#21017 DOC Ensures that OPTICS passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_optics.py
Labels: Documentation, module:cluster

#21018 DOC Ensures that Isomap passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/manifold/_isomap.py
Labels: Documentation, module:manifold

#21021 DOC Ensures that RadiusNeighborsTransformer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_graph.py
Labels: Documentation, module:neighbors

#21003 DOC - Ensures that GridSearchCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection

#21013 DOC Ensures that OneVsOneClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/multiclass.py
Labels: Documentation

#21014 DOC Ensures that OneVsRestClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/multiclass.py
Labels: Documentation

#21009 DOC add contributors to whats_new 1.0 and more fixes
  doc/whats_new/v1.0.rst
Labels: Documentation, No Changelog Needed

#21015 DOC Ensures that PowerTransformer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#21034 DOC Ensures that VarianceThreshold passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_variance_threshold.py
Labels: Documentation, module:feature_selection

#21035 DOC Ensures that SequentialFeatureSelector passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_sequential.py
Labels: Documentation, module:feature_selection

#21031 FIX use same API for CalibrationDisplay than other Display
  sklearn/calibration.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/tests/test_calibration.py
Labels: module:metrics, No Changelog Needed

#21030 DOC Ensures that OrdinalEncoder passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#21036 DOC more whats new 1.0 fixes
  doc/whats_new/v1.0.rst
Labels: Documentation

#21040 MNT increase version to 1.0.rc2 [cd build]
  sklearn/__init__.py
Labels: No Changelog Needed

#21037 DOC - Ensures HalvingGridSearchCV and HalvingRandomSearchCV pass numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/model_selection/_search_successive_halving.py
Labels: Documentation, module:model_selection

#20860 ENH add support for `'passthrough'` in FeatureUnion
  doc/whats_new/v1.1.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#21048 DOC Ensures that MDS passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/manifold/_mds.py
Labels: Documentation, module:manifold

#21049 DOC - Ensure MeanShift docstrings passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_mean_shift.py
Labels: Documentation, module:cluster

#21047 DOC - Ensure HashingVectorizer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#21052 TST enable tests K-means for MacOS
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed

#21056 MAINT remove duplicate warning category from tests
  sklearn/tests/test_common.py
Labels: No Changelog Needed

#21061 DOC Ensures that Normalizer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#20728 DOC Add a note for some data considerations with 20newsgroups dataset
  sklearn/datasets/descr/twenty_newsgroups.rst
Labels: Documentation, module:datasets

#21065 DOC Ensures that QuantileTransformer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#21012 DOC Details --no-build-isolation in the advanced installation page
  doc/developers/advanced_installation.rst
Labels: Documentation

#21062 DOC - Ensure HuberRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_huber.py
Labels: Documentation, module:linear_model

#21072 DOC - Ensure that RANSACRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_ransac.py
Labels: Documentation, module:linear_model

#21063 DOC Ensures that OutputCodeClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/multiclass.py
Labels: Documentation

#21077 DOC Ensures that SimpleImputer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/impute/_base.py
Labels: Documentation, module:impute

#21041 TST add unit tests for current _get_response
  sklearn/metrics/_plot/base.py
  sklearn/metrics/_plot/tests/test_base.py
Labels: Waiting for Reviewer, module:metrics, No Changelog Needed

#21057 DOC minor fixes to examples for neighbors transformers
  doc/modules/neighbors.rst
  sklearn/neighbors/_graph.py
Labels: Documentation, module:neighbors

#20646 DOC Add m2cgen to related projects
  doc/related_projects.rst
Labels: Documentation

#20980 DOC add release highlights for 1.0
  examples/release_highlights/plot_release_highlights_1_0_0.py
Labels: Documentation, No Changelog Needed

#21083 DOC Ensures that NeighborhoodComponentsAnalysis passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_nca.py
Labels: Documentation, module:neighbors

#21087 DOC - Ensure TheilSenRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_theil_sen.py
Labels: Documentation, module:linear_model

#21092 MNT Remove obsolete code (Python >= 3.7)
  sklearn/externals/_pep562.py
  sklearn/impute/tests/test_impute.py
  sklearn/neighbors/_nca.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:impute, module:neighbors, No Changelog Needed

#21080 API Change ColumnTransformer parameter name to verbose_feature_names_out
  doc/modules/compose.rst
  doc/whats_new/v1.0.rst
  examples/inspection/plot_linear_model_coefficient_interpretation.py
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: Blocker, module:compose

#21100 DOC fix verbose_feature_names_out usage in release highlights
  examples/release_highlights/plot_release_highlights_1_0_0.py
Labels: Documentation, No Changelog Needed

#21111 DOC update contributors for 1.0
  doc/whats_new/v1.0.rst
Labels: Documentation

#21096 DOC Fix a few typos in release highlights
  examples/release_highlights/plot_release_highlights_1_0_0.py
Labels: Documentation

#21105 DOC - Ensure that SGDOneClassSVM pass numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#21104 DOC - Ensure that TweedieRegressor pass numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_glm/glm.py
Labels: Documentation, module:linear_model

#21123 DOC fix news entry for v1.0
  doc/templates/index.html
Labels: Documentation, No Changelog Needed

#20796 DOC correct input array type in MeanShift.predict
  sklearn/cluster/_mean_shift.py
Labels: module:cluster

#21125 DOC link to highlights from the changelog
  doc/whats_new/v1.0.rst
Labels: Documentation, No Changelog Needed

#21124 DOC One more typo in release highlights
  examples/release_highlights/plot_release_highlights_1_0_0.py
Labels: Documentation

#21097 DOC - Ensure SGDRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#21126 DOC Typo in 1.0.0 release highlights
  examples/release_highlights/plot_release_highlights_1_0_0.py
Labels: Documentation

#21120 MNT change to version 1.0 [cd build]
  sklearn/__init__.py
Labels: No Changelog Needed

#21127 DOC Fix minor issues in bike sharing example
  examples/applications/plot_cyclical_feature_engineering.py
Labels: Documentation

#20987 DOC ensure SpectralClustering passes numpydoc validation and improve references
  maint_tools/test_docstrings.py
  sklearn/cluster/_spectral.py
Labels: Documentation, module:cluster

#21093 FIX improve error message for large sparse matrix input in LogisticRegression
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model

#21081 DOC Build proper sentence for Davies-Bouldin Index advantage
  doc/modules/clustering.rst
Labels: Documentation

#21082 TST Adjust learning rate to compare with LightGBM 3.X
  benchmarks/bench_hist_gradient_boosting.py
  benchmarks/bench_hist_gradient_boosting_threading.py
  build_tools/azure/install.sh
  sklearn/ensemble/_hist_gradient_boosting/tests/test_compare_lightgbm.py
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
Labels: module:ensemble, No Changelog Needed, cython

#21131 DOC - Ensures that RandomizedSearchCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection

#21141 DOC correct the type of estimator attributes in RandomTreeEmbedding
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#20997 FIX Fixes test for checking gitignore and Cython templates
  sklearn/utils/tests/test_cython_templating.py
Labels: module:utils, No Changelog Needed

#21149 DOC Ensures that MissingIndicator passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/impute/_base.py
Labels: Documentation, module:impute

#21155 DOC Ensures that RobustScaler passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#21159 DOC Fix the date of version 1.0.0 in the changelog
  doc/whats_new/v1.0.rst
Labels: Documentation, No Changelog Needed

#21156 Update kernels.py
  sklearn/gaussian_process/kernels.py
Labels: module:gaussian_process

#21135 DOC - Ensure StackingClassifier pass numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_stacking.py
Labels: Documentation, module:ensemble

#21162 DOC move versionadded misplaced in GPC
  sklearn/gaussian_process/_gpc.py
Labels: Documentation, module:gaussian_process

#21108 DOC Ensures that IterativeImputer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/impute/_iterative.py
Labels: Documentation, module:impute

#21175 DOC Ensures that PLSCanonical passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#21185 FIX sphinx formatting in load_boston
  sklearn/datasets/_base.py
Labels: module:datasets

#21186 DOC Adds missing imports into examples and checks them in tests
  sklearn/compose/_column_transformer.py
  sklearn/conftest.py
  sklearn/feature_selection/_variance_threshold.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/metrics/_ranking.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/neighbors/_kde.py
  sklearn/pipeline.py
  sklearn/preprocessing/_discretization.py
  sklearn/random_projection.py
  sklearn/utils/__init__.py
  sklearn/utils/_testing.py
  sklearn/utils/extmath.py
  sklearn/utils/multiclass.py
  sklearn/utils/validation.py
Labels: Documentation

#21172 DOC minor updates to release process
  doc/developers/maintainer.rst
Labels: Documentation, No Changelog Needed

#21202 DOC Ensures that MiniBatchKMeans passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#21198 DOC Ensures that PLSSVD passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#21197 DOC fix typo in load_boston docstring
  sklearn/datasets/_base.py
Labels: module:datasets

#21180 DOC Ensures that LocalOutlierFactor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_lof.py
Labels: Documentation, module:neighbors
