Repository scikit-learn/scikit-learn, pull requests merged in 2021-07, with the labels that each got.

#20429 DOC Ensures that BernoulliNB passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/naive_bayes.py
Labels: Documentation, module:metrics, module:naive_bayes

#20231 FEA Add positive argument to Ridge using L-BFGS-B solver
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#20436 TST Replace assert_warns with pytest context manager in sklearn/utilst/tests/test_testing.py
  sklearn/utils/tests/test_testing.py
Labels: No Changelog Needed, module:utils

#20437 DOC ensure IsolationForest passes numpydoc
  maint_tools/test_docstrings.py
  sklearn/base.py
Labels: Documentation

#20438 DOC Ensures that KNeighborsRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_regression.py
Labels: Documentation, module:metrics, module:neighbors

#20444 DOC Ensures that MLPClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation, module:neural_network

#20445 DOC Ensures that CategoricalNB passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/naive_bayes.py
Labels: Documentation, module:naive_bayes

#20394 DOC Ensures that DummyRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/dummy.py
Labels: Documentation

#20446 DOC Ensures that NearestNeighbors passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_unsupervised.py
Labels: Documentation, module:neighbors

#20455 DOC Ensures MaxAbsScaler passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#20458 DOC Ensures that LinearSVC passes numpydoc validation
  maint_tools/test_docstrings.py
Labels: Documentation

#20459 DOC Ensures that LassoLars passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#20465 DOC Ensures that LassoLarsIC passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#20472 DOC Ensures that Lars passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#20456 DOC Ensures LabelEncoder passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_label.py
Labels: Documentation, module:preprocessing

#20454 DOC Ensures that ElasticNet passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#20462 DOC Ensures that LassoLarsCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#20464 DOC: add sphinxext-opengraph
  .circleci/config.yml
  build_tools/circle/build_doc.sh
  doc/conf.py
  doc/developers/contributing.rst
  sklearn/_min_dependencies.py
Labels: Documentation

#20452 DOC Ensures that RFECV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_base.py
  sklearn/feature_selection/_rfe.py
Labels: Documentation, module:feature_selection

#20453 DOC Ensures that LassoCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#20386 DOC Ensures that PoissonRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_glm/glm.py
Labels: Documentation, module:linear_model

#20383 DOC Ensures that RandomForestClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble, module:utils

#20477 ENH Uses _openmp_effective_n_threads to get the number of threads in HistGradientBoosting*
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_loss.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/binning.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/loss.py
  sklearn/ensemble/_hist_gradient_boosting/predictor.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_binning.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_grower.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_loss.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_monotonic_contraints.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_predictor.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_splitting.py
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
Labels: cython, module:ensemble

#20498 DOC Ensures that BaggingRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_bagging.py
Labels: Documentation, module:ensemble

#20450 DOC Ensures that VotingRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_base.py
  sklearn/ensemble/_voting.py
Labels: Documentation, cython, module:ensemble

#20499 DOC Ensures that Ridge passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#20495 DOC Ensures that GenericUnivariateSelect passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#19948 Add available_if as a generic, literate variant of if_delegate_has_method
  doc/glossary.rst
  doc/modules/classes.rst
  doc/whats_new/v1.0.rst
  sklearn/multioutput.py
  sklearn/pipeline.py
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_metaestimators.py
Labels: Waiting for Reviewer, module:pipeline, module:utils

#20518 MAINT Removes assert_warns in test_estimator_checks
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed, module:utils

#20517 DOC Ensures that LarsCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#20500 MAINT Removes UserWarning when calling all_estimators
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed, module:utils

#20503 DOC Ensures that RidgeCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#20492 MNT cleaup a try...except in scorer
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: No Changelog Needed, module:metrics

#20468 MAINT Make multioutput tests deterministic
  sklearn/tests/test_multioutput.py
Labels: Build / CI, No Changelog Needed, module:test-suite

#20440 DOC ensure Naive Bayes classes passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/naive_bayes.py
Labels: Documentation, module:naive_bayes

#20395 DOC ensures SparsePCA docstring passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/decomposition/_sparse_pca.py
Labels: Documentation, No Changelog Needed, module:decomposition

#20463 DOC Ensures that OneClassSVM passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#20519 MAINT Uses available_if in multiclass instead of if_delegate_has_method
  sklearn/multiclass.py
Labels: No Changelog Needed

#20532 DOC Ensures that AffinityPropagation passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_affinity_propagation.py
Labels: Documentation, module:cluster

#20512 Rescale regularization terms of NMF
  doc/modules/decomposition.rst
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
Labels: module:decomposition

#20527 DOC Ensures that GraphicalLasso passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/_graph_lasso.py
Labels: Documentation, module:covariance

#20561 DOC Update dataset name from Boston housing to Wine in example
  examples/applications/plot_outlier_detection_wine.py
Labels: Documentation

#20543 DOC reformatting example as notebook style
  examples/manifold/plot_lle_digits.py
Labels: Documentation

#20534 TST add a common test to check sample_weight not overwritten at fit
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_weight_boosting.py
  sklearn/utils/estimator_checks.py
Labels: module:utils

#20361 DOC convert to notebook style prior posterior GPR example
  examples/gaussian_process/plot_gpr_prior_posterior.py
Labels: Documentation

#20528 Fix `_weighted_percentile` for `percentile=0`
  doc/whats_new/v1.0.rst
  sklearn/utils/stats.py
  sklearn/utils/tests/test_stats.py
Labels: module:utils

#20551 DOC Ensures that EmpiricalCovariance passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_empirical_covariance.py
Labels: Documentation, module:covariance

#20548 DOC Ensures that EllipticEnvelope passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_elliptic_envelope.py
Labels: Documentation, module:covariance

#20546 DOC Ensures that GraphicalLassoCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_graph_lasso.py
Labels: Documentation, module:covariance

#20521 MAINT deprecate assert_warns and assert_warns_messsage
  doc/whats_new/v1.0.rst
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: No Changelog Needed, module:utils

#20514 DOC Ensures that IsotonicRegression passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/isotonic.py
Labels: Documentation

#20536 DOC Ensures that AdditiveChi2Sampler passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/kernel_approximation.py
Labels: Documentation

#20461 DOC Ensures that NuSVC passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#20571 DOC Ensures that ShrunkCovariance passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_shrunk_covariance.py
Labels: Documentation, module:covariance

#20405 DOC ensures FastICA estimator pass the numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/decomposition/_fastica.py
Labels: Documentation, module:decomposition

#20403 DOC Ensures numpydoc validation for CountVectorizer and TfidfVectorizer/Transformer
  maint_tools/test_docstrings.py
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#20574 DOC Ensures that LatentDirichletAllocation passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/decomposition/_lda.py
Labels: Documentation, module:decomposition

#20378 DOC Ensures that K/RadiusNeighborsRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_regression.py
Labels: Documentation, module:neighbors

#20504 DOC Ensures that CCA passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#20573 DOC Change classifier to regressor in docstring
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#20578 DOC Ensures that LedoitWolf passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_shrunk_covariance.py
Labels: Documentation, module:covariance

#20579 DOC Ensures that OAS passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_shrunk_covariance.py
Labels: Documentation, module:covariance

#20580 DOC Ensures that MinCovDet passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/covariance/_robust_covariance.py
Labels: Documentation, module:covariance

#20562 DOC Fix rendering in plot_pipeline_display. formatting fix with docstring.
  examples/compose/plot_compare_reduction.py
Labels: Documentation

#20526 ENH Allow `sample_weight` in `SplineTransformer.fit` method
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/utils/stats.py
Labels: Waiting for Reviewer, module:preprocessing, module:utils

#20441 DOC add remark that SGDClassifier partial_fit does not implement learning rate schemes
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#20416 FIX check X in LedoitWolf to not allow 0 samples array
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
  sklearn/covariance/_shrunk_covariance.py
  sklearn/covariance/tests/test_covariance.py
Labels: module:covariance

#20323 MNT Remove fixtures for Numpy 1.3 and 1.4 compatibility
  sklearn/neighbors/_dist_metrics.pxd
  sklearn/neighbors/_dist_metrics.pyx
Labels: No Changelog Needed, Waiting for Reviewer, cython, module:neighbors

#20312 FIX avoid overflow in adjusted_rand_score with large amount data
  doc/whats_new/v1.0.rst
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
Labels: module:metrics

#20237 DOC Ridge cv scoring values when not none
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#20447 DOC fixes typo and comment in example plot_grid_search_stats.py
  examples/model_selection/plot_grid_search_stats.py
Labels: Documentation

#20340 DOC Clarify components_ attributes in PCA
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_truncated_svd.py
Labels: Documentation, module:decomposition

#20076 DOC add that recall with weighted average is equal to accuracy
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#19908 EHN Improve variable names in `KernelPCA`
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
  sklearn/manifold/_isomap.py
Labels: module:decomposition

#19906 FIX OrdinalEncoder.fit should not raise an error `handle_unknown="use_encoded_value"`
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#19752 FIX StandardScaler.inverse_transform raise error when the input is a 1d array
  doc/whats_new/v1.0.rst
  sklearn/compose/tests/test_target.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: Bug, module:compose, module:preprocessing

#20596 DOC Fix default pre_dispatch value in docstring
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection

#20592 DOC Ensures that MLPRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation, module:neural_network

#20281 DOC new example on feature engineering for cyclic time features
  doc/modules/preprocessing.rst
  examples/applications/plot_cyclical_feature_engineering.py
Labels: Documentation, module:preprocessing

#20611 DOC fixed covariance matrix equation in lda_qda
  doc/modules/lda_qda.rst
Labels: Documentation

#20613 DOC Ensures that RandomTreesEmbedding passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#20612 DOC Ensures that ExtraTreeClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/tree/_classes.py
Labels: Documentation, module:tree

#20597 FIX Fixes AgglomerativeClustering with precomputed affinity
  doc/whats_new/v1.0.rst
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster

#15447 DOC ensure that t-SNE passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/manifold/_t_sne.py
Labels: Documentation, module:manifold

#20535 MAINT Remove redundant checks in `neighbors` Binary Tree's
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/tests/test_neighbors.py
Labels: No Changelog Needed, cython, module:neighbors

#19591 DOC Add example for calculating precision, recall and F1 in case of multilabel classification
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#19718 DOC unify None format of the metrics
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/model_selection/_validation.py
Labels: Documentation, module:metrics, module:model_selection

#20380 ENH Allow `sample_weight` and other `fit_params` in RFE
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection

#20620 DOC Ensures that ExtraTreesClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#20621 DOC Ensures that ExtraTreesRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
Labels: Documentation, module:ensemble

#20622 DOC Fixes typo in plot_permutation_test_for_classification
  examples/feature_selection/plot_permutation_test_for_classification.py
Labels: Documentation

#20624 DOC: move example
  examples/feature_selection/plot_permutation_test_for_classification.py
  examples/model_selection/plot_permutation_tests_for_classification.py
Labels: Documentation, No Changelog Needed, Waiting for Reviewer

#20623 FIX support both instance and class level methods in `_AvailableIfDescriptor.__get__`
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_metaestimators.py
Labels: Blocker, Bug, No Changelog Needed, module:utils

#20627 STY Removes trailing comma for nicer black formatting
  sklearn/svm/tests/test_sparse.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/tree/tests/test_tree.py
Labels: No Changelog Needed, module:svm, module:tree

#19631 FIX Fixes bug in mlp when loading a pickle and partial_fit
  doc/whats_new/v1.0.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/_stochastic_optimizers.py
  sklearn/neural_network/tests/test_mlp.py
  sklearn/neural_network/tests/test_stochastic_optimizers.py
Labels: module:neural_network

#19568 Sequential feature selection - unsupervised learning
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
Labels: Waiting for Reviewer, module:feature_selection

#19554 DOC fix typos in the user guide linear model documentation
  doc/modules/linear_model.rst
  examples/inspection/plot_linear_model_coefficient_interpretation.py
Labels: Documentation

#20560 ENH Improves error in spectral_clustering when passed a np.matrix
  doc/whats_new/v1.0.rst
  sklearn/cluster/_spectral.py
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster

#20583 API Deprecates mean_score, std_score, split(k)_score in GraphicalLassoCV
  doc/whats_new/v1.0.rst
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance

#19499 FIX adjust inliner criterion in RANSACRegressor
  doc/modules/linear_model.rst
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/tests/test_ransac.py
Labels: module:linear_model

#19520 FIX 'feature_name' referenced before assignment
  doc/whats_new/v1.0.rst
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
Labels: Bug, module:feature_extraction

#20161 API Replacing grid_scores_ by cv_results_ in _rfe.py and test_rfe.py
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: Waiting for Reviewer, module:feature_selection

#20637 DOC solve plotting issue in plot_permutation_test_for_classification
  examples/model_selection/plot_permutation_tests_for_classification.py
Labels: Documentation, No Changelog Needed
