Repository scikit-learn/scikit-learn, pull requests merged in 2021-03, with the labels that each got.

#19509 TST replace assert_raise with pytest.raises in calibration, check_build, metaestimators
  sklearn/tests/test_calibration.py
  sklearn/tests/test_check_build.py
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed

#19560 FIX race condition in get_data_home causing FileExistsError
  sklearn/datasets/_base.py
Labels: Bug, No Changelog Needed, Waiting for Reviewer, module:datasets

#19585 TST replaces assert_raises* by pytest.raises in model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_split.py
Labels: No Changelog Needed, module:model_selection

#19592 TST replaces assert_raise* by pytest.raises in model_selection/tests/test_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: No Changelog Needed, module:model_selection

#19558 TST Change assert from sklearn to pytest style in tests/test_discriminant.py
  sklearn/tests/test_discriminant_analysis.py
Labels: No Changelog Needed, module:test-suite

#19593 TST Change assert from sklearn to pytest style in tests/test_multiclass.py
  sklearn/tests/test_multiclass.py
Labels: No Changelog Needed

#19606 eliminate performance regression when normalize is False
  sklearn/linear_model/_base.py
Labels: module:linear_model

#19634 DOC Fixes spelling mistake in _kmeans.py
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#19618 TST replace assert_raise_* by pytest.raises in tests/test_multioutput.py
  sklearn/tests/test_multioutput.py
Labels: No Changelog Needed

#19621 TST Uses pytest.raises in model_selection/tests
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
Labels: No Changelog Needed, module:model_selection

#19661 DOC Use term 'black people' instead of 'blacks' in Boston descr
  sklearn/datasets/descr/boston_house_prices.rst
Labels: Documentation, module:datasets

#9843 ENH Speedup confusion_matrix
  doc/whats_new/v1.0.rst
  sklearn/metrics/_classification.py
Labels: Enhancement, Performance, Waiting for Reviewer, module:metrics

#19659 BUG Fixes verbose > 2 for grid search
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
Labels: To backport, module:model_selection

#19594 TST Do not use cache in test in `test_fetch_openml_iris`
  sklearn/datasets/tests/test_openml.py
Labels: Build / CI, No Changelog Needed, module:datasets, module:test-suite

#19565 Change assert from sklearn to pytest style in module linear_model/tests
  sklearn/linear_model/_omp.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/linear_model/tests/test_ransac.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
  sklearn/linear_model/tests/test_theil_sen.py
Labels: No Changelog Needed, module:linear_model

#19666 MNT Move kmeans_plusplus next to _kmeans_plusplus
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#19607 RFC Make non_negative_factorization call NMF instead of the opposite
  sklearn/decomposition/_nmf.py
Labels: No Changelog Needed, module:decomposition

#19643 ENH Raises error in hinge_loss when 'pred_decision' is invalid
  doc/whats_new/v1.0.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Bug, module:metrics

#19571 ENH Optimize dot product order for LogisticRegression for dense matrices
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_logistic.py
Labels: module:linear_model

#19675 DOC Fix typo in plot_multi_metric_evaluation example
  examples/model_selection/plot_multi_metric_evaluation.py
Labels: Documentation

#19670 ENH Deprecated the default random_state=0 in randomized_svd
  doc/whats_new/v1.0.rst
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils

#19671 MNT Fix error message for Minkowski metric parameter
  sklearn/neighbors/_base.py
Labels: No Changelog Needed, module:neighbors

#19622 FIX RuntimeWarning by dividing by zero in test_iforest_with_uniform_data
  sklearn/ensemble/_iforest.py
Labels: No Changelog Needed, module:ensemble

#19633 ENH Adds _num_features for array-likes
  sklearn/base.py
  sklearn/tests/test_base.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: No Changelog Needed, Waiting for Reviewer, module:utils

#19678 TST Change assert from sklearn to pytest style in tests/test_pipeline.py
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed

#19620 Add a test to check the consistency of the Ridge and ElasticNet(l1_ratio=0) solutions
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: Enhancement, No Changelog Needed, Waiting for Reviewer, module:linear_model, module:test-suite

#19695 [MRG] Fix documentation for russelrao formula
  sklearn/neighbors/_dist_metrics.pyx
Labels: module:neighbors

#19483 ENH Add periodic extrapolation to SplineTransformer
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_polynomial_interpolation.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#19528 CI Use conda instead of pip to install anaconda-client
  build_tools/github/upload_anaconda.sh
  build_tools/travis/after_success.sh
Labels: Build / CI

#19688 Added utils.gen_batches in documentation, Solving issue #19681
  doc/developers/utilities.rst
  doc/modules/classes.rst
  sklearn/utils/__init__.py
Labels: Documentation, module:utils

#19669 ENH Better error for corrupted files in fetch_kddcup99
  doc/whats_new/v1.0.rst
  sklearn/conftest.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/tests/test_kddcup99.py
Labels: module:datasets

#19611 MNT move PolynomialFeatures from _data.py to _polynomial.py
  sklearn/preprocessing/__init__.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: No Changelog Needed, module:preprocessing

#19711 Fix typo in elastic net docstring.
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#19720 DOC Correct scorer documentation
  sklearn/metrics/_scorer.py
Labels: Documentation, module:metrics

#19697 Removed assert_warns_message from gaussian_process/tests
  sklearn/gaussian_process/tests/test_gpc.py
  sklearn/gaussian_process/tests/test_gpr.py
  sklearn/gaussian_process/tests/test_kernels.py
Labels: No Changelog Needed, module:gaussian_process

#19709 Replaced assert_raises from utils/tests/test_estimator_checks
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed, module:utils

#19728 DOC Add scikit-survival to related projects
  doc/related_projects.rst
Labels: Documentation

#19730 DOC Move Sacred to "Experimentation frameworks"
  doc/related_projects.rst
Labels: Documentation

#19725 DOC Fix doc regarding required_parameters
  doc/developers/develop.rst
Labels: Documentation

#18649 Stratified Group KFold implementation
  doc/modules/classes.rst
  doc/modules/cross_validation.rst
  doc/whats_new/v1.0.rst
  examples/model_selection/plot_cv_indices.py
  sklearn/model_selection/__init__.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: Waiting for Reviewer, module:model_selection

#19691 Remove assert warn from preprocessing tests
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_function_transformer.py
  sklearn/preprocessing/tests/test_label.py
Labels: No Changelog Needed, module:preprocessing

#19715 DOC Fix doc for single linkage in feature agglomeration
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#19735 DOC: Fix typo in KDE metric docstring default value
  sklearn/neighbors/_kde.py
Labels: Documentation, module:neighbors

#19729 DOC Fix load iris datasets
  doc/modules/tree.rst
Labels: Documentation

#19739 DOC Fixed typo in cross_val_predict docstring
  sklearn/model_selection/_validation.py
Labels: Documentation, No Changelog Needed, module:model_selection

#10027 [MRG] Linear One-Class SVM using SGD implementation
  benchmarks/bench_online_ocsvm.py
  doc/modules/classes.rst
  doc/modules/outlier_detection.rst
  doc/modules/sgd.rst
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_sgdocsvm_vs_ocsvm.py
  examples/miscellaneous/plot_anomaly_comparison.py
  sklearn/linear_model/__init__.py
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/svm/_classes.py
Labels: New Feature, Waiting for Reviewer, module:linear_model

#19750 DOC Clarified n_jobs parallelization in plot_partial_dependence
  sklearn/inspection/_plot/partial_dependence.py
Labels: Documentation, module:inspection

#19540 ENH Checks n_features_in_ after fitting in mixture
  sklearn/mixture/_base.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
  sklearn/mixture/tests/test_mixture.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, Waiting for Reviewer, module:mixture

#19356 FIX Adds check_array to inverse_transform of StandardScaler
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing

#19757 TST Replace assert_warns in covariance/tests
  sklearn/covariance/tests/test_covariance.py
  sklearn/covariance/tests/test_robust_covariance.py
Labels: No Changelog Needed, module:covariance, module:preprocessing

#19740 ENH num_features for a 1d collection of dicts is undefined
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: No Changelog Needed, module:utils

#19766 MNT Avoid catastrophic cancellation in mean_variance_axis
  doc/whats_new/v1.0.rst
  sklearn/utils/sparsefuncs_fast.pyx
  sklearn/utils/tests/test_sparsefuncs.py
Labels: Bug, Waiting for Reviewer, module:preprocessing, module:utils

#19041 ENH Adds support for drop + handle_unknown=ignore in the OneHotEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing
