Repository scikit-learn/scikit-learn, pull requests merged in 2021-01, with the labels that each got.

#18930 TST Fix scipy DeprecationWarning from wminkowski in nightly
  sklearn/metrics/tests/test_pairwise.py
Labels: Waiting for Reviewer, module:metrics

#18743 ENH Adds n_features_in_ checking in gaussian_process
  sklearn/gaussian_process/_gpc.py
  sklearn/gaussian_process/_gpr.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:gaussian_process

#18578 ENH Adds n_features_in_ checks to linear and svm modules
  sklearn/linear_model/_base.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/svm/_base.py
  sklearn/tests/test_common.py
Labels: module:ensemble, module:linear_model, module:svm

#19062 CI Fixes scipy-dev build instance
  build_tools/azure/install.sh
Labels: Build / CI

#19101 TST explicit convert array to float that will contains np.nan
  sklearn/metrics/tests/test_common.py
Labels: module:metrics

#19096 TST Adapts wminkowski for scipy 1.6.0
  sklearn/neighbors/tests/test_dist_metrics.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#19004 Add additional validation for user-supplied gram matrixes
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_elastic_net_precomputed_gram_matrix_with_weighted_samples.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model, module:utils

#18842 DOC Add var_ attribute and deprecate sigma_ in GaussianNB
  doc/whats_new/v1.0.rst
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: Documentation, module:naive_bayes

#19121 Fix cross-validation wording in RidgeCV
  sklearn/linear_model/_ridge.py
Labels: module:linear_model

#19115 TST Skips test_compare_to_ELKI for arm
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#19113 CI Reduce travis nightly load
  .travis.yml
Labels: Build / CI

#19133 DOC Fix docstring of HalvingSearch estimators
  sklearn/model_selection/_search_successive_halving.py
Labels: module:model_selection

#19126 FIX accept meta-estimator in SelfTrainingClassifier
  doc/whats_new/v0.24.rst
  sklearn/semi_supervised/_self_training.py
  sklearn/semi_supervised/tests/test_self_training.py
Labels: To backport, module:semi_supervised

#18243 DOC Update docs guideline regarding docstring formatting
  doc/developers/contributing.rst
  doc/glossary.rst
  examples/model_selection/plot_learning_curve.py
  sklearn/dummy.py
  sklearn/linear_model/_least_angle.py
  sklearn/preprocessing/_discretization.py
Labels: Documentation, Waiting for Reviewer, module:linear_model

#19124 DOC Update docs for StandardScaler.scale_ to include 0 variance
  sklearn/preprocessing/_data.py
Labels: module:preprocessing

#18959 ENH add fontname argument in export_graphviz for non-English characters
  doc/whats_new/v1.0.rst
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree

#19064 CI Use macos-10.13 compatible libomp when building the wheels
  .github/workflows/wheels.yml
  build_tools/github/build_wheels.sh
Labels: Blocker, To backport

#19151 DOC minor broken links fix in parallelism docs
  doc/computing/parallelism.rst
Labels: Documentation

#19149 DOC Adds missing default value in SpectralClustering
  sklearn/cluster/_spectral.py
Labels: Documentation, module:cluster

#19146 DOC Update installation instructions for macos/arm64
  doc/developers/advanced_installation.rst
  doc/install.rst
Labels: Documentation, To backport

#19125 [MRG] DOC fix ambiguous instruction
  doc/developers/advanced_installation.rst
Labels: Documentation

#19035 FIX An overflow issue in HashingVectorizer
  doc/whats_new/v1.0.rst
  sklearn/feature_extraction/_hashing_fast.pyx
  sklearn/feature_extraction/tests/test_text.py
Labels: module:feature_extraction

#19156 DOC Uses float instead of real in cross_decomposition's docstring
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#17564 MNT Replace PDF build by ZIP of the HTML
  build_tools/circle/build_doc.sh
  build_tools/circle/list_versions.py
  doc/Makefile
Labels: Build / CI, Documentation, Waiting for Reviewer

#19142 [MRG] Normalize linear_model decision_function scores.
  sklearn/linear_model/_base.py
Labels: module:linear_model

#19134 CI Adds skipping to azure pipelines with commit message
  azure-pipelines.yml
Labels: Build / CI

#19161 DOC Clarifies docstrings in decomposition
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_lda.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/_pca.py
Labels: Documentation, module:decomposition

#19163 [DOC] Fix listing all available versions for the documentation
  build_tools/circle/list_versions.py
Labels: Documentation

#19118 TST Download datasets before running pytest-xdist
  conftest.py
  doc/computing/parallelism.rst
  sklearn/conftest.py
  sklearn/datasets/tests/conftest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: Build / CI, module:datasets, module:ensemble

#19173 MAINT Add @fails_if_pypy to test_nonnegative_hashing_vectorizer_result_indices
  sklearn/feature_extraction/tests/test_text.py
Labels: Bug, To backport, module:test-suite

#19176 Use stable numpy scipy release for [icc-build] and [arm64] on travis
  build_tools/travis/install_master.sh
Labels: Build / CI

#19179 FIX Fixes issue with exatly_zero_info_score
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
  sklearn/metrics/cluster/_supervised.py
Labels: module:metrics

#19167 DOC Fix description for Calinski-Harabasz Index in doc/modules/clustering.rst
  doc/modules/clustering.rst
Labels: Documentation

#19196 DOC add entry in whats new for 0.24.1
  doc/whats_new/v0.24.rst
Labels: Documentation

#19200 DOC add entry for numerical instability mutual information
  doc/whats_new/v0.24.rst
Labels: Documentation

#19208 DOC Fix minimum version for building ZIP of the HTML
  build_tools/circle/list_versions.py
Labels: Documentation, To backport

#19209 DOC Generalise norm notation in NMF docstring.
  sklearn/decomposition/_nmf.py
Labels: Documentation, module:decomposition

#19205 DOC add info regarding support of dict of multimetric scores
  doc/whats_new/v0.24.rst
  sklearn/metrics/_scorer.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
Labels: Documentation, To backport, module:metrics, module:model_selection

#19172 FIX correct Lasso.dual_gap_ to match the objective in its docstring
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#19226 DOC Add scikeras to related projects.
  doc/related_projects.rst
Labels: Documentation

#19046 FIX Incorrect warning when clustering boolean data
  doc/whats_new/v1.0.rst
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: Waiting for Reviewer, module:cluster

#19234 FIX validate handle_unkown strategies in OrdinalEncoder
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: To backport, module:preprocessing

#17743 MRG Deprecates 'normalize' in LinearRegression (_base.py)
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#19245 DOC Reorder what's new
  doc/whats_new/v1.0.rst
Labels: Documentation

#19227 [DOC] Clarify the docstring of dict learning about the inits
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_sparse_pca.py
Labels: Documentation, module:decomposition

#18543 ENH/DEP add class method and deprecate plot function for confusion matrix
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.0.rst
  examples/classification/plot_digits_classification.py
  examples/model_selection/plot_confusion_matrix.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
Labels: Waiting for Reviewer, module:metrics

#19231 Fix misuse of self.partial_fit in Birch
  sklearn/cluster/_birch.py
Labels: module:cluster

#19225 Fix check_decision_proba_consistency random failure
  sklearn/utils/estimator_checks.py
Labels: Build / CI, module:test-suite, module:utils

#18368 [MRG+2] FEA Add SplineTransformer
  doc/modules/classes.rst
  doc/modules/preprocessing.rst
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_polynomial_interpolation.py
  sklearn/preprocessing/__init__.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
Labels: module:preprocessing

#18925 FIX discrete Naive Bayes model fitting for degenerate single-class case
  doc/whats_new/v1.0.rst
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: Waiting for Reviewer, module:naive_bayes

#19235 CI Adds manylinux1 to building wheels
  .github/workflows/wheels.yml
  build_tools/github/check_wheels.py
Labels: Build / CI, To backport

#19267 MNT silence warning dev [scipy-dev]
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#19162 FIX/MNT do not support OOB score for multiclass-multioutput and additional refactoring
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble, module:metrics

#19221 FIX Fixes test_compare_to_elki failure
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#19273 ignore unused variable.
  sklearn/pipeline.py
Labels: module:pipeline

#19277 DOC Remove plot_confusion_matrix in See Also
  sklearn/metrics/_classification.py
  sklearn/metrics/_plot/confusion_matrix.py
Labels: Documentation, module:metrics

#19261 CLN Removes duplicated or unneeded code in ColumnTransformer
  sklearn/compose/_column_transformer.py
Labels: module:compose

#19265 DOC: update Keras description in related projects
  doc/related_projects.rst
Labels: Documentation

#19207 Add URL to reference of Minka paper used in PCA
  sklearn/decomposition/_pca.py
Labels: module:decomposition

#19001 DOC Add translation section in related projects
  doc/related_projects.rst
Labels: Documentation, Waiting for Reviewer

#18742 ENH Checks n_features_in in semi_supervised
  sklearn/semi_supervised/_label_propagation.py
  sklearn/tests/test_common.py
Labels: module:semi_supervised

#18744 ENH Checks n_features_in in neighbors
  sklearn/neighbors/_base.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_nca.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/_regression.py
  sklearn/tests/test_common.py
Labels: module:neighbors

#19274 DOC Fixes formating in feature_extraction module
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#19282 DOC Minor adjustments to clarify docstrings + fixes links to references
  sklearn/linear_model/_passive_aggressive.py
  sklearn/manifold/_locally_linear.py
Labels: Documentation, module:linear_model, module:manifold

#19288 DOC Correct dataframe shape in fetch_covtype documentation
  sklearn/datasets/_covtype.py
Labels: Documentation, module:datasets

#18836 DOC use notebook style and diagram for feature selection example
  examples/feature_selection/plot_feature_selection_pipeline.py
Labels: Documentation

#18904 TST add binary and multiclass test for scorers
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#19287 DOC Add log-link to Gamma and Poisson Regressor
  sklearn/linear_model/_glm/glm.py
Labels: Documentation, module:linear_model

#19298 Removing incrementalPCA example in basePCA
  sklearn/decomposition/_base.py
Labels: module:decomposition

#19296 API Removes tol=None option from HistGradientBoosting*
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#19297 API Removes the use of fit_ and partial_fit_ in Birch
  doc/whats_new/v1.0.rst
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster

#19299 CLN Fixes PendingDeprecationWarning in CountVectorizer
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#19301 TST Ignores PendingDeprecationWarning in tests
  sklearn/utils/tests/test_validation.py
Labels: module:utils

#19251 Simplify computation of radius to match BIRCH more closely
  sklearn/cluster/_birch.py
Labels: module:cluster
