Repository scikit-learn/scikit-learn, pull requests merged in 2021-06, with the labels that each got.

#20153 [MRG] Fix Sparse PCA optimization task #19775
  doc/modules/decomposition.rst
  sklearn/decomposition/_dict_learning.py
Labels: No Changelog Needed, module:decomposition

#20180 MNT add n_features_in_ through the feature_extraction module
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: No Changelog Needed, module:feature_extraction, module:utils

#20149 TST Fixes test and mis-matched pandas version
  README.rst
  doc/whats_new/v1.0.rst
  sklearn/_min_dependencies.py
  sklearn/tests/test_min_dependencies_readme.py
Labels: No Changelog Needed

#20181 [MRG] DOC Improve documentation of Latent Dirichlet Allocation
  sklearn/decomposition/_lda.py
Labels: module:decomposition

#19970 MNT add path as a static abstract method to LinearModelCV
  sklearn/linear_model/_coordinate_descent.py
Labels: No Changelog Needed, Waiting for Reviewer, module:linear_model

#20165 API Deprecates support for np.matrix in check_array
  doc/whats_new/v1.0.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#20188 TST Enable test docstring params for feature extraction module
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed

#20198 DOC fix a reference in sklearn.ensemble.GradientBoostingRegressor
  sklearn/ensemble/_gb.py
Labels: module:ensemble

#19977 FIX mcc zero divsion
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/utils/_testing.py
Labels: No Changelog Needed, Waiting for Reviewer, module:metrics

#20175 TST Add TransformedTargetRegressor to test_meta_estimators_delegate_data_validation
  sklearn/compose/_column_transformer.py
  sklearn/compose/_target.py
  sklearn/tests/test_common.py
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed, module:compose

#20023 FIX Uses points instead of pixels in plot_tree
  sklearn/tree/_export.py
Labels: Waiting for Reviewer, module:tree

#20193 MNT n_features_in through the multiclass module
  sklearn/multiclass.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed

#20201 FIX Fix typo in error message in `fetch_openml`
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: No Changelog Needed, module:datasets

#20087 FIX Fix error when using Calibrated with Voting
  doc/whats_new/v1.0.rst
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: Bug, Waiting for Reviewer, module:calibration

#20159 FIX Fix RandomForestRegressor doesn't accept max_samples=1.0 #20156
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: Waiting for Reviewer, module:ensemble

#19836 ENH Adds Poisson criterion in RandomForestRegressor #19304
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: Waiting for Reviewer, module:ensemble

#20214 TST Replace assert_warns from decomposition/tests
  sklearn/decomposition/tests/test_fastica.py
Labels: No Changelog Needed, module:decomposition

#20192 TST check n_features_in_ in pipeline module
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed, module:pipeline

#20191 Allow `n_knots=None` if knots are explicitly specified in `SplineTransformer`
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: No Changelog Needed, Waiting for Reviewer, module:preprocessing

#20221 FIX make check_complex_data deterministic
  sklearn/utils/estimator_checks.py
Labels: module:utils

#20190 TST test_fit_docstring_attributes include properties
  sklearn/cluster/_bicluster.py
  sklearn/model_selection/_search.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, module:model_selection

#19784 FIX Uses the color max for colormap in ConfusionMatrixDisplay
  doc/whats_new/v1.0.rst
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
Labels: Waiting for Reviewer, module:metrics

#20228 DOC Document n_features_in_ in cluster
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_bicluster.py
  sklearn/cluster/_birch.py
  sklearn/cluster/_dbscan.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/_optics.py
  sklearn/cluster/_spectral.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, module:cluster

#20202 TST make sure to test SearchCV on both classification and regression
  sklearn/tests/test_common.py
Labels: No Changelog Needed

#20241 Improve documentation for Random Forests: comment about mae low speed compared to mse
  sklearn/ensemble/_forest.py
Labels: module:ensemble

#20240 MNT deprecate n_input_features_ in PolynomialFeatures
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#20243 TST create instances from exotic estimators for docstring params check
  sklearn/cluster/_bicluster.py
  sklearn/decomposition/_dict_learning.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_sequential.py
  sklearn/pipeline.py
  sklearn/random_projection.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, module:pipeline

#19616 [MRG] FIX sample_weight invariance for linear models
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_ridge.py
Labels: Bug, Waiting for Reviewer, module:linear_model

#20056 Make BaseShuffleSplit public
  sklearn/model_selection/__init__.py
Labels: Waiting for Reviewer, module:model_selection

#19031 MNT Adds black config and fixes formatting before black
  benchmarks/bench_plot_fastkmeans.py
  benchmarks/bench_plot_lasso_path.py
  benchmarks/bench_plot_randomized_svd.py
  benchmarks/bench_plot_svd.py
  benchmarks/bench_rcv1_logreg_convergence.py
  pyproject.toml
  setup.cfg
  setup.py
  sklearn/calibration.py
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_spectral.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_iforest.py
  sklearn/kernel_approximation.py
  sklearn/kernel_ridge.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/manifold/_mds.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/metrics/tests/test_common.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/multiclass.py
  sklearn/naive_bayes.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_kde.py
  sklearn/neighbors/_regression.py
  sklearn/neural_network/_rbm.py
  sklearn/pipeline.py
  sklearn/preprocessing/_data.py
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_random_projection.py
Labels: No Changelog Needed

#20207 API Raises an error when a negative threshold is chosen in VarianceThreshold
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/_variance_threshold.py
  sklearn/feature_selection/tests/test_variance_threshold.py
Labels: module:feature_selection

#20263 DOC fix rendering docstring for the pinball loss
  sklearn/metrics/_regression.py
Labels: Documentation, module:metrics

#20257 CI Use newer version of sphinx and remove patch
  doc/conf.py
  sklearn/_min_dependencies.py
Labels: Build / CI

#20265 STY Minor style changes to prepare for black
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/preprocessing/_polynomial.py
Labels: module:linear_model, module:preprocessing

#20227 MNT Allow to only validate y in _validate_data
  sklearn/base.py
  sklearn/multiclass.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: No Changelog Needed, module:utils

#20203 TST add HalvingSearchCV to common test
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_successive_halving.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, module:model_selection

#19336 MNT Clean deprecations for 1.0 | trees
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/tree/_classes.py
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/tests/test_tree.py
Labels: No Changelog Needed, cython, module:ensemble, module:tree

#19692 ENH Adds n_features_in_ checking to multioutput
  sklearn/multioutput.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed

#20271 DOC do not mention freenode.net in README.rst
  README.rst
Labels: Documentation

#20204 TST common tests for n_features_in_ for model_selection module
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, module:model_selection

#20272 MNT deprecate n_features_ in trees in favor of n_features_in_
  doc/whats_new/v1.0.rst
  sklearn/tree/_classes.py
  sklearn/tree/_export.py
  sklearn/tree/tests/test_tree.py
Labels: module:tree

#20273 Remove unused line
  examples/decomposition/plot_pca_iris.py
Labels: No Changelog Needed

#20269 DOC Include video `3 Components of Reviewing PR` in Contribution Guide
  doc/developers/contributing.rst
Labels: Documentation

#20230 Set up matplotlib agg backend at the beginning of the tests
  doc/conftest.py
  doc/modules/partial_dependence.rst
  doc/modules/tree.rst
  doc/tutorial/statistical_inference/settings.rst
  doc/tutorial/statistical_inference/supervised_learning.rst
  sklearn/conftest.py
  sklearn/datasets/_base.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tree/_export.py
Labels: No Changelog Needed, module:metrics

#20289 STY Minor fix for black formatting
  sklearn/model_selection/_search_successive_halving.py
Labels: module:model_selection

#19507 EXA Set random_state=0 in AffinityPropagation example
  examples/cluster/plot_affinity_propagation.py
  examples/cluster/plot_cluster_comparison.py
Labels: Documentation

#20295 MAINT Adds target_version in black commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: No Changelog Needed

#20291 DOC Adds black information to contribution guide in stable
  doc/developers/contributing.rst
Labels: No Changelog Needed

#17750 DEP deprecates 'normalize' in _omp.py
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_omp.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:linear_model

#20299 MNT skip test_min_dependencies_readme on PyPy
  sklearn/tests/test_min_dependencies_readme.py
Labels: No Changelog Needed

#17769 MRG: Deprecate normalize in least_angle models
  doc/modules/linear_model.rst
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_lasso_model_selection.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:linear_model

#20239 Transforming correlation matrix to distance matrix before performing hierarchical clustering
  examples/inspection/plot_permutation_importance_multicollinear.py
Labels: No Changelog Needed

#19965 Add comments to clarify Spectral Clustering and spectral_embedding
  sklearn/cluster/_spectral.py
  sklearn/manifold/_spectral_embedding.py
Labels: module:cluster, module:manifold

#20021 DOC: Mention multi-output y for _alpha_grid
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#20078 DOC Update to code review guidelines
  doc/developers/contributing.rst
Labels: Documentation

#20298 STY Ensures that "flake8 ." works
  doc/conftest.py
  examples/applications/plot_face_recognition.py
  examples/applications/plot_out_of_core_classification.py
  examples/applications/svm_gui.py
  examples/applications/wikipedia_principal_eigenvector.py
  examples/calibration/plot_calibration_curve.py
  examples/cluster/plot_adjusted_for_chance_measures.py
  examples/cluster/plot_agglomerative_clustering_metrics.py
  examples/cluster/plot_digits_linkage.py
  examples/cluster/plot_kmeans_stability_low_dim_dense.py
  examples/compose/plot_column_transformer_mixed_types.py
  examples/datasets/plot_digits_last_image.py
  examples/decomposition/plot_faces_decomposition.py
  examples/decomposition/plot_ica_blind_source_separation.py
  examples/decomposition/plot_ica_vs_pca.py
  examples/decomposition/plot_image_denoising.py
  examples/decomposition/plot_pca_3d.py
  examples/ensemble/plot_adaboost_regression.py
  examples/ensemble/plot_gradient_boosting_regularization.py
  examples/feature_selection/plot_rfe_digits.py
  examples/gaussian_process/plot_gpc_isoprobability.py
  examples/gaussian_process/plot_gpr_noisy_targets.py
  examples/linear_model/plot_robust_fit.py
  examples/manifold/plot_swissroll.py
  examples/mixture/plot_concentration_prior.py
  examples/mixture/plot_gmm_covariances.py
  examples/model_selection/grid_search_text_feature_extraction.py
  examples/model_selection/plot_precision_recall.py
  examples/model_selection/plot_underfitting_overfitting.py
  examples/neighbors/plot_kde_1d.py
  examples/neighbors/plot_species_kde.py
  examples/preprocessing/plot_all_scaling.py
  examples/svm/plot_custom_kernel.py
  examples/svm/plot_rbf_parameters.py
  setup.cfg
  sklearn/preprocessing/_polynomial.py
Labels: module:preprocessing

#20280 DOC Fix docstring summary line in _rfe.py
  sklearn/feature_selection/_rfe.py
Labels: Documentation, No Changelog Needed, module:feature_selection

#20302 Remove unused variables in TfidfTransformer's transform method
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#19517 DOC Fix color palette in manifold example
  examples/manifold/plot_lle_digits.py
Labels: Documentation

#20303 MAINT Remove unused variables and fix imports indicated by lgtm.com
  sklearn/conftest.py
  sklearn/decomposition/_nmf.py
  sklearn/externals/_arff.py
  sklearn/utils/_testing.py
Labels: No Changelog Needed, module:decomposition, module:utils

#19966 EXA Fix issue in Statistical comparison of models using grid search
  examples/model_selection/plot_grid_search_stats.py
Labels: Documentation

#20200 More stable n_init runs for KMeans
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#20309 MAINT Adjusts pinv usage based on scipy version
  sklearn/cluster/tests/test_spectral.py
  sklearn/cross_decomposition/_pls.py
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: No Changelog Needed, module:cross_decomposition

#20325 TST Remove test for sparse matrices and minkowski
  sklearn/metrics/tests/test_pairwise.py
Labels: No Changelog Needed, module:metrics

#20321 MAINT/FIX rare random failures in stochastic optimizers tests
  sklearn/neural_network/tests/test_stochastic_optimizers.py
Labels: No Changelog Needed, module:neural_network, module:test-suite

#20330 TST Uses pytest.approx for floats in test_lml_precomputed
  sklearn/gaussian_process/tests/test_gpr.py
Labels: No Changelog Needed, module:gaussian_process

#20327 TST Ignore numpy warning until `np.unique` is fixed
  sklearn/datasets/tests/test_openml.py
Labels: No Changelog Needed, module:datasets

#20334 MAINT Skip unstable GPR tests on 32 bit Python
  sklearn/gaussian_process/tests/test_gpr.py
Labels: Build / CI, No Changelog Needed, module:gaussian_process, module:test-suite

#20336 DOC Add new triage team members and update funding
  doc/about.rst
  doc/themes/scikit-learn/static/img/czi_logo.svg
  doc/triage_team.rst
Labels: Documentation

#19952 EHN/DOC add reference and small optimizations for GPR
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: Documentation, No Changelog Needed, Waiting for Reviewer, module:gaussian_process

#20338 MNT more informative message for arm64 test failure
  sklearn/cross_decomposition/tests/test_pls.py
Labels: Build / CI, No Changelog Needed, module:cross_decomposition

#20347 MNT skip doctests if matplotlib is not installed
  sklearn/conftest.py
  sklearn/inspection/_plot/partial_dependence.py
Labels: Build / CI, module:inspection, module:test-suite

#20348 FIX make Cython class docstring consistant
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_dist_metrics.pyx
Labels: cython, module:linear_model, module:neighbors

#20339 [MRG] DOC Update broken Davis2006 reference link in Model Evaluation User Guide
  doc/modules/model_evaluation.rst
Labels: Documentation

#20352 [MRG] Fix incorrect parameter docstring in kneighbors_graph method
  sklearn/neighbors/_base.py
Labels: No Changelog Needed, module:neighbors

#20326 RMSLE (root mean squared log error)
  doc/whats_new/v1.0.rst
  sklearn/metrics/_regression.py
Labels: module:metrics

#16449 [MRG] Sample weights for ElasticNetCV
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: Waiting for Reviewer, module:linear_model

#20250 ENH add minimal degree support to PolynomialFeatures
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#20332 DOC Move to pass sponsors for Andy, Nicolas, and Thomas
  doc/about.rst
  doc/templates/index.html
Labels: Documentation

#20368 DOC Fixes numpydoc validation errors in StandardScalar
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#20367 DOC Specify the meaning of scoring=None in sklearn.metrics.check_scoring
  sklearn/metrics/_scorer.py
Labels: Documentation, module:metrics

#20370 DOC Ensures that LogisticRegression passes numpydoc validation
  maint_tools/test_docstrings.py
Labels: Documentation

#20372 DOC add new sponsorship information for amueller
  doc/about.rst
Labels: Documentation

#20377 DOC Ensures that KMeans passes numpydoc validation
  maint_tools/test_docstrings.py
Labels: Documentation

#20379 DOC Ensures that TfidfTransformer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#20382 Specify meaning of default value of various functions of sklearn.metrics.pairwise
  sklearn/metrics/pairwise.py
Labels: module:metrics

#20385 FIX deprecated properties correctly wraps the property's docstring
  doc/whats_new/v1.0.rst
  sklearn/utils/deprecation.py
  sklearn/utils/tests/test_deprecation.py
Labels: module:utils

#20374 DOC Ensures that AdaBoostClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#20409 DOC Ensures Lasso passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/base.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#20406 DOC Ensures that OneHotEncoder passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#20388 TST Remove `assert_warns_message` from `test_base` and `test_dummy`
  sklearn/tests/test_base.py
  sklearn/tests/test_dummy.py
Labels: No Changelog Needed

#17785 MRG: Deprecate 'normalize' in coordinate_descent
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
Labels: module:linear_model

#20373 DOC Fixes numpydoc validation errors in KNeighborsClassifier
  maint_tools/test_docstrings.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_classification.py
Labels: Documentation, module:neighbors

#20375 DOC ensures DBSCAN docstring passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#20376 DOC Ensures that LogisticRegressionCV passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model

#20381 DOC Ensures that ARDRegression passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/base.py
  sklearn/linear_model/_bayes.py
Labels: Documentation, module:linear_model

#20384 DOC Ensures BayesianGaussianMixture docstring passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/mixture/_base.py
  sklearn/mixture/_bayesian_mixture.py
Labels: Documentation, module:mixture

#20389 DOC Ensures that BayesianRidge passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_bayes.py
Labels: Documentation, module:linear_model

#20391 DOC Ensures that MinMaxScaler passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#20392 DOC adding parameters and returned values descriptions in decomposition/_pca.py and decomposition/_base.py
  maint_tools/test_docstrings.py
  sklearn/decomposition/_base.py
  sklearn/decomposition/_pca.py
Labels: Documentation, module:decomposition

#20398 DOC Add new sponsorship information for thomasjpfan
  doc/about.rst
  doc/images/quansight-labs-small.png
  doc/images/quansight-labs.png
  doc/templates/index.html
Labels: Documentation

#20410 FIX Uses code literals in deprecated to prevent linking
  doc/developers/contributing.rst
  sklearn/calibration.py
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_birch.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_spectral.py
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/cluster/tests/test_birch.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/cluster/tests/test_spectral.py
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/decomposition/tests/test_kernel_pca.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/kernel_ridge.py
  sklearn/manifold/_mds.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/tests/test_mds.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/model_selection/_search.py
  sklearn/multiclass.py
  sklearn/naive_bayes.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/pipeline.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/svm/_base.py
  sklearn/tests/test_kernel_ridge.py
  sklearn/tests/test_multiclass.py
  sklearn/tests/test_naive_bayes.py
Labels: No Changelog Needed

#20400 DOC Ensures that AdaBoostRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#20418 FIX sphinx warning on @deprecated n_features_ property
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: Documentation, No Changelog Needed, module:tree

#20417 MRG Remove the use of assert_warns and assert_warns_message from the tests
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_ranking.py
Labels: No Changelog Needed, module:metrics

#20393 DOC ensures GaussianProcessClassifier is passing numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/gaussian_process/_gpc.py
Labels: Documentation, No Changelog Needed, module:gaussian_process

#20401 DOC Ensures that RandomForestRegressor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/ensemble/_forest.py
Labels: Documentation, No Changelog Needed, module:ensemble

#20248 DOC add image denoising kPCA example
  examples/applications/plot_digits_denoising.py
Labels: Documentation, No Changelog Needed, Waiting for Reviewer

#20407 DOC Ensures that BaggingClassifier passes numpydoc validation #20377
  maint_tools/test_docstrings.py
  sklearn/ensemble/_bagging.py
Labels: Documentation, module:ensemble

#20390 DOC Ensures that LinearDiscriminantAnalysis passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/discriminant_analysis.py
Labels: Documentation

#20419 DOC Ensures that RFE passes numpydoc validation
  sklearn/feature_selection/_rfe.py
Labels: Documentation, module:feature_selection

#20404 DOC Ensures that Perceptron passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/linear_model/_perceptron.py
Labels: Documentation, module:linear_model

#20399 DOC Ensures DecisionTreeClassifier passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/tree/_classes.py
Labels: Documentation, module:tree

#20422 DOC Ensures that Binarizer passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:metrics, module:naive_bayes, module:preprocessing

#20432 DOC Update link for Yen-Chen Lin in about page
  doc/about.rst
Labels: Documentation

#20421 Replace assert_warns* with pytest context manager in sklearn/utilst/tests/*
  sklearn/utils/tests/test_deprecation.py
  sklearn/utils/tests/test_extmath.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/tests/test_utils.py
Labels: No Changelog Needed, module:utils
