Repository scikit-learn/scikit-learn, pull requests merged in 2021-12, with the labels that each got.

#21341 MNT Add validation of scalar parameters in Ridge
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#21617 [MRG] SimpleImputer skipped feature warning with feature names
  doc/whats_new/v1.1.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: Sprint, module:impute

#21760 DOC Ensures that load_iris passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/datasets/_base.py
Labels: Documentation, module:datasets

#21606 MNT Add validation for parameter `alphas` in `RidgeCV`
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#21849 CI Explicitly list out wheel builds in config [cd build gh]
  .github/workflows/wheels.yml
  build_tools/github/check_build_trigger.sh
  build_tools/github/check_wheels.py
  doc/developers/contributing.rst
Labels: Build / CI

#21853 TST Fix test to actually check writable and readable ndarrays
  sklearn/metrics/tests/test_dist_metrics.py
Labels: module:metrics, No Changelog Needed

#21232 BLD Build 3.10 wheel [cd build gh]
  .github/workflows/wheels.yml
  .travis.yml
Labels: To backport, No Changelog Needed

#21827 CI Build macOS arm wheels [cd build gh]
  .github/workflows/wheels.yml
  build_tools/github/build_wheels.sh
  sklearn/_build_utils/openmp_helpers.py
  sklearn/_build_utils/pre_build_helpers.py
Labels: Build / CI

#21845 FIX Fixes joblib memmap error for KDTree and BallTree
  doc/whats_new/v1.0.rst
  sklearn/_min_dependencies.py
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/tests/test_kd_tree.py
Labels: module:neighbors, cython

#21823 Accelerate `feature_selection/tests/test_sequential.py::test_nan_support`
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection, No Changelog Needed

#21666 [DOC] Speed up `plot_gradient_boosting_quantile.py` example
  examples/ensemble/plot_gradient_boosting_quantile.py
Labels: Documentation, Sprint

#21852 DOC Ensures that sklearn.metrics.cluster._unsupervised.silhouette_sco…
  maint_tools/test_docstrings.py
  sklearn/metrics/cluster/_unsupervised.py
Labels: Documentation, module:metrics

#21850 DOC Ensures that sklearn.metrics.cluster._unsupervised.davies_bouldin…
  maint_tools/test_docstrings.py
  sklearn/metrics/cluster/_unsupervised.py
Labels: Documentation, module:metrics

#21870 DOC: fix a wikipedia URL redirect
  sklearn/neighbors/_regression.py
Labels: Documentation, module:neighbors

#21833 FIX Make fetch_openml atomically cache the download
  doc/whats_new/v1.1.rst
  sklearn/datasets/_openml.py
Labels: module:datasets

#21900 DOC Fixes sphinx error and combines dataset module in whats new
  doc/whats_new/v1.1.rst
Labels: Documentation

#21899 MAINT make test_docstrings.py a regular test file
  build_tools/azure/posix.yml
  build_tools/azure/test_docstring.sh
  sklearn/tests/test_docstrings.py
Labels: Build / CI, No Changelog Needed

#21892 [MRG] Speed up test: warm_start_with_oob_score_fails
  sklearn/ensemble/tests/test_bagging.py
Labels: module:ensemble, No Changelog Needed

#21896 TST Trying to fix test_parallel_classification
  sklearn/ensemble/tests/test_bagging.py
Labels: module:ensemble, No Changelog Needed

#21562 [MRG] accelerate stacking-classifier in test_common.py::test_ensemble_heterogeneous_estimators_behavior
  sklearn/ensemble/tests/test_common.py
Labels: Sprint, module:ensemble, No Changelog Needed

#21910 DOC fix typos in sklearn.preprocessing._encoders
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#21903 EXA speed up ensemble/tests/test_gradient_boosting
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#21911 DOC Fix deprecation warning in plot_roc
  examples/model_selection/plot_roc.py
Labels: Documentation

#21917 FIX Fixes plot_tree from going out of bounds
  doc/whats_new/v1.0.rst
  examples/tree/plot_iris_dtc.py
  sklearn/tree/_export.py
Labels: module:tree

#21822 MNT Add extern to avoid build warning in _dbscan_inner.pyx
  sklearn/cluster/_dbscan_inner.pyx
Labels: module:cluster, cython

#21832 FIX TfidfVectorizer should not assign in __init__
  doc/whats_new/v1.1.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#21940 DOC Ensures that estimate_bandwidth passes numpydoc validation
  sklearn/cluster/_mean_shift.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#21546 TST Speed up slow test linear_model/tests/test_quantile.py::test_asymmetric_error
  sklearn/linear_model/tests/test_quantile.py
Labels: module:linear_model, No Changelog Needed

#21888 FIX Removes validation in __init__ for Pipeline
  doc/whats_new/v1.1.rst
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/tests/test_pipeline.py
Labels: Waiting for Reviewer, module:pipeline

#21950 CI Updates vmimage for macOS in azure pipelines
  azure-pipelines.yml
Labels: Build / CI

#21956 DOC Add ASV benchmark link to README
  README.rst
Labels: Documentation

#21966 DOC Add Juan Martín Loyola to the Triage Team
  doc/triage_team.rst
Labels: Documentation

#21565 FIX: spectral_embedding.py initial eigenvector approximations for LOBPCG and AMG solvers should be randn not rand
  doc/whats_new/v1.1.rst
  sklearn/manifold/_spectral_embedding.py
Labels: module:manifold

#21573 FIX Remove validation in FeatureHasher's __init__
  doc/whats_new/v1.1.rst
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/tests/test_common.py
Labels: Sprint, module:feature_extraction

#21972 DOC Fixed an error in plot_digits_last_image
  examples/datasets/plot_digits_last_image.py
Labels: Documentation

#21971 CI. Add more explicit message in Changelog workflow.
  .github/workflows/check-changelog.yml
Labels: Build / CI, Waiting for Reviewer

#21880 GridSearchCV and HalvingGridSearchCV remove validation from __init__ and set_params
  doc/whats_new/v1.1.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_search.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:model_selection

#21974 FIX Fix the error message when using precomputed affinity in AgglomerativeClustering
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster, No Changelog Needed

#21086 ENH support sparse data input for QuantileRegressor
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_quantile.py
  sklearn/linear_model/tests/test_quantile.py
Labels: module:linear_model, cython

#21989 CI Auto labels blank issuse with Needs Triage
  .github/workflows/label-blank-issue.yml
Labels: Build / CI

#21605 MNT Use check_scalar in AdaBoostRegressor
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: Waiting for Reviewer, Sprint, module:ensemble, No Changelog Needed

#22005 MNT Closes corrupted file correctly in test_fetch_openml_verify_checksum
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed

#21955 DOC Add interval notation for include_boundaries in documentation check_scalar
  sklearn/utils/validation.py
Labels: Documentation, module:utils

#18170 ENH make CalibratedClassifierCV accept on fit_params
  doc/whats_new/v1.1.rst
  sklearn/calibration.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_calibration.py
  sklearn/utils/_mocking.py
  sklearn/utils/tests/test_mocking.py
Labels: Waiting for Reviewer, module:utils

#16605 Add optional parameter to return raw data for diabetes dataset
  doc/modules/permutation_importance.rst
  doc/supervised_learning.rst
  doc/tutorial/statistical_inference/supervised_learning.rst
  doc/whats_new/v1.1.rst
  sklearn/datasets/_base.py
  sklearn/datasets/data/diabetes_data.csv.gz
  sklearn/datasets/data/diabetes_data_raw.csv.gz
  sklearn/datasets/descr/diabetes.rst
  sklearn/datasets/tests/test_base.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_weight_boosting.py
  sklearn/model_selection/_validation.py
Labels: module:datasets

#21952 DOC fix linear programming derivation comment in QuantileRegressor
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_quantile.py
Labels: Documentation, module:linear_model

#22013 DOC Update plot_partial_dependence.py
  examples/inspection/plot_partial_dependence.py
Labels: Documentation

#22019 DOC Ensures that mean_shift passes numpydoc validation
  sklearn/cluster/_mean_shift.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#22018 DOC Ensures that get_bin_seeds passes numpydoc validation
  sklearn/cluster/_mean_shift.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#17819 ENH add a parameter force_finite to r_regression and f_regression
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: module:feature_selection

#21851 DOC Ensures that silhouette_samples passes numpydoc
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22028 CI temporary force setuptools to use distutils from stdlib
  build_tools/azure/posix-docker.yml
Labels: Build / CI

#22032 DOC Correct wrong default value in check_scalar docstring
  sklearn/utils/validation.py
Labels: Documentation, module:utils

#21987 MAINT refactor heap routines into utils
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/tests/test_ball_tree.py
  sklearn/utils/_heap.pxd
  sklearn/utils/_heap.pyx
  sklearn/utils/setup.py
Labels: module:neighbors, module:utils, No Changelog Needed, cython

#22026 MAINT refactor ARFF parser
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed

#21408 [MRG] Expose `n_iter_` to BaseLibSVM
  doc/whats_new/v1.1.rst
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
  sklearn/svm/_libsvm.pxi
  sklearn/svm/_libsvm.pyx
  sklearn/svm/_libsvm_sparse.pyx
  sklearn/svm/src/libsvm/LIBSVM_CHANGES
  sklearn/svm/src/libsvm/libsvm_helper.c
  sklearn/svm/src/libsvm/libsvm_sparse_helper.c
  sklearn/svm/src/libsvm/svm.cpp
  sklearn/svm/src/libsvm/svm.h
  sklearn/svm/tests/test_svm.py
  sklearn/utils/estimator_checks.py
Labels: Sprint, module:svm, cython

#22049 CI temporary fix for setuptools and distutils in Windows
  azure-pipelines.yml
Labels: Build / CI

#21901 ENH Add a retry mechanism in fetch_openml
  doc/whats_new/v1.1.rst
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#22058 FIX correctly initialize precisions_cholesky_ in GaussianMixture
  doc/whats_new/v1.1.rst
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: module:mixture

#22045 ENH speed up test_unsupervised_model_fit
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection, No Changelog Needed

#21675 DOC svm add callable as accepted type for kernel parameter
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#22066 DOC Update cross_validation.rst
  doc/modules/cross_validation.rst
Labels: Documentation

#22067 DOC Update cross_validation.rst
  doc/modules/cross_validation.rst
Labels: Documentation

#22050 FIX Corrects negative gradient of AdaBoost loss in GBDT
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_gb_losses.py
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
Labels: module:ensemble

#21915 FIX Isomap with precomputed distances and disconnected graph
  doc/whats_new/v1.0.rst
  sklearn/manifold/_isomap.py
  sklearn/manifold/tests/test_isomap.py
  sklearn/utils/graph.py
  sklearn/utils/tests/test_graph.py
Labels: Waiting for Reviewer, module:manifold, module:utils

#22069 DOC Ensures randomized_range_finder passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#22051 CI Fixes wheel building
  .github/workflows/wheels.yml
  pyproject.toml
  sklearn/linear_model/tests/test_quantile.py
  sklearn/svm/tests/test_sparse.py
Labels: Build / CI, module:linear_model, module:svm, No Changelog Needed

#21991 FIX Improves feature names support for SelectFromModel + Est w/o names
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
Labels: Blocker, module:feature_selection

#20145 ENH Adds n_features_to_select upper limit to SeqFeatureSelector
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
  sklearn/tests/test_docstring_parameters.py
Labels: Waiting for Reviewer, module:feature_selection

#22070 DOC move fixes from 1.1 to 1.0.2
  doc/whats_new/v1.0.rst
  doc/whats_new/v1.1.rst
Labels: Documentation

#22072 DOC Move svm from 1.0.2 validating back into 1.1
  doc/whats_new/v1.0.rst
  doc/whats_new/v1.1.rst
Labels: Documentation

#22075 DOC Add airspeed benchmarks page link to the contributing docs
  doc/developers/contributing.rst
Labels: Documentation

#22002 ENH Preserving dtype for np.float32 in *DictionaryLearning, SparseCoder and orthogonal_mp_gram
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/tests/test_omp.py
Labels: module:decomposition

#22084 MNT move bunch to its own file
  sklearn/utils/__init__.py
  sklearn/utils/_bunch.py
Labels: module:utils, No Changelog Needed

#22077 MAINT Use push_back directly in dbscan_inner
  sklearn/cluster/_dbscan_inner.pyx
Labels: module:cluster, cython

#22097 DOC Update documentation of weight boosting estimators w/ranges
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#22106 ENH Pass only bootstrap to `_parallel_build_trees`
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_forest.py
Labels: module:ensemble
