Repository scikit-learn/scikit-learn, pull requests merged in 2021-02, with the labels that each got.

#19312 TST Filter out warning for pyamg using deprecated behavior
  sklearn/cluster/tests/test_spectral.py
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: Waiting for Reviewer, module:cluster, module:manifold

#18741 ENH Adds n_features_in_ checking in cross_decomposition
  sklearn/cross_decomposition/_pls.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:cross_decomposition

#19303 CI Check only title for regex labeling
  .github/labeler.yml
  .github/scripts/label_title_regex.py
  .github/workflows/labeler-title-regex.yml
Labels: Build / CI

#19309 DOC Balanced accuracy score adjusted doc fix
  sklearn/metrics/_classification.py
Labels: module:metrics

#19295 CI Skips test in loading_other_datasets.rst based on env flag
  doc/conftest.py
Labels: Build / CI

#19240 DOC fix ungrammatical sentence in doc of SelectFromModel
  doc/modules/feature_selection.rst
  sklearn/feature_selection/_from_model.py
Labels: Documentation, module:feature_selection

#19182 Fix sample_weight overwriting bug
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer, module:linear_model, module:utils

#18835 DOC use pipeline in example using RF, RT, GBDT for feature engineering
  examples/ensemble/plot_feature_transformation.py
Labels: Documentation

#19271 FIX nan bug in BaseLabelPropagation
  doc/whats_new/v1.0.rst
  sklearn/semi_supervised/_label_propagation.py
  sklearn/semi_supervised/tests/test_label_propagation.py
Labels: module:semi_supervised

#19249 DOC Updates css consistent admonition styling
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#19204 [MRG] Remove algorithm flag for PLS regression
  sklearn/cross_decomposition/_pls.py
Labels: module:cross_decomposition

#19159 Dictionary Learning: transform_alpha default equal to alpha
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: Waiting for Reviewer, module:decomposition

#18830 DOC use diagram and simplify pipeline in stacking example
  examples/ensemble/plot_stack_predictors.py
Labels: Documentation

#19330 CI Reduce parallelism for [cd build] and [arm64] on travis
  .travis.yml
Labels: Build / CI

#18433 [MRG] Ensure determinism of SVD output in dict_learning
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#19329 CI Update ICC install commands
  .travis.yml
  azure-pipelines.yml
  build_tools/azure/install.sh
  build_tools/azure/test_docs.sh
  build_tools/azure/test_script.sh
  build_tools/travis/install_main.sh
  doc/developers/advanced_installation.rst
Labels: Build / CI

#19328 Fix min_pos when all negative + speed up
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/tests/test_arrayfuncs.py
Labels: module:utils

#18886 [MRG] Use check_finite=False in sklearn.manifold
  sklearn/manifold/_spectral_embedding.py
Labels: Waiting for Reviewer, module:manifold

#19348 DOC cleaning typo in linear_model/_coordinate_descent.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#19342 ENH Checks n_features_in_ in discriminant_analysis
  sklearn/discriminant_analysis.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer

#19367 Added with context manager to if clauses in _monkey_patch
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#19368 DOC rename Birch to BIRCH in docs
  doc/modules/clustering.rst
  examples/cluster/plot_birch_vs_minibatchkmeans.py
  examples/cluster/plot_cluster_comparison.py
  sklearn/cluster/_birch.py
Labels: Documentation, module:cluster

#19371 MAINT replace assert_raises* by pytest.raise in model_selection/tests/test_search
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#19365 ENH Adds categories with missing values support to fetch_openml with as_frame=True
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/data/openml/42585/api-v1-json-data-42585.json.gz
  sklearn/datasets/tests/data/openml/42585/api-v1-json-data-features-42585.json.gz
  sklearn/datasets/tests/data/openml/42585/api-v1-json-data-qualities-42585.json.gz
  sklearn/datasets/tests/data/openml/42585/data-v1-download-21854866.arff.gz
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#18900 MNT simplify pyproject.toml by using oldest-supported-numpy
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Build / CI, Waiting for Reviewer

#19386 TST replace assert_raises* by pytest.raises in dummy module
  sklearn/cluster/_kmeans.py
  sklearn/tests/test_dummy.py
Labels: module:cluster

#19373 TST Suppress multiple active versions of dataset warnings in `test_openml.py`
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#19398 fix: correct a typo in _kmeans.py
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#19351 DOC Documents n_features_in_ in cross_decomposition
  sklearn/cross_decomposition/_pls.py
  sklearn/tests/test_docstring_parameters.py
Labels: Documentation, module:cross_decomposition

#19344 ENH Adds n_features_in_ checking to feature_selection
  sklearn/feature_selection/_base.py
  sklearn/tests/test_common.py
Labels: module:feature_selection

#19383 Fixes divide by zero error thrown by _random_choice_csc during a test…
  sklearn/utils/tests/test_random.py
Labels: module:utils

#19378 Mle pca implementation
  sklearn/decomposition/_pca.py
Labels: Waiting for Reviewer, module:decomposition

#19412 DOC Explicitly remove support for `precompute='auto'` for Lasso
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: Documentation, module:linear_model

#19407 Fix ValueError on HistGradientBoostingRegressor with least_absolute_deviation loss function fit call with sample_weight parameter
  doc/whats_new/v0.24.rst
  sklearn/ensemble/_hist_gradient_boosting/loss.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: To backport, module:ensemble

#19422 Consolidate _incremental_weighted_mean_and_var into _incremental_mean_and_var (Issue18573)
  sklearn/preprocessing/_data.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:preprocessing, module:utils

#19419 DOC Evaluating estimator performance - grammar fix
  doc/modules/cross_validation.rst
Labels: Documentation

#19350 DOC Better information about transductive and inductive cluster methods
  doc/modules/clustering.rst
Labels: Documentation

#19411 ENH Allow multiple scorers input to permutation_importance
  doc/modules/permutation_importance.rst
  doc/whats_new/v1.0.rst
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/tests/test_permutation_importance.py
Labels: module:inspection

#19425 TST replace assert_warns* by pytest.warns in ensemble/tests
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble

#19424 TST replace assert_warns* by pytest.warns in module svm/tests
  sklearn/svm/tests/test_sparse.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm

#19399 TST replace assert_raise_* by pytest.raises in ensemble module
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_base.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#19396 FIX RuntimeWarning by dividing by zero in test_kernel_gradient
  sklearn/gaussian_process/kernels.py
Labels: module:gaussian_process

#19341 ENH Checks n_features_in_ in covariance
  sklearn/covariance/_elliptic_envelope.py
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/tests/test_covariance.py
  sklearn/neighbors/_kde.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:covariance

#19402 TST Fixes test for 32bit wheels
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:inspection, module:linear_model

#19374 Converted output to int64 in sklearn/random_projection.py
  sklearn/random_projection.py
  sklearn/tests/test_random_projection.py
Labels: Waiting for Reviewer

#19401 Fix: CountVectorizer does not check for lowercase in vocabulary
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#19048 TST Fixes docstring ordering and test_docstring_parameters
  sklearn/compose/_column_transformer.py
  sklearn/covariance/_robust_covariance.py
  sklearn/covariance/_shrunk_covariance.py
  sklearn/cross_decomposition/_pls.py
  sklearn/decomposition/_dict_learning.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/feature_selection/_sequential.py
  sklearn/linear_model/_glm/glm.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/model_selection/_search.py
  sklearn/preprocessing/_data.py
  sklearn/semi_supervised/_self_training.py
  sklearn/tests/test_docstring_parameters.py
Labels: Documentation

#19395 Fix: RuntimeWarning by dividing by zero in test_radius_neighbors_classifier_zero_distance
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#19440 TST replace assert_raise_* by pytest.raises in linear_model module #19399
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_passive_aggressive.py
  sklearn/linear_model/tests/test_perceptron.py
  sklearn/linear_model/tests/test_ransac.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model

#19444 DOC oob_score is only available when bootstrap=True
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
Labels: module:ensemble

#19463 DOC update copyright year forever
  doc/conf.py
Labels: Documentation

#19417 FIX Gives a unique id to html visualization
  doc/whats_new/v0.24.rst
  sklearn/utils/_estimator_html_repr.py
Labels: module:utils

#19476 DOC Fix closing backtick in IterativeImputer
  sklearn/impute/_iterative.py
Labels: Documentation, module:impute

#19477 DOC Remove extra word from LOF docstring
  sklearn/neighbors/_lof.py
Labels: module:neighbors

#19439 TST Fix assert_warns in feature_extraction/tests/ module
  sklearn/feature_extraction/tests/test_text.py
Labels: module:feature_extraction

#19437 TST Replace the use of assert_warns messages in cluster/tests/ module
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/cluster/tests/test_birch.py
  sklearn/cluster/tests/test_feature_agglomeration.py
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster

#19462 DOC clarify that n_iter_no_change is not just for early-stopping for SGD
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#19434 DOC update whats new 0.24 for backport
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
Labels: Documentation

#19415 ENH Add mean_pinball_loss metric for quantile regression
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.0.rst
  examples/ensemble/plot_gradient_boosting_quantile.py
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
  sklearn/metrics/__init__.py
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
Labels: Waiting for Reviewer, module:ensemble, module:metrics

#19472 Fix underflow issues due to float precision
  doc/whats_new/v1.0.rst
  sklearn/manifold/_utils.pyx
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold

#19493 enet_path docstring: fix sub/superscript swap
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#19458 TST replace assert_warns* by pytest.warns in model_selection/tests
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#19480 FIX RuntimeWarning by dividing by zero in test_sanity_check_pls_regression_constant_column_Y
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition

#19511 DOC Fixed typos in documentation
  sklearn/inspection/_permutation_importance.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection

#19503 TST Improve ridge solver consistency tests
  sklearn/linear_model/tests/test_ridge.py
Labels: Waiting for Reviewer, module:linear_model, module:test-suite

#19388 TST replace assert_raise_* by pytest.raises in neighbors module
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/cluster/tests/test_mean_shift.py
  sklearn/cluster/tests/test_optics.py
  sklearn/neighbors/tests/test_dist_metrics.py
  sklearn/neighbors/tests/test_kde.py
  sklearn/neighbors/tests/test_lof.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/neighbors/tests/test_nearest_centroid.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, module:neighbors

#19426 MRG fix Normalize for linear models when used with sample_weight
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#19326 ENH Adds n_features_in_ to ensemble module
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/tests/test_common.py
Labels: module:ensemble

#19525 CI Fixes twitter workflow
  .github/workflows/twitter.yml
Labels: Build / CI

#19461 MNT Set non-interactive installation mode for the pypy job
  .circleci/config.yml
  sklearn/gaussian_process/tests/test_kernels.py
Labels: module:gaussian_process

#19485 ENH Adds n_features_in_ to naive_bayes
  sklearn/naive_bayes.py
  sklearn/tests/test_common.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes

#19155 CI Add workflow to check Changelog entry.
  .github/workflows/check-changelog.yml
Labels: Build / CI, No Changelog Needed

#19534 TST Does not use cache in openml test
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets

#19069 ENH Adds nan passthrough in OrdinalEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#19527 Prevent scalers to scale near-constant features very large values
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:linear_model, module:preprocessing

#19510 Use pytest instead of assert_warns/assert_no_warnings in sklearn/semi_supervised/tests.
  sklearn/semi_supervised/tests/test_label_propagation.py
Labels: module:semi_supervised

#19545 [CI] Add trigging events to check-changelog workflow.
  .github/workflows/check-changelog.yml
Labels: Build / CI

#19539 TST Enables isotonic and manifold in test_check_n_features_in_after_fitting
  sklearn/tests/test_common.py
Labels: No Changelog Needed, module:test-suite

#19557 DOC Update calibration.rst
  doc/modules/calibration.rst
Labels: Documentation

#19542 ENH Enables common test for bicluster estimators
  sklearn/cluster/_bicluster.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, module:cluster, module:test-suite

#19561 DOC Fix documentation on pickle portability
  doc/modules/model_persistence.rst
Labels: Documentation

#19577 FIX bug in SplineTransformer.n_features_out_
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#19492 TST replace asert_warns by pytest.warns in compose/tests
  sklearn/compose/tests/test_target.py
  sklearn/neighbors/tests/test_nearest_centroid.py
Labels: No Changelog Needed, Waiting for Reviewer, module:compose, module:neighbors

#19579 FIX Do not call get_feature_names for empty column selections
  doc/whats_new/v0.24.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose
