Repository scikit-learn/scikit-learn, pull requests merged in 2021-10, with the labels that each got.

#21208 DOC Ensures that PLSRegression passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#21220 DOC Fix header formatting in 1.0.1 docs
  doc/whats_new/v1.0.rst
Labels: Documentation

#21051 MAINT Codespell configuration
  build_tools/codespell_ignore_words.txt
  setup.cfg
Labels: Build / CI, cython

#21233 DOC Ensures that PatchExtractor passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#21239 DOC Ensures that PolynomialFeatures passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/preprocessing/_polynomial.py
Labels: Documentation, module:preprocessing

#21216 FIX Do not use deprecated API in fetch_20newsgroups_vectorized
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/utils/tests/test_validation.py
Labels: module:datasets, No Changelog Needed

#21195 FIX Improve best run detection in kmeans when n_init > 1
  doc/whats_new/v1.0.rst
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, cython

#21026 Raise an error when all fits fail in cross-validation or grid-search
  doc/whats_new/v1.1.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#21241 Update Twitter in Community Section
  doc/templates/index.html
Labels: To backport

#21234 MAINT chmod ±x
  build_tools/github/build_minimal_windows_image.sh
  build_tools/github/build_source.sh
  build_tools/github/build_wheels.sh
  build_tools/github/check_build_trigger.sh
  build_tools/github/repair_windows_wheels.sh
  build_tools/github/test_source.sh
  build_tools/github/test_wheels.sh
  build_tools/github/test_windows_wheels.sh
  build_tools/github/upload_anaconda.sh
  build_tools/travis/install.sh
  build_tools/travis/install_wheels.sh
  build_tools/travis/script.sh
  build_tools/travis/test_wheels.sh
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_dist_metrics.pyx
Labels: module:neighbors, cython

#21130 FIX out of bound error in split_indices
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: Bug, module:ensemble, cython

#21253 DOC Remove unused import from example
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#21509 DOC Missing apostrophe in _ridge gcv_mode parameter
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#21510 DOC SGDOneClassSVM docs like SGD classifier and SGD regressor
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#21500 MNT Finalize the change of the default `init` of NMF
  examples/decomposition/plot_faces_decomposition.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
Labels: module:decomposition, module:utils, No Changelog Needed

#21493 FIX Escape `name_details` and add missing =
  doc/whats_new/v1.0.rst
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:utils

#21470 DOC Ensures that sklearn.metrics.pairwise.linear_kernel passes numpydoc validation
  maint_tools/test_docstrings.py
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics
