Repository scikit-learn/scikit-learn, pull requests merged in 2021-04, with the labels that each got.

#19768 TST Changes assert to pytest style in tests/test_naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: No Changelog Needed, module:naive_bayes, module:test-suite

#19734 ENH more efficient _num_combinations calculation in PolynomialFeatures
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#19809 FIX Approximate nearest neighbors in TSNE example
  examples/neighbors/approximate_nearest_neighbors.py
Labels: No Changelog Needed

#18393 ENH Record output of transformers in ColumnTransformer
  doc/whats_new/v1.0.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: Enhancement, module:compose

#19815 DOC Adds version added to output_indices_ in ColumnTransformer
  sklearn/compose/_column_transformer.py
Labels: Documentation, module:compose

#19819 DOC Use the canonical Wikipedia link
  sklearn/neighbors/_unsupervised.py
Labels: Documentation, module:neighbors

#19822 DOC Fix order of whatsnew entries
  doc/whats_new/v1.0.rst
Labels: Documentation

#19790 API Adds predict_params for Pipeline proba delegates
  doc/whats_new/v1.0.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#18328 FIX Ignore zero sample weights in precision recall curve
  doc/whats_new/v1.0.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
  sklearn/utils/validation.py
Labels: module:metrics, module:utils

#19793 MAINT Improve Nearest Neighbor documentation + code consistency
  sklearn/neighbors/_base.py
Labels: module:neighbors

#19823 [DOC] Add APHP to the Consortium sponsors.
  doc/about.rst
  doc/images/logo_APHP.png
  doc/images/logo_APHP_text.png
  doc/templates/index.html
Labels: Documentation

#17772 DEP Deprecate 'normalize' in ridge models
  doc/whats_new/v1.0.rst
  examples/linear_model/plot_huber_vs_ridge.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_glm/tests/test_glm.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_common.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#19840 CI Fix string comparison in check milestone workflow
  .github/workflows/check-milestone.yml
Labels: Bug, Build / CI

#19843 CI Removes check milestone workflow
  .github/workflows/check-milestone.yml
Labels: Build / CI

#19814 TST Fixes test_partial_fit_oneclass
  sklearn/linear_model/tests/test_sgd.py
Labels: No Changelog Needed, module:linear_model

#19363 DOC Fix incorrect 0-1 scaling in the RBM example
  examples/neural_networks/plot_rbm_logistic_classification.py
Labels: Documentation, module:neural_network

#19755 TST Add a test for meta-estimators with non tabular data
  sklearn/tests/test_metaestimators.py
Labels: No Changelog Needed, module:utils

#19473 ENH Improve the creation of KDTree and BallTree on their worst-case time complexity
  doc/whats_new/v1.0.rst
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_partition_nodes.pxd
  sklearn/neighbors/_partition_nodes.pyx
  sklearn/neighbors/setup.py
Labels: Performance, Waiting for Reviewer, module:neighbors

#18459 FIX Let ColumnTransformer.get_feature_names handle transformers with non-string feature names
  doc/whats_new/v1.0.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#14622 TST Remove redundant max iter in sklearn/linear_model/tests
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_huber.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_passive_aggressive.py
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
Labels: No Changelog Needed, module:linear_model

#19595 DOC Update attribute docstrings in _multilayer_perceptron.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation, module:neural_network

#16562 DOC Fix versionchanged in OneHotEncoder
  sklearn/preprocessing/_encoders.py
Labels: No Changelog Needed, module:preprocessing

#19776 DOC Make explicit that cross_val* functions uses unshuffled KFold CV
  sklearn/ensemble/_stacking.py
  sklearn/feature_selection/_sequential.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/_validation.py
Labels: Documentation, module:ensemble, module:feature_selection, module:model_selection

#19564 ENH Adds final_estimator in html repr for Stacking*
  doc/whats_new/v1.0.rst
  sklearn/ensemble/_stacking.py
Labels: module:ensemble

#19845 TST Changes assert to pytest style in tests/test_config.py and tests/test_kernel_approximation.py
  sklearn/tests/test_config.py
  sklearn/tests/test_kernel_approximation.py
Labels: No Changelog Needed

#19406 TST replace assert_raises by pytest.raises in test_least_angle, test_omp, test_test_theil_sen
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/linear_model/tests/test_theil_sen.py
Labels: No Changelog Needed, module:linear_model

#19846 TST Changes assert to pytest style in tests/test_random_projection.py
  sklearn/tests/test_random_projection.py
Labels: No Changelog Needed

#19308 FIX MultiOutputRegressor correctly ducktypes fitted estimators
  doc/whats_new/v0.24.rst
  sklearn/multioutput.py
  sklearn/tests/test_multioutput.py
Labels: Bug, To backport

#19852 FIX missing space in import in svm/_base.py
  sklearn/svm/_base.py
Labels: module:svm

#18898 FIX allows TransformedTargetRegressor to take nD target
  doc/whats_new/v1.0.rst
  sklearn/compose/_target.py
  sklearn/compose/tests/test_target.py
Labels: Waiting for Reviewer, module:compose

#19863 DOC Fixed typo in clustering.rst
  doc/modules/clustering.rst
Labels: Documentation

#19847 FIX BaseSuccessiveHalving class groups support
  doc/whats_new/v1.0.rst
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_successive_halving.py
Labels: module:model_selection

#19687 CLN Improve doc/error consistency for GaussianProcessRegressor
  sklearn/gaussian_process/_gpr.py
Labels: Documentation, module:gaussian_process

#19867 DOC Fix typo in common_pitfalls.rst
  doc/common_pitfalls.rst
Labels: Documentation

#19871 DOC Fix typos plot_column_transformer_mixed_types.py
  examples/compose/plot_column_transformer_mixed_types.py
Labels: Documentation

#19876 DOC make documentation consistent regarding types in _encoders.py
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#19879 FIX Error for sparse matrix in OrdinalEncoder.inverse_transform
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#19850 CI Add label on PRs modifying Cython code
  .github/labeler-file-extensions.yml
  .github/workflows/labeler-module.yml
Labels: Build / CI

#19864 TST Changes assert to pytest style in tests/test_isotonic.py
  sklearn/tests/test_isotonic.py
Labels: No Changelog Needed

#19795 DOC Clarify documentation for spectral clustering
  sklearn/cluster/_spectral.py
Labels: Documentation, module:cluster

#19211 FIX Fix properly convert cv_results_ values to numpy array
  doc/whats_new/v0.24.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_successive_halving.py
Labels: Waiting for Reviewer, module:model_selection

#19788 [MRG] Fix near constant feature detection in StandardScaler and linear models
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_base.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/extmath.py
  sklearn/utils/sparsefuncs_fast.pyx
Labels: Bug, cython, module:linear_model, module:preprocessing, module:utils

#19883 MNT Use const memory views in DistanceMetric subclasses
  doc/whats_new/v1.0.rst
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/neighbors/_dist_metrics.pxd
  sklearn/neighbors/_dist_metrics.pyx
  sklearn/neighbors/tests/test_dist_metrics.py
Labels: cython, module:cluster, module:neighbors

#17622 ENH Scalable MiniBatchKMeans plus cln / fixes / refactoring
  doc/whats_new/v1.0.rst
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_k_means_minibatch.pyx
  sklearn/cluster/_kmeans.py
  sklearn/cluster/setup.py
  sklearn/cluster/tests/test_k_means.py
Labels: Bug, Performance, cython, module:cluster

#19198 DictionaryLearning: Fix several issues in the dict update
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: Waiting for Reviewer, module:decomposition

#19904 DOC Adds consistence in docs for univariate selection metrics
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#19366 DOC Fix the description of some features in load_diabetes
  sklearn/datasets/_base.py
  sklearn/datasets/descr/diabetes.rst
Labels: Documentation, module:datasets

#19861 DOC add FAQ entry for the many linear model classes
  doc/faq.rst
Labels: Documentation

#19917 DOC Fixes links in outlier_detection.html
  doc/modules/outlier_detection.rst
Labels: Documentation

#19888 FIX Fixes unknown handling for str dtypes in OrdinalEncoder.transform
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: To backport, module:preprocessing

#19796 MAINT Clean up code in FastICA
  sklearn/decomposition/_fastica.py
Labels: module:decomposition

#19818 Doc fix early stopping
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network, module:preprocessing

#19921 [DOC] Use math mode in r2_score function
  sklearn/metrics/_regression.py
Labels: Documentation, module:metrics

#19826 MAINT Vendors packaging/version.py for pep440 versioning
  setup.py
  sklearn/externals/_packaging/__init__.py
  sklearn/externals/_packaging/_structures.py
  sklearn/externals/_packaging/version.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/setup.py
  sklearn/utils/fixes.py
Labels: No Changelog Needed, module:utils

#19925 DOC Fixes typo in doc/modules/cross_validation.rst
  doc/modules/cross_validation.rst
Labels: Documentation

#19893 [MRG] MAINT Remove `get_memview_*` helpers in `neighbours.BinaryTree`
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_dist_metrics.pyx
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/tests/test_lof.py
Labels: No Changelog Needed, cython, module:neighbors

#19919 DOC improve learning-rate AdaBoost estimator
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#19933 FIX Fixes memoryview bug in DistanceMetric
  sklearn/neighbors/_dist_metrics.pxd
Labels: cython, module:neighbors

#19934 KBinsDiscretizer efficiency improvement to 'kmeans' strategy
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_discretization.py
Labels: module:preprocessing

#19937 DOC Remove misleading "linear kernel" statements
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#19732 FIX a bug in KernelPCA.inverse_transform
  doc/whats_new/v0.24.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: Bug, module:decomposition

#19910 ENH Enrich docstring on `inverse_transform` of `KernelPCA`
  sklearn/decomposition/_kernel_pca.py
Labels: module:decomposition

#19924 FIX OneHotEncoder.fit no longer alters the drop parameter
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#17169 [MRG] Refactor `feature_selection.f_regression` and introduce `feature_selection.r_regression`
  doc/modules/classes.rst
  doc/whats_new/v1.0.rst
  sklearn/feature_selection/__init__.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: Enhancement, Waiting for Reviewer, module:feature_selection

#19703 Prevent division by zero in GPR when y_train is constant
  doc/whats_new/v0.24.rst
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: Bug, Regression, Waiting for Reviewer, module:gaussian_process

#19727 FIX Encoder should accept categories having dtype='S'
  doc/whats_new/v0.24.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/_encode.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: To backport, module:preprocessing, module:utils

#19646 FIX Fixes regression in CCA
  doc/whats_new/v0.24.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: Blocker, Waiting for Reviewer, module:cross_decomposition

#19961 MAINT Remove tests for metric configuration ignoring pos_label
  sklearn/metrics/tests/test_common.py
Labels: No Changelog Needed, module:metrics

#19922 FIX Fixes PLSRegression regression for constant Yk
  doc/whats_new/v0.24.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition

#19721 [MRG] FIX top_k_accuracy_score ignoring labels for "multiclass" case
  doc/whats_new/v0.24.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: To backport, module:metrics

#19968 CI Fixes MAC ar build error
  build_tools/azure/install.sh
Labels: Build / CI

#19988 DOC Lowers precision for LinearRegression's doctest
  sklearn/linear_model/_base.py
Labels: Documentation, module:linear_model

#19983 TST Changes assert to pytest style in /mixture/tests
  sklearn/mixture/tests/test_bayesian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: No Changelog Needed, module:mixture

#19491 ENH Improve initialization and learning rate in t-SNE
  doc/modules/manifold.rst
  doc/whats_new/v1.0.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
Labels: Enhancement, Waiting for Reviewer, module:manifold

#19991 DOC: add import in binary tree class examples
  sklearn/neighbors/_binary_tree.pxi
Labels: Documentation, cython, module:neighbors

#19982 FIX support multiple str/single category with dense DictVectorizer
  doc/whats_new/v0.24.rst
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
Labels: module:feature_extraction

#19989 Remove the unused import of csc_matrix
  sklearn/tree/_tree.pyx
Labels: No Changelog Needed, cython, module:tree

#19992 DOC Retroactive changed model entry
  doc/whats_new/v0.24.rst
Labels: Documentation, To backport

#12069 [MRG after #12145] Add "Randomized SVD" solver option to KernelPCA for faster partial decompositions, like in PCA
  benchmarks/bench_kernel_pca_solvers_time_vs_n_components.py
  benchmarks/bench_kernel_pca_solvers_time_vs_n_samples.py
  doc/modules/decomposition.rst
  doc/whats_new/v1.0.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: New Feature, Waiting for Reviewer, module:decomposition, module:manifold

#19901 ENH improve KernelCenterer documentation and tests
  doc/modules/preprocessing.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: No Changelog Needed, module:preprocessing

#19939 FIX Use cho_solve when return_std=True for GaussianProcessRegressor
  doc/whats_new/v0.24.rst
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: Bug, To backport, module:gaussian_process

#17746 DEP Deprecates 'normalize' in _bayes.py
  doc/whats_new/v1.0.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
  sklearn/linear_model/tests/test_common.py
Labels: module:linear_model

#19997 DOC correct the orders of the x labels
  examples/impute/plot_missing_values.py
Labels: Documentation

#19263 ENH Makes ColumnTransformer more flexible by only checking for non-dropped columns
  doc/modules/compose.rst
  doc/whats_new/v1.0.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#20009 DOC Fix typo on comment about t-SNE
  doc/modules/manifold.rst
Labels: Documentation

#20008 CLN Fix _add_node parameter name
  sklearn/tree/_tree.pxd
Labels: cython, module:tree
