Repository scikit-learn/scikit-learn, pull requests merged in 2022-01, with the labels that each got.

#21889 DOC Multioutput classifier example loc change
  doc/modules/multiclass.rst
Labels: Documentation

#22116 DOC Fix a default value in Perceptron documentation
  sklearn/linear_model/_perceptron.py
Labels: Documentation, module:linear_model

#22086 DOC Update learning_curve.rst
  doc/modules/learning_curve.rst
Labels: Documentation

#22109 CI Use conda-forge's openmp in osx to build wheels
  build_tools/github/build_wheels.sh
Labels: Build / CI

#22119 ENH Adds get_feature_names_out for cross_decomposition
  doc/whats_new/v1.1.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/tests/test_common.py
Labels: module:cross_decomposition

#22047 DOC Clarifies the mailing list entry on the main page
  doc/templates/index.html
Labels: Documentation

#22123 DOC Add Flower to related projects
  doc/related_projects.rst
Labels: Documentation

#22122 CI Stop building 32 bit linux wheels [cd build]
  .github/workflows/wheels.yml
Labels: Build / CI

#17266 ENH add force_finite to control the behaviour of constant target in explained variance and R2
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.1.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics

#22064 MAINT Introduce Pairwise Distances Reductions private submodule
  sklearn/_config.py
  sklearn/metrics/_dist_metrics.pxd
  sklearn/metrics/_dist_metrics.pyx
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/setup.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/tests/test_config.py
  sklearn/utils/_openmp_helpers.pxd
  sklearn/utils/_openmp_helpers.pyx
Labels: module:metrics, module:utils, No Changelog Needed, cython

#22108 FIX Support integers in silhouette_score for precomputed distances
  doc/whats_new/v1.1.rst
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/cluster/tests/test_unsupervised.py
Labels: module:metrics

#22129 DOC Update TC members in governance doc
  doc/governance.rst
Labels: Documentation

#22062 MAINT rename base_estimator to estimator in RANSACRegressor
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/tests/test_ransac.py
Labels: module:linear_model

#22073 DOC Clarify cosine metric in neighbors & manifold t-sne docstring
  doc/modules/neighbors.rst
  sklearn/manifold/_t_sne.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/_unsupervised.py
Labels: Documentation, module:neighbors

#22144 TST Assert error messages for AdaBoost estimators
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble, No Changelog Needed

#21881 [MRG] MNT use check_scalar to validate scalar in SpectralClustering
  doc/whats_new/v1.1.rst
  sklearn/cluster/_spectral.py
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster

#22147 DOC Fix sphinx warnings related to example reformatting.
  examples/calibration/plot_calibration_curve.py
  examples/decomposition/plot_kernel_pca.py
Labels: Documentation

#22167 CI Fix misleading info in pylatest_pip_openblas_pandas build
  azure-pipelines.yml
Labels: Build / CI

#22140 DOC Ensures that nan_euclidean_distances passes numpydoc
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22139 DOC Ensures that manhattan_distances passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22184 DOC Fix doc by adding a missing closing parenthesis in _gpr.py
  sklearn/gaussian_process/_gpr.py
Labels: Documentation, module:gaussian_process

#22181 ENH Allow n_components == min(n_samples, n_features) in TruncatedSVD
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/tests/test_truncated_svd.py
Labels: Waiting for Reviewer, module:decomposition

#22190 DOC Edit check_estimator docstring
  sklearn/utils/estimator_checks.py
Labels: Documentation, module:utils

#20811 ENH Replace loss module HGBT
  doc/whats_new/v1.1.rst
  sklearn/_loss/loss.py
  sklearn/_loss/tests/test_loss.py
  sklearn/ensemble/_hist_gradient_boosting/_loss.pyx
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/loss.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_loss.py
  sklearn/ensemble/setup.py
Labels: Waiting for Reviewer, High Priority, module:ensemble, cython

#22192 CI Removes build directory from cache
  .circleci/config.yml
Labels: Build / CI

#22146 DOC Remove Chiara from Consortium funded staff.
  doc/about.rst
Labels: Documentation

#22168 CI: improve installed libraries listing
  build_tools/azure/install.sh
  build_tools/azure/test_script.sh
  build_tools/shared.sh
Labels: Build / CI

#21724 FIX Fix warning for ElasticNetCV l1_ratio=0
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: Waiting for Reviewer, module:linear_model, cython

#22183 DOC Ensures that make_column_transformer passes numpydoc
  sklearn/compose/_column_transformer.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:compose, No Changelog Needed

#22159 ENH force_all_finite=False before calling _raw_predict
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_gb.py
Labels: module:ensemble

#22065 MAINT Introduce FastEuclideanPairwiseArgKmin
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/utils/__init__.py
  sklearn/utils/_testing.py
Labels: module:metrics, module:utils, No Changelog Needed, cython

#22200 DOC Ensures that kmeans_plusplus passes numpydoc validation
  sklearn/cluster/_kmeans.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#22202 DOC Ensures that cluster_optics_xi passes numpydoc validation
  sklearn/cluster/_optics.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#22115 DOC adding valid intervals for SGDClassifier class parameters
  doc/glossary.rst
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#22203 ENH Expose matthews_corrcoef as a scorer
  doc/whats_new/v1.1.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#22206 ENH Speed up QuantileRegressor
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_quantile.py
Labels: Waiting for Reviewer, Performance, module:linear_model

#22213 MAINT Increase ccache hit rate on Azure Pipelines
  build_tools/azure/install.sh
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
Labels: module:cluster, cython

#22143 MNT Fixes Cython compile error on upstream
  sklearn/utils/_fast_dict.pyx
Labels: Waiting for Reviewer, module:utils, No Changelog Needed, cython, Quick Review

#22141 DOC Ensures that sklearn.metrics.pairwise.paired_cosine_distances passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#22238 DOC Add documentation on output shape of LDA.transform
  sklearn/discriminant_analysis.py
Labels: Documentation

#22224 DOC Add example of using drop for Voting*
  sklearn/ensemble/_voting.py
Labels: Documentation, module:ensemble, Quick Review

#22150 ENH Check for nonfinite in mlp models
  doc/whats_new/v1.1.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network

#22148 ENH Check for nonfinite coordinate descent
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#21837 [MRG] chi2: reduce memory footprint
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_univariate_selection.py
Labels: Performance, module:feature_selection

#22212 ENH Adds get_feature_names_out to neighbors module
  doc/whats_new/v1.1.rst
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_nca.py
  sklearn/neighbors/tests/test_graph.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/tests/test_common.py
Labels: module:neighbors

#22235 ENH Improve efficiency of chi2 by converting the input to float first
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_univariate_selection.py
Labels: module:feature_selection

#22263 MNT Adds render to bug report version as a codeblock
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Quick Review

#22264 FIX typo in .github/workflows/check-changelog.yml
  .github/workflows/check-changelog.yml
Labels: Build / CI, Quick Review

#22205 DOC Ensures that compute_optics_graph passes numpydoc validation
  sklearn/cluster/_optics.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#21978 DOC Updated documentation to show jaccard score usage for image comparison
  doc/modules/model_evaluation.rst
  sklearn/metrics/_classification.py
Labels: Documentation, Waiting for Reviewer, module:metrics

#22149 ENH Check for nonfinite dual gap estimation
  doc/whats_new/v1.1.rst
  sklearn/svm/_base.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm

#22240 MNT Add validation for parameters in `ElasticNet`
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#22241 FIX Fallback to ball_tree using minkowski with w for kd_tree
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Build / CI, Waiting for Reviewer, module:neighbors, No Changelog Needed

#22225 DOC Ensures that fetch_rcv1 passes numpydoc validation
  sklearn/datasets/_rcv1.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22247 DOC Ensures that load_boston passes numpydoc validation
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22278 DOC Fix incorrect heading underline length in docstrings
  sklearn/calibration.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/linear_model/_glm/glm.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/pairwise.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/neighbors/_lof.py
  sklearn/utils/validation.py
Labels: Documentation

#22259 DOC Ensures that get_data_home passes numpydoc validation
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22251 MAINT Indicate Python 3.10 compatibility in `README.rst` and `setup.py`
  README.rst
  setup.py
Labels: Documentation

#21946 MAINT Use check_scalar to validate scalar in: GeneralizedLinearRegressor
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_glm/tests/test_glm.py
Labels: module:linear_model, No Changelog Needed

#22024 DOC improve docstring in OPTICS functions
  sklearn/cluster/_optics.py
Labels: Documentation, module:cluster, No Changelog Needed

#22155 [MRG] DOC Update documentation of weight boosting estimators w/ ranges
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#22281 TST Add some tests parametrization for test_neighbors
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, module:neighbors, No Changelog Needed

#21990 MAINT Use check_scalar in BaseDecisionTree
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: module:tree, No Changelog Needed

#22286 MAINT pin max numpydoc for now
  build_tools/azure/install.sh
Labels: Build / CI, Quick Review

#21592 MNT change and deprecate square_distances in TSNE
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
Labels: module:manifold, No Changelog Needed

#22027 ENH added consistency checks for args of check_scalar function
  doc/whats_new/v1.1.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#22191 FIX poisson proxy_impurity_improvement
  doc/whats_new/v1.1.rst
  sklearn/ensemble/tests/test_forest.py
  sklearn/tree/_criterion.pyx
  sklearn/tree/tests/test_tree.py
Labels: Bug, Waiting for Reviewer, module:tree, cython

#22304 DOC fix cache argument documentation in fetch_openml
  sklearn/datasets/_openml.py
Labels: Documentation, module:datasets

#22302 MAINT Fix check_scalar error in trees
  build_tools/azure/posix.yml
  build_tools/azure/windows.yml
  sklearn/tree/_classes.py
Labels: module:tree

#22307 DOC make a doctest more stable in MultiOutputClassifier
  sklearn/multioutput.py
Labels: Documentation, No Changelog Needed, Quick Review

#22306 MAINT Follow-up on a fix for criterion="poisson" in decision trees
  doc/whats_new/v1.1.rst
  sklearn/ensemble/tests/test_forest.py
Labels: Documentation, module:tree, No Changelog Needed, maintenance, Quick Review

#22293 DOC Adjust class style to match previous style
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#22311 MAINT using pytest-xdist and pin coverage to 6.2
  build_tools/azure/install.sh
  build_tools/azure/install_win.sh
  build_tools/azure/posix.yml
  build_tools/azure/windows.yml
  build_tools/circle/build_test_arm.sh
Labels: Build / CI

#22260 DOC Ensures that shrunk_covariance passes numpydoc validation
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:covariance, No Changelog Needed

#22300 BUG Fixes division by zero in PCA `get_precision`
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_base.py
  sklearn/decomposition/tests/test_pca.py
Labels: module:decomposition, Quick Review

#22234 DOC Use wheelhouse_uploader directly to publish to pypi
  doc/developers/maintainer.rst
  setup.cfg
  setup.py
Labels: Documentation

#22250 TST Adds object dtype check for get_feature_names_out common test
  sklearn/utils/estimator_checks.py
Labels: module:utils, Quick Review

#22252 DOC Clarifies formula in f_regression's docstring
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation, module:feature_selection

#22138 DOC Fix docstring for AdditiveChi2Sampler regarding output shape
  sklearn/kernel_approximation.py
Labels: Documentation

#21953 DOC improve cross-validation diagram in documentation
  doc/images/grid_search_workflow.png
Labels: Documentation

#22025 DOC Ensures sklearn.cluster. spectral.spectral clustering numpydoc validation
  sklearn/cluster/_spectral.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:cluster, No Changelog Needed

#22040 DOC fix example to use the right sparse dictionary shape
  sklearn/decomposition/_dict_learning.py
Labels: Documentation, module:decomposition

#21965 DOC use arxiv directive in TruncatedSVD reference
  sklearn/decomposition/_truncated_svd.py
Labels: Documentation, module:decomposition

#21860 DOC correct typo in StandardScaler documentation
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#22255 ENH Adds get_feature_names to cluster module
  doc/whats_new/v1.1.rst
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_birch.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_birch.py
  sklearn/cluster/tests/test_feature_agglomeration.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/tests/test_common.py
Labels: module:cluster

#21757 ENH improve error message when y_true does not provide all known classes
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics

#22254 ENH Adds get_feature_names to manifold module
  doc/whats_new/v1.1.rst
  sklearn/manifold/_isomap.py
  sklearn/manifold/_locally_linear.py
  sklearn/manifold/tests/test_isomap.py
  sklearn/manifold/tests/test_locally_linear.py
  sklearn/tests/test_common.py
Labels: module:manifold

#21714 DOC Ensures that mean_absolute_error passes numpydoc validation
  sklearn/metrics/_regression.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22319 DOC clarify fit of the models with/without sample weights
  examples/svm/plot_weighted_samples.py
Labels: Documentation

#21705 ENH Add `randomized_svd` kwargs to `Decomposition` classes
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/tests/test_truncated_svd.py
Labels: module:decomposition

#21514 DOC explicitely mention refitting strategy in EstimatorCV
  doc/glossary.rst
  sklearn/covariance/_graph_lasso.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_omp.py
Labels: Documentation, module:covariance, module:linear_model

#21472 DOC fix the shape of `dual_coef_` in user guide documentation
  doc/modules/svm.rst
Labels: Documentation

#21418 DOC use the arxiv directive in the docstrings
  benchmarks/bench_plot_randomized_svd.py
  doc/datasets/loading_other_datasets.rst
  doc/modules/decomposition.rst
  doc/modules/neural_networks_supervised.rst
  doc/modules/sgd.rst
  examples/inspection/plot_partial_dependence.py
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/decomposition/_truncated_svd.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_sag.py
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/tests/test_logistic.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/_stochastic_optimizers.py
  sklearn/utils/extmath.py
Labels: Documentation, Sprint, module:cluster, No Changelog Needed, cython

#21584 MNT remove deprecated attribute from GraphicalLassoCV
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, No Changelog Needed

#21588 MNT remove mae criterion is GBDT
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#21582 MNT remove coef_ and intercept_ form discrete NaiveBayes
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes, No Changelog Needed

#22271 ENH Replaced RandomState with Generator compatible calls
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_kmeans.py
  sklearn/datasets/_samples_generator.py
  sklearn/decomposition/_nmf.py
  sklearn/feature_selection/_mutual_info.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/_t_sne.py
  sklearn/mixture/_base.py
  sklearn/multiclass.py
  sklearn/neighbors/_nca.py
  sklearn/neural_network/_rbm.py
  sklearn/utils/estimator_checks.py
Labels: module:cluster, module:neural_network, No Changelog Needed

#22326 DOC Ensures that graphical_lasso passes numpydoc validation
  sklearn/covariance/_graph_lasso.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:covariance, No Changelog Needed

#21583 MNT remove deprecated attributes in KMeans
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed

#21581 MNT remove coef_ and intercept_ from OneVsRestClassifier
  sklearn/multiclass.py
  sklearn/tests/test_multiclass.py
Labels: No Changelog Needed

#22331 DOC Ensures that fast_mcd passes numpydoc validation
  sklearn/covariance/_robust_covariance.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:covariance, No Changelog Needed

#22332 DOC Ensures that make_sparse_spd_matrix passes numpydoc
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22333 DOC Ensures that make_hastie_10_2 passes numpydoc validation
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#21878 DOC improve LOF documentation wrt difference of predict and fit_predict
  doc/modules/outlier_detection.rst
  sklearn/neighbors/_lof.py
Labels: Documentation, module:neighbors

#22204 [MRG] MAINT Use check_scalar in _BaseVoting
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble, No Changelog Needed

#21954 FIX Remove validation for FeatureUnion from __init__
  doc/whats_new/v1.1.rst
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#20817 MNT use check_scalar in SpectralBiClustering and SpectralCoClustering
  sklearn/cluster/_bicluster.py
  sklearn/cluster/tests/test_bicluster.py
Labels: module:cluster, No Changelog Needed

#22347 DOC fixes a couple of issue in changelog
  doc/whats_new/v1.1.rst
Labels: Documentation

#22329 DOC Ensures that fetch_20newsgroups passes numpydoc validation
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed
