Repository scikit-learn/scikit-learn, pull requests merged in 2022-03, with the labels that each got.

#22642 MNT Clean fixes and compat for old versions of our dependencies
  examples/cluster/plot_coin_segmentation.py
  examples/cluster/plot_coin_ward_segmentation.py
  examples/compose/plot_transformed_target.py
  examples/decomposition/plot_sparse_coding.py
  examples/miscellaneous/plot_johnson_lindenstrauss_bound.py
  examples/neighbors/plot_kde_1d.py
  sklearn/_loss/tests/test_loss.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/conftest.py
  sklearn/datasets/_lfw.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/impute/tests/test_common.py
  sklearn/impute/tests/test_impute.py
  sklearn/linear_model/_quantile.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_quantile.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/manifold/_isomap.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_common.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/utils/__init__.py
  sklearn/utils/extmath.py
  sklearn/utils/fixes.py
  sklearn/utils/stats.py
  sklearn/utils/tests/test_fixes.py
  sklearn/utils/tests/test_multiclass.py
  sklearn/utils/tests/test_utils.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed, Quick Review

#22585 FIX Make Ridge*CV warn about rescaling alphas with scaling
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#22452 DOC use notebook-style for plot_faces_decomposition
  doc/modules/decomposition.rst
  examples/decomposition/plot_faces_decomposition.py
Labels: Documentation, Quick Review

#22643 MNT remaining clean up for 1.1
  sklearn/compose/_target.py
  sklearn/feature_selection/_sequential.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/validation.py
Labels: No Changelog Needed

#22635 FIX better handle limit cases in normalized_mutual_info_score
  doc/whats_new/v1.1.rst
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
Labels: Waiting for Reviewer, module:metrics

#22620 BLD Places newest highlights first in subsection
  doc/conf.py
Labels: Documentation

#22603 Use :doi: and :arxiv: directives for references in the documentation (Issue #21088)
  benchmarks/bench_covertype.py
  doc/modules/biclustering.rst
  doc/modules/clustering.rst
  doc/modules/manifold.rst
  doc/modules/semi_supervised.rst
  doc/modules/sgd.rst
  doc/modules/svm.rst
  examples/inspection/plot_permutation_importance.py
  sklearn/_loss/loss.py
  sklearn/cluster/_bicluster.py
  sklearn/cluster/_spectral.py
  sklearn/decomposition/_pca.py
  sklearn/inspection/_permutation_importance.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/metrics/_classification.py
  sklearn/semi_supervised/_self_training.py
Labels: Documentation, No Changelog Needed

#22553 FIX Reduces memory usage of `PCA.transform`
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
Labels: Waiting for Reviewer, Performance, module:decomposition

#22660 DOC Sphinx warnings.
  examples/applications/plot_stock_market.py
  examples/inspection/plot_permutation_importance.py
Labels: Documentation

#22656 DOC Add directives about writing bibliographic references.
  doc/developers/contributing.rst
  doc/modules/clustering.rst
Labels: Documentation

#22401 DOC Add minimal reproducer guide for scikit-learn
  .github/ISSUE_TEMPLATE/bug_report.yml
  doc/developers/contributing.rst
  doc/developers/index.rst
  doc/developers/minimal_reproducer.rst
Labels: Documentation, Waiting for Reviewer

#22661 MNT More cleaning for 1.1
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/feature_extraction/tests/test_image.py
  sklearn/gaussian_process/tests/test_gpc.py
  sklearn/gaussian_process/tests/test_gpr.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/metrics/cluster/tests/test_supervised.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_common.py
  sklearn/tests/test_naive_bayes.py
Labels: No Changelog Needed, Quick Review

#22659 MAINT Remove deprecated exceptions for 1.1
  sklearn/exceptions.py
Labels: Quick Review

#22568 DOC: Update notebook-style example plot_dbscan
  examples/cluster/plot_dbscan.py
Labels: Documentation, Quick Review

#22579 DOC Fixes visualization docs and runs code to plot
  doc/conf.py
  doc/visualizations.rst
Labels: Documentation

#22320 ENH Introduce `PairwiseDistancesRadiusNeighborhood`
  doc/whats_new/v1.1.rst
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/setup.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, Performance, module:metrics, module:utils, cython

#22674 MAINT Bump versions to match oldest-supported-numpy
  README.rst
  doc/whats_new/v1.1.rst
  pyproject.toml
  sklearn/_min_dependencies.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed

#22685 ENH Adds `metric_params` parameter to pass to metrics in `TSNE`
  doc/whats_new/v1.1.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold

#22687 FIX Fixes KNeighborsRegressor.predict with array-likes
  doc/whats_new/v1.1.rst
  sklearn/neighbors/_regression.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#22595 FIX Support extra class_weights in compute_class_weight
  doc/whats_new/v1.1.rst
  sklearn/utils/class_weight.py
  sklearn/utils/tests/test_class_weight.py
Labels: module:utils, Quick Review

#22684 DOC Standardizing the documentation for `alpha` in `Ridge` and `Lasso`
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#20753 ENH Adds im_kw to ConfusionMatrixDisplay
  doc/whats_new/v1.1.rst
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
Labels: module:metrics

#22578 FIX Change error message of check_X_y when y is None
  doc/whats_new/v1.1.rst
  sklearn/utils/tests/test_estimator_checks.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, Quick Review

#22718 DOC Improve get_feature_names_out docstrings
  doc/glossary.rst
  sklearn/base.py
  sklearn/compose/_column_transformer.py
  sklearn/feature_selection/_base.py
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/_polynomial.py
  sklearn/utils/validation.py
Labels: Documentation, module:impute, module:utils, No Changelog Needed

#22704 DOC: use notebook-style for wikipedia_principal_eigenvector.py
  examples/applications/wikipedia_principal_eigenvector.py
Labels: Documentation, Quick Review

#22727 CLN Removes unused fused dtype in pairwise distances
  sklearn/metrics/_dist_metrics.pyx
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/utils/_typedefs.pxd
Labels: module:metrics, module:utils, cython, Quick Review

#22694 ENH Adds feature_names_out for most of kernel_approximation
  doc/whats_new/v1.1.rst
  sklearn/kernel_approximation.py
  sklearn/tests/test_kernel_approximation.py
Labels: Quick Review

#22698 DOC Fixes VotingClassifier.transform docstring
  sklearn/ensemble/_voting.py
Labels: Documentation, module:ensemble, Quick Review

#22284 ENH Improve error message for top_k_accuracy_score
  doc/whats_new/v1.1.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, Quick Review

#22729 CI don't run check_manifest on forks
  .github/workflows/update_tracking_issue.yml
Labels: Build / CI

#22695 ENH Adds feature_names_out to stacking estimators
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble

#21762 ENH Add get_feature_names_out for RandomTreesEmbedding module
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble

#22697 ENH Add feature_names_out to voting estimators
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble, Quick Review

#22559 DOC: Update notebook-style example plot_affinity_propagation
  examples/cluster/plot_affinity_propagation.py
Labels: Documentation, Quick Review

#22723 MNT Refactor KMeans and MiniBatchKMeans to inherit from a common base class
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#22537 FIX Remove validation from __init__ and set_params for ColumnTransformer
  doc/whats_new/v1.1.rst
  sklearn/compose/_column_transformer.py
  sklearn/tests/test_common.py
  sklearn/utils/metaestimators.py
Labels: module:compose, module:utils

#22713 DOC: use notebook-style for plot_mean_shift.py
  examples/cluster/plot_mean_shift.py
Labels: Documentation, Quick Review

#22358 DOC Ensures that function passes numpydoc validation: f1_score
  sklearn/metrics/_classification.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#22735 FIX Fixes KBinsDiscretizer for encode=ordinal
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
Labels: module:preprocessing

#22712 DOC Ensures that sklearn.metrics._ranking.average_precision_score passes numpydoc validation
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22083 Base sample-prop implementation and docs (alternative to #21284)
  .circleci/config.yml
  doc/conftest.py
  doc/metadata_routing.rst
  doc/modules/classes.rst
  doc/user_guide.rst
  examples/plot_metadata_routing.py
  sklearn/base.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/__init__.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/metadata_routing.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, cython

#22696 FIX Correct `LDA` `fac` multiplier
  doc/whats_new/v1.1.rst
  sklearn/discriminant_analysis.py
Labels: Waiting for Reviewer, module:discriminant_analysis

#22748 DOC Ensures ledoit_wolf_shrinkage passes numpydoc
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:covariance, No Changelog Needed

#22752 DOC: Make plot_permutation_importance example run on VS code
  examples/inspection/plot_permutation_importance.py
Labels: Documentation

#22719 MAINT Refactor the common logic for GEMM in wrapper
  sklearn/metrics/_pairwise_distances_reduction.pyx
Labels: Waiting for Reviewer, module:metrics, No Changelog Needed, cython, Quick Review

#22767 TST check sparse dense equality for Lasso and ElasticNet
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
Labels: module:linear_model, No Changelog Needed

#22772 DOC Fix link to the minimal reproducible example
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Documentation

#22771 DOC Fix instructions for conda installation
  doc/install.rst
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#22778 DOC Ensures that sklearn.model_selection._split.check_cv passes numpydoc validation
  sklearn/model_selection/_split.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:model_selection, No Changelog Needed

#22558 DOC updated to notebook style for grid_search_text_feature_extraction.py
  examples/model_selection/grid_search_text_feature_extraction.py
Labels: Documentation, Quick Review

#22785 fix docstring r-regression
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_selection, No Changelog Needed

#22783 DOC Ensures that paired_euclidean_distances passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22781 DOC Fix docstring in sklearn.metrics._ranking.label_ranking_loss #21350 #pariswimlds
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22780 DOC Fix docstring in quantile_transform function #21350
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:preprocessing, No Changelog Needed

#22791 DOC Specify the meaning of y=None in metrics.pairwise.haversine_distances
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics, No Changelog Needed

#22788 fix(doc): fix sklearn.linear_model._ridge.ridge_regression #21350
  sklearn/linear_model/_ridge.py
  sklearn/tests/test_docstrings.py
Labels: module:linear_model, No Changelog Needed

#22792 DOC adding numpydoc to the development dependencies
  doc/developers/contributing.rst
Labels: Documentation

#22769 Add Blog to top menu bar in /stable (#22737)
  build_tools/circle/build_test_arm.sh
  doc/themes/scikit-learn-modern/nav.html
Labels: No Changelog Needed

#22784 #21350 - make_regression sample_generator
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: module:datasets, No Changelog Needed

#22787 DOC Ensures that check_random_state passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/validation.py
Labels: Documentation, module:utils, No Changelog Needed

#22795 DOC Ensures that preprocessing._data.normalize passes numpydoc validation
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:preprocessing, No Changelog Needed

#22793 fix docstring of dict_learning.sparse_encode and multiclass.check_classification_targets #21350 #pariswimlds
  sklearn/decomposition/_dict_learning.py
  sklearn/tests/test_docstrings.py
  sklearn/utils/multiclass.py
Labels: module:decomposition, module:utils, No Changelog Needed

#22801 DOC Ensures that sklearn.preprocessing._data.binarize passes numpydoc validation
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:ensemble, module:preprocessing, No Changelog Needed

#21247 Improved display of function docstring
  sklearn/model_selection/_validation.py
Labels: module:model_selection

#22789 DOC Use notebook style for plot_lasso_dense_vs_sparse_data
  examples/linear_model/plot_lasso_dense_vs_sparse_data.py
Labels: Documentation

#22803 DOC fix numpydoc errors in classification_report
  sklearn/metrics/_classification.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22790 DOC fix the docstring of sklearn.datasets._samples_generator.make_biclusters
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22814 FIX DBSCAN and TSNE are missing the pairwise estimator tag
  sklearn/cluster/_dbscan.py
  sklearn/manifold/_t_sne.py
Labels: module:cluster, module:manifold

#20593 MAINT Replace if_delegate_has_method with available_if in feature_selection
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
Labels: module:feature_selection

#22819 TST Replaces pytest.warns in test_affinity_propagation
  sklearn/cluster/tests/test_affinity_propagation.py
Labels: module:cluster, No Changelog Needed

#22812 FIX Fixed `self.n_components` typo in `kernal_pca`
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: module:decomposition, No Changelog Needed

#22820 DOC: document classification example more readable
  examples/text/plot_document_classification_20newsgroups.py
Labels: Documentation, No Changelog Needed

#22824 TST Convert warnings into errors in test_affinity_propgation
  sklearn/cluster/tests/test_affinity_propagation.py
Labels: module:cluster, No Changelog Needed

#22749 TST introducing the random_seed fixture
  azure-pipelines.yml
  build_tools/azure/test_script.sh
  doc/computing/parallelism.rst
  setup.cfg
  sklearn/cluster/tests/test_k_means.py
  sklearn/conftest.py
  sklearn/tests/random_seed.py
Labels: Build / CI, Waiting for Reviewer, module:cluster, No Changelog Needed

#20545 MAINT Replace if_delegate_has_method with available_if in ensemble and semi_supervised
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_stacking.py
  sklearn/semi_supervised/_self_training.py
  sklearn/semi_supervised/tests/test_self_training.py
Labels: Waiting for Reviewer, module:ensemble, No Changelog Needed

#22797 DOC corrected docstring on make_classification
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#21701 ENH Add inverse_transform to random projection transformers
  doc/modules/random_projection.rst
  doc/whats_new/v1.1.rst
  sklearn/random_projection.py
  sklearn/tests/test_random_projection.py
Labels: Waiting for Reviewer, module:random_projection

#22773 Add num_threads in the prange loop of init_bounds in KMeans
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_kmeans.py
Labels: module:cluster, cython, Quick Review

#16018 ENH Adds infrequent categories to OneHotEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/_encode.py
  sklearn/utils/tests/test_encode.py
Labels: Waiting for Reviewer, module:metrics, module:preprocessing

#21260 MNT Remove encoding declarations: `# -*- coding: utf-8 -*-`
  doc/conf.py
  doc/sphinxext/sphinx_issues.py
  sklearn/cluster/_dbscan.py
  sklearn/cluster/_optics.py
  sklearn/cluster/_spectral.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_base.py
  sklearn/gaussian_process/__init__.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_theil_sen.py
  sklearn/metrics/pairwise.py
  sklearn/naive_bayes.py
  sklearn/neighbors/_nca.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/random_projection.py
Labels: Needs Decision, No Changelog Needed

#21310 FIX Fixes visualization for nested meta-estimators
  doc/whats_new/v1.1.rst
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:utils

#22831 TST Replaces pytest.warns(None) in test_optics
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster, No Changelog Needed

#22832 TST Replaces pytest.warns(None) in test_pls
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, No Changelog Needed

#22833 DOC Fix the formatting for environment variables in docs
  doc/computing/parallelism.rst
  doc/themes/scikit-learn-modern/static/css/theme.css
  sklearn/tests/random_seed.py
Labels: Documentation, No Changelog Needed

#22846 TST Replaces pytest.warns(None) in test_fastica
  sklearn/decomposition/tests/test_fastica.py
Labels: module:decomposition, No Changelog Needed

#22845 TST Replaces pytest.warns(None) in test_dict_learning
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition, No Changelog Needed

#22844 TST Fixes global random seed with pytest-xdist
  sklearn/tests/random_seed.py
Labels: Build / CI, No Changelog Needed

#22775 FIX Fix ColumnTransformer.get_feature_names_out with slices
  doc/whats_new/v1.1.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#22847 TST ensure that sklearn/_loss/tests/test_loss.py is seed insensitive
  sklearn/_loss/tests/test_loss.py
Labels: No Changelog Needed

#22858 DOC: \max and not max in latex
  doc/modules/model_evaluation.rst
Labels: Documentation

#22761 MNT Some clean-up in the random_projection module
  sklearn/random_projection.py
Labels: module:random_projection, Quick Review

#21930 ENH avoid unecessary memory copy in partial_dependence
  sklearn/inspection/_partial_dependence.py
Labels: module:inspection

#22156 DOC Clarify the LS term in example
  examples/ensemble/plot_bias_variance.py
Labels: Documentation

#22862 TST Ensure that `sklearn/metrics/tests/test_pairwise_distances_reduction.py` is seed insensitive
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: module:metrics, No Changelog Needed

#22873 TST Replaces pytest.warns(None) in test_pca
  sklearn/decomposition/tests/test_pca.py
Labels: module:decomposition, No Changelog Needed

#22869 MAINT Fix plot_gallery warning when building docs
  doc/conf.py
Labels: Quick Review

#22740 DOC: update notebook-style example plot_cv_diabetes.py
  examples/exercises/plot_cv_diabetes.py
Labels: Documentation, Quick Review

#22875 MAINT Import from public SciPy in pubilc namespace
  benchmarks/bench_sparsify.py
  doc/tutorial/statistical_inference/unsupervised_learning.rst
  examples/cluster/plot_coin_segmentation.py
  examples/cluster/plot_coin_ward_segmentation.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:datasets, module:ensemble, No Changelog Needed

#22734 DOC: update notebook-style for plot_calibration.py
  examples/calibration/plot_calibration.py
Labels: Documentation, Quick Review

#22872 TST Replaces pytest.warns(None) in test_kernel_pca
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: module:decomposition, No Changelog Needed

#22876 TST replace pytest.warns(None) in linear_model test_base.py
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#22871 TST Replaces pytest.warns(None) in test_feature_agglomeration
  sklearn/cluster/tests/test_feature_agglomeration.py
Labels: module:cluster, No Changelog Needed, Quick Review

#22739 DOC: Update notebook-style for example plot_image_denoising
  examples/decomposition/plot_image_denoising.py
Labels: Documentation, Quick Review

#22690 TST Add minimal setup to be able to run test suite on float32
  azure-pipelines.yml
  doc/computing/parallelism.rst
  doc/developers/develop.rst
  sklearn/conftest.py
  sklearn/feature_selection/tests/test_mutual_info.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: Waiting for Reviewer, No Changelog Needed, Quick Review

#22830 API Deprecate if_delegate_has_method
  doc/modules/classes.rst
  doc/whats_new/v1.1.rst
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_metaestimators.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, Quick Review

#22878 TST replace pytest.warns(None) in test_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model, No Changelog Needed

#22724 Update plot_rbf_parameters.py
  examples/svm/plot_rbf_parameters.py
Labels: Quick Review

#22883 DOC Use proper tags for get_feature_names_out in whats_new
  doc/whats_new/v1.1.rst
Labels: Documentation, Quick Review

#22760 MAINT Create a private extension for sorting utilities
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/utils/_heap.pxd
  sklearn/utils/_heap.pyx
  sklearn/utils/_sorting.pxd
  sklearn/utils/_sorting.pyx
  sklearn/utils/setup.py
Labels: module:metrics, module:neighbors, module:utils, cython

#22886 TST Replace pytest.warns(None) in test_omp.py
  sklearn/linear_model/tests/test_omp.py
Labels: module:linear_model, No Changelog Needed

#22743 MNT Removes externals._pilutil and uses Pillow directly
  sklearn/conftest.py
  sklearn/datasets/_base.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/tests/test_base.py
  sklearn/datasets/tests/test_lfw.py
  sklearn/externals/_pilutil.py
Labels: module:datasets, No Changelog Needed, Quick Review

#22794 DOC use notebook-style for plot_bayesian_ridge.py
  examples/linear_model/plot_bayesian_ridge.py
Labels: Documentation, Quick Review

#22799 format notebook plot_roc_crossval.py
  examples/model_selection/plot_roc_crossval.py
Labels: Quick Review

#22779 DOC use notebook-style for plot_svm_anova.py
  examples/svm/plot_svm_anova.py
Labels: Documentation, No Changelog Needed, Quick Review

#22889 TST Replace pytest.warns(None) in test_least_angle.py
  sklearn/linear_model/tests/test_least_angle.py
Labels: module:linear_model, No Changelog Needed

#22877 TST remove pytest.warns(None) in test_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#22874 TST Removes pytest.warns(None) in test_iforest
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble, No Changelog Needed

#22528 DOC update notebook style for plot_lda_qda
  examples/classification/plot_lda_qda.py
Labels: Quick Review

#22765 FEAT add metadata routing to splitters
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
  sklearn/utils/metadata_routing.py
Labels: module:model_selection, module:utils, No Changelog Needed

#22807 DOC use notebook-style for plot_sparse_cov.py
  examples/covariance/plot_sparse_cov.py
Labels: Documentation, Quick Review

#22604 FIX Fixes OneVsOneClassifier.predict for Estimators with only predict_proba
  doc/whats_new/v1.1.rst
  sklearn/multiclass.py
  sklearn/tests/test_multiclass.py
Labels: Quick Review, module:multiclass

#22891 FIX LinearRegression sparse + intercept + sample_weight
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model

#22894 MNT remove sparse_lsqr from utils.fixes
  sklearn/linear_model/_base.py
  sklearn/utils/fixes.py
Labels: module:linear_model, module:utils, No Changelog Needed

#22900 DOC convert examples/cluster/plot_mini_batch_kmeans.py to notebook style
  examples/cluster/plot_mini_batch_kmeans.py
Labels: Documentation

#22902 ENH Adds better error message for GitHub in html repr
  sklearn/utils/_estimator_html_repr.py
Labels: module:utils, No Changelog Needed

#22906 DOC, MNT Typos found by codespell
  azure-pipelines.yml
  build_tools/azure/test_script.sh
  doc/computing/parallelism.rst
  doc/developers/minimal_reproducer.rst
  doc/modules/model_evaluation.rst
  doc/themes/scikit-learn-modern/static/css/theme.css
  examples/decomposition/plot_kernel_pca.py
  examples/ensemble/plot_gradient_boosting_categorical.py
  examples/gaussian_process/plot_gpr_co2.py
  examples/impute/plot_iterative_imputer_variants_comparison.py
  examples/linear_model/plot_lasso_lars_ic.py
  examples/manifold/plot_compare_methods.py
  examples/manifold/plot_swissroll.py
  examples/miscellaneous/plot_pipeline_display.py
  sklearn/_loss/_loss.pyx.tp
  sklearn/_loss/link.py
  sklearn/_loss/loss.py
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_regression.py
  sklearn/metrics/pairwise.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/utils/_encode.py
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/validation.py
Labels: Documentation, No Changelog Needed, cython

#22856 API Config: change default display to "diagram"
  doc/modules/compose.rst
  doc/whats_new/v1.1.rst
  examples/compose/plot_column_transformer_mixed_types.py
  examples/ensemble/plot_feature_transformation.py
  examples/ensemble/plot_stack_predictors.py
  examples/feature_selection/plot_feature_selection_pipeline.py
  examples/linear_model/plot_lasso_lars_ic.py
  examples/linear_model/plot_lasso_model_selection.py
  examples/miscellaneous/plot_pipeline_display.py
  sklearn/_config.py
  sklearn/tests/test_base.py
  sklearn/tests/test_config.py
  sklearn/utils/tests/test_pprint.py
Labels: frontend

#22882 DOC corrected docstring on california_housing
  sklearn/datasets/_california_housing.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed, Quick Review

#22469 DOC Ensures that load_wine passes numpydoc
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed, Quick Review

#22805 DOC adds two dots from datasets._base.load_sample_image
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed, Quick Review

#22496 DOC Ensure that ledoit_wolf is passing numpydoc validation
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:covariance, No Changelog Needed

#22802 DOC Ensures that preprocessing._data.power_transform passes numpydoc validation
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:preprocessing, No Changelog Needed, Quick Review

#22817 Doc : adds 4 points to sklearn.datasets._samples_generator.make_sparse_coded_signal
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: module:datasets, No Changelog Needed, Quick Review

#22842 DOC Ensures that sklearn.metrics._plot.confusion_matrix.plot_confusion_matrix passes numpydoc validation
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22839 np docstrings format min_max_axis
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: module:utils, No Changelog Needed, Quick Review

#22356 ENH Allow `SelectFromModel`'s `max_features` to accept callables
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
Labels: module:feature_selection

#22725 Update plot_label_propagation_digits.py
  examples/semi_supervised/plot_label_propagation_digits.py
Labels: Quick Review

#22726 Update plot_label_propagation_structure.py
  examples/semi_supervised/plot_label_propagation_structure.py
Labels: Quick Review

#22917 MNT Replace pytest.warns(None) in test_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#22919 MAINT use the default CPU_COUNT=2 for the macOS builds
  azure-pipelines.yml
  build_tools/azure/test_script.sh
Labels: Build / CI

#22589 MNT Clean deprecation of dtype='numeric' + array of strings in check_array for 1.1
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer, module:utils, No Changelog Needed, Quick Review

#22899 Fix Ridge sparse + sample_weight + intercept
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#22924 [Fix] a typo in doc
  sklearn/metrics/_classification.py
Labels: module:metrics

#21988 ENH Adds encoded_missing_value to OrdinalEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#22476 API Deprecate max_feature=`auto` for tree classes
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_base.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: module:ensemble, module:tree

#22935 TST Fix test failing scipy nightly
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
Labels: module:ensemble, No Changelog Needed, Quick Review

#22757 FEAT SLEP6: scorers
  doc/metadata_routing.rst
  doc/modules/model_evaluation.rst
  sklearn/inspection/_permutation_importance.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_search.py
  sklearn/utils/_metadata_requests.py
Labels: Waiting for Reviewer, High Priority, module:metrics, module:utils, No Changelog Needed

#22888 TST replace pytest.warns(None) in metrics/test_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, No Changelog Needed, Quick Review

#20653 FIX PowerTransformer Yeo-Johnson auto-tuning on significantly non-Gaussian data
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: Waiting for Reviewer, module:preprocessing

#22937 TST replace pytest.warns(None) in preprocessing/test_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing, No Changelog Needed, Quick Review
