Repository scikit-learn/scikit-learn, pull requests merged in 2022-10, with the labels that each got.

#24395 MAINT Clean deprecation for 1.2: get_feature_names
  doc/glossary.rst
  doc/whats_new/v0.20.rst
  doc/whats_new/v0.23.rst
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.0.rst
  examples/release_highlights/plot_release_highlights_1_0_0.py
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/pipeline.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed

#24561 DOC Ensure that sklearn.utils.axis0_safe_slice passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24559 DOC Ensures that sklearn.tree._export.plot_tree passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/tree/_export.py
Labels: Documentation, module:tree

#24562 DOC Ensure that sklearn.utils.is_scalar_nan passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24553 DOC make `plot_mean_shift.py` more colourblind friendly
  examples/cluster/plot_mean_shift.py
Labels: Documentation

#24443 SLEP006: ClassifierChain and RegressorChain routing
  sklearn/multioutput.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_multioutput.py
Labels: No Changelog Needed

#24465 ENH change Ridge tol to 1e-4
  doc/whats_new/v1.2.rst
  sklearn/discriminant_analysis.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#24592 CI remove lgtm
  MANIFEST.in
  build_tools/generate_authors_table.py
  lgtm.yml
Labels: Build / CI

#24590 CLN Remove unneeded variable definition in DictVectorizer.fit
  sklearn/feature_extraction/_dict_vectorizer.py
Labels: module:feature_extraction, Quick Review

#24594 CLN Migrate avaliable_if to it's own file
  sklearn/utils/_available_if.py
  sklearn/utils/metaestimators.py
Labels: module:utils

#24523 Deprecate the keyword arguments of the density function.
  doc/whats_new/v1.2.rst
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils

#24588 CLN Do not override signature for _visual_block_
  sklearn/ensemble/_stacking.py
Labels: module:ensemble, Quick Review

#24582 Doc Ensures that sklearn.util.fixes.linspace passes numpydoc validation
  sklearn/tests/test_docstrings.py
Labels: No Changelog Needed

#24567 DOC Ensures that sklearn.utils.extmath.safe_sparse_dot passes numpydoc validation
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24569 CLN Remove unnecessary operation in mutual_info
  sklearn/feature_selection/_mutual_info.py
Labels: module:feature_selection

#24541 TST Relax `test_gradient_boosting_early_stopping`
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#24571 DOC Ensures that sklearn.utils.extmath.weighted_mode passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#24602 TST Make test_function_docstrings ignore functions from utils.fixes
  sklearn/tests/test_docstrings.py
Labels: No Changelog Needed, Quick Review

#24599 MAINT Clean deprecation for 1.2: cv_results_ keys
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, No Changelog Needed, Quick Review

#24603 MAINT Clean deprecation for 1.2: load_boston
  sklearn/datasets/__init__.py
  sklearn/datasets/_base.py
  sklearn/datasets/tests/test_base.py
Labels: module:datasets, No Changelog Needed

#24608 [MRG] DOC Ensure that gen_even_slices passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24617 DOC Check sha256 digests of tarballs in tutorial and examples before extraction
  doc/tutorial/text_analytics/data/movie_reviews/fetch_data.py
  doc/tutorial/text_analytics/data/twenty_newsgroups/fetch_data.py
  doc/whats_new/v1.2.rst
  examples/applications/plot_out_of_core_classification.py
Labels: Documentation

#24621 MAINT set joblib min to 1.1.1
  README.rst
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/py38_pip_openblas_32bit_requirements.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  sklearn/_min_dependencies.py
Labels: Build / CI, Packaging

#21020 ENH FEA add interaction constraints to HGBT
  doc/modules/ensemble.rst
  doc/whats_new/v1.2.rst
  examples/inspection/plot_partial_dependence.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_grower.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_splitting.py
Labels: High Priority, module:ensemble, cython

#24546 DOC add a docstring example for the learning_curve function
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection, Quick Review

#22616 Include `HDBSCAN` as a sub-module for `sklearn.cluster`
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/whats_new/v1.2.rst
  examples/cluster/plot_cluster_comparison.py
  examples/cluster/plot_hdbscan.py
  sklearn/cluster/__init__.py
  sklearn/cluster/_hdbscan/__init__.py
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/_hdbscan/setup.py
  sklearn/cluster/_hierarchical_fast.pxd
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/cluster/setup.py
  sklearn/cluster/tests/test_hdbscan.py
  sklearn/utils/estimator_checks.py
Labels: module:cluster, cython

#24391 MAINT Clean deprecation for 1.2: normalize in linear models
  benchmarks/bench_lasso.py
  doc/modules/linear_model.rst
  examples/linear_model/plot_lasso_lars_ic.py
  examples/linear_model/plot_lasso_model_selection.py
  examples/linear_model/plot_omp.py
  sklearn/decomposition/_dict_learning.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_glm/tests/test_glm.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_bayes.py
  sklearn/linear_model/tests/test_common.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_pipeline.py
Labels: module:decomposition, module:linear_model, No Changelog Needed

#24626 MAINT `PairwiseDistancesReduction`: `GEMMTermComputer._compute_dist{ances_on_chunks→_middle_terms}`
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_gemm_term_computer.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_gemm_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighborhood.pyx.tp
Labels: module:metrics, No Changelog Needed, Quick Review

#23734 ENH Introduces set_output API for pandas output
  doc/developers/develop.rst
  doc/whats_new/v1.2.rst
  examples/miscellaneous/plot_set_output.py
  sklearn/_config.py
  sklearn/base.py
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/pipeline.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/preprocessing/tests/test_function_transformer.py
  sklearn/tests/test_base.py
  sklearn/tests/test_common.py
  sklearn/tests/test_config.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/_set_output.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_set_output.py
Labels: module:preprocessing, module:pipeline, module:utils

#24644 CI Use GITHUB_OUTPUT instead of deprecated set-output
  build_tools/github/check_build_trigger.sh
Labels: Build / CI, Quick Review

#24649 DOC Promote Meekail Zain to the Core Contributor Team
  doc/authors.rst
  doc/contributor_experience_team.rst
Labels: Documentation, No Changelog Needed

#24627 CI Remove Windows 32 bit support
  .github/workflows/wheels.yml
  azure-pipelines.yml
  build_tools/azure/py38_pip_openblas_32bit_lock.txt
  build_tools/azure/py38_pip_openblas_32bit_requirements.txt
  build_tools/azure/test_script.sh
  build_tools/github/test_windows_wheels.sh
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#24641 DOC Use :doi: directive for KMeans
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#24200 DOC Rework plot_roc.py example
  doc/modules/model_evaluation.rst
  examples/model_selection/plot_roc.py
Labels: Documentation, Waiting for Reviewer

#24647 MAINT Clean deprecation for 1.2: leftovers
  sklearn/covariance/_graph_lasso.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/tests/test_base.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:covariance, module:linear_model, No Changelog Needed, Quick Review

#24609 [MRG] DOC Ensure that gen_batches passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24625 MAINT `PairwiseDistancesReduction`: Update comments and remove unused symbols
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_pairwise_distances_reduction/_gemm_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighborhood.pyx.tp
Labels: No Changelog Needed, Quick Review

#24653 MAINT Clean deprecation for 1.2: load_boston follow-up
  doc/datasets/toy_dataset.rst
  doc/developers/develop.rst
  doc/modules/classes.rst
  sklearn/datasets/descr/boston_house_prices.rst
  sklearn/datasets/tests/test_common.py
Labels: module:datasets, No Changelog Needed

#24629 MAINT set plotly min to 5.10
  README.rst
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_environment.yml
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  sklearn/_min_dependencies.py
Labels: Quick Review

#24645 OPTIM use pairwise_distances_argmin in NearestCentroid.predict
  doc/whats_new/v1.2.rst
  sklearn/neighbors/_nearest_centroid.py
Labels: Performance, module:neighbors, Quick Review

#24623 MAINT `PairwiseDistancesReduction`: Rename some symbols and files
  .gitignore
  setup.cfg
  setup.py
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_pairwise_distances_reduction/_gemm_term_computer.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_gemm_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/setup.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, No Changelog Needed, Quick Review

#24607 DOC Ensures that `sklearn.utils.extmath.randomized_svd` passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#24633 DOC Ensures that if_delegate_has_method passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/metaestimators.py
Labels: Documentation, module:utils, No Changelog Needed

#24631 Add msvcp140.dll to Windows 64 bit wheels
  build_tools/github/vendor.py
Labels: Build / CI, Packaging

#24605 DOC Ensures that `sklearn.utils.extmath.fast_logdet` passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#24410 MNT Do not update docs with deprecated decorator
  sklearn/linear_model/_glm/glm.py
  sklearn/tests/test_docstrings.py
  sklearn/utils/deprecation.py
  sklearn/utils/tests/test_deprecation.py
Labels: module:linear_model, module:metrics, module:utils, No Changelog Needed, Quick Review

#24661 MAINT Clean deprecation for 1.2: default random_state in randomized_svd
  sklearn/utils/extmath.py
Labels: module:utils, No Changelog Needed, Quick Review

#24660 MAINT Clean deprecation for 1.2: feature names exact match
  sklearn/base.py
  sklearn/tests/test_base.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review

#24650 MAINT Bump min dependencies for 1.2
  README.rst
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_environment.yml
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: module:manifold, module:utils, No Changelog Needed

#24630 API Remove `sklearn.metrics.manhattan_distances` option `sum_over_features`
  doc/whats_new/v1.2.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics

#24666 EFF avoid computing inertia in KMeans' predict
  sklearn/cluster/_kmeans.py
Labels: module:cluster, Quick Review

#24655 DOC make `plot_agglomerative_clustering_metrics.py` colorblind friendly
  examples/cluster/plot_agglomerative_clustering_metrics.py
Labels: Documentation

#24598 TST use global_random_seed in sklearn/cluster/tests/test_dbscan.py
  sklearn/cluster/tests/test_dbscan.py
Labels: module:cluster, No Changelog Needed

#24672 DOC Improve docstring around set_output
  doc/developers/develop.rst
  sklearn/_config.py
  sklearn/base.py
  sklearn/compose/_column_transformer.py
  sklearn/pipeline.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/utils/_set_output.py
Labels: Documentation, Quick Review

#24682 MNT Fix build when SKLEARN_OPENMP_PARALLELISM_ENABLED=False
  doc/developers/performance.rst
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
Labels: module:metrics, cython

#24446 CI Add wheel builds for Python 3.11
  .github/workflows/wheels.yml
  .travis.yml
  build_tools/github/build_minimal_windows_image.sh
  build_tools/github/build_wheels.sh
  build_tools/github/repair_windows_wheels.sh
  build_tools/github/test_windows_wheels.sh
  build_tools/github/vendor.py
Labels: Build / CI

#24657 CI Remove remaining windows 32 references
  build_tools/github/vendor.py
Labels: Build / CI

#24730 Typo corrected
  sklearn/pipeline.py
Labels: module:pipeline

#24726 DOC Fix `Title underline too short` sphinx warning.
  examples/gaussian_process/plot_gpr_prior_posterior.py
Labels: Documentation

#24722 DOC correct bound of sum LinearSVR in formula in svm.rst
  doc/modules/svm.rst
Labels: Documentation

#24733 DOC fix sphinx directive in `quantile_transform` function
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#24727 DOC Add `sphinx_highlight.js` to the search page.
  doc/themes/scikit-learn-modern/search.html
Labels: Documentation

#24739 DOC fix a missing final fullstop in docstring
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#24637 FEA add (single) Cholesky Newton solver to GLMs
  doc/whats_new/v1.2.rst
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_glm/tests/test_glm.py
  sklearn/linear_model/_linear_loss.py
  sklearn/linear_model/tests/test_linear_loss.py
Labels: module:linear_model

#24742 MAINT force NumPy version for building scikit-learn for CPython 3.10 in Windows
  pyproject.toml
Labels: To backport

#20331 API add named_transformers attribute to FeatureUnion
  doc/whats_new/v1.2.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Waiting for Second Reviewer

#24753 DOC fix deprecated log loss argument in user guide
  doc/glossary.rst
  doc/modules/linear_model.rst
Labels: Documentation, No Changelog Needed, Quick Review

#24071 FIX check_estimator fails when validating SGDClassifier with log_loss
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed

#24758 DOC Add links to DBSCAN references.
  doc/modules/clustering.rst
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#24667 FIX Fixes common test for requires_positive_X
  doc/whats_new/v1.2.rst
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_metaestimators.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#24744 DOC add entries for the 1.1.3 release
  doc/whats_new/v1.1.rst
  setup.py
Labels: Documentation, To backport

#24761 DOC add more info about the drop of support for 32-bit Python on Windows
  doc/whats_new/v1.1.rst
Labels: Documentation

#24762 DOC Use show_config instead of numpy.distutils's get_info
  doc/computing/computational_performance.rst
Labels: Documentation, Quick Review

#24714 ENH Add dtype preservation for Isomap
  doc/whats_new/v1.2.rst
  sklearn/manifold/_isomap.py
  sklearn/manifold/tests/test_isomap.py
Labels: module:manifold, Quick Review

#22629 FIX Improves nan support in LabelEncoder
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/validation.py
Labels: module:preprocessing, module:utils, Quick Review

#24766 DOC changed marker shapes for calibration comparison
  examples/calibration/plot_compare_calibration.py
Labels: Documentation, Quick Review

#24734 DOC Fix inline interpreted text start-string without end-string.
  examples/model_selection/plot_roc.py
Labels: Documentation

#24778 fix uniform rng im kmeans test_scaled_weights
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed

#24673 DOC FIX Consistent formulae for metrics in the user guide
  doc/modules/model_evaluation.rst
Labels: Documentation

#24781 Update _search_successive_halving.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_successive_halving.py
Labels: module:model_selection, No Changelog Needed

#23275 FIX bagging with SGD and early stopping throws ZeroDivisionError
  doc/whats_new/v1.2.rst
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, Waiting for Second Reviewer

#19075 ENH Allow path-like objects in load_svmlight_file.
  doc/whats_new/v1.2.rst
  sklearn/datasets/_svmlight_format_io.py
  sklearn/datasets/tests/test_svmlight_format.py
Labels: module:datasets

#24796 DOC fix polynomial kernel formula
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics
