Repository scikit-learn/scikit-learn, pull requests merged in 2022-02, with the labels that each got.

#19158 ENH Adds support for None in roc_auc_score
  doc/whats_new/v1.1.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: Enhancement, Waiting for Reviewer, module:metrics

#22346 DOC Ensures that sklearn.datasets._base.load_breast_cancer passes numpydoc validation
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#21984 TST Accelerating ensemble/tests/test_gradient_boosting.py::test_regression_dataset
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: Waiting for Reviewer, module:ensemble, No Changelog Needed

#22342 DOC Ensures that make_blobs passes numpydoc validation
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22327 ENH Replaced RandomState.rand with equivalent uniform
  sklearn/datasets/_samples_generator.py
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/manifold/_mds.py
  sklearn/mixture/_base.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/random.py
Labels: cython

#22357 CI Add conditional to only run check-manifest cronjob in scikit-learn repo
  .github/workflows/check-manifest.yml
Labels: Build / CI

#21629 DOC Improves explanation for default value change procedures
  doc/developers/contributing.rst
Labels: Documentation, Waiting for Reviewer

#22217 ENH Set Affinity propagation labels if any clusters were found
  doc/whats_new/v1.1.rst
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/tests/test_affinity_propagation.py
Labels: module:cluster

#22362 TST Better info when checking for no warnings in tests
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/cluster/tests/test_feature_agglomeration.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_selection/tests/test_feature_select.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/impute/tests/test_impute.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/metrics/cluster/tests/test_supervised.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/preprocessing/tests/test_common.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_function_transformer.py
  sklearn/semi_supervised/tests/test_label_propagation.py
  sklearn/svm/tests/test_svm.py
  sklearn/tests/test_base.py
  sklearn/tests/test_isotonic.py
  sklearn/tests/test_naive_bayes.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/tests/test_utils.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed

#22248 ENH Adds get_feature_names to neural_network module
  doc/whats_new/v1.1.rst
  sklearn/neural_network/_rbm.py
  sklearn/neural_network/tests/test_rbm.py
  sklearn/tests/test_common.py
Labels: module:neural_network

#22381 CI Pin pytest version for stalled tests
  azure-pipelines.yml
Labels: Build / CI

#22372 DOC label addition of QuantileRegressor as major feature
  doc/whats_new/v1.0.rst
Labels: Documentation

#22389 MAINT more pytest pinning
  build_tools/azure/install.sh
  build_tools/azure/posix.yml
Labels: Build / CI, Quick Review

#22373 DOC Fix expired links to some references
  doc/modules/decomposition.rst
  doc/modules/kernel_approximation.rst
  doc/modules/linear_model.rst
  doc/modules/model_evaluation.rst
  doc/modules/random_projection.rst
Labels: Documentation

#22390 DOC Ensures that make_checkerboard passes numpydoc validation
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#21079 ENH Adds feature_names_out to preprocessing module
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/tests/test_common.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer, module:preprocessing, module:utils

#22400 DOC Ensure that ndcg_score passes numpydoc validation
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#21632 MAINT Use check_scalar in BaseGradientBoosting
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: Sprint, module:ensemble, No Changelog Needed

#22410 FIX Only raise feature name warning with mixed types and strings
  doc/whats_new/v1.1.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#22415 DOC change adrin's sponsor to Hugging Face
  doc/about.rst
  doc/images/anaconda.png
  doc/images/huggingface_logo-noborder.png
  doc/images/zalando_logo-small.png
  doc/images/zalando_logo.png
  doc/templates/index.html
Labels: Documentation

#22314 TST Improved testing logic in `tests/test_logistic.py`
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#21585 MNT remove deprecated attributes in PLS
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:cross_decomposition, No Changelog Needed

#22371 TST Complete test for `pairwise_distance_{argmin,argmin_min}`
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics, No Changelog Needed

#22365 MNT Bump joblib version dependency to 1.0.0
  README.rst
  sklearn/_build_utils/__init__.py
  sklearn/_min_dependencies.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_iforest.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/neighbors/_base.py
  sklearn/pipeline.py
  sklearn/tests/test_config.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
  sklearn/utils/tests/test_parallel.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#22367 DOC Ensures that make_scorer passes numpydoc validation
  sklearn/metrics/_scorer.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#21594 MNT remove _pairwise attribute
  doc/developers/develop.rst
  doc/glossary.rst
  sklearn/base.py
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_spectral.py
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/cluster/tests/test_spectral.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
  sklearn/kernel_ridge.py
  sklearn/manifold/_mds.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/tests/test_mds.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/multiclass.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/pipeline.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/svm/_base.py
  sklearn/tests/test_base.py
  sklearn/tests/test_kernel_ridge.py
  sklearn/tests/test_multiclass.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/metaestimators.py
Labels: No Changelog Needed

#22424 DOC Fixes plot_sgd example to be consistent with 0.24
  examples/linear_model/plot_sgd_weighted_samples.py
Labels: Documentation, Quick Review

#22392 DOC Ensures that load_digits passes numpydoc validation
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22379 DOC Clarify splitting behavior of `fit_params`
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection, Quick Review

#22423 DOC use notebook-style for plot_lasso_and_elasticnet
  examples/linear_model/plot_lasso_and_elasticnet.py
Labels: Documentation

#22288 MAINT Plug `PairwiseDistancesArgKmin` as a back-end
  doc/whats_new/v1.1.rst
  sklearn/_config.py
  sklearn/metrics/_dist_metrics.pyx
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/tests/test_config.py
Labels: module:metrics, module:neighbors, module:utils, No Changelog Needed, cython

#22444 DOC Correct docstring for RocCurveDisplay.from_predictions
  sklearn/metrics/_plot/roc_curve.py
Labels: Documentation, module:metrics

#22451 CI remove macOS compilers constraint
  build_tools/azure/install.sh
Labels: Build / CI

#22287 MAINT Adjust tests for numpydoc 1.2
  build_tools/azure/install.sh
  build_tools/circle/build_test_arm.sh
  sklearn/_min_dependencies.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, No Changelog Needed

#22380 DOC Ensures that function passes numpydoc validation: paired_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22454 DOC Fix duplicate-word typos
  doc/glossary.rst
  doc/modules/permutation_importance.rst
  doc/whats_new/v0.19.rst
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.1.rst
  examples/calibration/plot_calibration_multiclass.py
  sklearn/ensemble/_stacking.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/_search.py
Labels: Documentation, No Changelog Needed

#18909 ENH avoid checking for finite in ldsr and svd call in LinearDiscriminantAnalysis
  sklearn/discriminant_analysis.py
Labels: module:cluster

#22462 DOC Ensures that radius_neighbors_graph passes numpydoc
  sklearn/neighbors/_graph.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:neighbors, No Changelog Needed

#22475 DOC Ensures that isotonic_regression passes numpydoc validation
  sklearn/isotonic.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#22188 API Lowercase estimator argument in check_estimator()
  doc/whats_new/v1.1.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#22470 DOC Ensures that assert_all_finite passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/validation.py
Labels: Documentation, module:utils, No Changelog Needed

#22479 ENH optimize memory usage for `datasets.make_s_curve`
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#22465 DOC Fix MDS images in user guide
  examples/manifold/plot_lle_digits.py
Labels: Documentation, Waiting for Reviewer

#22481 DOC fix section marker in plot_ard.py examples
  examples/linear_model/plot_ard.py
Labels: Documentation

#22480 [MGR] DOC Ensures that fetch_olivetti_faces passes numpydoc validation
  sklearn/datasets/_olivetti_faces.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22443 DOC Fix notebook-style for plot_document_clustering.py
  examples/text/plot_document_clustering.py
Labels: Documentation

#21808 ENH Loss module LogisticRegression
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_linear_loss.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_linear_loss.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_sag.py
Labels: Waiting for Reviewer, module:linear_model

#22437 DOC use notebook-style for example plot_feature_selection.py
  examples/feature_selection/plot_feature_selection.py
Labels: Documentation

#22199 BUG Fix covariance and stdev shape in GPR with normalize_y
  doc/whats_new/v1.1.rst
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: module:gaussian_process

#22483 DOC Ensures that fetch_openml passes numpydoc validation
  sklearn/datasets/_openml.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22318 FIX skip tests when estimator has non_deterministic tag
  doc/whats_new/v1.1.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils

#22487 DOC fix shape of output in _BaseNB._joint_log_likelihood docstring
  sklearn/naive_bayes.py
Labels: Documentation, module:naive_bayes

#21998 FIX make the shape of LogisticRegression(solver="liblinear") consistent with other solvers
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
Labels: module:linear_model

#22154 FIX Supports numpy strings and array-like in KMean.init
  doc/whats_new/v1.1.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/utils/validation.py
Labels: module:cluster, Quick Review

#22486 FIX Fix DummyRegressor overriding constant
  doc/whats_new/v1.1.rst
  sklearn/dummy.py
  sklearn/tests/test_dummy.py
Labels: Quick Review

#22491 DOC: put more emphasis on r2_score
  doc/modules/model_evaluation.rst
  sklearn/metrics/_regression.py
Labels: Documentation, module:metrics, Quick Review

#22495 MNT Adds black commit to git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: Quick Review

#22493 FIX accept NumPy arrays for alphas in GraphicalLassoCV
  doc/whats_new/v1.1.rst
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, Quick Review

#22472 DOC Ensures that precision_recall_fscore_support passes numpydoc validation
  sklearn/metrics/_classification.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22500 DOC Ensures that lars_path passes numpydoc validation
  sklearn/linear_model/_least_angle.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:linear_model, No Changelog Needed

#22501 DOC Ensures that orthogonal_mp passes numpydoc validation
  sklearn/linear_model/_omp.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:linear_model, No Changelog Needed

#22498 ENH Adds file extension selection to load_files
  doc/whats_new/v1.1.rst
  sklearn/datasets/_base.py
  sklearn/datasets/tests/test_base.py
Labels: module:datasets

#22514 DOC Ensures that precision_recall_curve passes numpydoc
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#22134 ENH Introduce `PairwiseDistancesReduction` and `PairwiseDistancesArgKmin` (feature branch)
  doc/whats_new/v1.1.rst
  sklearn/_config.py
  sklearn/metrics/_dist_metrics.pxd
  sklearn/metrics/_dist_metrics.pyx
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/pairwise.py
  sklearn/metrics/setup.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/tests/test_config.py
  sklearn/utils/__init__.py
  sklearn/utils/_openmp_helpers.pxd
  sklearn/utils/_openmp_helpers.pyx
  sklearn/utils/_testing.py
Labels: module:metrics, module:utils, No Changelog Needed, cython

#22512 CI Fixes bot for test collection failure
  maint_tools/create_issue_from_juint.py
Labels: Build / CI

#22513 CI Fix scipy-dev for deprecation numpy.distutils [scipy-dev]
  sklearn/_build_utils/pre_build_helpers.py
Labels: Build / CI

#22532 CI Fixes Windows 64 wheel builds
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review

#22529 CI fetch_openml retry on SSL timeout
  sklearn/datasets/_openml.py
Labels: Build / CI, module:datasets, Quick Review

#22508 ENH Verbosity for OneVsRestClassifier
  doc/whats_new/v1.1.rst
  sklearn/multiclass.py
Labels: Quick Review, module:multiclass

#22511 DOC Move model persistence up into user guide
  doc/conf.py
  doc/model_persistence.rst
  doc/user_guide.rst
Labels: Documentation, Quick Review

#22539 DOC Ensures that get_chunk_n_rows passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#22334 MNT Remove unused private attribute _residues from LinearRegression
  sklearn/linear_model/_base.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#22151 DOC Explains alpha scaling in MLP's docstring
  doc/modules/neural_networks_supervised.rst
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation, module:neural_network

#22507 DOC Adjusts OneHotEncoder docstring on multicollinearity
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#22526 FIX np.digitize fixes in calibration and discretization
  doc/whats_new/v1.1.rst
  sklearn/calibration.py
  sklearn/preprocessing/_discretization.py
Labels: module:preprocessing

#22407 TST invalid init parameters for losses
  sklearn/_loss/loss.py
  sklearn/_loss/tests/test_loss.py
Labels: No Changelog Needed

#22536 DOC: use notebook-style for plot_logistic_path.py
  examples/linear_model/plot_logistic_path.py
Labels: Quick Review

#22567 CI: refactor Azure CI install script
  build_tools/azure/install.sh
Labels: Build / CI

#21800 FEA add quantile HGBT
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: Waiting for Reviewer, High Priority, module:ensemble

#22215 ENH Allow prefit in stacking
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble, Needs Decision - API

#22547 DOC: use notebook-style for plot_ols_3d
  examples/linear_model/plot_ols_3d.py
Labels: Documentation, Quick Review

#22588 CI: remove misleading pytest-xdist comment
  build_tools/azure/posix.yml
  build_tools/azure/windows.yml
Labels: Build / CI, Quick Review

#21626 Increased speed by adding cv and n_jobs params plot_multi_metric_evaluation.py
  examples/model_selection/plot_multi_metric_evaluation.py
Labels: Documentation, Waiting for Reviewer

#21748 MNT accelerate plot_iterative_imputer_variants_comparison.py
  examples/impute/plot_iterative_imputer_variants_comparison.py
Labels: Waiting for Reviewer, module:impute

#22153 DOC Update documentation of gradient boosting estimators w/ ranges
  sklearn/ensemble/_gb.py
Labels: Documentation, Waiting for Reviewer, module:ensemble

#22565 DOC Clarifies comments and docstrings in _BaseDiscreteNB
  sklearn/naive_bayes.py
Labels: Documentation, module:naive_bayes, Quick Review

#22591 DOC Fix matplotlib warning for plot_pca_3d.py
  examples/decomposition/plot_pca_3d.py
Labels: Documentation

#22602 MNT Removes duplicates in neighbors.VALID_METRICS["brute"]
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors, No Changelog Needed, Quick Review

#22593 MAINT Do not propagate n_jobs as n_threads
  doc/glossary.rst
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
Labels: module:neighbors, No Changelog Needed, cython

#22608 DOC: remove note for scikit-learn < 0.20 in contributing guide
  doc/developers/contributing.rst
Labels: Documentation

#22461 DOC: use notebook-style for plot_stock_market.py
  examples/applications/plot_stock_market.py
Labels: Documentation, Quick Review

#22605 FIX Calinski and Harabasz score description
  sklearn/metrics/cluster/_unsupervised.py
Labels: Documentation, module:metrics

#22328 MNT Use C++ stack instead of implementing our own in trees
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
  sklearn/tree/setup.py
Labels: module:tree, cython

#22619 MNT Fixes pypy load_files error in test
  sklearn/datasets/_base.py
  sklearn/datasets/tests/test_base.py
Labels: module:datasets, No Changelog Needed

#22484 DOC Ensures that linnerud passes numpydoc validation
  sklearn/datasets/_base.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#22624 DOC Fix typo in decomposition.TruncatedSVD
  sklearn/decomposition/_truncated_svd.py
Labels: Documentation, module:decomposition

#22622 DOC Fix axes3d matplotlib deprecation warning
  examples/decomposition/plot_pca_iris.py
Labels: Documentation

#22525 ENH Bayesian regression model `dtype` consistency
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: Waiting for Reviewer, module:linear_model

#22596 DOC Add abstract methods to _BaseDiscreteNB
  sklearn/naive_bayes.py
Labels: Documentation, module:naive_bayes

#19794 ENH Isomap supports radius-based neighbors
  doc/whats_new/v1.1.rst
  sklearn/manifold/_isomap.py
  sklearn/manifold/tests/test_isomap.py
Labels: module:manifold, cython

#22351 CLN Small refactor of cost complexity pruning using _TREE_UNDEFINED
  sklearn/tree/_tree.pyx
Labels: module:tree, cython, Quick Review

#22617 MNT Drops Python 3.7 in CI, wheel building, and docs
  .circleci/config.yml
  .github/workflows/wheels.yml
  .travis.yml
  README.rst
  azure-pipelines.yml
  build_tools/circle/build_doc.sh
  doc/developers/advanced_installation.rst
  doc/faq.rst
  doc/install.rst
  doc/whats_new/v1.1.rst
  pyproject.toml
  setup.py
  sklearn/_loss/tests/test_loss.py
  sklearn/_min_dependencies.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_mutual_info.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/utils/fixes.py
Labels: Build / CI, module:linear_model, No Changelog Needed, Quick Review

#22637 CI Label PRs only when it is opened
  .github/workflows/labeler-module.yml
Labels: Build / CI

#22621 FIX Avoid side effects importing pip/setuptool in show_version
  sklearn/utils/_show_versions.py
Labels: module:utils, Quick Review

#22638 BLD Exclude SECURITY.md from MANIFEST
  MANIFEST.in
Labels: Quick Review
