Repository scikit-learn/scikit-learn, pull requests merged in 2022-05, with the labels that each got.

#23228 DOC: use notebook-style for plot_ward_structured_vs_unstructured.py
  examples/cluster/plot_ward_structured_vs_unstructured.py
Labels: Documentation, Quick Review

#23244 DOC improve documentation regarding change of default value
  doc/developers/contributing.rst
Labels: Documentation

#22965 ENH Add sparse input support to OPTICS
  doc/whats_new/v1.2.rst
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#23237 MNT Refactor splitter flow by removing indentation
  sklearn/tree/_splitter.pyx
Labels: module:tree, cython

#22968 ENH Added `dtype` preservation to `Birch`
  doc/whats_new/v1.2.rst
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster

#23234 TST: speed-up MLP tests by using default batch size
  sklearn/utils/estimator_checks.py
Labels: module:utils

#23256 FIX SGDRegreesor and SGDClassifier use correct number of validation data
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, To backport

#23174 CI Experimental [nogil] build of scikit-learn
  azure-pipelines.yml
  build_tools/azure/install.sh
  build_tools/azure/test_docs.sh
  build_tools/azure/test_script.sh
  doc/developers/contributing.rst
Labels: Build / CI

#23214 FIX compute precision-recall at 100% recall
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.1.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#22015 API add intercept_ attribute to PLS estimators
  doc/whats_new/v1.1.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, To backport

#23259 MNT Use list comprehension in place of list keyword
  sklearn/datasets/_samples_generator.py
  sklearn/metrics/cluster/_bicluster.py
  sklearn/metrics/tests/test_classification.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
Labels: module:datasets, module:metrics, module:model_selection, No Changelog Needed

#21792 DOC Accelerate plot_missing_values.py example
  examples/impute/plot_missing_values.py
Labels: Documentation

#23272 DOC fix plot of MDI importance
  examples/inspection/plot_permutation_importance.py
Labels: Documentation, To backport

#21795 DOC Accelerate plot_johnson_lindenstrauss_bound.py example
  examples/miscellaneous/plot_johnson_lindenstrauss_bound.py
Labels: Documentation

#23279 TST Speed-up some tests in test_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition, module:test-suite, No Changelog Needed, Quick Review

#23271 FIX params validation in SelectFromModel with prefit=True
  doc/whats_new/v1.1.rst
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
Labels: module:feature_selection, To backport, No Changelog Needed

#23281 TST Speed-up tests in test_plot_partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection, module:test-suite, No Changelog Needed, Quick Review

#23274 TST Speed-up test_predict for KMeans
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, module:test-suite, No Changelog Needed, Quick Review

#23198 DOC List estimators that supports missing data in user guide
  doc/conf.py
  doc/modules/impute.rst
  doc/sphinxext/allow_nan_estimators.py
  doc/whats_new/v1.1.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Documentation, module:utils

#23252 ENH Optimize runtime for IsolationForest
  doc/whats_new/v1.2.rst
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble

#23261 DOC Specify the meaning of dict_init=None in sklearn.decomposition.dict_learning_online
  sklearn/decomposition/_dict_learning.py
Labels: Documentation, module:decomposition

#23015 MNT return array instead of memory view in coordinate descent
  sklearn/linear_model/_base.py
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model, No Changelog Needed, cython

#23264 FIX Avoid spurious warning in IncrementalPCA when n_samples == n_components_
  doc/whats_new/v1.1.rst
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/tests/test_incremental_pca.py
Labels: module:decomposition

#23285 DOC Fix extraneous noqa comments
  sklearn/datasets/_base.py
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:datasets, module:linear_model

#23284 DOC Fix return type of weighted_n_node_samples
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#23268 DOC improve compound poisson gamma example
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
Labels: Documentation

#23290 DOC Update _classification.py
  sklearn/metrics/_classification.py
Labels: module:metrics

#23293 DOC Removes redundant time_ variable in plot_birch example
  examples/cluster/plot_birch_vs_minibatchkmeans.py
Labels: Documentation

#23020 DOC precise stopping criteria for coordinate descent
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model, No Changelog Needed

#23115 FIX: Make compute_sample_weight work on sparse target
  doc/whats_new/v1.1.rst
  sklearn/utils/class_weight.py
  sklearn/utils/tests/test_class_weight.py
Labels: module:utils

#22582 DOC/TST Clarify group order in GroupKFold and LeaveOneGroupOut
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: module:model_selection, No Changelog Needed

#23298 DOC add a note regarding no-interpolated PR curve
  sklearn/metrics/_plot/precision_recall_curve.py
Labels: Documentation, module:metrics

#23301 MNT Use cimport numpy as cnp in Cython files for NumPy C API for sklearn/utils/_fast_dict.pxd
  sklearn/utils/_fast_dict.pxd
Labels: module:utils, cython

#23310 DOC Fix various sphinx warnings.
  doc/whats_new/v0.22.rst
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
Labels: Documentation

#23302 MNT use cimport numpy as cnp for sklearn/utils/_random.pxd and sklearn/utils/_random.pyx
  sklearn/utils/_random.pxd
  sklearn/utils/_random.pyx
Labels: module:utils, cython

#23305 MNT use cimport numpy as cnp for ensemble/_hist_gradient_boosting module
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/common.pxd
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: module:ensemble, No Changelog Needed, cython

#23318 FIX DecisionBoundaryPlot should not raise spurious warning
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
Labels: module:inspection, To backport, No Changelog Needed

#22993 FEA Added Kernel Density bandwidth estimation and test
  doc/modules/density.rst
  doc/whats_new/v1.2.rst
  sklearn/neighbors/_kde.py
  sklearn/neighbors/tests/test_kde.py
Labels: module:neighbors, Quick Review

#23322 TST skip test_dataframe_support if matplotlib not installed
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
Labels: module:inspection, To backport, No Changelog Needed, Quick Review

#23306 MNT Use cimport numpy as cnp in sklearn/cluster
  sklearn/cluster/_dbscan_inner.pyx
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_k_means_minibatch.pyx
Labels: module:cluster, cython

#23299 FIX: partial_fit from SelectFromModel doesn't validate the parameters
  doc/whats_new/v1.2.rst
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/utils/estimator_checks.py
Labels: module:feature_selection

#23139 ENH add new function sort_graph_by_row_values
  doc/developers/utilities.rst
  doc/modules/classes.rst
  doc/whats_new/v1.2.rst
  sklearn/neighbors/__init__.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#23321 Release 1.1.0 final
  doc/whats_new/v1.1.rst
  examples/release_highlights/plot_release_highlights_1_1_0.py
  sklearn/__init__.py
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_iforest.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: No Changelog Needed

#23282 MNT Removes pytest.warns(None) in test_validation
  sklearn/utils/tests/test_validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#23336 CI Fix arm build
  build_tools/circle/build_test_arm.sh
Labels: Build / CI, Quick Review

#23338 CI Remove unused pypy file
  build_tools/circle/build_test_pypy.sh
Labels: Build / CI

#23329 MNT Use cimport numpy as cnp for sklearn/datasets
  sklearn/datasets/_svmlight_format_fast.pyx
Labels: module:datasets, cython

#23330 MNT Use cimport numpy as cnp for sklearn/decomposition
  sklearn/decomposition/_online_lda_fast.pyx
Labels: module:decomposition, cython

#23341 MNT change versions to 1.2
  sklearn/metrics/_scorer.py
  sklearn/model_selection/_split.py
  sklearn/utils/_metadata_requests.py
Labels: module:metrics, module:model_selection, module:utils, No Changelog Needed

#23320 DOC correct return type of check_random_state
  sklearn/utils/validation.py
Labels: Documentation, module:utils

#21938 ENH improve ARFF parser using pandas
  asv_benchmarks/benchmarks/datasets.py
  benchmarks/bench_hist_gradient_boosting_adult.py
  benchmarks/bench_isolation_forest.py
  benchmarks/bench_lof.py
  benchmarks/bench_mnist.py
  benchmarks/bench_plot_randomized_svd.py
  benchmarks/bench_tsne_mnist.py
  doc/datasets/loading_other_datasets.rst
  doc/whats_new/v1.1.rst
  doc/whats_new/v1.2.rst
  examples/applications/plot_cyclical_feature_engineering.py
  examples/applications/plot_digits_denoising.py
  examples/compose/plot_column_transformer_mixed_types.py
  examples/compose/plot_transformed_target.py
  examples/ensemble/plot_gradient_boosting_categorical.py
  examples/ensemble/plot_stack_predictors.py
  examples/gaussian_process/plot_gpr_co2.py
  examples/inspection/plot_linear_model_coefficient_interpretation.py
  examples/inspection/plot_permutation_importance.py
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
  examples/linear_model/plot_sgd_early_stopping.py
  examples/linear_model/plot_sparse_logistic_regression_mnist.py
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
  examples/miscellaneous/plot_display_object_visualization.py
  examples/miscellaneous/plot_outlier_detection_bench.py
  examples/multioutput/plot_classifier_chain_yeast.py
  examples/neighbors/approximate_nearest_neighbors.py
  examples/neural_networks/plot_mnist_filters.py
  examples/release_highlights/plot_release_highlights_0_22_0.py
  examples/release_highlights/plot_release_highlights_1_1_0.py
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_arff_parser.py
  sklearn/datasets/tests/test_openml.py
Labels: Waiting for Reviewer, module:datasets

#23331 MNT Use cimport numpy as cnp for sklearn/feature_extraction
  sklearn/feature_extraction/_hashing_fast.pyx
Labels: module:feature_extraction, cython

#23308 MNT Use cimport numpy as cnp for sklearn/metrics
  sklearn/metrics/_dist_metrics.pxd
  sklearn/metrics/_dist_metrics.pyx
  sklearn/metrics/_pairwise_distances_reduction.pyx
  sklearn/metrics/_pairwise_fast.pyx
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
Labels: module:metrics, cython

#23307 MNT Use cimport numpy as cnp in sklearn/linear_model
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pyx
Labels: module:linear_model, cython

#23358 Fix OpenML timeout
  doc/whats_new/v1.1.rst
  sklearn/datasets/_openml.py
Labels: module:datasets, To backport

#23273 MNT Refactor tree splitter to use memoryviews
  doc/whats_new/v1.2.rst
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
Labels: module:tree, cython

#23365 DOC Use notebook style for remaining notebooks from notebook-style meta-issue
  examples/cross_decomposition/plot_compare_cross_decomposition.py
  examples/decomposition/plot_ica_blind_source_separation.py
  examples/linear_model/plot_multi_task_lasso_support.py
Labels: Documentation, Quick Review

#23364 MNT Removes unneeded np imports in cython files
  sklearn/_loss/_loss.pxd
  sklearn/ensemble/_hist_gradient_boosting/common.pxd
  sklearn/utils/_random.pxd
Labels: module:ensemble, module:utils, cython

#22448 CI: move Linux and MacOS Azure builds to conda lock files
  azure-pipelines.yml
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/install.sh
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_1804_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_1804_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/python_nogil_requirements.txt
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/azure/update_environments_and_lock_files.py
Labels: Build / CI

#23347 MAINT Minor refactor of `_assert_all_finite` logic
  sklearn/utils/validation.py
Labels: module:utils

#23326 MNT Use cimport numpy as cnp for sklearn/svm
  sklearn/svm/_liblinear.pxi
  sklearn/svm/_liblinear.pyx
  sklearn/svm/_libsvm.pxi
  sklearn/svm/_libsvm.pyx
  sklearn/svm/_libsvm_sparse.pyx
Labels: module:svm, cython

#23348 MNT Use cimport numpy as cnp for sklearn/utils
  sklearn/utils/_fast_dict.pyx
  sklearn/utils/_logistic_sigmoid.pyx
  sklearn/utils/_readonly_array_wrapper.pyx
  sklearn/utils/_seq_dataset.pxd.tp
  sklearn/utils/_seq_dataset.pyx.tp
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
  sklearn/utils/_vector_sentinel.pxd
  sklearn/utils/_vector_sentinel.pyx
  sklearn/utils/_weight_vector.pxd.tp
  sklearn/utils/_weight_vector.pyx.tp
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/murmurhash.pxd
  sklearn/utils/murmurhash.pyx
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#23349 MNT Use cimport numpy as cnp for sklearn/preprocessing
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
Labels: module:preprocessing, cython

#23350 MNT Use cimport numpy as cnp for sklearn/neighbors
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_quad_tree.pxd
  sklearn/neighbors/_quad_tree.pyx
Labels: module:neighbors, cython

#23315 MNT Use cimport numpy as cnp for sklearn/tree
  sklearn/tree/_criterion.pxd
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
Labels: module:tree, cython

#23370 ENH PolynomialFeatures better handle degree=0
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#22722 MAINT Common parameter validation
  sklearn/base.py
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_bisect_k_means.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/tests/test_common.py
  sklearn/utils/_param_validation.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:cluster, module:utils, module:test-suite, No Changelog Needed

#22672 TST use global_dtype in sklearn/cluster/tests/test_mean_shift.py
  sklearn/cluster/tests/test_mean_shift.py
Labels: module:cluster, No Changelog Needed, Quick Review

#23352 MNT Use cimport numpy as cnp for sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/_gradient_boosting.pyx
Labels: module:ensemble, cython

#23351 MNT Use cimport numpy as cnp for sklearn/mainfold
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/manifold/_utils.pyx
Labels: module:manifold, cython

#23263 DOC use notebook-style in ensemble/plot_adaboost_regression.py
  examples/ensemble/plot_adaboost_regression.py
Labels: Documentation, Quick Review

#22518 FEA Add positive and negative likelihood ratios to metrics
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.2.rst
  examples/model_selection/plot_likelihood_ratios.py
  sklearn/metrics/__init__.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#20617 ENH: Add lapack driver argument to randomized svd function
  doc/whats_new/v1.2.rst
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils

#23398 DOC Ensures that sklearn.feature_extraction.image.img_to_graph passes numpydoc validation
  sklearn/feature_extraction/image.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_extraction, No Changelog Needed

#23403 DOC Fix minor typo in doc/tutorial/basic/tutorial.rst
  doc/tutorial/basic/tutorial.rst
Labels: Documentation

#23406 DOC: fix typo in docstring cluster/_dbscan.py
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#23402 DOC Update model persistence URL
  sklearn/base.py
Labels: Documentation, To backport

#23414 DOC fix minor typos
  doc/tutorial/statistical_inference/supervised_learning.rst
Labels: Documentation

#23410 FIX fix performance regression in trees with low-cardinality features
  doc/whats_new/v1.1.rst
  sklearn/tree/_splitter.pyx
Labels: module:tree, To backport, cython

#23373 FIX Update randomized SVD benchmark
  benchmarks/bench_plot_randomized_svd.py
  sklearn/utils/extmath.py
Labels: module:utils

#23416 DOC update and add release date 1.1.1
  doc/whats_new/v1.1.rst
  doc/whats_new/v1.2.rst
Labels: Documentation

#23417 DOC small fixes in what's new 1.1.1
  doc/whats_new/v1.1.rst
Labels: Documentation

#23420 DOC some more fixes for changelog preparing release 1.1.1
  doc/templates/index.html
  doc/whats_new/v1.1.rst
Labels: Documentation, To backport

#23425 DOC changed <= symbol to \leq in tree module documentation
  doc/modules/tree.rst
Labels: Documentation

#23379 CI Use lock files for Windows builds
  azure-pipelines.yml
  build_tools/azure/install_win.sh
  build_tools/azure/py38_conda_forge_mkl_environment.yml
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_pip_openblas_32bit_lock.txt
  build_tools/azure/py38_pip_openblas_32bit_requirements.txt
  build_tools/azure/test_script.sh
  build_tools/azure/windows.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#23421 Revert change in sklearn.extmath.util and fix randomized_svd benchmark
  benchmarks/bench_plot_randomized_svd.py
  sklearn/utils/extmath.py
Labels: module:utils

#23433 DOC Ensures that sklearn.metrics._ranking.auc passes numpydoc validation
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#23051 MAINT Use check_scalar to validate scalar in: BayesianRidge
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#23431 DOC Implement documentation suggestions pairwise distance
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics

#23441 DOC Fixes typo in empirical_covariance.py
  sklearn/covariance/_empirical_covariance.py
Labels: Documentation, module:covariance

#23438 DOC Added instruction for installation on Alpine Linux
  doc/install.rst
Labels: Documentation

#23309 DOC Improved clarity, consistency and formatting for `fastica`/`FastICA` docstrings
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/tests/test_fastica.py
Labels: Documentation, module:decomposition, No Changelog Needed, Quick Review

#22928 DOC rework plot_document_classification_20newsgroups.py example
  examples/text/plot_document_classification_20newsgroups.py
Labels: Documentation

#23445 DOC Fix pinball loss fomula in linear_model.rst
  doc/modules/linear_model.rst
Labels: Documentation, Quick Review

#23448 CI unpin pip now that pip 22.1.1 has been released
  build_tools/circle/py39_conda_forge_environment.yml
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, Quick Review

#22898 ENH Deprecate `class_weight_` in regression/single class models in SVM module
  doc/whats_new/v1.2.rst
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm

#23456 DOC fix typos
  doc/modules/linear_model.rst
Labels: Documentation

#23452 DOC Fix distribution information in wine_data.rst
  sklearn/datasets/descr/wine_data.rst
Labels: Documentation, module:datasets, Quick Review

#23435 DOC Update testing section url in main README
  README.rst
Labels: Documentation, Quick Review

#23038 EHN Change default value of `n_init` in `cluster.KMeans` and `cluster.k_means`
  doc/whats_new/v1.2.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_pipeline.py
Labels: module:cluster

#23455 DOC fix typo in OneHotEncoder docstring
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing, Quick Review

#23395 FIX attribute error is BIRCH
  doc/whats_new/v1.1.rst
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster

#23460 MNT Small refactor of `_bagging.py`
  sklearn/ensemble/_bagging.py
Labels: module:ensemble, No Changelog Needed

#23446 MNT Removed `_safe_accumulator_op` for first-pass algorithm in `_assert_all_finite`
  doc/whats_new/v1.2.rst
  sklearn/utils/validation.py
Labels: module:utils

#23466 DOC Fixes order in whats new
  doc/whats_new/v1.2.rst
Labels: Documentation

#23467 DOC Ensures that sklearn.feature_selection._univariate_selection.chi2 passes numpydoc validation.
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_selection, No Changelog Needed

#23468 DOC Ensures that f_oneway passes numpydoc validation.
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_selection, No Changelog Needed

#23476 DOC Ensures that inplace_swap_column passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#23484 DOC Fix typo in random forest feature importance comparison example.
  examples/inspection/plot_permutation_importance.py
Labels: Documentation

#23486 DOC Ensures that fbeta_score passes numpydoc validation
  sklearn/metrics/_classification.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#23489 Typo in deprecation of plot_roc_curve function
  sklearn/metrics/_plot/roc_curve.py
Labels: module:metrics

#22764 MAINT float 32bit support for `DistanceMetric`
  .gitignore
  sklearn/metrics/_dist_metrics.pxd
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/setup.py
  sklearn/metrics/tests/test_dist_metrics.py
Labels: Waiting for Reviewer, module:metrics, No Changelog Needed, cython

#23266 DOC Rework plot_hashing_vs_dict_vectorizer.py example
  examples/text/plot_hashing_vs_dict_vectorizer.py
Labels: Documentation

#23353 MNT Minor refactor of `n_support`
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm, No Changelog Needed, Quick Review

#22054 API Rename base_estimator in CalibratedClassifierCV
  doc/modules/grid_search.rst
  doc/whats_new/v1.2.rst
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: Quick Review

#23487 DOC Add kernel glossary
  doc/glossary.rst
Labels: Documentation

#23469 MNT Improves comment when CI fails a second time
  maint_tools/update_tracking_issue.py
Labels: Build / CI, Quick Review

#23459 MNT Param validation: do not expose internal values in error msg
  sklearn/cluster/_kmeans.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:cluster, module:utils, No Changelog Needed
