Repository scikit-learn/scikit-learn, pull requests merged in 2022-04, with the labels that each got.

#22991 CI use circleci artifact redirector GH action
  .github/workflows/artifact-redirector.yml
Labels: Build / CI

#22829 MAINT Adapt scheduling of `PairwiseDistancesRadiusNeighborhood`
  sklearn/metrics/_pairwise_distances_reduction.pyx
Labels: module:metrics, cython

#22668 TST use global_dtype in sklearn/cluster/tests/test_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: Waiting for Reviewer, module:cluster, No Changelog Needed, Quick Review

#22676 TST use global_dtype in sklearn/manifold/tests/test_locally_linear.py
  sklearn/manifold/tests/test_locally_linear.py
Labels: module:manifold, No Changelog Needed, Quick Review

#23016 DOC Ensure completeness_score passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#19716 FIX make creation of dataset deterministic in SGD
  sklearn/linear_model/_base.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/utils/_seq_dataset.pyx.tp
Labels: module:linear_model, No Changelog Needed

#23030 TST remove tests for default change warnings in test_svm.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm, No Changelog Needed

#23029 TST remove pytest.warns(None) in utils/tests/test_validation.py
  sklearn/utils/tests/test_validation.py
Labels: module:utils, No Changelog Needed

#23005 DOC Ensures that laplacian_kernel passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#22951 [WIP] Elaborates on description of MaxAbsScaler in example.
  examples/preprocessing/plot_all_scaling.py
Labels: Documentation

#23021 Fixing a documentation issue on SVC parameter decision_function_shape
  sklearn/svm/_classes.py
Labels: module:svm

#22953 Fix: Feature Union: Checking if feautre union is fitted fails
  doc/whats_new/v1.1.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#23049 CI Increases test time for pypy [pypy]
  build_tools/azure/posix-docker.yml
Labels: Build / CI

#23002 DOC use notebook-style for plot_theilsen
  examples/linear_model/plot_theilsen.py
Labels: Documentation, Quick Review

#23058 DOC Fixes nav bar by dynamically changing searchbar size (#22954)
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation, No Changelog Needed, Quick Review

#23036 DEP deviance in favor of log_loss for GradientBoostingClassifier
  doc/modules/ensemble.rst
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_gb_losses.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#20408 Solve Gaussian Mixture Model sample/kmeans++-based initialisation merge conflicts #11101
  doc/modules/mixture.rst
  doc/whats_new/v1.1.rst
  examples/mixture/plot_gmm_init.py
  sklearn/mixture/_base.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: Waiting for Reviewer, Sprint, module:cluster, module:mixture

#22982 FIX Fixes partial_fit support for regressors in learning_curve
  doc/whats_new/v1.1.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: Waiting for Reviewer, module:model_selection

#23060 DOC Fix duplicated module entries in whats_new
  doc/whats_new/v1.1.rst
Labels: Documentation

#23056 TST replace pytest.warns(None) in tests/test_base.py
  sklearn/tests/test_base.py
Labels: No Changelog Needed

#23057 TST Replace pytest.warns(None) in test_discriminant_analysis.py
  sklearn/tests/test_discriminant_analysis.py
Labels: No Changelog Needed

#23039 DOC numpy doc update for function sklearn.utils.validation.ch…
  sklearn/tests/test_docstrings.py
  sklearn/utils/validation.py
Labels: Documentation, module:utils, No Changelog Needed, Quick Review

#21767 FIX avoid parameter validation in init in TheilSenRegressor
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_theil_sen.py
  sklearn/linear_model/tests/test_theil_sen.py
  sklearn/tests/test_common.py
Labels: module:linear_model

#23046 DEP loss "log" in favor of "log loss" in SGDClassifier
  doc/modules/sgd.rst
  doc/whats_new/v1.1.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_multioutput.py
Labels: module:linear_model

#23040 DEP auto, binary_crossentropy, categorical_crossentropy in HGBT
  benchmarks/bench_hist_gradient_boosting.py
  benchmarks/bench_hist_gradient_boosting_adult.py
  benchmarks/bench_hist_gradient_boosting_categorical_only.py
  benchmarks/bench_hist_gradient_boosting_higgsboson.py
  benchmarks/bench_hist_gradient_boosting_threading.py
  doc/modules/ensemble.rst
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_compare_lightgbm.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
Labels: module:ensemble

#23068 replaced depreciated pytest warning syntax
  sklearn/tests/test_isotonic.py
Labels: No Changelog Needed, Quick Review

#16606 [MRG] Combining LOF and Isolation benchmarks
  doc/modules/outlier_detection.rst
  examples/miscellaneous/plot_outlier_detection_bench.py
Labels: Needs Decision, module:datasets

#23075 updated warnings syntax, fixed previous error
  sklearn/tests/test_common.py
Labels: No Changelog Needed

#23078 DOC correct position of changes in changelog
  doc/whats_new/v1.1.rst
Labels: Documentation

#23044 DOC Ensures that haversine_distance passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#22929 DOC: Use notebook-style plot_dict_face_patches.py
  examples/cluster/plot_dict_face_patches.py
Labels: Documentation, Quick Review

#23064 DOC: use notebook-style for plot_pca_3d.py
  examples/decomposition/plot_pca_3d.py
Labels: Documentation, Quick Review

#23035 DOC fix references for gradient boosting
  doc/modules/ensemble.rst
Labels: Documentation, No Changelog Needed, Quick Review

#23009 DOC modify plot_scalable_poly_kernels.py format
  examples/kernel_approximation/plot_scalable_poly_kernels.py
Labels: Documentation

#23023 ENH Adds FeatureHasher support to pypy
  doc/conftest.py
  doc/whats_new/v1.1.rst
  sklearn/conftest.py
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/_hashing_fast.pyx
  sklearn/feature_extraction/setup.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/utils/__init__.py
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
  sklearn/utils/_vector_sentinel.pxd
  sklearn/utils/_vector_sentinel.pyx
Labels: module:feature_extraction, module:utils, cython

#23083 EXA: fix 3d projections in examples for matplotlib 3.1
  examples/datasets/plot_iris_dataset.py
  examples/manifold/plot_compare_methods.py
Labels: No Changelog Needed, Quick Review

#23061 DOC Update comment in sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/_gradient_boosting.pyx
Labels: Documentation, module:ensemble, cython, Quick Review

#23076 ENH Reduce copying when centering PDPs
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection, No Changelog Needed

#23033 FIX Raise error when n_neighbours >= n_samples / 2 in manifold.trustworthiness
  doc/whats_new/v1.1.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
Labels: Documentation, module:manifold

#23034 FIX `GaussianMixture` now normalizes `weights_` directly instead of by `n_samples`
  doc/whats_new/v1.1.rst
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: module:mixture, Quick Review

#23086 STY Better paragraph styling for admonition p
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: No Changelog Needed, Quick Review

#23094 DOC Ensures that sklearn.decomposition._fastica.fastica passes numpydoc validation
  sklearn/decomposition/_fastica.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:decomposition, No Changelog Needed

#23088 DOC Fix version of ConfusionMatrix.from_predictions
  sklearn/metrics/_plot/confusion_matrix.py
Labels: Documentation, module:metrics, Quick Review

#23089 TST Remove pytest.warns(None) and replace it with warnings.catch_warnings in test_pipeline.py
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed

#22118 ENH add D2 pinbal score and D2 absolute error score
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.1.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics, Needs Decision - API

#23081 DOC write the cross-entropy loss for classification trees
  doc/modules/tree.rst
Labels: Documentation, Enhancement

#23116 Correct a typo in kPCA documentation
  sklearn/decomposition/_kernel_pca.py
Labels: module:decomposition

#23093 DOC: various spellcheck and typos
  asv_benchmarks/benchmarks/linear_model.py
  doc/computing/computational_performance.rst
  doc/conftest.py
  doc/datasets/sample_generators.rst
  doc/developers/advanced_installation.rst
  doc/developers/contributing.rst
  doc/developers/develop.rst
  doc/glossary.rst
  doc/inspection.rst
  doc/modules/clustering.rst
  doc/modules/cross_validation.rst
  doc/modules/grid_search.rst
  doc/modules/mixture.rst
  doc/modules/tree.rst
  doc/related_projects.rst
  examples/calibration/plot_calibration_multiclass.py
Labels: Documentation

#23117 DOC fix typo in log loss formula for trees
  doc/modules/tree.rst
Labels: Documentation, Quick Review

#23079 DEP loss_ attribute in gradient boosting
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble

#23121 CI Removes manylinux2010 since SciPy does not support it in 1.8
  .github/workflows/wheels.yml
Labels: Build / CI

#23098 FIX Removes all random unique IDs in html repr
  doc/whats_new/v1.1.rst
  sklearn/utils/_estimator_html_repr.py
Labels: module:utils

#23118 CI Run all CI jobs on azure nightly
  azure-pipelines.yml
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
Labels: Build / CI

#23122 CI Fixes windows wheel build [cd build gh]
  build_tools/github/build_minimal_windows_image.sh
Labels: Build / CI

#23123 CI Open tracker issue for nightly wheel failures
  .github/workflows/update_tracking_issue.yml
  .github/workflows/wheels.yml
Labels: Build / CI

#23114 TST: replace pytest.warns(None) in test_plot_partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection, No Changelog Needed

#23092 DOC Fixes sphinx warnings when building docs
  doc/conf.py
  examples/miscellaneous/plot_outlier_detection_bench.py
Labels: Documentation, Quick Review

#22905 CI Azure: try removing setuptools workaround on windows
  azure-pipelines.yml
Labels: Build / CI

#23047 ENH add criterion log_loss as alternative to entropy in trees and forests
  doc/modules/grid_search.rst
  doc/modules/permutation_importance.rst
  doc/modules/tree.rst
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: module:ensemble, module:tree

#23131 DOC Fix the See Also section in GraphicalLassoCV
  sklearn/covariance/_graph_lasso.py
Labels: Documentation, module:covariance

#22897 DOC better reference for test_multinomial_identifiability_on_iris
  sklearn/linear_model/tests/test_logistic.py
Labels: Documentation, module:linear_model, No Changelog Needed, Quick Review

#22949 TST Replaces pytest.warns(None) in test_voting
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble, No Changelog Needed, Quick Review

#20004 DOC Fix User Guide link in PartialDependenceDisplay
  sklearn/inspection/_plot/partial_dependence.py
Labels: Documentation, module:inspection

#23126 MNT Removes _linear_loss attribute in GLMs
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_glm/tests/test_glm.py
Labels: module:linear_model, No Changelog Needed

#23106 DOC: update notebook-style for plot_ica_vs_pca.py
  examples/decomposition/plot_ica_vs_pca.py
Labels: Documentation, Quick Review

#23145 DOC Ensures that cross_validate passes numpydoc validation
  sklearn/model_selection/_validation.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:model_selection, No Changelog Needed

#22405 MAINT Use check_scalar in _BaseStacking
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble, No Changelog Needed

#23146 DOC Added hyperlink to AIC-BIC User Guide entry
  examples/mixture/plot_gmm_selection.py
Labels: Documentation

#23097 FIX Fixes Stacking* HTML repr
  doc/whats_new/v1.1.rst
  sklearn/utils/_estimator_html_repr.py
Labels: Documentation, module:ensemble, module:utils

#23077 FIX Fix available_if with bounded methods
  doc/whats_new/v1.1.rst
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_metaestimators.py
Labels: module:utils

#23136 MNT Replace pytest.warns(None) in test_text.py
  sklearn/feature_extraction/tests/test_text.py
Labels: module:feature_extraction, No Changelog Needed, Quick Review

#23137 MNT Replace pytest.warns(None) in test_utils
  sklearn/utils/tests/test_utils.py
Labels: module:utils, No Changelog Needed, Quick Review

#23138 MNT Replace pytest.warns(None) in linear_models tests
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_common.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#23110 CI enable global_dtype fixture on nightly build jobs
  build_tools/azure/test_script.sh
Labels: Build / CI

#23166 DOC Ensure `dump_svmlight_file` passes numpydoc validation
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#23026 CI allow to run only selected tests but on all random seeds
  azure-pipelines.yml
  build_tools/azure/get_commit_message.py
  build_tools/azure/get_selected_tests.py
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
  build_tools/azure/test_script.sh
  build_tools/azure/windows.yml
Labels: Build / CI, No Changelog Needed

#23017 TST adapt tol for ridge tests to pass on all random seeds
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#23152 make test_ridge_regression_vstacked_X less sensitive
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#23159 nogil: fix race condition when running k-means without the GIL
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
Labels: module:cluster, No Changelog Needed, cython

#23054 DOC fix: update docstring to say onehotencoder handles missing values
  examples/compose/plot_column_transformer_mixed_types.py
Labels: Documentation, Quick Review

#23167 TST Fix failing tests catched by azure cron job
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors, No Changelog Needed, Quick Review

#22747 DOC Rework plot_ard.py example
  doc/conf.py
  doc/modules/linear_model.rst
  examples/linear_model/plot_ard.py
  examples/linear_model/plot_bayesian_ridge.py
Labels: Documentation

#23181 TST Fix ridge tests not deterministic
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#23164 DOC Fix notebook style of plot_coin_ward_segmentation
  examples/cluster/plot_coin_ward_segmentation.py
Labels: Documentation, Quick Review

#23170 TST make test_ridge_regression_hstacked_X more lenient
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#23104 DOC use notebook-style for plot_rbm_logistic_classification.py
  examples/neural_networks/plot_rbm_logistic_classification.py
Labels: Documentation, Quick Review

#23186 TST Speed-up test_minibatch_dictionary_learning_dtype_match
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition, module:test-suite, No Changelog Needed, Quick Review

#23188 DOC Ensure that normalize passes numpydoc validation
  sklearn/preprocessing/_data.py
Labels: module:preprocessing, No Changelog Needed

#16948 [MRG] Online implementation of non-negative matrix factorization
  doc/computing/scaling_strategies.rst
  doc/modules/classes.rst
  doc/modules/decomposition.rst
  doc/whats_new/v1.1.rst
  examples/applications/plot_topics_extraction_with_nmf_lda.py
  sklearn/decomposition/__init__.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/utils/estimator_checks.py
Labels: Waiting for Reviewer, module:decomposition

#23190 CI Fix don't run all random seeds all the time
  build_tools/azure/get_selected_tests.py
  build_tools/azure/test_script.sh
Labels: Build / CI, No Changelog Needed

#23193 DOC Fixes confusing notation for y and y_pred
  doc/modules/model_evaluation.rst
Labels: Documentation, Quick Review

#19243 DOC Fixes docstring in BayesianGaussianMixture
  sklearn/mixture/_bayesian_mixture.py
Labels: Documentation, module:mixture

#23192 CLN Remove unnecessary code from DecisionBoundaryDisplay
  sklearn/inspection/_plot/decision_boundary.py
Labels: module:inspection, No Changelog Needed, Quick Review

#20442 DOC Fixes grammar in decision tree's cpp pruning docstring
  sklearn/tree/_tree.pyx
Labels: Documentation, module:tree, cython

#17734 DOC Consistently present BinaryTree method signatures without self
  sklearn/neighbors/_binary_tree.pxi
Labels: module:neighbors

#23201 DOC Improve symbol convention in `model_evaluation.rst`
  doc/modules/model_evaluation.rst
Labels: Documentation

#22952 DOC Small fixes in Tweedie deviances documentation
  doc/modules/model_evaluation.rst
Labels: Documentation

#23204 MNT Combine multiple `isinstance` call
  sklearn/discriminant_analysis.py
  sklearn/gaussian_process/tests/test_kernels.py
  sklearn/utils/sparsefuncs.py
Labels: module:gaussian_process, module:utils, No Changelog Needed

#23206 FIX Add missing f prefix for f-string in check_sample_weights_not_overwritten
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed

#22237 ENH check_array returns numeric array w/ mixed typed dataframes
  doc/whats_new/v1.1.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#23191 DOC Adds svg logo without subtitle
  doc/logos/scikit-learn-logo-without-subtitle.svg
Labels: Documentation, Quick Review

#20031 FEA Bisecting K-Means
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/whats_new/v1.1.rst
  examples/cluster/plot_bisect_kmeans.py
  sklearn/cluster/__init__.py
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_bisect_k_means.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/utils/estimator_checks.py
Labels: New Feature, module:cluster

#23217 DOC Add MiniBatchNMF and BisectingKMeans to the 1.1 highlights
  examples/release_highlights/plot_release_highlights_1_1_0.py
Labels: Documentation

#23209 DOC use notebook-style in linear_model/plot_ridge_path.py
  examples/linear_model/plot_ridge_path.py
Labels: Documentation, Quick Review

#23085 DOC improve the random forest feature importance comparison example
  examples/inspection/plot_permutation_importance.py
Labels: Documentation

#23194 ENH Improves error message when experimental flag is not imported
  doc/whats_new/v1.1.rst
  sklearn/experimental/tests/test_enable_iterative_imputer.py
  sklearn/experimental/tests/test_enable_successive_halving.py
  sklearn/impute/__init__.py
  sklearn/model_selection/__init__.py
Labels: module:impute, module:model_selection, Quick Review

#23150 DOC: use notebook-style for plot_covariance_estimation.py
  examples/covariance/plot_covariance_estimation.py
Labels: Documentation, Quick Review

#23148 Update plot_pca_vs_fa_model_selection.py
  examples/decomposition/plot_pca_vs_fa_model_selection.py
Labels: Quick Review

#23140 DOC: Fixing notebook-style formatting on plot_segmentation_toy.py
  examples/cluster/plot_segmentation_toy.py
Labels: Documentation, Quick Review

#23218 Release 1.1.0rc1
  doc/templates/index.html
  doc/whats_new/v1.1.rst
  examples/release_highlights/plot_release_highlights_1_1_0.py
  sklearn/__init__.py
Labels: No Changelog Needed

#23007 DOC Update preprocessing.rst
  doc/modules/preprocessing.rst
Labels: Documentation

#23220 DOC Detail superseded workflow for PRs
  doc/developers/bug_triaging.rst
Labels: Documentation

#23239 DOC: fix wrong labels in the plot_ica_vs_pca.py example figure
  examples/decomposition/plot_ica_vs_pca.py
Labels: Documentation

#23227 DOC Update maintainers doc for the release
  doc/developers/maintainer.rst
Labels: Documentation

#23232 ENH Remove redundant lambda function
  benchmarks/bench_multilabel_metrics.py
  doc/tutorial/machine_learning_map/parse_path.py
  sklearn/tests/test_docstrings.py
Labels: No Changelog Needed, Quick Review

#23149 ENH Optimize runtime for IsolationForest
  doc/whats_new/v1.1.rst
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_iforest.py
Labels: module:ensemble, Quick Review

#23184 DOC use notebook-style in ensemble/plot_adaboost_hastie_10_2.py
  examples/ensemble/plot_adaboost_hastie_10_2.py
Labels: Documentation, Quick Review

#23207 ENH Using context manager for file operation
  doc/tutorial/machine_learning_map/svg2imagemap.py
  doc/tutorial/text_analytics/data/languages/fetch_data.py
  examples/applications/wikipedia_principal_eigenvector.py
Labels: Quick Review

#23241 DOC Correctly format list for 1.1 `whats_new`
  doc/whats_new/v1.1.rst
Labels: Documentation, To backport

#23246 DOC Fixes sphinx warning in whats_new 1.1
  doc/whats_new/v1.1.rst
Labels: Documentation, To backport

#23250 DOC Ensures that strip_accents_ascii passes numpydoc validation
  sklearn/feature_extraction/text.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_extraction, No Changelog Needed

#23248 DOC Ensures that strip_tags passes numpydoc validation
  sklearn/feature_extraction/text.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:feature_extraction, No Changelog Needed

#23251 MAINT Fix some typos
  examples/tree/plot_unveil_tree_structure.py
  sklearn/cluster/_optics.py
  sklearn/datasets/_base.py
  sklearn/feature_extraction/_hashing_fast.pyx
  sklearn/impute/_knn.py
  sklearn/inspection/_permutation_importance.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_ransac.py
  sklearn/metrics/tests/test_regression.py
  sklearn/model_selection/_validation.py
  sklearn/tests/test_kernel_approximation.py
  sklearn/tree/_classes.py
Labels: No Changelog Needed, cython
