Repository scikit-learn/scikit-learn, pull requests merged in 2022-08, with the labels that each got.

#24062 DOC Add note about deactivating and reactivating the conda env after installing compilers.
  doc/developers/advanced_installation.rst
Labels: Documentation

#23990 FIX Support F-contiguous arrays for `PairwiseDistancesReductions`-backed estimators
  doc/whats_new/v1.1.rst
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:cluster, module:metrics, Quick Review

#24040 DOC Update viewing docs in CI `contributing.rst`
  doc/developers/contributing.rst
  doc/images/generated-doc-ci.png
Labels: Documentation, Build / CI, Quick Review

#24067 DOC Corrects init ndarray shape in MDS
  sklearn/manifold/_mds.py
Labels: Documentation, module:manifold

#24081 MAINT Do not version `*.pyc*`
  .gitignore
Labels: Quick Review

#24091 DOC Ensures that `mutual_info_score` passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24093 DOC Ensures that `normalized_mutual_info_score` passes numpydoc validation
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24098 DOC spectral biclustering: corrected contradiction of warning and documentation for parameter method
  sklearn/cluster/_bicluster.py
Labels: Documentation, module:cluster

#24094 DOC Ensures that `pair_confusion_matrix` passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24044 FIX utils.multiclass.type_of_target with numpy 1.24 dev
  sklearn/utils/multiclass.py
Labels: Build / CI, module:utils

#24097 DOC Ensures `v_measure_score` passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#23927 TST use global_random_seed in sklearn/cluster/tests/test_bicluster.py
  sklearn/cluster/tests/test_bicluster.py
Labels: module:cluster, No Changelog Needed

#23633 MAINT fix the way to call stats.mode
  sklearn/impute/_base.py
  sklearn/neighbors/_classification.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_extmath.py
Labels: module:impute, To backport, No Changelog Needed

#23833 CI Set MACOSX_DEPLOYMENT_TARGET=10.9
  build_tools/github/build_wheels.sh
  doc/whats_new/v1.1.rst
Labels: Build / CI, To backport

#24087 FIX Fixes OrdinalEncoder.inverse_tranform nan encoded values
  doc/whats_new/v1.1.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, To backport

#24073 DOC Updates linear_model.Perceptron regarding t_
  sklearn/linear_model/_passive_aggressive.py
  sklearn/linear_model/_perceptron.py
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model, Quick Review

#24116 DOC Remove deprecated multichannel parameter in example
  doc/tutorial/statistical_inference/unsupervised_learning.rst
  examples/cluster/plot_coin_segmentation.py
Labels: Documentation, Quick Review

#24118 MAINT Minor refactor to de-indent majority of `_assert_all_finite`
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#24070 DOC Update MDS init docs in fit
  sklearn/manifold/_mds.py
Labels: Documentation, module:manifold, No Changelog Needed, Quick Review

#24074 MNT Use is_sparse to validate sparse data from pandas
  sklearn/utils/validation.py
Labels: module:utils, Quick Review

#24135 DOC Fix variable name in Adaboost example
  examples/ensemble/plot_adaboost_multiclass.py
Labels: Documentation

#24075 FIX Set n_jobs=None as default for neighbors transformers
  doc/whats_new/v1.2.rst
  sklearn/neighbors/_graph.py
Labels: module:neighbors

#24130 DOC Update `validate_parameter_constraints()` docstring.
  sklearn/utils/_param_validation.py
Labels: Documentation, module:utils, Quick Review

#24128 DOC Fixes search on webpage
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  doc/conf.py
  doc/themes/scikit-learn-modern/search.html
  doc/themes/scikit-learn-modern/static/js/searchtools.js
Labels: Documentation, To backport

#24147 DOC Backport documentation search fix to 1.1.X
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  doc/conf.py
  doc/themes/scikit-learn-modern/search.html
  doc/themes/scikit-learn-modern/static/js/searchtools.js
Labels: Documentation

#24096 DOC Ensures that `rand_score` passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24162 DOC Ensures that fetch_species_distributions passes numpydoc validation
  sklearn/datasets/_species_distributions.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#24161 DOC Ensures that fetch_lfw_people passes numpydoc validation
  sklearn/datasets/_lfw.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#24143 MNT fix linter issues related to multioutput
  sklearn/multioutput.py
  sklearn/tests/test_multioutput.py
Labels: No Changelog Needed

#24164 DOC Ensures that load_svmlight_files passes numpydoc validation
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#24019 DOC Updated `adjusted_rand_score` docstring
  sklearn/metrics/cluster/_supervised.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#24125 TST Set eigen_tol in SpectralEmbedding to stabilize test
  sklearn/utils/estimator_checks.py
Labels: module:utils

#24051 ENH Adds text_kw to ConfusionMatrix
  doc/whats_new/v1.2.rst
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
Labels: module:metrics

#24168 TST Fix `test_pairwise_distances_argkmin` xfail
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: module:metrics, No Changelog Needed

#24043 MAINT Adapt `PairwiseDistancesReduction` heuristic for `strategy="auto"`
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
Labels: module:metrics, cython

#24163 DOC Ensures that load_svmlight_file passes numpydoc validation
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:datasets, No Changelog Needed

#24174 DOC Ensures that partial_dependence passes numpydoc validation
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24177 DOC Ensures that mean_variance_axis passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#20415 FIX adaboost return nan in feature importance
  doc/whats_new/v1.2.rst
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: Waiting for Reviewer, module:ensemble, cython

#24141 MNT Handle NaNs in scipy dev rankdata
  doc/whats_new/v1.2.rst
  sklearn/model_selection/_search.py
Labels: Waiting for Reviewer, module:model_selection

#23978 DOC Fix docstrings and comments for `PairwiseDistancesReduction`
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
Labels: Documentation, Waiting for Reviewer, module:metrics, No Changelog Needed, cython

#24178 DOC Ensures that inplace_swap_row passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#24191 DOC add missing docstring in functions in hgbt module
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: Documentation, module:ensemble, cython

#24126 SLEP006: CalibratedClassifierCV
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/_mocking.py
Labels: module:utils, No Changelog Needed

#24197 DOC Fix typo brier_score_loss doctring: is the sum -> as the sum
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#24206 CI Remove pandas FutureWarning in scipy-dev build
  sklearn/datasets/_arff_parser.py
Labels: Build / CI, module:datasets

#24225 CI Use Ubuntu 22.04 instead of Ubuntu 18.04
  azure-pipelines.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, No Changelog Needed

#24202 CI add ability to run float32 tests by commit message
  build_tools/azure/get_commit_message.py
  build_tools/azure/install.sh
  build_tools/azure/posix-docker.yml
  build_tools/azure/test_script.sh
  doc/developers/contributing.rst
Labels: Build / CI

#24095 DOC Expand multilabel in decision function in glossary
  doc/glossary.rst
Labels: Documentation

#24092 DOC Add section to contributing.rst on cross referencing syntax
  doc/developers/contributing.rst
Labels: Documentation, Waiting for Reviewer

#24108 MAINT Parameters validation for `ShrunkCovariance`
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_common.py
Labels: module:covariance, No Changelog Needed, Validation

#24209 DOC Added links and corrected typos to plot_stock_market.py
  examples/applications/plot_stock_market.py
Labels: Documentation

#24232 DOC Ensures that strip_accents_unicode passes numpydoc
  sklearn/feature_extraction/text.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24235 DOC Ensures that non_negative_factorization passes numpydoc
  sklearn/decomposition/_nmf.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:decomposition, No Changelog Needed

#24252 DOC Remove additional semicolon in HTML for Parameters and others sections
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#24114 MAINT Parameters validation for `SkewedChi2Sampler`
  sklearn/kernel_approximation.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24260 DOC Add Maxwell Liu to the Contributor Experience Team
  doc/contributor_experience_team.rst
Labels: Documentation

#24244 CI Fix fastica tests for debian 32 bit build and global dtype float32
  sklearn/decomposition/tests/test_fastica.py
Labels: Build / CI, No Changelog Needed, Quick Review

#24223 MAINT Adapt `DistanceMetric` in prevision for fused sparse-dense support
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/tests/test_dist_metrics.py
Labels: Waiting for Reviewer, module:metrics, No Changelog Needed, cython

#24218 MAINT Parameter validation for `QuadraticDiscriminantAnalysis`
  doc/whats_new/v1.2.rst
  sklearn/discriminant_analysis.py
  sklearn/tests/test_common.py
  sklearn/tests/test_discriminant_analysis.py
Labels: No Changelog Needed, Validation

#24266 DOC Correct typo in SelectFromModel
  sklearn/feature_selection/_from_model.py
Labels: Documentation, module:feature_selection

#24259 DOC Ensures that top_k_accuracy_score passes numpydoc
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24251 CI simplify passing of environment variables in Azure docker template
  build_tools/azure/posix-docker.yml
Labels: Build / CI

#24077 MAINT Update the name scheme of the `PairwiseDistancesReduction` backend
  sklearn/_config.py
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighborhood.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighborhood.pyx.tp
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, module:compose, module:metrics, module:neighbors, No Changelog Needed, cython

#24057 MAINT add parameters validation for SplineTransformer
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:preprocessing, No Changelog Needed, Validation

#24267 CI Update to macOS-11 in Azure CI
  azure-pipelines.yml
Labels: Build / CI, Quick Review

#24284 DOC Fix minor typo in clustering user guide
  doc/modules/clustering.rst
Labels: Documentation

#24219 MAINT Parameter validation for `TransformedTargetRegressor`
  sklearn/compose/_target.py
  sklearn/tests/test_common.py
Labels: module:compose, No Changelog Needed, Validation

#24129 MAINT Add parameter validation to SequentialFeatureSelector.
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:feature_selection, No Changelog Needed, Validation

#24289 DOC Ensure dict_learning_online passes numpydoc validation
  sklearn/decomposition/_dict_learning.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:decomposition, No Changelog Needed

#24278 DOC added description for DBSCAN
  examples/cluster/plot_dbscan.py
Labels: Documentation

#24300 DOC Fix some typos
  doc/faq.rst
  doc/modules/model_evaluation.rst
  examples/linear_model/plot_quantile_regression.py
  sklearn/dummy.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/preprocessing/tests/test_data.py
Labels: Documentation, module:feature_selection, module:preprocessing, No Changelog Needed

#24137 MAINT Add parameter validation to RFE and RFECV.
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:feature_selection, No Changelog Needed, Validation

#24047 MAINT _validate_params in BayesianRidge
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:linear_model, No Changelog Needed, Validation

#24132 MAINT Parameter validation for LedoitWolf
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:covariance, No Changelog Needed, Validation

#24109 MAINT Parameters validation for `SimpleImputer`
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:impute, No Changelog Needed, Validation

#23708 DOC Rework plot_adjusted_for_chance_measures.py example
  examples/cluster/plot_adjusted_for_chance_measures.py
Labels: Documentation, Waiting for Reviewer

#24048 ENH Param validation: Introduce Options constraint
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:neural_network, module:preprocessing, module:utils, No Changelog Needed, Validation

#24139 MAINT Add parameter validation for classes in _univariate_selection.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
  sklearn/tests/test_common.py
Labels: module:feature_selection, No Changelog Needed, Validation

#24149 MAINT Parameters validation for AdditiveChi2Sampler
  sklearn/kernel_approximation.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, No Changelog Needed, Validation

#24179 MAINT Add parameter validation to `FeatureHasher`
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:feature_extraction, No Changelog Needed, Validation

#24304 DOC Add scikit-network to related projects
  doc/related_projects.rst
Labels: Documentation, Quick Review

#24180 MAINT Add parameter validation for `FunctionTransformer`.
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
  sklearn/tests/test_common.py
Labels: module:preprocessing, No Changelog Needed, Validation

#24217 MAINT Parameter validation for `PolynomialCountSketch`
  sklearn/kernel_approximation.py
  sklearn/tests/test_common.py
  sklearn/tests/test_kernel_approximation.py
Labels: No Changelog Needed, Validation

#24220 MAINT Parameter validation for `RBFSampler`
  sklearn/kernel_approximation.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24183 MAINT Parameter validation for Isomap
  sklearn/manifold/_isomap.py
  sklearn/tests/test_common.py
Labels: module:manifold, No Changelog Needed, Validation

#24211 MAINT Add parameter validation for `LabelPropagation` and `LabelSpreading`
  sklearn/semi_supervised/_label_propagation.py
  sklearn/semi_supervised/tests/test_label_propagation.py
  sklearn/tests/test_common.py
Labels: module:semi_supervised, No Changelog Needed, Validation

#24210 MAINT Add parameter validation to `IterativeImputer`
  sklearn/impute/_iterative.py
  sklearn/impute/tests/test_impute.py
  sklearn/tests/test_common.py
Labels: module:impute, No Changelog Needed, Validation

#24101 MAINT Parameters validation for `CalibratedClassifierCV`
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24212 MAINT Add parameter validation to `LatentDirichletAllocation`
  sklearn/decomposition/_lda.py
  sklearn/decomposition/tests/test_online_lda.py
  sklearn/tests/test_common.py
Labels: module:decomposition, No Changelog Needed, Validation

#24103 MAINT Parameters validation for `SpectralEmbedding`
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/tests/test_common.py
Labels: module:manifold, module:preprocessing, No Changelog Needed, Validation

#24112 MAINT Parameters validation for `ClassifierChain` and `RegressorChain`
  sklearn/multioutput.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24241 DOC Updating Branding Guidelines
  doc/logos/README.md
  doc/logos/brand_guidelines/scikitlearn_logo_clearspace_updated.png
Labels: Documentation

#24170 MAINT Parameter validation for SpectralBiclustering and SpectralCoclustering
  sklearn/cluster/_bicluster.py
  sklearn/cluster/tests/test_bicluster.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:cluster, No Changelog Needed, Validation
