Repository scikit-learn/scikit-learn, pull requests merged in 2022-09, with the labels that each got.

#24311 DOC improved readability of instructions
  examples/cluster/plot_kmeans_stability_low_dim_dense.py
Labels: Documentation

#24224 FIX remove n_estimators checks from validate_estimator
  sklearn/ensemble/_base.py
  sklearn/ensemble/tests/test_base.py
Labels: Waiting for Reviewer, module:ensemble, No Changelog Needed, Quick Review, Validation

#24195 MAINT Parameters validation for NeighborhoodComponentsAnalysis
  sklearn/neighbors/_nca.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/tests/test_common.py
Labels: module:neighbors, No Changelog Needed, Validation

#24181 MAINT Add parameter validation to `HashingVectorizer`.
  sklearn/feature_extraction/text.py
  sklearn/tests/test_common.py
Labels: module:feature_extraction, No Changelog Needed, Validation

#24213 MAINT Add parameter validation to `SelectFromModel`
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/tests/test_common.py
Labels: module:feature_selection, No Changelog Needed, Validation

#24295 MAINT Parameters validation for MultiTaskElasticNet and MultiTaskLasso
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:linear_model, No Changelog Needed, Validation

#24318 [ENH] add dtype preservation to BernoulliRBM
  sklearn/neural_network/_rbm.py
Labels: module:neural_network

#24319 DOC Ensure lars_path_gram passes numpydoc validation
  sklearn/linear_model/_least_angle.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:linear_model, No Changelog Needed

#24184 MAINT Parameters validation for RidgeCV and RidgeClassifierCV
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/tests/test_common.py
Labels: module:linear_model, No Changelog Needed, Validation

#24292 MAINT Parameters validation for OneVsOneClassifier
  sklearn/multiclass.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24324 MAINT Parameters validation for OAS
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_common.py
Labels: module:covariance, No Changelog Needed, Validation

#24242 MAINT Parameters validation for DictionaryLearning
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/tests/test_common.py
Labels: module:decomposition, No Changelog Needed, Validation

#24322 Fix docstring for coverage_error, remove it from ignorelist: #21350
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: module:metrics, No Changelog Needed

#24323 DOC Rework `plot_kmeans_stability_low_dim_dense.py` to make it more colorblind friendly
  examples/cluster/plot_kmeans_stability_low_dim_dense.py
Labels: Documentation

#24290 MAINT Parameters validation for OneVsRest estimator
  sklearn/multiclass.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24329 DOC Ensure sklearn.linear_model._omp.orthogonal_mp_gram passes numpydoc validation
  sklearn/linear_model/_omp.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:linear_model, No Changelog Needed

#24330 DOC Ensure manifold._locally_linear.locally_linear_embedding passes numpydoc validation
  sklearn/manifold/_locally_linear.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:manifold, No Changelog Needed

#24333 DOC Ensure manifold._t_sne.trustworthiness passes numpydoc validation
  sklearn/manifold/_t_sne.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:manifold, No Changelog Needed

#24332 MAINT Parameters validation for Nystroem
  sklearn/kernel_approximation.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Validation

#24271 MAINT Parameters validation for MiniBatchDictionaryLearning
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/tests/test_common.py
Labels: Waiting for Reviewer, module:decomposition, No Changelog Needed, Validation

#24336 DOC Ensures that mean_pinball_loss passes numpydoc validation
  sklearn/metrics/_regression.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24339 MAINT Parameters validation for RANSACRegressor
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/tests/test_ransac.py
  sklearn/tests/test_common.py
Labels: module:linear_model, No Changelog Needed, Validation

#24326 MAINT Parameters validation for OPTICS
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
  sklearn/tests/test_common.py
Labels: module:cluster, No Changelog Needed, Validation

#24342 DOC moved legend to the right
  examples/ensemble/plot_gradient_boosting_regularization.py
Labels: Documentation

#24345 DOC Ensures that adjusted_rand_score passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24343 DOC Ensures that consensus_score passes numpydoc validation
  sklearn/metrics/cluster/_bicluster.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24334 DOC Ensure plot_det_curve passes numpydoc validation
  sklearn/metrics/_plot/det_curve.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24325 DOC Ensure sklearn.inspection._plot.partial_dependence.plot_partial_dependence passes numpydoc validation
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:inspection, No Changelog Needed

#24316 DOC Ensure _dict_learning.dict_learning passes numpydoc validation
  sklearn/decomposition/_dict_learning.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:decomposition, No Changelog Needed

#24320 DOC Ensure externals._packaging.version.parse passes numpydoc validation
  sklearn/externals/_packaging/version.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24344 DOC Ensures that adjusted_mutual_info_score passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, No Changelog Needed

#24348 DOC Ensures that sklearn.utils.extmath.stable_cumsum passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#24049 MAINT Use the newest NumPy C API where possible
  setup.py
Labels: Performance, Needs Decision, No Changelog Needed

#24347 MAINT Remove unused variables and imports from Cython files
  sklearn/_isotonic.pyx
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/datasets/_svmlight_format_fast.pyx
  sklearn/decomposition/_online_lda_fast.pyx
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/feature_extraction/_hashing_fast.pyx
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/manifold/_utils.pyx
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/_quad_tree.pyx
  sklearn/svm/_libsvm.pyx
  sklearn/svm/_libsvm_sparse.pyx
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pyx
  sklearn/utils/_fast_dict.pyx
  sklearn/utils/_random.pyx
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/sparsefuncs_fast.pyx
Labels: cython

#24362 DOC Ensures that scale passes numpydoc validation
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:preprocessing, No Changelog Needed

#24360 DOC Ensures that squared_norm passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#24359 DOC Ensures that maxabs_scale passes numpydoc validation
  sklearn/preprocessing/_data.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:preprocessing, No Changelog Needed

#24309 DOC fix a typo in `build_analyzer` docstring
  sklearn/feature_extraction/text.py
Labels: Documentation, Waiting for Reviewer, module:feature_extraction, No Changelog Needed, Quick Review

#24351 DOC Ensures that sklearn.metrics._ranking passes numpydoc validation
  sklearn/metrics/_ranking.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24352 DOC Ensures that cluster._supervised passes numpydoc validation
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24277 MAINT `@abstractmethod` in `_gb_losses.py`
  sklearn/ensemble/_gb_losses.py
Labels: module:ensemble, Quick Review

#24245 FIX np.divide undefined behaviour with where in gaussian processes
  doc/whats_new/v1.2.rst
  sklearn/gaussian_process/kernels.py
  sklearn/gaussian_process/tests/test_kernels.py
Labels: module:gaussian_process, Quick Review

#24363 MAINT update lock files on CI
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/py38_pip_openblas_32bit_lock.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  sklearn/_min_dependencies.py
Labels: Build / CI

#23442 FIX Enables label_ranking_average_precision_score to support sparse y_true
  doc/whats_new/v1.2.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, module:utils

#24358 DOC revised description for Pipeline ANOVA SVM
  examples/feature_selection/plot_feature_selection_pipeline.py
Labels: Documentation

#24264 MAINT Remove `x_squared_norms` arg from `k_means_lloyd` signature
  doc/whats_new/v1.2.rst
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, cython

#24370 DOC Minor amendment to wording on CI generated doc
  doc/developers/contributing.rst
Labels: Documentation, Build / CI

#24366 DOC Remove unused custom_references_resolver.py
  doc/sphinxext/custom_references_resolver.py
Labels: Documentation, Quick Review

#24372 DOC Fix grammar in HashingVectorizer's docstring
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#24373 CI Pin numpy for conda defaults channel
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#24377 CI: update nogil lock files
  build_tools/azure/python_nogil_lock.txt
Labels: Build / CI

#24134 DOC Ensures that l1_min_c passes numpydoc validation
  sklearn/svm/_bounds.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:svm, No Changelog Needed

#24296 MNT Update doc and checks for SequentialFeatureSelector about scoring
  sklearn/feature_selection/_sequential.py
Labels: Waiting for Reviewer, module:feature_selection, Quick Review

#24375 CI Cancel in progress wheel builds
  .github/workflows/wheels.yml
Labels: Build / CI

#24367 DOC ensures sklearn.utils.shuffle passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24382 FIX remove np.divide with where and without out argument in `precision_recall_curve`
  sklearn/metrics/_ranking.py
Labels: module:metrics

#24383 TST Remove remaining tests now covered by common param validation test
  sklearn/cluster/tests/test_birch.py
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/cluster/tests/test_spectral.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/linear_model/tests/test_ransac.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/neural_network/tests/test_mlp.py
  sklearn/svm/tests/test_sparse.py
Labels: module:test-suite, No Changelog Needed, Quick Review, Validation

#24384 MAINT Clean deprecation for 1.2: criterion="mse"/"mae" in trees
  sklearn/ensemble/_base.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: module:ensemble, module:tree, No Changelog Needed, Quick Review

#24371 DOC Expand types of docs in contributing docs section
  doc/developers/contributing.rst
Labels: Documentation

#24386 MAINT Clean deprecation for 1.2: n_features_in_ in Dummy
  sklearn/dummy.py
  sklearn/tests/test_dummy.py
Labels: No Changelog Needed, Quick Review

#24368 DOC Add note on backtick rendering
  doc/developers/contributing.rst
Labels: Documentation

#24388 MAINT Clean deprecation for 1.2: n_features_ replaced by n_featues_in_
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/naive_bayes.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/tests/test_naive_bayes.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: No Changelog Needed, Quick Review

#24272 MAINT Pop `Y_norm_squared` from `metric_kwargs` when needed
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighborhood.pyx.tp
Labels: module:metrics, No Changelog Needed, cython, Quick Review

#24400 CI Race condition work around for doc-min-dependencies
  .github/workflows/build-docs.yml
  doc/Makefile
Labels: Build / CI

#24399 DOC Use a pipeline to avoid data leakage
  examples/classification/plot_classifier_comparison.py
Labels: Documentation

#24398 MAINT Clean deprecation for 1.2: BIRCH attributes
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster, No Changelog Needed, Quick Review

#24389 MAINT Clean deprecation for 1.2: learning_rate and init in TSNE
  examples/manifold/plot_compare_methods.py
  examples/manifold/plot_lle_digits.py
  examples/manifold/plot_manifold_sphere.py
  examples/manifold/plot_swissroll.py
  examples/manifold/plot_t_sne_perplexity.py
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
Labels: No Changelog Needed, Quick Review

#23819 MAINT rename `base_estimator` and `base_estimator_` in ensemble classes
  doc/glossary.rst
  doc/modules/ensemble.rst
  doc/whats_new/v1.2.rst
  examples/ensemble/plot_adaboost_hastie_10_2.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_base.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_base.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: Waiting for Reviewer, module:ensemble

#24403 DOC Ensures plot_precision_recall_curve passes the numpydoc validation
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24317 ENH Use `X`'s dtype for the projection in `RBFSampler`
  doc/tutorial/basic/tutorial.rst
  doc/whats_new/v1.2.rst
  sklearn/kernel_approximation.py
  sklearn/tests/test_kernel_approximation.py
Labels: Waiting for Reviewer, Quick Review

#24407 MAINT Fix some broken asv benchmarks
  asv_benchmarks/asv.conf.json
  asv_benchmarks/benchmarks/cluster.py
  asv_benchmarks/benchmarks/decomposition.py
  setup.cfg
Labels: Quick Review

#23993 ENH Always set input feature attributes in FunctionTransformer
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing

#23738 TST refactor test for contamination param for outlier detectors
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed

#24104 DOC Clarify when GroupKFold same as LeaveOneGroupOut
  doc/modules/cross_validation.rst
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection, Quick Review

#24397 DOC remove Matplotlib warning in plot_varimax_fa example
  examples/decomposition/plot_varimax_fa.py
Labels: Documentation

#24413 DOC RandomizedSearchCV verbosity parameter description
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection

#24425 DOC ensures sklearn.utils.safe_mask passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, module:utils, No Changelog Needed

#24416 DOC fix repeated typos in docstrings
  sklearn/tree/_classes.py
Labels: Documentation, module:tree

#24408 MAINT Clean deprecation for 1.2: Ransac losses
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/tests/test_ransac.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#24406 MAINT Clean deprecation for 1.2: KernelPCA
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: No Changelog Needed, Quick Review

#24405 FIX Ensure that GaussianProcessRegressor predict method does not modify input
  doc/whats_new/v1.2.rst
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: module:gaussian_process

#24393 MAINT Clean deprecation for 1.2: NMF
  benchmarks/bench_plot_nmf.py
  sklearn/decomposition/_nmf.py
Labels: module:decomposition, No Changelog Needed, Quick Review

#24421 API Deprecate `n_feature_` fitted attribute in PCA
  doc/whats_new/v1.2.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition

#24394 MAINT Clean deprecation for 1.2: losses in gradient boosting
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_gb_losses.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed, Quick Review

#24335 DOC Rework `plot_affinity_propagation.py` to make it colorblind friendly
  examples/cluster/plot_affinity_propagation.py
Labels: Documentation

#24338 FEA Add support for micro averaging in ovr-roc-auc
  doc/whats_new/v1.2.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: New Feature, module:metrics, Quick Review

#23740 DOC Rework plot_grid_search_text_feature_extraction.py example
  README.rst
  build_tools/github/doc_environment.yml
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_environment.yml
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/conf.py
  doc/modules/compose.rst
  doc/modules/cross_validation.rst
  doc/modules/feature_extraction.rst
  doc/modules/grid_search.rst
  examples/model_selection/grid_search_text_feature_extraction.py
  examples/model_selection/plot_grid_search_text_feature_extraction.py
  examples/text/plot_document_classification_20newsgroups.py
  sklearn/_min_dependencies.py
  sklearn/datasets/descr/twenty_newsgroups.rst
Labels: Documentation, module:datasets

#24437 DOC ensures sklearn.utils.safe_sqr passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
Labels: Documentation, No Changelog Needed

#24442 MAINT Clean deprecation for 1.2: assert_warns
  doc/whats_new/v1.0.rst
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, No Changelog Needed, Quick Review

#24433 ENH Remove validation from `__init__` for `SGDOneClassSVM`
  doc/whats_new/v1.2.rst
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/tests/test_common.py
Labels: module:linear_model, Quick Review

#24447 DOC Ensures that sparsefuncs.count_nonzero passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#22014 ENH Adds class_weight to HistGradientBoostingClassifier
  doc/whats_new/v1.2.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: Waiting for Reviewer, module:ensemble

#24146 EHN Add multilabel classification support for `StackingClassifier`
  doc/whats_new/v1.2.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble

#24439 DOC Update estimator representation example
  doc/conf.py
  examples/miscellaneous/plot_changed_only_pprint_parameter.py
  examples/miscellaneous/plot_estimator_representation.py
Labels: Documentation

#24452 DOC ensures sklearn.utils.multiclass.class_distribution passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/multiclass.py
Labels: Documentation, No Changelog Needed

#24396 DOC Fix `monotonic_cst` description in HGBT docstrings
  doc/modules/ensemble.rst
  examples/ensemble/plot_monotonic_constraints.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: Documentation, No Changelog Needed, cython

#24455 DOC fix labels in legend of plot_logistic
  examples/linear_model/plot_logistic.py
Labels: Documentation

#24454 DOC Ensures that check_is_fitted passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/validation.py
Labels: Documentation, module:utils, No Changelog Needed

#24445 MAINT Clean deprecation for 1.2: plot functions
  doc/modules/classes.rst
  doc/visualizations.rst
  sklearn/inspection/__init__.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/metrics/__init__.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_plot_confusion_matrix.py
  sklearn/metrics/_plot/tests/test_plot_curve_common.py
  sklearn/metrics/_plot/tests/test_plot_det_curve.py
  sklearn/metrics/_plot/tests/test_plot_precision_recall.py
  sklearn/metrics/_plot/tests/test_plot_roc_curve.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/tests/test_docstrings.py
Labels: module:inspection, module:metrics, No Changelog Needed

#24453 MAINT Update CI dependencies
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/py38_pip_openblas_32bit_lock.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
Labels: Build / CI

#24468 DOC Fix link in contributing to related projects
  doc/developers/contributing.rst
Labels: Documentation, Quick Review

#24467 DOC Improve format in Documentation section of `contributing.rst`
  doc/developers/contributing.rst
Labels: Documentation, Quick Review

#24463 DOC ensures sklearn.utils.multiclass.type_of_target passes numpydoc validation.
  sklearn/tests/test_docstrings.py
  sklearn/utils/multiclass.py
Labels: Documentation, module:utils, No Changelog Needed

#24438 CI Make pytest err on PytestUnraisableExceptionWarning
  azure-pipelines.yml
  build_tools/azure/test_script.sh
Labels: Build / CI, No Changelog Needed

#24460 Fixed AgglomerativeClustering's distance_threshold misleading statement
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#24466 DOC Improve format in code examples of splitters
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#23585 FEA Fused sparse-dense support for `PairwiseDistancesReduction`
  doc/whats_new/v1.2.rst
  sklearn/manifold/_isomap.py
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_isomap.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_lof.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/tests/test_lof.py
Labels: Waiting for Reviewer, Performance, module:metrics, module:neighbors, module:utils, cython

#24477 DOC Ensures that incr_mean_variance_axis passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#24457 [Doc] Fix hyperlink formatting
  doc/modules/clustering.rst
Labels: Quick Review

#24471 MAINT Clean deprecation for 1.2: DictionaryLearning
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition, No Changelog Needed, Quick Review

#23297 DOC: Added auto solver table under Ridge Regression in Linear Models
  doc/modules/linear_model.rst
Labels: Documentation, Waiting for Reviewer

#22554 ENH Adds Array API support to LinearDiscriminantAnalysis
  doc/conftest.py
  doc/dispatching.rst
  doc/modules/array_api.rst
  doc/user_guide.rst
  doc/whats_new/v1.2.rst
  sklearn/_config.py
  sklearn/discriminant_analysis.py
  sklearn/linear_model/_base.py
  sklearn/tests/test_config.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/utils/_array_api.py
  sklearn/utils/extmath.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/validation.py
Labels: Waiting for Reviewer, module:linear_model, module:utils

#14862 ENH Support CSR matrix in type_of_target
  doc/whats_new/v1.2.rst
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: Waiting for Reviewer, module:utils

#24492 MAINT Clean deprecation for 1.2: sigma_ in GaussianNB
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes, No Changelog Needed, Quick Review

#24493 MAINT Clean deprecation for 1.2: validation
  sklearn/tests/test_base.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#23838 TST use global_random_seed in sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/cluster/tests/test_affinity_propagation.py
Labels: module:cluster, No Changelog Needed

#23798 [MRG] Fix Erroneous Avg. Loss calculation
  doc/whats_new/v1.2.rst
  sklearn/linear_model/_sgd_fast.pyx
Labels: Waiting for Reviewer, module:linear_model, cython

#24479 TST Speed up tests for pairwise distances reductions
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: module:metrics, No Changelog Needed

#24480 MAINT Clean deprecation for 1.2: kwarg params
  sklearn/neighbors/_classification.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
  sklearn/tests/test_common.py
Labels: module:neighbors, module:svm, No Changelog Needed, Quick Review

#24483 FIX Fix ranking for scipy >= 1.10.
  sklearn/model_selection/_search.py
Labels: Waiting for Reviewer, module:model_selection

#24058 ENH Implement get_feature_names_out for FeatureUnion in case of "passthrough"
  doc/whats_new/v1.2.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Quick Review

#24474 [MRG] DOC ensures that two sklearn.utils.graph funcs pass numpydoc
  sklearn/tests/test_docstrings.py
  sklearn/utils/graph.py
Labels: Documentation, module:utils, No Changelog Needed

#23388 TST Ensure that sklearn/cluster/tests/test_k_means.py is seed insensitive
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed

#23559 [MRG] TST use global_random_seed in sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
Labels: module:ensemble, No Changelog Needed

#23934 TST use global_random_seed in sklearn/cluster/tests/test_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster, No Changelog Needed

#24142 TST add global random seed to sklearn/feature_selection/tests/test_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, No Changelog Needed

#23549 [MRG] TST use global_random_seed in sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#24509 DOC Add Arturo Amor to the Contributor Experience Team
  doc/contributor_experience_team.rst
Labels: Documentation

#24510 [MRG] DOC Fix the star button in the wrong place
  doc/developers/contributing.rst
Labels: Documentation

#24420 Add questions category and contents in FAQ
  doc/faq.rst
Labels: Documentation

#24513 [MRG] DOC Ensures that inplace_swap_row_csc passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#22666 TST use global_dtype in sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics, No Changelog Needed

#24514 MAINT Fix error on np.matrix usage
  examples/semi_supervised/plot_semi_supervised_newsgroups.py
  sklearn/utils/validation.py
Labels: module:utils

#24282 TST use global_random_seed in sklearn/ensemble/tests/test_voting.py
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble, No Changelog Needed

#24518 [MRG] DOC Ensures that inplace_swap_row_csr passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/sparsefuncs.py
Labels: Documentation, module:utils, No Changelog Needed

#24516 DOC Ensures that utils.extmath.density passes numpydoc validation
  sklearn/tests/test_docstrings.py
  sklearn/utils/extmath.py
Labels: Documentation, module:utils, No Changelog Needed

#21469 MNT numpydoc validation for Displays
  doc/developers/utilities.rst
  doc/modules/classes.rst
  doc/whats_new/v1.2.rst
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/tests/test_docstrings.py
  sklearn/utils/__init__.py
  sklearn/utils/discovery.py
Labels: module:utils, No Changelog Needed

#24517 FIX Removed poor parameter choice from `plot_compare_methods.py`
  examples/manifold/plot_compare_methods.py
Labels: Documentation, Waiting for Reviewer, Quick Review

#24511 [CI] Update GitHub Actions
  .github/workflows/build-docs.yml
  .github/workflows/check-changelog.yml
  .github/workflows/check-manifest.yml
  .github/workflows/labeler-title-regex.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/trigger-hosting.yml
  .github/workflows/update_tracking_issue.yml
  .github/workflows/wheels.yml
Labels: Build / CI

#24520 BLD Upgrade to 3.9 for pypy testing
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  setup.py
  sklearn/utils/_show_versions.py
Labels: module:utils, Quick Review

#24136 FIX behaviour of `check_estimator` with `require_positive` tags of a regressor
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed

#24404 MAINT Clean deprecation for 1.2: grid_scores_ in RFECV
  examples/feature_selection/plot_rfe_with_cross_validation.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, No Changelog Needed, Quick Review

#24365 FIX log_loss at boundaries and integer y_pred
  doc/whats_new/v1.2.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Bug, module:metrics, Quick Review

#24527 [MRG] DOC Ensures that pairwise_distances_chunked passes numpydoc validation
  sklearn/metrics/pairwise.py
  sklearn/tests/test_docstrings.py
Labels: Documentation, module:metrics, No Changelog Needed

#24475 DOC Improve format in docstring code examples of splitters
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#24531 DOC: Clarify sorting of PCA components.
  sklearn/decomposition/_incremental_pca.py
  sklearn/decomposition/_pca.py
Labels: Documentation, module:decomposition

#24532 DOC Mention pandas dataframe support in ColumnTransformer in FAQ
  doc/faq.rst
Labels: Documentation

#24521 MAINT modify import raccoon face for SciPy >= 1.10
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/py38_pip_openblas_32bit_lock.txt
  build_tools/azure/py38_pip_openblas_32bit_requirements.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_environment.yml
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_environment.yml
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  examples/cluster/plot_face_compress.py
  examples/decomposition/plot_image_denoising.py
  sklearn/_min_dependencies.py
  sklearn/feature_extraction/tests/test_image.py
Labels: No Changelog Needed

#24544 CI Remove unneeded setup-python
  .github/workflows/build-docs.yml
Labels: Build / CI, Quick Review

#24283 FIX Treat gradient boosting categoricals outside the bounds as unknown during predict
  doc/whats_new/v1.2.rst
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble, cython
