Repository scikit-learn/scikit-learn, pull requests merged in 2023-09, with the labels that each got.

#27243 FIX Bisecting kmeans when data has 1 feature
  doc/whats_new/v1.3.rst
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/tests/test_bisect_k_means.py
Labels: module:cluster, Quick Review

#27022 [MRG] DOC Add dropdown to Module 6.1 Pipelines and composite estimators
  doc/modules/compose.rst
Labels: Documentation

#26521 FIX make sure the decision function of weak learner is symmetric
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#27234 MAINT Param validation for dbscan
  sklearn/cluster/_dbscan.py
  sklearn/tests/test_public_functions.py
Labels: module:cluster, No Changelog Needed, Quick Review, Validation

#27245 Added automatic validation function for sklearn.neighbors.radius_neighbors_graph (#24862)
  sklearn/neighbors/_graph.py
  sklearn/tests/test_public_functions.py
Labels: module:neighbors, No Changelog Needed, Validation

#27297 MNT Avoid np.lib.arraysetops which is private in numpy 2
  sklearn/model_selection/tests/test_split.py
Labels: module:model_selection, No Changelog Needed, Quick Review

#27299 DOC Fix a broken link in reference
  doc/modules/cross_validation.rst
Labels: Documentation

#27279 DOC update feature_names and target_names in load_breast_cancer
  sklearn/datasets/_base.py
Labels: Documentation, module:datasets

#27292 FIX accept `array-like` in `feature_names` for `plot_tree`
  doc/whats_new/v1.3.rst
  sklearn/tree/_export.py
Labels: module:tree

#27264 BENCH pin dependencies in asv benchmarks
  asv_benchmarks/asv.conf.json
Labels: Quick Review, Waiting for Second Reviewer

#27140 MAINT: Remove np.in1d and np.trapz usages
  examples/semi_supervised/plot_label_propagation_digits_active_learning.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/feature_extraction/image.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_ranking.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/naive_bayes.py
  sklearn/preprocessing/_label.py
  sklearn/tests/test_isotonic.py
  sklearn/utils/_encode.py
  sklearn/utils/class_weight.py
  sklearn/utils/fixes.py
Labels: No Changelog Needed

#26958 TST Fix typo, lint `test_target_encoder.py`
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: Documentation, module:preprocessing, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#27266 CI Pin `Cython<3` in some builds due to observed regressions
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_environment.yml
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_environment.yml
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, Regression, No Changelog Needed, cython

#27153 DOC fix random_state in several example for reproducibility
  examples/cluster/plot_linkage_comparison.py
  examples/preprocessing/plot_all_scaling.py
  examples/preprocessing/plot_discretization_classification.py
Labels: Documentation

#26674 ENH Allows multiclass target in `TargetEncoder`
  doc/modules/preprocessing.rst
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_target_encoder.py
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: module:preprocessing

#27238 DOC fix random_state in example for reproducibility cont'd
  examples/manifold/plot_compare_methods.py
  examples/manifold/plot_manifold_sphere.py
  examples/miscellaneous/plot_kernel_approximation.py
Labels: Documentation

#26278 ENH replace loss module Gradient boosting
  doc/common_pitfalls.rst
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_gb_losses.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/ensemble/tests/test_gradient_boosting_loss_functions.py
Labels: module:ensemble, Waiting for Second Reviewer

#27289 TST Extend tests for `scipy.sparse.*array` in `test_encoders.py`
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, No Changelog Needed

#27137 ENH Add Array API compatibility to `zero_one_loss` and `accuracy_score`
  doc/modules/array_api.rst
  doc/whats_new/v1.4.rst
  sklearn/decomposition/tests/test_pca.py
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, module:utils, Array API

#26973 DOC improve iris example
  examples/datasets/plot_iris_dataset.py
  sklearn/datasets/_base.py
Labels: Documentation, module:datasets

#27199 FIX skip array API tests when running with device="mps" without the PYTORCH_ENABLE_MPS_FALLBACK env var
  sklearn/utils/_testing.py
Labels: module:decomposition, Quick Review, Waiting for Second Reviewer, Array API

#26830 MNT Deprecate SAMME.R algorithm from AdaBoostClassifier
  benchmarks/bench_20newsgroups.py
  doc/conf.py
  doc/modules/ensemble.rst
  doc/whats_new/v1.4.rst
  examples/classification/plot_classifier_comparison.py
  examples/ensemble/plot_adaboost_hastie_10_2.py
  examples/ensemble/plot_forest_iris.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:ensemble

#27312 FIX _safe_divide should handle zero-division with numpy scalar
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#27034 DOC take `Examples` out of a dropdown
  doc/modules/svm.rst
Labels: Documentation

#26694 DOC Adding dropdown for module 2.1 Gaussian Mixtures
  doc/modules/mixture.rst
Labels: Documentation

#26693 DOC Adding Dropdown to module 7.2 Realworld Datasets
  sklearn/datasets/descr/lfw.rst
  sklearn/datasets/descr/twenty_newsgroups.rst
Labels: Documentation, module:datasets

#27173 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_mutual_info.py`
  sklearn/feature_selection/tests/test_mutual_info.py
Labels: module:feature_selection, No Changelog Needed

#27175 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_base.py`
  sklearn/feature_selection/tests/test_base.py
Labels: module:feature_selection, No Changelog Needed

#27176 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_chi2.py`
  sklearn/feature_selection/tests/test_chi2.py
Labels: module:feature_selection, No Changelog Needed

#27177 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_rfe.py`
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, No Changelog Needed

#27178 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_sequential.py`
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection, No Changelog Needed

#27201 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_utils.py`
  sklearn/utils/tests/test_utils.py
Labels: module:utils, No Changelog Needed

#27202 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_set_output.py`
  sklearn/utils/tests/test_set_output.py
Labels: module:utils, No Changelog Needed

#27053 DOC Add missing links to examples/impute
  doc/modules/impute.rst
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
Labels: Documentation

#27336 FIX avoid unecessary/duplicated `if copy` branch for sparse arrays/matrix
  doc/whats_new/v1.4.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#27058 FEAT add metadata routing to *SearchCV
  doc/whats_new/v1.4.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/tests/test_search.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:model_selection

#27334 MAINT cython typedefs in _cd_fast
  sklearn/linear_model/_cd_fast.pyx
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
Labels: module:linear_model, module:utils, cython

#25878 DOC Rework outlier detection estimators example
  examples/miscellaneous/plot_outlier_detection_bench.py
  examples/preprocessing/plot_scaling_importance.py
Labels: Documentation, Waiting for Reviewer

#27286 TST Extend tests for `scipy.sparse.*array` in `sklearn/model_selection/tests/test_search.py`
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection, No Changelog Needed

#27278 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_pipeline.py`
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed

#27273 TST Extend tests for `scipy.sparse.*array` in `sklearn/linear_model/tests/test_passive_aggressive.py`
  sklearn/linear_model/tests/test_passive_aggressive.py
Labels: module:linear_model, No Changelog Needed

#27270 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_kernel_ridge.py`
  sklearn/tests/test_kernel_ridge.py
Labels: No Changelog Needed

#27319 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_mocking.py`
  sklearn/utils/tests/test_mocking.py
Labels: module:utils, No Changelog Needed

#26757 DOC Add dropdowns to module 2.8. Density Estimation
  doc/modules/density.rst
Labels: Documentation

#20003 DOC add cross-reference to examples instead of duplicating content for GPR
  doc/modules/gaussian_process.rst
  examples/gaussian_process/plot_gpr_co2.py
  examples/gaussian_process/plot_gpr_noisy.py
Labels: Documentation

#27257 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_calibration.py`
  sklearn/tests/test_calibration.py
Labels: No Changelog Needed

#27274 TST Extend tests for `scipy.sparse/*array` in `sklearn/utils/tests/test_multiclass`
  doc/whats_new/v1.4.rst
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:utils

#27220 TST Extend tests for `scipy.sparse.*array` in `sklearn/datasets/tests/test_svmlight_format.py`
  sklearn/datasets/tests/test_svmlight_format.py
Labels: module:datasets, No Changelog Needed

#27130 DOC add feature_names_in_ in the docsring of ColumnTransformer
  sklearn/compose/_column_transformer.py
Labels: Documentation, module:compose

#27276 TST Extend tests for `scipy.sparse/*array` in `sklearn/utils/tests/test_testing`
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, No Changelog Needed

#27262 TST Extend tests for `scipy.sparse/*array` in `sklearn/utils/tests/test_extmath`
  sklearn/utils/tests/test_extmath.py
Labels: module:utils, No Changelog Needed

#27246 TST Extend tests for `scipy.sparse/*array` in `sklearn/model_selection/tests/test_split`
  sklearn/model_selection/tests/test_split.py
Labels: module:model_selection, No Changelog Needed

#27241 TST Extend tests for `scipy.sparse/*array` in `sklearn/metrics/cluster/tests/test_unsupervised`
  sklearn/metrics/cluster/tests/test_unsupervised.py
Labels: module:metrics, No Changelog Needed

#27252 TST Extend tests for `scipy.sparse/*array` in `sklearn/neural_network/tests/test_rbm`
  doc/whats_new/v1.4.rst
  sklearn/neural_network/_rbm.py
  sklearn/neural_network/tests/test_rbm.py
Labels: module:neural_network

#27254 TST Extend tests for `scipy.sparse/*array` in `sklearn/preprocessing/tests/test_function_transformer`
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing, No Changelog Needed

#27242 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_sparsefuncs.py`
  sklearn/utils/tests/test_sparsefuncs.py
Labels: module:utils, No Changelog Needed

#27354 DOC remove grave accent
  doc/glossary.rst
Labels: Documentation

#26807 DOC Added dropdowns to 6.2 feature-extraction
  doc/modules/feature_extraction.rst
Labels: Documentation

#27233 TST Extend tests for `scipy.sparse/*array` in `sklearn/linear_model/tests/test_ransac`
  sklearn/linear_model/tests/test_ransac.py
Labels: module:linear_model, No Changelog Needed

#27231 TST Extend tests for `scipy.sparse.*array` in `sklearn/metrics/tests/test_classification.py`
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, No Changelog Needed

#27230 TST Extend tests for `scipy.sparse.*array` in `sklearn/metrics/tests/test_pairwise_distances_reduction.py`
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: module:metrics, No Changelog Needed

#27229 TST Extend tests for `scipy.sparse.*array` in `sklearn/metrics/tests/test_dist_metrics.py`
  sklearn/metrics/tests/test_dist_metrics.py
Labels: module:metrics, No Changelog Needed

#27228 TST Extend tests for `scipy.sparse/*array` in `sklearn/linear_model/tests/test_quantile`
  sklearn/linear_model/tests/test_quantile.py
Labels: module:linear_model, No Changelog Needed

#27227 TST Extend tests for `scipy.sparse.*array` in `sklearn/preprocessing/tests/test_label.py`
  sklearn/preprocessing/tests/test_label.py
Labels: module:preprocessing, No Changelog Needed

#27239 TST Extend tests for `scipy.sparse.*array` in `sklearn/feature_selection/tests/test_feature_select.py`
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: module:feature_selection, No Changelog Needed

#27224 TST Extend tests for `scipy.sparse.*array` in `sklearn/tree/tests/test_monotonic_tree.py`
  sklearn/tree/tests/test_monotonic_tree.py
Labels: module:tree, No Changelog Needed

#27223 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_multiclass.py`
  sklearn/tests/test_multiclass.py
Labels: No Changelog Needed

#27222 TST Extend tests for `scipy.sparse/*array` in `sklearn/feature_selection/tests/test_variance_threshold`
  sklearn/feature_selection/tests/test_variance_threshold.py
Labels: module:feature_selection, No Changelog Needed

#27237 TST Extend tests for `scipy.sparse/*array` in `sklearn/linear_model/tests/test_sparse_coordinate_descent`
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
Labels: module:linear_model, No Changelog Needed

#27345 CI Do not run doctests for numpy 2
  doc/conftest.py
  sklearn/conftest.py
  sklearn/utils/fixes.py
Labels: Build / CI, module:utils

#27225 TST Extend tests for `scipy.sparse/*array` in `sklearn/linear_model/tests/test_base`
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model, No Changelog Needed

#27253 TST Extend tests for `scipy.sparse/*array` in `sklearn/preprocessing/tests/test_data`
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing, No Changelog Needed

#27261 TST Extend tests for `scipy.sparse/*array` in `sklearn/tree/tests/test_tree`
  sklearn/tree/tests/test_tree.py
Labels: module:tree, No Changelog Needed

#27221 TST Extend tests for `scipy.sparse.*array` in `sklearn/manifold/tests/test_t_sne.py`
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold, No Changelog Needed

#27218 TST Extend tests for `scipy.sparse/*array` in `sklearn/ensemble/tests/test_iforest`
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble, No Changelog Needed

#27215 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_dummy.py`
  sklearn/tests/test_dummy.py
Labels: No Changelog Needed

#27214 TST Extend tests for `scipy.sparse.*array` in `sklearn/ensemble/tests/test_stacking.py`
  sklearn/ensemble/tests/test_stacking.py
Labels: module:ensemble, No Changelog Needed

#27213 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_naive_bayes.py`
  sklearn/tests/test_naive_bayes.py
Labels: No Changelog Needed

#27212 TST Extend tests for `scipy.sparse.*array` in `sklearn/metrics/tests/test_ranking.py`
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, No Changelog Needed

#27211 TST Extend tests for `scipy.sparse.*array` in `sklearn/linear_model/tests/test_huber.py`
  sklearn/linear_model/tests/test_huber.py
Labels: module:linear_model, No Changelog Needed

#27217 TST Extend tests for `scipy.sparse/*array` in `sklearn/ensemble/tests/test_gradient_boosting`
  sklearn/ensemble/tests/test_gradient_boosting.py
Labels: module:ensemble, No Changelog Needed

#27216 TST Extend tests for `scipy.sparse/*array` in `sklearn/ensemble/tests/test_forest`
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble, No Changelog Needed

#27206 TST Extend tests for `scipy.sparse.*array` in `sklearn/linear_model/tests/test_sag.py`
  sklearn/linear_model/tests/test_sag.py
Labels: module:linear_model, No Changelog Needed

#27210 TST Extend tests for `scipy.sparse.*array` in `sklearn/linear_model/tests/test_logistic.py`
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#27208 TST Extend tests for `scipy.sparse.*array` in `sklearn/impute/tests/test_impute.py`
  sklearn/impute/tests/test_impute.py
Labels: module:impute, No Changelog Needed

#27333 MAINT cython typedefs in sparsefuncs_fast
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#27219 TST Extend tests for `scipy.sparse/*array` in `sklearn/feature_extraction/tests/test_text`
  doc/whats_new/v1.4.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#27367 MAINT use .toarray instead of .A that is deprecated
  sklearn/cluster/_hdbscan/tests/test_reachibility.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
  sklearn/impute/tests/test_impute.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/preprocessing/tests/test_common.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/tests/test_kernel_approximation.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_sparsefuncs.py
Labels: module:utils, No Changelog Needed

#27156 DOC add link to example in user guide on interaction constraints
  doc/modules/ensemble.rst
Labels: Documentation, module:ensemble, Quick Review

#27355 MNT Remove setuptools dependency in our test suite
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed, Quick Review

#27382 CI Use the libmamba to install conda-lock on Azure Pipelines
  build_tools/azure/install.sh
  build_tools/azure/install_win.sh
Labels: Build / CI, No Changelog Needed, Quick Review

#27385 MAINT ignore ConvergenceWarning instead of FutureWarning in test_check_estimator_clones
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review

#27277 TST Extend tests for `scipy.sparse/*array` in `sklearn/impute/tests/test_common`
  doc/whats_new/v1.4.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_common.py
Labels: module:impute, No Changelog Needed

#27384 MAINT hide numpy warning when using _array_api_for_tests
  sklearn/utils/_testing.py
Labels: module:utils, module:test-suite, No Changelog Needed, Quick Review

#27386 DOC SLEP6: move changed models to a single section
  doc/whats_new/v1.4.rst
Labels: Documentation

#27383 TST Speed up some of the slowest tests
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/decomposition/tests/test_sparse_pca.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/tree/tests/test_tree.py
Labels: Build / CI, module:decomposition, module:ensemble, module:tree, module:test-suite, No Changelog Needed

#26734 API replace mean_squared_error(square=False) by root_mean_squared_error
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.4.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_regression.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_regression.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics

#27387 DOC: add note about restarting conda environment after creation
  doc/developers/advanced_installation.rst
Labels: Documentation

#27244 DOC add link to plot_cv_indices example in _split
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection, Quick Review

#27002 FIX accept multilabel-indicator in _get_response_values
  doc/whats_new/v1.3.rst
  sklearn/metrics/tests/test_score_objects.py
  sklearn/utils/_response.py
  sklearn/utils/tests/test_response.py
Labels: module:metrics, module:utils

#27366 TST Extend tests for `scipy.sparse.*array` in `model_selection/tests/test_validation.py`
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, No Changelog Needed

#27398 MNT SLEP6: metadata_routing.rst can now be tested
  doc/conftest.py
  doc/metadata_routing.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: No Changelog Needed

#27399 DOC fix unknown link error in plot_unveil_tree_structure.py
  examples/tree/plot_unveil_tree_structure.py
Labels: Documentation, No Changelog Needed, Quick Review

#27402 DOC move some fixes from 1.4 to 1.3.1
  doc/whats_new/v1.3.rst
  doc/whats_new/v1.4.rst
Labels: Documentation

#27376 DOC Adding Concrete ML in related projects
  doc/related_projects.rst
Labels: Documentation

#27056 DOC Added links for random_datasets example
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#27390 DOC fix minor mistakes in GLM user guide
  doc/modules/linear_model.rst
Labels: Documentation

#27410 DOC Fixed some typos
  doc/computing/parallelism.rst
  doc/modules/clustering.rst
  doc/modules/linear_model.rst
  doc/modules/model_evaluation.rst
  doc/modules/svm.rst
  doc/modules/tree.rst
  doc/tutorial/text_analytics/working_with_text_data.rst
  doc/whats_new/v1.4.rst
  examples/ensemble/plot_adaboost_multiclass.py
  sklearn/linear_model/_logistic.py
  sklearn/metrics/_plot/regression.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/utils/parallel.py
Labels: Documentation, module:linear_model, module:metrics, module:utils

#27401 MAINT: Cleanup expired ndarray methods
  examples/applications/plot_stock_market.py
  sklearn/tree/tests/test_tree.py
Labels: module:tree, No Changelog Needed, Quick Review

#27407 DOC update release dates for 1.3.1
  doc/templates/index.html
  doc/whats_new/v1.3.rst
Labels: Documentation

#26944 ENH Improve warnings if func returns a dataframe in FunctionTransformer
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing

#27420 MNT Remove test suite setuptools dependency for good
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Quick Review

#27417 ENH inplace addition in newton_cg
  doc/whats_new/v1.4.rst
  sklearn/utils/optimize.py
Labels: Performance, module:linear_model, module:utils, Quick Review

#27418 DOC Fix dropdown-related warnings
  doc/modules/compose.rst
  doc/modules/feature_extraction.rst
Labels: Documentation, Quick Review

#27421 DOC fix the changelog and group entries together
  doc/whats_new/v1.4.rst
Labels: Documentation

#26952 DOC clearer definition of estimator to be used in last step of a pipeline
  doc/modules/compose.rst
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#26919 DOC documentation and error message for mismatching output formats in transformers with a sparse output
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/_set_output.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_set_output.py
Labels: Documentation, module:preprocessing, module:utils, No Changelog Needed

#27451 DOC fix deprecation warning in plot_lof_novelty_detection
  examples/neighbors/plot_lof_novelty_detection.py
Labels: Documentation

#27443 DOC simplify and remove warning in plot_outlier_detection_wine
  examples/applications/plot_outlier_detection_wine.py
Labels: Documentation

#27453 DOC fix deprecation warning in plot_separating_hyperplane_unbalanced
  examples/svm/plot_separating_hyperplane_unbalanced.py
Labels: Documentation

#27450 DOC fixes pandas deprecation warning in plot_partial_dependence
  examples/inspection/plot_partial_dependence.py
Labels: Documentation

#27250 TST Extend tests for `scipy.sparse/*array` in `sklearn/neighbors/tests/test_neighbors`
  doc/whats_new/v1.4.rst
  sklearn/metrics/pairwise.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/utils/fixes.py
Labels: module:metrics, module:neighbors, module:utils, No Changelog Needed

#27444 DOC remove deprecation warnings plot_mahalanobis_distances example
  examples/covariance/plot_mahalanobis_distances.py
Labels: Documentation

#27452 DOC fix deprecation warning in plot_oneclass
  examples/svm/plot_oneclass.py
Labels: Documentation

#27449 DOC fix deprecation warning in plot_sgdocsvm_vs_ocsvm
  examples/linear_model/plot_sgdocsvm_vs_ocsvm.py
Labels: Documentation

#26828 PERF Implement `PairwiseDistancesReduction` backend for `RadiusNeighbors.predict_proba`
  .gitignore
  doc/whats_new/v1.4.rst
  setup.cfg
  setup.py
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors_classmode.pyx.tp
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_classification.py
Labels: module:metrics, module:neighbors, cython

#27438 ENH `make_sparse_spd_matrix` use sparse memory layout
  doc/whats_new/v1.4.rst
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
Labels: module:covariance, module:datasets, Quick Review

#27457 DOC fix typos found by codespell
  asv_benchmarks/asv.conf.json
  doc/modules/clustering.rst
  doc/whats_new/v0.23.rst
  doc/whats_new/v1.3.rst
  examples/applications/plot_cyclical_feature_engineering.py
  examples/ensemble/plot_voting_probas.py
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
  examples/manifold/plot_lle_digits.py
  examples/svm/plot_svm_kernels.py
  sklearn/ensemble/_gb.py
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/text.py
  sklearn/preprocessing/_data.py
  sklearn/utils/tests/test_param_validation.py
Labels: No Changelog Needed, Quick Review

#27472 DOC fix return type of `make_sparse_spd_matrix`
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#27480 MAINT Explicit cython options for better discovery
  doc/developers/cython.rst
  sklearn/_build_utils/__init__.py
  sklearn/_loss/_loss.pxd
Labels: cython

#27474 MAINT Update Pyodide to 0.24.1 for JupyterLite button
  doc/jupyter-lite.json
Labels: To backport

#26648 FIX Param validation Interval error for large integers
  doc/whats_new/v1.4.rst
  sklearn/utils/__init__.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:utils, Validation

#27281 TST Improve `assert_argkmin_results_quasi_equality` error message
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Waiting for Reviewer, module:metrics, module:test-suite, No Changelog Needed

#27370 [MRG] Minor correction to the FastICA 2D cloud point example
  examples/decomposition/plot_ica_vs_pca.py
Labels: Documentation, No Changelog Needed, Quick Review

#27351 MAINT cython typedefs in _quad_tree
  sklearn/neighbors/_quad_tree.pxd
  sklearn/neighbors/_quad_tree.pyx
Labels: module:neighbors, cython, Quick Review

#27440 DOC add narrative description and remove deprecation warning
  README.rst
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  examples/classification/plot_lda_qda.py
  sklearn/_min_dependencies.py
Labels: Documentation, No Changelog Needed

#27486 MAINT cosmetic improvement in _non_trivial_radius test helper
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: module:test-suite, No Changelog Needed, Quick Review

#27468 FIX make dataset fetchers accept `os.Pathlike` for `data_home`
  doc/whats_new/v1.4.rst
  sklearn/datasets/_base.py
  sklearn/datasets/_california_housing.py
  sklearn/datasets/_covtype.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_openml.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/datasets/tests/test_base.py
Labels: module:datasets

#27346 CI Run test suite inside Pyodide
  azure-pipelines.yml
  build_tools/azure/install_pyodide.sh
  build_tools/azure/pytest-pyodide.js
  build_tools/azure/test_script_pyodide.sh
  sklearn/_loss/tests/test_loss.py
  sklearn/experimental/tests/test_enable_hist_gradient_boosting.py
  sklearn/experimental/tests/test_enable_iterative_imputer.py
  sklearn/experimental/tests/test_enable_successive_halving.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/tests/test_common.py
  sklearn/tests/test_config.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_sparsefuncs.py
  sklearn/utils/tests/test_testing.py
Labels: Build / CI, No Changelog Needed

#27025 DOC Add link to Early Stopping example in Gradient Boosting
  doc/modules/ensemble.rst
  examples/ensemble/plot_gradient_boosting_early_stopping.py
  sklearn/ensemble/_gb.py
  sklearn/linear_model/_passive_aggressive.py
  sklearn/linear_model/_perceptron.py
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation

#26975 DOC add link to plot_isolation_forest.py
  sklearn/ensemble/_iforest.py
Labels: Documentation, module:ensemble

#26926 DOC add link to sklearn_is_fitted example in check_is_fitted
  sklearn/utils/validation.py
Labels: Documentation, module:utils, No Changelog Needed

#27497 Remove a redundant self-assignment in multilayer perceptron
  sklearn/neural_network/_multilayer_perceptron.py
Labels: module:neural_network

#27496 MAINT Fix Pyodide step description
  azure-pipelines.yml
Labels: No Changelog Needed, Quick Review

#27288 TST Extend tests for `scipy.sparse.*array` in `test_pairwise.py`
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics, No Changelog Needed

#27205 TST Extend tests for `scipy.sparse.*array` in `sklearn/metrics/tests/test_common.py`
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed

#27166 TST Extend tests for `scipy.sparse.*array` in `test_polynomial.py`
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing, Waiting for Second Reviewer
