Repository scikit-learn/scikit-learn, pull requests merged in 2023-07, with the labels that each got.

#13649 ENH Monotonic Contraints for Tree-based models
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/tree/_classes.py
  sklearn/tree/_criterion.pxd
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
  sklearn/tree/tests/test_monotonic_tree.py
  sklearn/tree/tests/test_tree.py
Labels: Waiting for Reviewer, module:ensemble, module:tree, cython

#26661 DOC show usage of `__` in `Pipeline` and `FeatureUnion`
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#26753 DOC Fix StandardScaler documentation describing when `mean_` is set
  sklearn/preprocessing/_data.py
Labels: Documentation, module:preprocessing

#26748 FIX `mutual_info_regression` when `X` is of integer dtype
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_mutual_info.py
  sklearn/feature_selection/tests/test_mutual_info.py
Labels: module:feature_selection

#26759 CLN `v1.4.rst` entries are not sorted
  doc/whats_new/v1.4.rst
Labels: Waiting for Second Reviewer

#26341 MAINT Fix C warning in Cython module _predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/common.pxd
  sklearn/ensemble/_hist_gradient_boosting/common.pyx
Labels: module:ensemble, cython, Quick Review, Waiting for Second Reviewer

#26770 DOC fix cross-referencing in metadata routing
  sklearn/utils/_metadata_requests.py
Labels: Documentation, module:utils

#26685 DOC add metadata routing terms to glossary
  doc/glossary.rst
  doc/metadata_routing.rst
Labels: Documentation

#26754 FIX Revert `{Ball,KD}Tree.valid_metrics` to public class attributes
  doc/modules/neighbors.rst
  doc/whats_new/v1.3.rst
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/tests/test_hdbscan.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kde.py
  sklearn/neighbors/tests/test_kde.py
Labels: module:cluster, module:neighbors, No Changelog Needed, cython

#26519 MAINT Parameter validation for sklearn.datasets.fetch_openml
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26486 DOC use notebook style in AdaBoostClassifier example
  doc/modules/ensemble.rst
  examples/ensemble/plot_adaboost_multiclass.py
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation

#26771 MAINT fix cython 3 compilation errors
  sklearn/linear_model/_cd_fast.pyx
  sklearn/tree/_criterion.pyx
  sklearn/tree/_utils.pxd
  sklearn/utils/_random.pxd
Labels: module:linear_model, module:tree, module:utils, cython

#26756 MAINT sample_weight=None is not valid in KMeans ._init_centroids
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#26785 MNT Put nogil at the end of function signature
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#26381 MAINT Parameters validation for sklearn.linear_model.lars_path
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#26788 DOC Fixed a typo error in plot_kernel_pca.py
  examples/decomposition/plot_kernel_pca.py
  sklearn/metrics/pairwise.py
Labels: Documentation

#26778 DOC make HGBT more visible in user guide
  doc/modules/ensemble.rst
Labels: Documentation, No Changelog Needed

#26800 DOC Contributing guidelines - avoid referring to tests before instructing to install pytest
  doc/developers/contributing.rst
Labels: Documentation

#26380 MAINT Parameters validation for sklearn.linear_model.lars_path_gram
  sklearn/linear_model/_least_angle.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#26772 FIX Dataframe support in KNN.predict
  doc/whats_new/v1.3.rst
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:metrics, module:neighbors, Waiting for Second Reviewer

#26811 DOC Promote Omar Salman to the Core Contributor Team
  doc/authors.rst
Labels: Documentation, Waiting for Reviewer, Waiting for Second Reviewer

#26813 MNT clean up old scipy sparse.linalg.cg fallback code
  sklearn/linear_model/_ridge.py
Labels: module:linear_model, Quick Review

#26816 DOC fix SLEP020 link in governance
  doc/governance.rst
Labels: Documentation, To backport

#26792 DOC add versionadded for auto in LinearSVM
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#26822 DOC fix dtype of the Minkowski p parameter
  sklearn/cluster/_optics.py
  sklearn/manifold/_isomap.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_graph.py
  sklearn/neighbors/_lof.py
  sklearn/neighbors/_regression.py
Labels: Documentation, module:cluster, module:manifold, module:neighbors

#26818 Fix outdated function name _safe_indexing_column
  sklearn/utils/__init__.py
Labels: module:utils

#26823 DOC fix description of tolerance in OMP
  sklearn/linear_model/_omp.py
Labels: Documentation, module:linear_model

#26751 MAINT Remove soon-to-be deprecated scipy.sparse functions
  sklearn/cluster/_agglomerative.py
  sklearn/datasets/tests/test_20news.py
  sklearn/feature_extraction/text.py
  sklearn/kernel_approximation.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_sparse_coordinate_descent.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/model_selection/tests/test_split.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/semi_supervised/_label_propagation.py
  sklearn/svm/_base.py
  sklearn/svm/tests/test_sparse.py
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
  sklearn/utils/extmath.py
  sklearn/utils/graph.py
  sklearn/utils/multiclass.py
  sklearn/utils/sparsefuncs.py
Labels: No Changelog Needed, cython, Waiting for Second Reviewer

#26829 TST Adaboost: Fixed ValueError in test_multidimensional_X
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble, No Changelog Needed

#26786 FIX clone to handle dict and GridSearchCV changing original params
  doc/whats_new/v1.4.rst
  sklearn/base.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
  sklearn/tests/test_base.py
Labels: module:model_selection, Waiting for Second Reviewer

#26315 ENH Array API support for PCA
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  doc/modules/array_api.rst
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.4.rst
  sklearn/decomposition/_base.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/linear_model/_base.py
  sklearn/metrics/_classification.py
  sklearn/utils/_array_api.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_estimator_checks.py
  sklearn/utils/tests/test_extmath.py
Labels: Waiting for Reviewer, module:decomposition, module:utils, Waiting for Second Reviewer, Array API

#26831 ENH warn if {transform, predict} consume metadata but no custom fit_{transform, predict} is defined
  doc/whats_new/v1.4.rst
  sklearn/base.py
  sklearn/tests/test_base.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils

#26525 ENH Add routing to LogisticRegressionCV
  doc/whats_new/v1.4.rst
  sklearn/calibration.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/multioutput.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:linear_model

#26618 [MRG] DOC add __sklearn_is_fitted__ example
  doc/developers/develop.rst
  examples/developing_estimators/README.txt
  examples/developing_estimators/sklearn_is_fitted.py
Labels: Documentation, Waiting for Second Reviewer

#26836 CLN clean up some repeated code related to SLEP006
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/multioutput.py
  sklearn/pipeline.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/metadata_routing.py
Labels: module:metrics, module:pipeline, module:utils, No Changelog Needed

#26849 CI Only update tracker to succes when all jobs pass on CirrusCI
  build_tools/cirrus/arm_wheel.yml
Labels: Build / CI

#26852 MAINT Fix typos found by codespell
  doc/whats_new/older_versions.rst
  examples/bicluster/plot_spectral_biclustering.py
  examples/cluster/plot_hdbscan.py
  examples/ensemble/plot_forest_hist_grad_boosting_comparison.py
  examples/linear_model/plot_ridge_coeffs.py
  examples/miscellaneous/plot_display_object_visualization.py
  examples/miscellaneous/plot_metadata_routing.py
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/datasets/tests/test_openml.py
  sklearn/decomposition/_nmf.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/metrics/_ranking.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_target_encoder.py
  sklearn/svm/_classes.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: No Changelog Needed, cython

#26845 MNT Improve conda version check and update lock files
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/python_nogil_requirements.txt
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  sklearn/_min_dependencies.py
  sklearn/cluster/tests/test_spectral.py
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: Build / CI, No Changelog Needed

#26846 DOC Remove reference to CharNGramAnalyzer
  doc/tutorial/text_analytics/working_with_text_data.rst
Labels: Documentation

#26416 FIX Correct the initiatialization of `precisions_cholesky_` from `precisions_init`
  doc/whats_new/v1.4.rst
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: module:mixture

#26783 DOC Added information about space complexity to docs DBSCAN
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#26876 DOC Directly import label class in example
  sklearn/preprocessing/_label.py
Labels: Documentation, module:preprocessing, Quick Review

#26866 DOC update description of support_vectors_
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#26853 DOC fix broken links
  doc/modules/ensemble.rst
  doc/whats_new/v0.22.rst
Labels: Documentation, To backport

#26765 PERF Pass buffers via pointers in `PairwiseDistancesReductions` routines for sparse data
  doc/whats_new/v1.4.rst
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
Labels: module:metrics, cython

#26602 FIX ravel prediction of `PLSRegression` when fitted on 1d `y`
  doc/whats_new/v1.4.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, Quick Review

#26795 [MRG] DOC Add docstring DistanceMetric class
  sklearn/metrics/_dist_metrics.pyx.tp
Labels: Documentation, module:metrics, cython

#26847 CI Add summary about failures and errors in most builds
  azure-pipelines.yml
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
  build_tools/azure/test_script.sh
  setup.cfg
Labels: Build / CI

#26859 MAINT make sure to test encoders in common tests
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_target_encoder.py
  sklearn/utils/_encode.py
  sklearn/utils/estimator_checks.py
Labels: module:preprocessing, module:utils

#26294 DOC Specify primal/dual formulation in LogisticRegression
  doc/modules/linear_model.rst
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model, Quick Review

#26351 FIX Update pairwise distance function argument names
  sklearn/metrics/_pairwise_distances_reduction/_argkmin_classmode.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_classification.py
Labels: module:metrics, module:neighbors, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#26760 ENH Allow 0<p<1 for Minkowski metric
  doc/whats_new/v1.4.rst
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:metrics, cython, Quick Review, Waiting for Second Reviewer

#26907 DOC use the same estimators to demonstrate pipeline construction
  doc/modules/compose.rst
Labels: Documentation

#26205 DOC example on feature selection using negative `tol` values
  examples/feature_selection/plot_select_from_model_diabetes.py
Labels: Documentation

#26889 MNT Improve robustness of sparse test in `HDBSCAN`
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#26915 MNT Fixed linting error in `plot_select_from_model_diabetes.py`
  examples/feature_selection/plot_select_from_model_diabetes.py
Labels: Documentation, No Changelog Needed, Quick Review

#26677 DOC Improve `plot_target_encoder_cross_val.py` example
  doc/glossary.rst
  doc/modules/preprocessing.rst
  examples/preprocessing/plot_target_encoder_cross_val.py
  sklearn/preprocessing/_target_encoder.py
Labels: Documentation

#26391 ENH Adds support for missing values in Random Forest
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/tree/_classes.py
Labels: module:ensemble

#26920 MAINT Parameters validation for sklearn.cluster.dbscan
  sklearn/cluster/_dbscan.py
Labels: module:cluster

#26261 DOC Add missing cross validation image alt
  doc/modules/cross_validation.rst
Labels: Documentation

#26928 DOC Note missing value support as advantage of decision trees
  doc/modules/tree.rst
Labels: Documentation, To backport

#26929 [MRG] DOC: backticks around X and y
  doc/modules/linear_model.rst
Labels: Documentation

#26922 DOC update related packages
  doc/related_projects.rst
Labels: Documentation

#26940 FIX Disable set_output for label encoder
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_label.py
Labels: module:preprocessing, To backport

#26931 FIX Adds more informative error message for OHE
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/estimator_checks.py
Labels: module:preprocessing

#26954 DOC Fixed typo, added missing comma in plot_forest_hist_grad_boosting_comparison example
  examples/ensemble/plot_forest_hist_grad_boosting_comparison.py
Labels: Documentation
