Repository scikit-learn/scikit-learn, pull requests merged in 2023-10, with the labels that each got.

#27179 TST Extend tests for `scipy.sparse.*array` in `sklearn/cluster/tests/test_k_means.py`
  doc/whats_new/v1.4.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, Waiting for Second Reviewer

#27164 TST Extend tests for `scipy.sparse.*array` in `sklearn/preprocessing/tests/test_common.py`
  sklearn/preprocessing/tests/test_common.py
Labels: module:preprocessing, No Changelog Needed

#27027 CI Build and test Python 3.12 wheels
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/build_minimal_windows_image.sh
  setup.py
Labels: Build / CI

#27432 DOC fixes references issues given by sphinx
  doc/modules/classes.rst
  doc/modules/compose.rst
  doc/modules/neighbors.rst
  doc/whats_new/v0.15.rst
  doc/whats_new/v0.16.rst
  doc/whats_new/v0.17.rst
  doc/whats_new/v0.20.rst
  doc/whats_new/v0.21.rst
  doc/whats_new/v0.23.rst
  doc/whats_new/v0.24.rst
  doc/whats_new/v1.3.rst
  doc/whats_new/v1.4.rst
  examples/decomposition/plot_faces_decomposition.py
  examples/developing_estimators/sklearn_is_fitted.py
  examples/model_selection/plot_det.py
  sklearn/__init__.py
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/gaussian_process/kernels.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_passive_aggressive.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/neighbors/_binary_tree.pxi.tp
  sklearn/pipeline.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/class_weight.py
  sklearn/utils/discovery.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/extmath.py
  sklearn/utils/graph.py
  sklearn/utils/metadata_routing.py
  sklearn/utils/metaestimators.py
  sklearn/utils/multiclass.py
  sklearn/utils/parallel.py
  sklearn/utils/random.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/sparsefuncs_fast.pyx
  sklearn/utils/validation.py
Labels: Documentation, cython

#27529 DOC Fix `DecisionBoundaryDisplay` docstring
  sklearn/inspection/_plot/decision_boundary.py
Labels: Documentation, module:inspection

#27532 MAINT Add numpy.import_array where missing
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/manifold/_utils.pyx
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
  sklearn/tree/_splitter.pyx
Labels: cython

#27204 API ColumnTransformer.transformers_: passthrough -> FunctionTransformer
  doc/whats_new/v1.4.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#27523 MAINT: Remove `np.int_` and `np.uint`
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/preprocessing/_discretization.py
Labels: module:ensemble, module:preprocessing

#27534 DOC Add info about influence of sample_weights to User Guide, LogisticRegression
  doc/modules/linear_model.rst
Labels: Documentation

#27539 MAINT Replace double with float64_t inside tree submodule
  sklearn/tree/_criterion.pxd
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
Labels: module:tree, cython

#26721 ENH scaling of LogisticRegression loss as 1/n * LinearModelLoss
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_from_model.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_linear_loss.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_common.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_sag.py
  sklearn/multioutput.py
  sklearn/utils/optimize.py
Labels: Performance, module:linear_model, Numerical Stability

#27492 MAINT Use scipy sparse nanmin/nanmax for scipy>=1.11
  sklearn/utils/fixes.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/tests/test_sparsefuncs.py
Labels: module:feature_extraction, module:utils, No Changelog Needed

#27552 DOC fix TSNE.fit docstring: it returns self
  sklearn/manifold/_t_sne.py
Labels: Documentation, module:manifold

#27500 FEA Add metadata routing to OrthogonalMatchingPursuitCV
  doc/metadata_routing.rst
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_omp.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:linear_model

#27527 DOC add link to plot_scalable_poly_kernels.py example
  sklearn/kernel_approximation.py
Labels: Documentation

#27554 TST Use _sklearn_version rather than version in pickle tests
  sklearn/tests/test_base.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review

#27478 FEA Add metadata routing to models that inherit from LinearModelCV
  doc/metadata_routing.rst
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:linear_model

#27544 MNT replace log_logistic by logaddexp
  doc/whats_new/v1.4.rst
  setup.py
  sklearn/neural_network/_rbm.py
  sklearn/utils/_logistic_sigmoid.pyx
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:neural_network, module:utils, No Changelog Needed, cython, Quick Review

#27538 FEA Add metadata routing to LarsCV and LassoLarsCV
  doc/metadata_routing.rst
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_least_angle.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:linear_model

#27548 DOC add reference link to available articles in imputation module
  doc/modules/impute.rst
  sklearn/impute/_knn.py
Labels: Documentation, module:impute

#27291 ENH accept class_of_interest in DecisionBoundaryDisplay to inspect multiclass classifiers
  doc/whats_new/v1.4.rst
  examples/classification/plot_classification_probability.py
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
  sklearn/utils/_response.py
  sklearn/utils/tests/test_response.py
Labels: module:inspection, module:utils

#27521 MAINT Follow cython performance hints
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
  sklearn/tree/_splitter.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
Labels: module:metrics, module:preprocessing, module:tree, cython

#27487 MAINT downcast object to other dtype without deprecation warning
  sklearn/datasets/_arff_parser.py
  sklearn/utils/fixes.py
Labels: module:datasets

#27513 DOC drop linux distro version for better maintenability of the sklearn install docs
  doc/install.rst
Labels: Documentation

#27567 TST make sure to not have ties in sparse callable NN test
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors, No Changelog Needed

#26623 DOC Add dropdowns to module 1.1 Linear Models
  doc/modules/linear_model.rst
Labels: Documentation

#27501 DOC improve example on cyclic feature engineering
  examples/applications/plot_cyclical_feature_engineering.py
Labels: Documentation

#27573 FIX validate properly zero_division=np.nan when used in parallel processing
  doc/whats_new/v1.4.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:metrics, module:utils

#27565 FIX handle outlier detector in _get_response_values
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
  sklearn/utils/_response.py
  sklearn/utils/tests/test_response.py
Labels: module:inspection, module:utils, No Changelog Needed

#27570 MNT Corrected HDBSCAN test that was rendered moot underspecified `ValueError`
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#27583 FIX make sure that KernelPCA works with pandas output and arpack solver
  doc/whats_new/v1.4.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: module:decomposition

#27589 MAINT add missing environment variable to Linux ARM64 cirrus check to update GitHub issue
  build_tools/cirrus/arm_tests.yml
Labels: No Changelog Needed

#26840 ENH/DEPR add new response_method and deprecate needs_* in make_scorer
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.4.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/tests/metadata_routing_common.py
Labels: module:metrics, module:utils

#27409 DOC add permalink to summary of collapsed details section
  doc/conf.py
  doc/modules/grid_search.rst
  doc/themes/scikit-learn-modern/layout.html
  doc/themes/scikit-learn-modern/static/css/theme.css
  doc/themes/scikit-learn-modern/static/js/details-permalink.js
Labels: Documentation

#27606 FIX CUDA detection when using PyTorch
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed, Quick Review, Array API

#27598 DOC Use sklearn link in standard replies
  doc/developers/tips.rst
Labels: Documentation, Quick Review

#27604 DOC add version 1.3.2 into landing page
  doc/templates/index.html
Labels: Documentation

#27602 DOC move somes fixes from 1.4 to 1.3.2
  doc/whats_new/v1.3.rst
  doc/whats_new/v1.4.rst
Labels: Documentation

#27611 DOC Fix `pos_label` in `CalibrationDisplay` docstrings
  sklearn/calibration.py
Labels: Documentation, Quick Review

#27571 MNT Improved rigor of HDBSCAN tests using Fowlkes-Mallows score
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#27618 MNT remove doubled code in validation.py
  sklearn/utils/validation.py
Labels: module:utils

#27616 TST change random seed to make graphical lasso test pass
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, No Changelog Needed

#27517 Added link to plot randomly generated multilabel dataset example to _samples_generator.py
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#27599 DOC add link to plot_mds.py example
  sklearn/manifold/_mds.py
Labels: Documentation, module:manifold

#27610 DOC Clarify `pos_label` in `_get_response_values`
  sklearn/utils/_response.py
Labels: Documentation, module:utils, Quick Review

#27628 TST Fix locally_linear_embedding test with scipy-dev
  sklearn/manifold/tests/test_locally_linear.py
Labels: module:manifold, No Changelog Needed, Quick Review

#27607 FIX Array API related bug in `_unique_indicator`
  sklearn/utils/multiclass.py
Labels: module:utils, Quick Review, Waiting for Second Reviewer

#21807 FIX Adjust tags in RFE to allow nans by default
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, module:pipeline, module:utils, Quick Review, Waiting for Second Reviewer

#27619 MAINT document the purpose of SKLEARN_ENABLE_DEBUG_CYTHON_DIRECTIVES in CI config
  azure-pipelines.yml
Labels: Build / CI, Waiting for Reviewer, No Changelog Needed, cython, Quick Review

#27627 MAINT unpin cython in CI config
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_environment.yml
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_environment.yml
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, cython

#27614 FIX update create_memmap_backed_data to work on any estimator object via joblib 1.2.0 and later
  README.rst
  doc/whats_new/v1.4.rst
  sklearn/_loss/tests/test_loss.py
  sklearn/_min_dependencies.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_testing.py
Labels: Waiting for Reviewer, module:utils, Quick Review

#27575 DOC Fix reference to MultiTaskLassoCV in MultiTaskLasso
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model, Quick Review

#27556 ENH Add Array API compatibility to `KernelCenterer`
  doc/modules/array_api.rst
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing, Array API

#27642 FIX Use torch.backends.mps.is_built() instead of torch.has_mps
  sklearn/utils/_testing.py
Labels: module:utils, No Changelog Needed, Quick Review, Array API

#27335 TST Test Array API-compatible metrics with `sample_weight`
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed, Array API

#27596 MNT mypy-joblib.* follow_imports = skip
  setup.cfg
Labels: Quick Review

#26616 ENH improve visual HTML estimator representation
  doc/developers/develop.rst
  doc/whats_new/v1.4.rst
  setup.py
  sklearn/base.py
  sklearn/utils/_estimator_html_repr.css
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: Waiting for Reviewer, module:utils, No Changelog Needed

#27624 Fix error in `euclidean_distances` when X is float64 and `X_norm_squared` is float32
  doc/whats_new/v1.4.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics, good first PR to review

#27664 Fix typos in names of variables
  sklearn/decomposition/tests/test_pca.py
  sklearn/model_selection/tests/test_split.py
Labels: module:decomposition, module:model_selection, No Changelog Needed, Quick Review, Waiting for Second Reviewer, Array API

#27660 DOC update the sponsors list on landing and about pages
  doc/about.rst
  doc/images/bcg-small.png
  doc/images/fujitsu-small.png
  doc/images/microsoft-small.png
  doc/templates/index.html
Labels: Documentation, To backport, No Changelog Needed

#27677 FIX adding assert statement while comparing
  sklearn/tests/test_kernel_approximation.py
Labels: No Changelog Needed

#27490 FEA Add metadata routing to SelectFromModel
  doc/metadata_routing.rst
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_from_model.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:feature_selection

#27681 DOC use latex notation for d2_tweedie_score docstring
  sklearn/metrics/_regression.py
Labels: Documentation, module:metrics

#27372 MAINT downcast indices dtype when converting sparse arrays
  doc/whats_new/v1.4.rst
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#25228 DOC add an example regarding the multiclass strategies
  examples/multiclass/README.txt
  examples/multiclass/plot_multiclass_overview.py
Labels: Documentation

#27104 TST Extend tests for `scipy.sparse.*array` in `sklearn/cluster/tests/test_optics.py`
  doc/whats_new/v1.4.rst
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#27411 DOC update the docstring and user guide for REFCV
  doc/modules/feature_selection.rst
  sklearn/feature_selection/_rfe.py
Labels: Documentation, module:feature_selection

#27670 FIX fixes memory leak seen in PyPy in C losses
  doc/whats_new/v1.4.rst
  sklearn/_loss/_loss.pyx.tp
  sklearn/_loss/loss.py
  sklearn/_loss/tests/test_loss.py
Labels: cython
