Repository scikit-learn/scikit-learn, pull requests merged in 2023-02, with the labels that each got.

#25507 MAINT Remove -Wsign-compare warnings when compiling sklearn.tree._tree
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#23867 MAINT add more intuition on OAS computation based on literature
  doc/modules/covariance.rst
  sklearn/covariance/_shrunk_covariance.py
Labels: module:covariance, No Changelog Needed

#25514 CI Allow cirrus arm tests to run with cd build commit tag
  .cirrus.star
Labels: Build / CI, Quick Review

#25513 CI Upload ARM wheels from CirrusCI to nightly and staging index
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/check_wheels.py
  build_tools/github/upload_anaconda.sh
Labels: Build / CI

#25406 MAINT Remove -Wcpp warnings from sklearn.utils._seq_dataset
  setup.py
  sklearn/utils/_seq_dataset.pxd.tp
  sklearn/utils/_seq_dataset.pyx.tp
Labels: module:utils, cython, Waiting for Second Reviewer

#25536 CI Fixes linux ARM CI on CirrusCI
  build_tools/cirrus/arm_tests.yml
Labels: Build / CI, No Changelog Needed, Quick Review

#25541 DOC Fix grammatical mistake in `mixture` module
  doc/modules/mixture.rst
Labels: Documentation

#25542 DOC add missing trailing colon
  doc/modules/preprocessing.rst
Labels: Documentation

#25474 MAINT Parameters validation for sklearn.datasets.make_classification
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25506 MNT Expose allow_nan tag in bagging
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/tests/test_bagging.py
Labels: module:ensemble, Quick Review

#25449 MAINT Improve the `_middle_term_sparse_sparse_{32, 64}` routines
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
Labels: module:metrics, cython

#25384 MAINT Parameters validation for reconstruct_from_patches_2d
  sklearn/feature_extraction/image.py
  sklearn/tests/test_public_functions.py
Labels: module:decomposition, module:feature_extraction, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25414 MAINT Parameter validation for sklearn.metrics.d2_pinball_score
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25378 MAINT Parameters validation for spectral_clustering
  sklearn/cluster/_spectral.py
  sklearn/tests/test_public_functions.py
Labels: module:cluster, module:decomposition, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25463 MAINT Parameters validation for sklearn.datasets.fetch_kddcup99
  sklearn/datasets/_kddcup99.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25556 DOC Update MLPRegressor docs
  sklearn/neural_network/_multilayer_perceptron.py
Labels: Documentation, module:neural_network, To backport

#25546 DOC Update docs for KMeans
  sklearn/cluster/_kmeans.py
Labels: module:cluster, To backport

#25538 DOC Adds `HDBSCAN.dbscan_clustering` section to `plot_hdbscan.py`
  examples/cluster/plot_hdbscan.py
Labels: Documentation, No Changelog Needed

#25563 FIX BisectingKMeans crashes randomly
  doc/whats_new/v1.2.rst
  sklearn/cluster/_bisect_k_means.py
Labels: module:cluster, To backport

#25562 MAINT Remove travis ci config and related doc
  .travis.yml
  README.rst
  build_tools/travis/after_success.sh
  build_tools/travis/install.sh
  build_tools/travis/install_main.sh
  build_tools/travis/install_wheels.sh
  build_tools/travis/script.sh
  build_tools/travis/test_docs.sh
  build_tools/travis/test_script.sh
  build_tools/travis/test_wheels.sh
  doc/about.rst
  doc/developers/maintainer.rst
  sklearn/datasets/tests/test_20news.py
  sklearn/datasets/tests/test_california_housing.py
  sklearn/datasets/tests/test_covtype.py
  sklearn/datasets/tests/test_kddcup99.py
  sklearn/datasets/tests/test_olivetti_faces.py
  sklearn/datasets/tests/test_rcv1.py
  sklearn/utils/_testing.py
Labels: Build / CI, module:datasets, module:utils, No Changelog Needed

#25480 DOC Add pynndescent to Approximate nearest neighbors in TSNE example
  examples/neighbors/approximate_nearest_neighbors.py
Labels: Documentation

#25551 DOC Add docstring example to make_regression
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#25317 MAINT ensure that pos_label support all possible types
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, No Changelog Needed, Waiting for Second Reviewer

#25557 MAINT Parameters validation for sklearn.metrics.f1_score
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25387 ENH Adds `class_names` to `tree.export_text`
  doc/whats_new/v1.3.rst
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree, Waiting for Second Reviewer

#25540 MAINT Replace cnp.ndarray with memory views in sklearn.tree._tree (where possible)
  setup.py
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#25569 DOC Change print format of Approximate nearest neighbors in TSNE example
  examples/neighbors/approximate_nearest_neighbors.py
Labels: Documentation

#25570 FIX Fixes ColumnTransformer to support empty selection for pandas output
  doc/whats_new/v1.2.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose, To backport, Quick Review

#25573 DOC fix docstring of _plain_sgd
  sklearn/linear_model/_sgd_fast.pyx
Labels: Documentation, Quick Review

#25477 FIX Enable setting of sub-parameters for deprecated base_estimator param
  doc/whats_new/v1.2.rst
  sklearn/base.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#25457 DOC Improve minor and bug-fix release processes' documentation
  doc/developers/maintainer.rst
Labels: Documentation

#25555 MAINT Remove ReadonlyArrayWrapper from _loss module
  setup.py
  sklearn/_loss/_loss.pxd
  sklearn/_loss/_loss.pyx.tp
  sklearn/_loss/loss.py
Labels: cython

#24698 ENH Extends outlier encoding scheme to `HDBSCAN.dbscan_clustering`
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Waiting for Second Reviewer

#25554 MAINT Remove ReadonlyArrayWrapper from _kmeans
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_k_means_minibatch.pyx
  sklearn/cluster/_kmeans.py
  sklearn/utils/_cython_blas.pxd
  sklearn/utils/_cython_blas.pyx
Labels: module:cluster, cython

#25553 MAINT Remove ReadonlyArrayWrapper from DistanceMetric
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
Labels: module:metrics, cython

#25567 CI Migrate 1.2.X over to Cirrus
  .cirrus.star
  .github/workflows/wheels.yml
  .travis.yml
  README.rst
  build_tools/cirrus/arm_tests.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/check_wheels.py
  build_tools/github/upload_anaconda.sh
  build_tools/travis/after_success.sh
  build_tools/travis/install.sh
  build_tools/travis/install_main.sh
  build_tools/travis/install_wheels.sh
  build_tools/travis/script.sh
  build_tools/travis/test_docs.sh
  build_tools/travis/test_script.sh
  build_tools/travis/test_wheels.sh
  doc/about.rst
  doc/developers/maintainer.rst
  sklearn/datasets/tests/test_20news.py
  sklearn/datasets/tests/test_california_housing.py
  sklearn/datasets/tests/test_covtype.py
  sklearn/datasets/tests/test_kddcup99.py
  sklearn/datasets/tests/test_olivetti_faces.py
  sklearn/datasets/tests/test_rcv1.py
  sklearn/utils/_testing.py
Labels: Build / CI, module:datasets, module:utils, No Changelog Needed

#25489 DOC make `max_df` range consistent in CountVectorizer
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction, Quick Review, Waiting for Second Reviewer

#25586 MAINT Removes ReadOnlyWrapper
  setup.py
  sklearn/utils/_readonly_array_wrapper.pyx
  sklearn/utils/tests/test_readonly_wrapper.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, No Changelog Needed, cython, Quick Review

#25577 MAINT Parameters validation for sklearn.metrics.log_loss
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25576 MAINT Adds comments and better naming into tree code
  sklearn/tree/_splitter.pyx
Labels: module:tree, cython

#25585 FIX error when deserialzing a Tree instance from a read only buffer
  sklearn/tree/_tree.pyx
  sklearn/tree/tests/test_tree.py
Labels: module:tree, No Changelog Needed, cython

#24701 CLN Cleaned `cluster/_hdbscan/_reachability.pyx`
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/_hdbscan/tests/__init__.py
  sklearn/cluster/_hdbscan/tests/test_reachibility.py
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Quick Review

#25613 DOC: fix typo in California Housing dataset description
  sklearn/datasets/descr/california_housing.rst
Labels: Documentation, module:datasets, To backport

#25482 ENH: Update KDTree, and example documentation
  doc/modules/neighbors.rst
  sklearn/neighbors/_base.py
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kde.py
  sklearn/neighbors/tests/test_kde.py
Labels: module:neighbors, No Changelog Needed, cython

#25624 TST Common test for checking estimator deserialization from a read only buffer
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/preprocessing/_polynomial.py
  sklearn/utils/estimator_checks.py
Labels: No Changelog Needed

#25633 DOC fix comment in plot_logistic_l1_l2_sparsity.py
  examples/linear_model/plot_logistic_l1_l2_sparsity.py
Labels: Documentation

#25618 DOC Places governance in navigation bar
  doc/themes/scikit-learn-modern/nav.html
Labels: Documentation

#25610 MAINT Check pyproject toml is consistent with min_dependencies
  sklearn/tests/test_min_dependencies_readme.py
Labels: No Changelog Needed

#25615 MAINT Use newest NumPy C API in tree._criterion
  setup.py
  sklearn/tree/_criterion.pyx
Labels: module:tree, cython

#25619 FIX Fixes check_array nonfinite checks with ArrayAPI specification
  doc/whats_new/v1.2.rst
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, To backport, Quick Review

#25599 DOC Corrects docstring in StackingRegressor.fit_transform
  sklearn/ensemble/_stacking.py
Labels: Documentation, module:ensemble, To backport, Quick Review

#25621 MAINT Remove Cython compilation warnings ahead of Cython3.0 release
  sklearn/_build_utils/__init__.py
  sklearn/_loss/_loss.pxd
  sklearn/_loss/_loss.pyx.tp
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/cluster/_k_means_minibatch.pyx
  sklearn/decomposition/_online_lda_fast.pyx
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pxd
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pxd
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/_quad_tree.pxd
  sklearn/neighbors/_quad_tree.pyx
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
  sklearn/tree/_criterion.pxd
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
  sklearn/utils/_cython_blas.pxd
  sklearn/utils/_cython_blas.pyx
  sklearn/utils/_heap.pxd
  sklearn/utils/_heap.pyx
  sklearn/utils/_isfinite.pyx
  sklearn/utils/_openmp_helpers.pxd
  sklearn/utils/_openmp_helpers.pyx
  sklearn/utils/_seq_dataset.pxd.tp
  sklearn/utils/_seq_dataset.pyx.tp
  sklearn/utils/_sorting.pxd
  sklearn/utils/_sorting.pyx
  sklearn/utils/_weight_vector.pxd.tp
  sklearn/utils/_weight_vector.pyx.tp
Labels: No Changelog Needed, cython, Quick Review

#25102 ENH Preserve DataFrame dtypes in transform for feature selectors
  doc/whats_new/v1.3.rst
  sklearn/base.py
  sklearn/feature_selection/_base.py
  sklearn/feature_selection/tests/test_base.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: module:feature_selection, Waiting for Second Reviewer

#25443 FIX report properly `n_iter_` when `warm_start=True`
  doc/whats_new/v1.3.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network, Waiting for Second Reviewer

#25649 DOC Fix typo in parameter description of KMeans
  examples/cluster/plot_kmeans_digits.py
  examples/cluster/plot_kmeans_plusplus.py
  examples/cluster/plot_kmeans_stability_low_dim_dense.py
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#25650 FIX use const memory views in hist_gradient_boosting predictor
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble, cython, Waiting for Second Reviewer

#25644 DOC modified the graph for better readability
  examples/classification/plot_lda.py
Labels: Documentation

#25523 DOC improve the `warm_start` glossary entry
  doc/glossary.rst
Labels: Documentation, Waiting for Second Reviewer

#25663 DOC Update governance document for SLEP020
  doc/governance.rst
Labels: Documentation

#25299 FIX renormalization of y_pred inside log_loss
  doc/whats_new/v1.3.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, Quick Review

#25638 ENH Allows target to be pandas nullable dtypes
  doc/whats_new/v1.3.rst
  sklearn/metrics/tests/test_classification.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:metrics, module:preprocessing, module:utils

#25679 MAINT Parameters validation for max_error()
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25674 MAINT Parameters validation for datasets.make_friedman1
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25685 MAINT Parameters validation for mean_pinball_loss()
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25678 specify behavior of None for CountVectorizer
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction

#25676 DOC Specify behaviour of None for TfIdfVectorizer max_features parameter
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction

#25684 MAINT Parameters validation for mean_shift()
  sklearn/cluster/_mean_shift.py
  sklearn/tests/test_public_functions.py
Labels: module:cluster, No Changelog Needed, Validation

#25680 MAINT Parameters validation for sklearn.metrics.jaccard_score
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25667 DOC Add the custom compiler section back
  doc/developers/advanced_installation.rst
Labels: Documentation, Build / CI, Quick Review

#25681 MAINT Parameters validation for precision_recall_fscore_support
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25664 FIX Allow negative tol in SequentialFeatureSelector
  doc/whats_new/v1.2.rst
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection, To backport

#25654 MAINT Replace deprecated cython conditional compilation
  doc/developers/performance.rst
  sklearn/_build_utils/__init__.py
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/utils/_openmp_helpers.pxd
  sklearn/utils/_openmp_helpers.pyx
Labels: module:cluster, module:utils, cython

#25706 DOC fix tiny formatting typo
  doc/related_projects.rst
Labels: Documentation

#25695 MAINT Parameters validation for metrics.mean_absolute_percentage_error()
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25698 MAINT Parameters validation for metrics.precision_recall_curve()
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25708 MAINT Parameter Validation for metrics.precision_score()
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25701 CI Stablize build with random_state
  sklearn/neural_network/tests/test_mlp.py
Labels: Build / CI, module:neural_network, No Changelog Needed, Quick Review

#25415 MAINT Remove -Wcpp warnings when compiling arrayfuncs
  setup.py
  sklearn/utils/arrayfuncs.pyx
Labels: module:utils, No Changelog Needed, cython

#23766 DOC Add scikit-learn-intelex to related projects
  doc/related_projects.rst
Labels: Documentation, Needs Decision

#25587 ENH Support float32 in SGDClassifier and SGDRegressor
  .gitignore
  doc/whats_new/v1.3.rst
  setup.py
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, cython, Waiting for Second Reviewer

#25704 FIX Allow OrdinalEncoder's encoded_missing_value set to the cardinality
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, To backport, Quick Review

#25598 ENH Let csr_row_norms support multi-thread
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#25719 MAINT Parameter Validation for feature_selection.chi2()
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_public_functions.py
Labels: module:feature_selection, No Changelog Needed, Validation

#25720 MAINT Parameter Validation for feature_selection.f_classif()
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_public_functions.py
Labels: module:feature_selection, No Changelog Needed, Validation

#25712 MAINT Parameters validation for sklearn.metrics.matthews_corrcoef
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: No Changelog Needed, Validation

#25726 MAINT parameter validation for sklearn.datasets.dump_svmlight_file
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25661 MAINT Clean dead code in build helpers
  setup.py
  sklearn/_build_utils/openmp_helpers.py
  sklearn/_build_utils/pre_build_helpers.py
Labels: Build / CI, Quick Review

#25702 MAINT Use newest NumPy C API in metrics._dist_metrics
  setup.py
  sklearn/metrics/_dist_metrics.pyx.tp
Labels: module:metrics, No Changelog Needed, cython, Quick Review

#25600 CI Adds permissions to workflows that use GITHUB_TOKEN
  .github/workflows/artifact-redirector.yml
  .github/workflows/assign.yml
  .github/workflows/labeler-module.yml
  .github/workflows/labeler-title-regex.yml
  .github/workflows/unassign.yml
Labels: Build / CI, Quick Review

#25694 FIX Improves error message in partial_fit when early_stopping=True
  doc/whats_new/v1.2.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network, To backport, Quick Review

#25688 DOC Makes navbar static
  doc/themes/scikit-learn-modern/javascript.html
  doc/themes/scikit-learn-modern/layout.html
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation, To backport, Quick Review

#25731 MAINT Remove redundant sparse square euclidian distances function
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
Labels: module:metrics, cython

#25721 MAINT Use float64 for accumulators in WeightVector*
  sklearn/utils/_weight_vector.pxd.tp
  sklearn/utils/_weight_vector.pyx.tp
Labels: module:utils, cython, Quick Review

#24230 API make PatchExtractor being a real scikit-learn transformer
  doc/modules/feature_extraction.rst
  doc/whats_new/v1.3.rst
  sklearn/feature_extraction/image.py
  sklearn/feature_extraction/tests/test_image.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:feature_extraction, Waiting for Second Reviewer

#21809 API Deprecates values in partial_dependence in favor of pdp_values
  doc/whats_new/v1.3.rst
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/utils/_bunch.py
  sklearn/utils/tests/test_bunch.py
Labels: module:inspection, module:utils, Waiting for Second Reviewer
