Repository scikit-learn/scikit-learn, pull requests merged in 2023-05, with the labels that each got.

#26309 DOC fix link to User Guide encoder_infrequent_categories
  examples/release_highlights/plot_release_highlights_1_1_0.py
Labels: Documentation

#26314 MNT remove unused args in _predict_regression_tree_inplace_fast_dense
  sklearn/ensemble/_gradient_boosting.pyx
Labels: module:ensemble, No Changelog Needed, Quick Review

#23595 ENH Adds missing value support for trees
  doc/modules/tree.rst
  doc/whats_new/v1.3.rst
  sklearn/tree/_classes.py
  sklearn/tree/_criterion.pxd
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pyx
  sklearn/tree/tests/test_tree.py
  sklearn/utils/validation.py
Labels: module:ensemble, module:tree, cython

#26300 CLN Clean up logic in validate_data and cast_to_ndarray
  sklearn/base.py
  sklearn/tests/test_base.py
Labels: No Changelog Needed

#26319 DOC Add HGBDT to "see also" section of random forests
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble, Quick Review

#26194 FIX thresholds should not exceed 1.0 with probabilities in `roc_curve`
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.3.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#23731 ENH Allow for appropriate dtype us in `preprocessing.PolynomialFeatures` for sparse matrices
  doc/whats_new/v1.3.rst
  setup.py
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing, cython

#26327 Fix minor typo
  sklearn/ensemble/_iforest.py
Labels: module:ensemble

#26332 DOC fix return type in isotonic_regression
  sklearn/isotonic.py
Labels: Documentation

#26325 FIX make pipeline pass check_estimator
  doc/whats_new/v1.3.rst
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline

#24769 FEA Add multiclass support to `average_precision_score`
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.3.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, Waiting for Second Reviewer

#26346 DOC Fix minor typo - "there" to "their"
  doc/tutorial/basic/tutorial.rst
Labels: Documentation

#26297 MAINT Fix usage of `property` in Cython extension classes
  sklearn/neighbors/_quad_tree.pyx
  sklearn/tree/_tree.pyx
Labels: module:neighbors, module:tree, No Changelog Needed, cython, Waiting for Second Reviewer

#26322 DOC Add HGBDT to "user_guide" reference in RF
  doc/modules/ensemble.rst
Labels: Documentation

#26349 DOC Fix wrong ref in RandomForestClassifier docstring
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#26334 DOC update documentation on re-building Cython extensions
  doc/developers/advanced_installation.rst
  doc/developers/contributing.rst
Labels: Documentation

#26242 AdaBoost: allow base_estimator=None
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_base.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#26289 FIX `tree.export_text` and `tree.export_graphviz` accepts feature and class names as array-like
  doc/whats_new/v1.3.rst
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree

#26101 CLN HDBSCAN `_tree.pyx::do_labelling` refactor
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, cython, Quick Review, Waiting for Second Reviewer

#26362 MAINT Update _kmeans.py warning message
  sklearn/cluster/_kmeans.py
Labels: module:cluster

#26034 MAINT Parameters validation for sklearn.tree.export_graphviz
  sklearn/tests/test_public_functions.py
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree, No Changelog Needed, Validation

#26376 BUG Fixes sample weights when there are missing values in DecisionTrees
  doc/whats_new/v1.3.rst
  sklearn/tree/_criterion.pyx
  sklearn/tree/tests/test_tree.py
Labels: module:tree, cython

#26293 TST fix sklearn/linear_model/tests/test_quantile.py::test_sparse_input for Windows
  sklearn/linear_model/tests/test_quantile.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#26389 MNT Mention pytest version in error message when pytest version is too old
  sklearn/conftest.py
Labels: Quick Review

#26383 DOC Update daal4py -> scikit-learn-intelex reference
  doc/install.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#26337 FIX KernelPCA inverse transform when gamma is not given
  doc/whats_new/v1.3.rst
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/tests/test_kernel_pca.py
Labels: module:decomposition, Quick Review, Waiting for Second Reviewer

#26387 MAINT Clean deprecated SCORERS dict for 1.3
  sklearn/metrics/__init__.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics, No Changelog Needed, Quick Review

#26264 MAINT Deprecate `matching` as metric
  doc/modules/neighbors.rst
  doc/whats_new/v1.3.rst
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/pairwise.py
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_ball_tree.py
Labels: module:metrics, module:neighbors, cython, Quick Review, Waiting for Second Reviewer

#25548 DOC Clearer and more illustrative description for f_beta_score
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics, Quick Review, Waiting for Second Reviewer

#26374 CI Add Pyodide wheel build
  azure-pipelines.yml
  build_tools/azure/install_pyodide.sh
  build_tools/azure/test_script_pyodide.sh
  doc/developers/contributing.rst
Labels: Build / CI

#26019 ENH PrecisionRecallDisplay add option to plot chance level
  doc/whats_new/v1.3.rst
  examples/model_selection/plot_precision_recall.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
Labels: module:metrics, Waiting for Second Reviewer

#26397 CI Retry codecov upload when it fails
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
  build_tools/azure/windows.yml
Labels: Build / CI

#26312 TST catch UserWarning in test_predictions for HGBT
  sklearn/ensemble/_hist_gradient_boosting/tests/test_monotonic_contraints.py
Labels: module:ensemble, module:test-suite, No Changelog Needed, Quick Review

#26108 FIX Add check array for empirical_covariance
  doc/whats_new/v1.3.rst
  sklearn/covariance/_empirical_covariance.py
Labels: module:covariance

#26425 DOC Fix wording in plot quantile regression example.
  examples/linear_model/plot_quantile_regression.py
Labels: Documentation

#26124 MAINT Parameters validation for sklearn.metrics.pairwise_distances_argmin
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26426 MAINT Clean deprecated pdp_lim as constructor param of PartialDependenceDisplay
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection, No Changelog Needed, Quick Review

#25815 ENH Generally avoid nested param validation
  doc/whats_new/v1.3.rst
  sklearn/_config.py
  sklearn/base.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_nmf.py
  sklearn/tests/test_config.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:decomposition, module:utils, Validation

#24083 API Deprecate metrics other than euclidean and manhattan for NearestCentroid
  doc/whats_new/v1.3.rst
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/tests/test_nearest_centroid.py
Labels: API, module:neighbors

#25429 DOC Rework Lasso and Elastic Net for Sparse Signals example
  examples/linear_model/plot_lasso_and_elasticnet.py
Labels: Documentation, Waiting for Reviewer

#15554 TST Add tests for LinearRegression that sample weights act consistently
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, module:test-suite, No Changelog Needed

#26318 ENH Remove unnecessary OOB computation when n_more_estimators == 0
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble, Waiting for Second Reviewer

#26449 CLN io.open() → open()
  sklearn/datasets/_svmlight_format_io.py
Labels: module:datasets

#26093 API Accept 'auto' option for 'dual' parameter in LinearSVC and LinearSVR
  benchmarks/bench_mnist.py
  doc/modules/feature_selection.rst
  doc/modules/model_evaluation.rst
  doc/modules/multiclass.rst
  doc/modules/svm.rst
  doc/whats_new/v1.3.rst
  examples/calibration/plot_calibration_curve.py
  examples/calibration/plot_compare_calibration.py
  examples/feature_selection/plot_feature_selection.py
  examples/feature_selection/plot_feature_selection_pipeline.py
  examples/kernel_approximation/plot_scalable_poly_kernels.py
  examples/miscellaneous/plot_kernel_approximation.py
  examples/model_selection/plot_det.py
  examples/model_selection/plot_grid_search_refit_callable.py
  examples/model_selection/plot_precision_recall.py
  examples/preprocessing/plot_discretization_classification.py
  examples/svm/plot_iris_svc.py
  examples/svm/plot_linearsvc_support_vectors.py
  sklearn/calibration.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_common.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/kernel_approximation.py
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_successive_halving.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/multiclass.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_sparse.py
  sklearn/svm/tests/test_svm.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_multiclass.py
  sklearn/tests/test_multioutput.py
Labels: module:svm

#26420 MAINT Use `scipy.sparse.isspmatrix_*`
  sklearn/model_selection/tests/test_split.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
  sklearn/utils/extmath.py
  sklearn/utils/multiclass.py
  sklearn/utils/sparsefuncs.py
Labels: No Changelog Needed, cython

#26448 [MRG] Fix typos found by codespell
  azure-pipelines.yml
  build_tools/linting.sh
  doc/developers/advanced_installation.rst
  doc/modules/linear_model.rst
  examples/cluster/plot_adjusted_for_chance_measures.py
  examples/cluster/plot_dbscan.py
  examples/cluster/plot_face_compress.py
  examples/cluster/plot_mini_batch_kmeans.py
  examples/ensemble/plot_monotonic_constraints.py
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
  examples/miscellaneous/plot_kernel_ridge_regression.py
  examples/miscellaneous/plot_set_output.py
  examples/mixture/plot_gmm_init.py
  examples/model_selection/plot_det.py
  examples/model_selection/plot_likelihood_ratios.py
  examples/preprocessing/plot_scaling_importance.py
  examples/text/plot_document_clustering.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
  sklearn/decomposition/_lda.py
  sklearn/externals/_lobpcg.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_glm/tests/test_glm.py
  sklearn/linear_model/tests/test_common.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/manifold/_t_sne.py
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_target_encoder.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_target_encoder.py
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pyx
  sklearn/utils/extmath.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/tests/test_param_validation.py
  sklearn/utils/validation.py
Labels: cython

#26458 BLD Fixes doc building Makefile for Darwin
  doc/Makefile
Labels: Quick Review

#26434 MAINT Clean-up deprecated wminkowski distance metric for 1.3
  doc/modules/neighbors.rst
  sklearn/cluster/tests/test_hierarchical.py
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_ball_tree.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/neighbors/tests/test_neighbors_tree.py
Labels: module:cluster, module:metrics, module:neighbors, No Changelog Needed, cython

#26385 ENH Add `HDBSCAN` as a new estimator in `sklearn.cluster`
  doc/modules/classes.rst
  doc/modules/clustering.rst
  doc/whats_new/v1.3.rst
  examples/cluster/plot_cluster_comparison.py
  examples/cluster/plot_hdbscan.py
  setup.py
  sklearn/cluster/__init__.py
  sklearn/cluster/_hdbscan/__init__.py
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/_tree.pxd
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/_hdbscan/tests/__init__.py
  sklearn/cluster/_hdbscan/tests/test_reachibility.py
  sklearn/cluster/_hierarchical_fast.pxd
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/cluster/tests/test_hdbscan.py
  sklearn/utils/estimator_checks.py
Labels: module:cluster, module:utils, cython

#26424 MAINT | ENH Change default value of subsample + allow for all strategies in KBinsDiscretizer
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: API, module:preprocessing
