Repository scikit-learn/scikit-learn, pull requests merged in 2023-12, with the labels that each got.

#27841 ENH Warn in SelectKBest when k > n_features
  doc/whats_new/v1.4.rst
  sklearn/feature_selection/_univariate_selection.py
  sklearn/feature_selection/tests/test_feature_select.py
Labels: module:feature_selection, Quick Review, Waiting for Second Reviewer

#27651 FIX don't modify X in-place when precomputed in DBSCAN
  doc/whats_new/v1.4.rst
  sklearn/cluster/_dbscan.py
  sklearn/cluster/tests/test_dbscan.py
Labels: module:cluster, Waiting for Second Reviewer

#27668 FIX degree in polynomial kernel should be a floating number
  doc/whats_new/v1.4.rst
  sklearn/cluster/_spectral.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/kernel_ridge.py
Labels: Blocker, module:cluster, Waiting for Second Reviewer

#27645 FIX IsolationForest accepts sparse matrix with float value contamination
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble

#27892 DOC set max_features for HGBT as MajorFeature
  doc/whats_new/v1.4.rst
Labels: Documentation

#27865 ENH reuse parent histograms as one of the child's histogram
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_histogram.py
Labels: module:ensemble, cython, Waiting for Second Reviewer

#27719 ENH _get_response_values handles predict_log_proba
  sklearn/utils/_response.py
  sklearn/utils/tests/test_response.py
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed

#26459 FIX bug in OPTICS that use the right indices when correcting clusters
  doc/whats_new/v1.4.rst
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster

#26683 ENH Adds polars output support to ColumnTransformer
  doc/whats_new/v1.4.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:compose, module:utils

#27855 MAINT remove normalize parameter and subsequent clean-up
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_omp.py
Labels: module:linear_model, No Changelog Needed

#26971 DOC linked SplineTransformer to time-related feature engineering example
  sklearn/model_selection/_split.py
  sklearn/preprocessing/_polynomial.py
Labels: Documentation, Stalled, good first issue, help wanted, module:preprocessing

#27899 CI/FIX Enable numpy dev in [scipy-dev] build and fix Bayesian linear models for numpy 2 compat
  build_tools/azure/install.sh
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_bayes.py
Labels: Bug, Build / CI

#27835 ENH detect categorical polars columns in HistGradientBoosting
  doc/modules/ensemble.rst
  doc/whats_new/v1.4.rst
  examples/ensemble/plot_gradient_boosting_categorical.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:ensemble

#27884 DOC Improve comments for in Tweedie example
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
Labels: Documentation

#27710 MAINT use Voting and Stacking support missing values
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_base.py
  sklearn/ensemble/_voting.py
  sklearn/utils/estimator_checks.py
Labels: module:ensemble, module:utils

#27720 ENH add predict_log_proba to ClassifierChain
  doc/whats_new/v1.4.rst
  sklearn/multioutput.py
  sklearn/tests/test_multioutput.py
Labels: Waiting for Second Reviewer

#27454 CI raise error for all kind of deprecation warnings in doc build
  doc/conf.py
Labels: Build / CI

#27906 EXA Fix typo in dataset name
  examples/ensemble/plot_gradient_boosting_categorical.py
Labels: Quick Review

#27898 FIX raise error in HDBSCAN with precomputed X and request centers
  doc/whats_new/v1.4.rst
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster

#27466 DOC Early Stopping example overhaul
  examples/ensemble/plot_gradient_boosting_early_stopping.py
Labels: Documentation

#27639 FIX force node values outside of [0, 1] range for monotonically constraints classification trees
  sklearn/tree/_classes.py
  sklearn/tree/_criterion.pyx
  sklearn/tree/_export.py
  sklearn/tree/tests/test_monotonic_tree.py
Labels: Blocker, module:tree, No Changelog Needed, cython

#24838 MAINT Raise NotFittedError when using DictVectorizer without prior fitting
  doc/whats_new/v1.4.rst
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
Labels: module:feature_extraction

#27925 MAINT Remove deprecated kwargs support in density
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: Blocker, module:utils, No Changelog Needed, Quick Review

#27924 MAINT Remove deprecated support for int in boolean constraint
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: Blocker, module:utils, No Changelog Needed, Quick Review

#27938 MAINT Remove left-over from KMeans n_init default deprecation
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed, Quick Review

#27577 FIX f1_score with zero_division=1 uses directly confusion matrix statistic
  doc/whats_new/v1.4.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics

#27939 MNT remove `take` fn in array_api wrapper
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed, Array API

#27941 MNT Prune unused argument in `_array_api_for_tests` util
  sklearn/decomposition/tests/test_pca.py
  sklearn/metrics/tests/test_common.py
  sklearn/model_selection/tests/test_split.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:decomposition, module:model_selection, module:utils, No Changelog Needed, Array API

#27944 MAINT order changelog and fix some entries
  doc/whats_new/v1.4.rst
Labels: Quick Review

#27910 MAINT bumpversion Python and dependencies
  .circleci/config.yml
  .github/workflows/update-lock-files.yml
  .github/workflows/wheels.yml
  README.rst
  azure-pipelines.yml
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pymin_conda_defaults_openblas_environment.yml
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/pymin_conda_forge_mkl_environment.yml
  build_tools/azure/pymin_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/test_script.sh
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/arm_tests.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/cirrus/pymin_conda_forge_environment.yml
  build_tools/cirrus/pymin_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  build_tools/wheels/build_wheels.sh
  pyproject.toml
  setup.py
  sklearn/_min_dependencies.py
  sklearn/datasets/tests/test_svmlight_format.py
Labels: No Changelog Needed

#27951 DOC fixes sphinx warning due to rendering issue
  examples/ensemble/plot_gradient_boosting_early_stopping.py
  examples/ensemble/plot_gradient_boosting_quantile.py
Labels: Documentation

#25275 ENH allow shrunk_covariance to handle multiple matrices at once
  doc/whats_new/v1.4.rst
  sklearn/covariance/_shrunk_covariance.py
  sklearn/covariance/tests/test_covariance.py
Labels: module:covariance

#27954 CLN avoid nested conftests
  conftest.py
  sklearn/conftest.py
  sklearn/externals/conftest.py
  sklearn/utils/tests/conftest.py
Labels: module:utils, No Changelog Needed

#27970 DOC update doc build sphinx link to by matching regex in lock file
  doc/developers/contributing.rst
Labels: Documentation

#27969 MNT Work-around sphinx-gallery `UnicodeDecodeError` in recommender system
  examples/linear_model/plot_lasso_and_elasticnet.py
  examples/text/plot_hashing_vs_dict_vectorizer.py
Labels: Documentation

#27940 FIX Apply dtype param in `check_array_api_compute_metric` unit test
  sklearn/decomposition/tests/test_pca.py
  sklearn/metrics/tests/test_common.py
  sklearn/model_selection/tests/test_split.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/_array_api.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:metrics, No Changelog Needed

#27978 remove pandas from a CI configuration that has code coverage enabled
  azure-pipelines.yml
  build_tools/azure/pymin_conda_defaults_openblas_environment.yml
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#27979 DEP deprecate loss_function_ attribute in SGDClassifier and SGDOneClassSVM
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model

#27933 DOC Adds Release Highlights for 1.4
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  examples/release_highlights/plot_release_highlights_1_4_0.py
Labels: Documentation, Blocker

#27551 DOC add dropdown menu for Section 2.5 Decomposing signals in components
  doc/modules/decomposition.rst
Labels: Documentation

#27992 DOC Fixes pipeline docstring for pandas output
  sklearn/pipeline.py
Labels: Documentation, module:pipeline, To backport, No Changelog Needed, Quick Review

#27995 MAINT Bump dev version
  doc/whats_new.rst
  doc/whats_new/v1.5.rst
  sklearn/__init__.py
Labels: No Changelog Needed, Quick Review

#27965 MAINT: Prefer `np.fill_diagonal` over `diag_indices`
  sklearn/metrics/pairwise.py
Labels: module:metrics, Quick Review

#27990 Adds __getitem__ to ColumnTransformer
  doc/whats_new/v1.5.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose
