Repository scikit-learn/scikit-learn, pull requests merged in 2023-11, with the labels that each got.

#27697 DOC fix referencing in TargetEncoder docstring
  sklearn/preprocessing/_target_encoder.py
Labels: Documentation, module:preprocessing

#27701 MAINT Remove unused variable in `ClassifierChain`
  sklearn/multioutput.py
Labels: Quick Review

#27309 FIX raise an error if nan is not the last element in user provided categories
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, Waiting for Second Reviewer

#27328 FIX raise an error if user defined categories contain duplicate values
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, Waiting for Second Reviewer

#27203 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_estimator_checks.py`
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer

#27705 DOC fix typo in RandomForestRegressor stating about classifier
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#27413 TST Extend tests for `scipy.sparse.*array` in `sklearn/utils/tests/test_seq_dataset.py`
  sklearn/utils/tests/test_seq_dataset.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer

#27712 DOC fix docsring RandomForestRegressor
  sklearn/ensemble/_forest.py
Labels: module:ensemble

#26819 DOC: added dropdowns to module 1.9 naive bayes
  doc/modules/naive_bayes.rst
Labels: Documentation

#27698 MAINT remove old code related to removed option max_features="auto"
  sklearn/tree/_classes.py
Labels: Documentation, module:tree, Waiting for Second Reviewer

#27650 ENH Add warning when only one label found in `confusion_matrix`
  doc/whats_new/v1.4.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, Quick Review, Waiting for Second Reviewer

#27659 DOC use sphinx-gallery css variable to adapt light/dark theme
  doc/themes/scikit-learn-modern/layout.html
  sklearn/utils/_estimator_html_repr.css
Labels: Documentation, module:utils, Waiting for Second Reviewer

#26736 ENH Adding estimators_samples_ attribute to forest models
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble, Waiting for Second Reviewer

#27714 DOC Improve `pos_label` and `labels` in precison/recall/f1 and jaccard
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics, Waiting for Second Reviewer

#27240 TST Extend tests for `scipy.sparse/*array` in `sklearn/manifold/tests/test_spectral_embedding`
  doc/whats_new/v1.4.rst
  sklearn/externals/_scipy/__init__.py
  sklearn/externals/_scipy/sparse/__init__.py
  sklearn/externals/_scipy/sparse/csgraph/__init__.py
  sklearn/externals/_scipy/sparse/csgraph/_laplacian.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/semi_supervised/_label_propagation.py
  sklearn/utils/fixes.py
Labels: module:manifold, Waiting for Second Reviewer

#27732 CI Add cron schedule for lock-file workflow
  .github/workflows/update-lock-files.yml
Labels: Build / CI, No Changelog Needed, Quick Review

#18689 ENH Allow fitting PCA on sparse X with arpack solvers
  doc/modules/decomposition.rst
  doc/modules/manifold.rst
  doc/whats_new/v1.4.rst
  examples/compose/plot_column_transformer.py
  sklearn/decomposition/_base.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/tests/test_sparsefuncs.py
Labels: Performance, module:decomposition

#27525 DOC Update Pairwise Distances Reductions' documentation
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
Labels: Documentation, module:metrics, Waiting for Second Reviewer

#27748 DOC Clarify monotonicity contraints of HGBT Regressor
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation, module:ensemble

#27730 DOC Fix FeatureUnion docstring
  sklearn/pipeline.py
Labels: Documentation, module:pipeline, Quick Review, Waiting for Second Reviewer

#27718 API `dim` to `n_dim` in `make_sparse_spd_matrix`
  doc/whats_new/v1.4.rst
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
Labels: module:datasets

#26597 DOC FIx the formula for support_fraction in the covariance estimators
  sklearn/covariance/_elliptic_envelope.py
  sklearn/covariance/_robust_covariance.py
Labels: Documentation, module:covariance, Quick Review, Waiting for Second Reviewer

#27759 MAINT fix line too long in docstring in covariance estimators
  sklearn/covariance/_robust_covariance.py
Labels: module:covariance

#27715 DOC add example for contingency_matrix docstring
  sklearn/metrics/cluster/_supervised.py
Labels: Documentation, module:metrics

#27731 MAINT force encoding when opening file to not be platform specific
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:utils, No Changelog Needed

#27251 FIX Make `_download_20newsgroups` safer
  sklearn/datasets/_twenty_newsgroups.py
Labels: Needs Decision, module:datasets, Quick Review, Waiting for Second Reviewer

#27314 TST Extend tests for `scipy.sparse.*array` in `sklearn/tests/test_random_projection.py`
  doc/whats_new/v1.4.rst
  sklearn/tests/test_random_projection.py
Labels: No Changelog Needed, Waiting for Second Reviewer

#27773 CI Fix lint workflow concurrency
  .github/workflows/lint.yml
Labels: Build / CI

#27766 MAINT Remove -Wdiscarded-qualifiers compilation warning for sklearn.utils.arrayfuncs
  sklearn/utils/arrayfuncs.pyx
Labels: module:utils, cython

#27757 FIX improve warning message in `_ensure_sparse_format`
  doc/whats_new/v1.4.rst
  sklearn/cluster/tests/test_affinity_propagation.py
  sklearn/linear_model/tests/test_base.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/tests/test_multiclass.py
  sklearn/utils/tests/test_mocking.py
  sklearn/utils/tests/test_utils.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, Waiting for Second Reviewer

#27558 ENH Add Array API compatibility to `Normalizer`
  doc/modules/array_api.rst
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/extmath.py
Labels: module:preprocessing, module:utils, Array API

#27780 DOC fix rendering of d(\cdot,\cdot) in documentation
  sklearn/gaussian_process/kernels.py
Labels: Documentation, module:gaussian_process

#27601 FIX Array API related error in `sklearn.utils.mutilclass.is_multilabel` function
  doc/whats_new/v1.4.rst
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:utils, Waiting for Second Reviewer, Array API

#27139 ENH add feature subsampling per split for HGBT
  benchmarks/bench_hist_gradient_boosting_higgsboson.py
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/tests/test_splitting.py
Labels: module:ensemble, cython

#27784 DOC: fix a typo in the link to the User Guide
  doc/developers/plotting.rst
Labels: Documentation

#27785 CI Update conda-lock to latest release
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  sklearn/_min_dependencies.py
Labels: Build / CI

#27431 FIX array_api support for non-integer n_components in PCA
  doc/whats_new/v1.4.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/utils/extmath.py
Labels: Waiting for Reviewer, module:decomposition, module:utils, Waiting for Second Reviewer, Array API

#27792 DOC Fix monotonic note in `calibration.rst`
  doc/modules/calibration.rst
Labels: Documentation

#27790 DOC minor fixes of splitter docstrings (from #26423)
  doc/modules/cross_validation.rst
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#27791 DOC Improve svm reference in `CalibratedClassifierCV`
  sklearn/calibration.py
Labels: Documentation, Quick Review

#27787 DOC remove default parameter values for private function in logistic module
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model

#27041 MAINT: Adapt sklearn for NumPy default integer change
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/utils/_random.pxd
  sklearn/utils/_random.pyx
  sklearn/utils/estimator_checks.py
Labels: module:utils, cython

#27793 MAINT fix missing logo sponsor on index
  doc/images/microsoft-small.png
  doc/templates/index.html
Labels: To backport

#27797 DOC Enable sphinx search summary
  doc/conf.py
  doc/themes/scikit-learn-modern/layout.html
Labels: Documentation

#26299 ENH `learning_curve` raises a warning on failure of CV folds
  doc/whats_new/v1.4.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, Waiting for Second Reviewer

#26411 ENH Adds native pandas categorical support to gradient boosting
  doc/whats_new/v1.4.rst
  examples/applications/plot_cyclical_feature_engineering.py
  examples/ensemble/plot_gradient_boosting_categorical.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#27803 TST ensure to raise deterministic warning in learning curve test
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, No Changelog Needed

#27723 TST Extend tests for `scipy.sparse.*array` in `sklearn/svm/tests/test_sparse`
  sklearn/svm/tests/test_sparse.py
Labels: module:svm, No Changelog Needed, Waiting for Second Reviewer

#23317 MNT: Make error message clearer for n_neighbors
  doc/whats_new/v1.4.rst
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_lof.py
Labels: Waiting for Reviewer, module:neighbors

#27735 BLD: Build scikit-learn nightlies using NumPy nightlies
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/upload_anaconda.sh
  build_tools/wheels/build_wheels.sh
  pyproject.toml
  sklearn/tests/test_min_dependencies_readme.py
Labels: No Changelog Needed, Waiting for Second Reviewer

#27802 MAINT Update fetch_openml to use the auto parser by default
  asv_benchmarks/benchmarks/datasets.py
  benchmarks/bench_hist_gradient_boosting_adult.py
  benchmarks/bench_isolation_forest.py
  benchmarks/bench_lof.py
  benchmarks/bench_mnist.py
  benchmarks/bench_plot_randomized_svd.py
  benchmarks/bench_tsne_mnist.py
  doc/datasets/loading_other_datasets.rst
  examples/applications/plot_cyclical_feature_engineering.py
  examples/applications/plot_digits_denoising.py
  examples/compose/plot_column_transformer_mixed_types.py
  examples/compose/plot_transformed_target.py
  examples/ensemble/plot_gradient_boosting_categorical.py
  examples/ensemble/plot_stack_predictors.py
  examples/gaussian_process/plot_gpr_co2.py
  examples/inspection/plot_linear_model_coefficient_interpretation.py
  examples/inspection/plot_partial_dependence.py
  examples/inspection/plot_permutation_importance.py
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
  examples/linear_model/plot_sgd_early_stopping.py
  examples/linear_model/plot_sparse_logistic_regression_mnist.py
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
  examples/miscellaneous/plot_display_object_visualization.py
  examples/miscellaneous/plot_outlier_detection_bench.py
  examples/miscellaneous/plot_set_output.py
  examples/multiclass/plot_multiclass_overview.py
  examples/multioutput/plot_classifier_chain_yeast.py
  examples/neighbors/approximate_nearest_neighbors.py
  examples/neural_networks/plot_mnist_filters.py
  examples/preprocessing/plot_target_encoder.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed

#27809 MAINT Make logistic if statement more explicit
  sklearn/linear_model/_logistic.py
Labels: module:linear_model, Quick Review

#27789 DOC improve the documentation of Perceptron
  doc/modules/linear_model.rst
  sklearn/linear_model/_perceptron.py
Labels: Documentation, module:linear_model

#26953 DOC Add returned unit to mutual information documentation
  sklearn/feature_selection/_mutual_info.py
Labels: Documentation, module:feature_selection

#25350 DOC new example for time-series forecasting with lagged features and prediction intervals
  examples/applications/plot_time_series_lagged_features.py
  examples/ensemble/plot_gradient_boosting_quantile.py
Labels: Documentation, Waiting for Second Reviewer

#27414 DOC Add Dropdown to Module 1.7. Gaussian Processes
  doc/modules/gaussian_process.rst
Labels: Documentation

#27823 DOC http:// → https://
  doc/sphinxext/github_link.py
Labels: Documentation

#27816 FIX default max-features in bench hgbt higgs
  benchmarks/bench_hist_gradient_boosting_higgsboson.py
Labels: Quick Review

#27824 MAINT Fix typos found by codespell
  doc/glossary.rst
  examples/applications/plot_cyclical_feature_engineering.py
  examples/cluster/plot_coin_segmentation.py
  sklearn/ensemble/_gb.py
  sklearn/externals/_scipy/sparse/csgraph/_laplacian.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/semi_supervised/_self_training.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_estimator_html_repr.py
  sklearn/utils/tests/test_fixes.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed

#26180 [MRG+2] DOC Add example recommender system in the example gallery
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  doc/conf.py
  sklearn/_min_dependencies.py
Labels: Documentation

#27649 TST stability problem for test_logistic_regressioncv_class_weights
  sklearn/linear_model/tests/test_logistic.py
Labels: Build / CI, No Changelog Needed

#27827 MAINT change force_alpha default value from True to False after deprecation
  sklearn/naive_bayes.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_naive_bayes.py
Labels: module:naive_bayes, No Changelog Needed

#27821 FIX raise NotFittedError in OrdinalEncoder when required
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#27832 MAINT update default of n_init in KMeans family
  doc/modules/clustering.rst
  doc/tutorial/statistical_inference/unsupervised_learning.rst
  examples/cluster/plot_cluster_comparison.py
  examples/cluster/plot_cluster_iris.py
  examples/cluster/plot_color_quantization.py
  examples/cluster/plot_kmeans_silhouette_analysis.py
  examples/decomposition/plot_faces_decomposition.py
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed

#27834 MAINT remove deprecated parameters in MiniBatchDictionaryLearning
  doc/whats_new/v1.4.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition, No Changelog Needed

#27796 MAINT Refactor: use `_get_response_values` in `CalibratedClassifierCV`
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: No Changelog Needed, Refactor, Waiting for Second Reviewer

#27826 MAINT remove deprecated base_estimator and base_estimator_
  examples/ensemble/plot_adaboost_multiclass.py
  sklearn/base.py
  sklearn/calibration.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_base.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_base.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_iforest.py
  sklearn/ensemble/tests/test_weight_boosting.py
  sklearn/tests/test_calibration.py
Labels: module:ensemble, No Changelog Needed

#27817 FIX RandomForestRegressor OOB fails with integer-values multiple targets
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble, Waiting for Second Reviewer

#27761 DOC Fix `y_rotations_` shape in PLS docstrings
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#26163 PERF Improve runtime for early stopping in HistGradientBoosting
  doc/modules/ensemble.rst
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble, Waiting for Second Reviewer

#27161 TST Extend tests for `scipy.sparse.*array` in `sklearn/cluster/tests/test_spectral.py`
  doc/whats_new/v1.4.rst
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster, No Changelog Needed

#27845 CI Enable more test in ubuntu_2204 job
  azure-pipelines.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, No Changelog Needed

#27854 FIX force explicitely the orientation when creating polar DataFrame
  sklearn/utils/_set_output.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_set_output.py
  sklearn/utils/tests/test_utils.py
Labels: module:utils, No Changelog Needed

#27861 MAINT remove sparse parameter in OneHotEncoder
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, No Changelog Needed

#27857 MAINT remove option penalty='none' in LogisticRegression
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#27862 MAINT remove deprecated class_weight_ attribute
  sklearn/svm/_base.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm, No Changelog Needed

#27863 MAINT remove parameter setting in test_docstring
  sklearn/tests/test_docstring_parameters.py
Labels: No Changelog Needed

#27858 MAINT change the default of normalized_stress
  examples/manifold/plot_lle_digits.py
  examples/manifold/plot_manifold_sphere.py
  examples/manifold/plot_mds.py
  sklearn/manifold/_mds.py
  sklearn/manifold/tests/test_mds.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:manifold, No Changelog Needed

#27840 MAINT remove n_features_ deprecated attribute in PCA
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition, No Changelog Needed

#27859 MAINT raise ValueError if y_true contain negative value in NDCG
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, No Changelog Needed

#27860 MAINT remove parameter sum_over_features in manhattan_distances
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
Labels: module:metrics, No Changelog Needed

#27760 ENH improve the efficiency of Encoders in checking nan
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_encoders.py
Labels: module:preprocessing

#27833 MAINT raise ValueError in fetch_openml if pandas not installed
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed, Waiting for Second Reviewer

#27828 MAINT remove affinity after deprecation cycle
  doc/whats_new/v1.4.rst
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster, No Changelog Needed, Waiting for Second Reviewer
