Repository scikit-learn/scikit-learn, pull requests merged in 2023-04, with the labels that each got.

#26027 CI Adds coverage to docker jobs on Azure
  azure-pipelines.yml
  build_tools/azure/combine_coverage_reports.sh
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
  build_tools/azure/test_script.sh
  build_tools/azure/upload_codecov.sh
  build_tools/azure/windows.yml
  build_tools/shared.sh
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#25697 API Replace `n_iter` in `Bayesian Ridge` and `ARDRegression`
  doc/whats_new/v1.3.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: module:linear_model, Waiting for Second Reviewer

#26039 CLN Make _NumPyAPIWrapper naming consistent to _ArrayAPIWrapper
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: Waiting for Reviewer, module:utils, No Changelog Needed, Quick Review

#26052 CI disable coverage on Windows to keep CI times reasonable
  azure-pipelines.yml
  build_tools/azure/combine_coverage_reports.sh
  build_tools/azure/upload_codecov.sh
Labels: Build / CI

#26036 MAINT Parameters validation for sklearn.preprocessing.scale
  sklearn/preprocessing/_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26047 MAINT Parameters validation for sklearn.metrics.pairwise.haversine_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26049 MAINT Parameters validation for sklearn.metrics.pairwise.linear_kernel
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26053 MAINT Parameters validation for sklearn.metrics.silhouette_samples
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26060 Added Parameter Validation for metrics.cluster.normalized_mutual_info_score()
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26057 MAINT Typos in HistGradientBoosting documentation
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: module:ensemble, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#26006 MAINT Parameters validation for sklearn.metrics.pairwise.cosine_similarity
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26054 MAINT Parameters validation for sklearn.metrics.silhouette_score
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26064 FIX fix spelling mistake in _NumPyAPIWrapper
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed

#26059 CI ignore more non-library Python files in codecov
  .codecov.yml
Labels: Build / CI, Quick Review

#26046 MAINT Parameters validation for sklearn.metrics.pairwise.cosine_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25969 MAINT Introduce BinaryClassifierCurveDisplayMixin
  sklearn/calibration.py
  sklearn/metrics/_base.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_common_curve_display.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_ranking.py
  sklearn/tests/test_calibration.py
  sklearn/utils/_plotting.py
  sklearn/utils/validation.py
Labels: module:metrics, module:utils, No Changelog Needed

#26030 ENH Forces shape to be tuple when using Array API's reshape
  sklearn/discriminant_analysis.py
  sklearn/linear_model/_base.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/validation.py
Labels: module:linear_model, module:utils, No Changelog Needed, Quick Review

#26073 MAINT Parameters validation for sklearn.metrics.pairwise.paired_euclidean_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26074 MAINT Parameters validation for sklearn.metrics.pairwise.paired_manhattan_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26075 MAINT Parameters validation for sklearn.metrics.pairwise.paired_cosine_distances
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26076 MAINT Parameters validation for sklearn.preprocessing.binarize
  sklearn/preprocessing/_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26079 MAINT Parameters validation for metrics.explained_variance_score()
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26077 MAINT Parameters validation for sklearn.preprocessing.maxabs_scale
  sklearn/preprocessing/_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26078 MAINT Parameters validation for sklearn.preprocessing.label_binarize
  sklearn/preprocessing/_label.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26066 MAINT parameter validation for d2_absolute_error_score
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26069 MAINT Parameters validation for sklearn.preprocessing.normalize
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26080 MAINT Parameter validation for metrics.cluster.fowlkes_mallows_score
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25897 MAINT Parameters validation for compose.make_column_transformer
  sklearn/compose/_column_transformer.py
Labels: module:compose, No Changelog Needed, Validation

#26070 MAINT Parameters validation for sklearn.metrics.pairwise.polynomial_kernel
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26071 MAINT Parameters validation for sklearn.metrics.pairwise.rbf_kernel
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26072 MAINT Parameters validation for sklearn.metrics.pairwise.sigmoid_kernel
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25629 FIX Adds support for negative values in categorical features in gradient boosting
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/binning.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_binning.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#26096 CLN BFS Style Improvement
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, No Changelog Needed, cython

#26051 MAINT Fix C warning in Cython module splitting.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
Labels: module:ensemble, cython

#26068 MNT Updates _isotonic.pyx to use memoryviews instead of `cnp.ndarray`
  setup.py
  sklearn/_isotonic.pyx
Labels: cython

#26106 FIX Fixes memory regression for inspecting extension arrays
  doc/whats_new/v1.3.rst
  sklearn/utils/validation.py
Labels: module:utils

#26082 PERF set openmp to use only physical cores by default
  doc/whats_new/v1.3.rst
  sklearn/utils/_openmp_helpers.pyx
Labels: Performance, module:utils, cython, Quick Review, Waiting for Second Reviewer

#26107 MAINT Parameters validation for sklearn.metrics.pair_confusion_matrix
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26104 MAINT Parameters validation for sklearn.metrics.mean_poisson_deviance
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26017 DOC Use notebook style in plot_lof_outlier_detection.py
  examples/neighbors/plot_lof_outlier_detection.py
Labels: Documentation, Quick Review

#26025 MAINT utils._fast_dict uses types from utils._typedefs
  setup.py
  sklearn/utils/_fast_dict.pxd
  sklearn/utils/_fast_dict.pyx
Labels: module:utils, cython, Quick Review

#26127 DOC remove sparse-matrix for `y` in ElasticNet
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#26086 MAINT Parameters validation for sklearn.preprocessing.robust_scale
  sklearn/preprocessing/_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26126 MAINT Parameters validation for sklearn.datasets.fetch_rcv1
  sklearn/datasets/_rcv1.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26134 MAINT Parameters validation for sklearn.metrics.adjusted_rand_score
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26135 MAINT Parameters validation for sklearn.metrics.calinski_harabasz_score
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26136 MAINT Parameters validation for sklearn.metrics.davies_bouldin_score
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26143 MAINT: remove `from numpy.math cimport` statements
  sklearn/decomposition/_online_lda_fast.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/tree/_criterion.pyx
  sklearn/utils/sparsefuncs_fast.pyx
Labels: cython, Quick Review

#26145 MAINT Parameters validation for sklearn.inspection.permutation_importance
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/tests/test_permutation_importance.py
  sklearn/tests/test_public_functions.py
Labels: module:inspection, No Changelog Needed, Validation

#26137 MAINT Parameters validation for sklearn.metrics.cluster.homogeneity_completeness_v_measure
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26138 MAINT Parameters validation for sklearn.metrics.rand_score
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26150 DOC update comment in metrics/tests/test_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Documentation, module:metrics, No Changelog Needed

#26168 CI small cleanup of Cirrus CI test script
  build_tools/cirrus/build_test_arm.sh
Labels: Build / CI

#26156 MAINT remove deprecated is_categorical_dtype
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed, Quick Review

#26133 DOC Add skforecast to related projects page
  doc/related_projects.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#26121 FIX Keeps namedtuple's class when transform returns a tuple
  doc/whats_new/v1.3.rst
  sklearn/utils/_set_output.py
  sklearn/utils/tests/test_set_output.py
Labels: module:utils

#26169 DOC corrected letter case for better readability in sklearn/metrics/_classification.py /
  sklearn/metrics/tests/test_classification.py
Labels: Documentation, module:metrics

#26160 DOC Use Scientific Python Plausible instance for stable doc analytics
  doc/conf.py
  doc/themes/scikit-learn-modern/javascript.html
  doc/themes/scikit-learn-modern/theme.conf
Labels: Documentation, No Changelog Needed

#26142 MAINT Parameters validation for sklearn.preprocessing.power_transform
  sklearn/preprocessing/_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26177 MAINT Parameters validation for sklearn.datasets.load_iris
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26166 MAINT Parameters validation for sklearn.datasets.load_diabetes
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26165 MAINT Parameters validation for sklearn.datasets.load_breast_cancer
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26162 MAINT Parameters validation for sklearn.metrics.cluster.entropy
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26161 MAINT Parameters validation for sklearn.datasets.fetch_species_distributions
  sklearn/datasets/_species_distributions.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26171 MNT use api.openml.org URLs for fetch_openml
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed

#26139 MAINT Parameters validation for sklearn.utils.resample
  sklearn/tests/test_public_functions.py
  sklearn/utils/__init__.py
Labels: module:utils, No Changelog Needed, Validation

#26181 CI Fix circleci artifact redirector action
  .github/workflows/artifact-redirector.yml
Labels: Build / CI

#25753 GOV introduce rights for groups as discussed in SLEP019
  doc/governance.rst
Labels: No Changelog Needed

#26103 FEAT add SLEP006 with a feature flag
  doc/metadata_routing.rst
  examples/plot_metadata_routing.py
  sklearn/_config.py
  sklearn/calibration.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/multioutput.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_config.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_multioutput.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/metadata_routing.py
Labels: module:metrics, module:utils, No Changelog Needed

#25214 FIX improve convergence criterion for LogisticRegression(penalty="l1", solver='liblinear')
  doc/whats_new/v1.3.rst
  examples/linear_model/plot_logistic_path.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/svm/src/liblinear/linear.cpp
Labels: module:linear_model, module:svm, Waiting for Second Reviewer

#26187 MAINT Fix several typos in src and doc files
  doc/computing/computational_performance.rst
  doc/developers/contributing.rst
  doc/getting_started.rst
  doc/modules/cross_decomposition.rst
  doc/modules/feature_extraction.rst
  doc/modules/lda_qda.rst
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/metrics/_classification.py
  sklearn/model_selection/tests/test_search.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/utils/tests/test_class_weight.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: No Changelog Needed

#26207 PERF fix overhead of _rescale_data in LinearRegression
  doc/whats_new/v1.3.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
Labels: Performance, module:linear_model

#26011 CLN `_hdbscan/_tree.pyx` algorithms refactor
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, No Changelog Needed, cython

#25966 ENH add Huber loss
  sklearn/_loss/__init__.py
  sklearn/_loss/_loss.pxd
  sklearn/_loss/_loss.pyx.tp
  sklearn/_loss/loss.py
  sklearn/_loss/tests/test_loss.py
Labels: No Changelog Needed, cython

#25861 MAINT Automatic Cython linting
  .circleci/config.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
  build_tools/linting.sh
  pyproject.toml
  setup.cfg
  sklearn/_isotonic.pyx
  sklearn/_loss/_loss.pxd
  sklearn/cluster/_dbscan_inner.pyx
  sklearn/cluster/_k_means_common.pxd
  sklearn/cluster/_k_means_common.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_k_means_lloyd.pyx
  sklearn/datasets/_svmlight_format_fast.pyx
  sklearn/decomposition/_cdnmf_fast.pyx
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_bitset.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/linear_model/_cd_fast.pyx
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/manifold/_utils.pyx
  sklearn/metrics/_pairwise_fast.pyx
  sklearn/metrics/cluster/_expected_mutual_info_fast.pyx
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/_quad_tree.pxd
  sklearn/neighbors/_quad_tree.pyx
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
  sklearn/preprocessing/_target_encoder_fast.pyx
  sklearn/svm/_liblinear.pyx
  sklearn/svm/_libsvm.pxi
  sklearn/svm/_libsvm.pyx
  sklearn/svm/_libsvm_sparse.pyx
  sklearn/svm/_newrand.pyx
  sklearn/tree/_criterion.pxd
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/utils/_cython_blas.pyx
  sklearn/utils/_fast_dict.pyx
  sklearn/utils/_random.pxd
  sklearn/utils/_random.pyx
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_vector_sentinel.pyx
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/murmurhash.pxd
  sklearn/utils/murmurhash.pyx
  sklearn/utils/sparsefuncs_fast.pyx
Labels: Build / CI, RFC, cython

#25887 DOC Add JupyterLite button in example gallery
  .gitignore
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/conf.py
Labels: Documentation

#26200 MAINT Parameters validation for sklearn.covariance.ledoit_wolf_shrinkage
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_public_functions.py
Labels: module:covariance, No Changelog Needed, Validation

#26196 MAINT Parameters validation for sklearn.datasets.load_wine
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26223 DOC Added redirect to Provost paper + minor refactor
  doc/modules/model_evaluation.rst
Labels: Documentation, No Changelog Needed

#25053 MAINT Parameter Validation for `covariance.graphical_lasso`
  sklearn/covariance/_graph_lasso.py
  sklearn/tests/test_public_functions.py
Labels: module:covariance, No Changelog Needed, Validation

#26195 MAINT Parameters validation for sklearn.datasets.load_digits
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26144 MAINT Parameters validation for sklearn.preprocessing.quantile_transform
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/tests/test_public_functions.py
Labels: module:preprocessing, No Changelog Needed, Validation

#26129 MAINT Parameters validation for sklearn.model_selection.cross_validate
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_public_functions.py
Labels: module:model_selection, No Changelog Needed, Validation

#26185 DOC Adds TargetEncoder example explaining the internal CV
  doc/modules/preprocessing.rst
  examples/preprocessing/plot_target_encoder_cross_val.py
Labels: Documentation

#26236 FIX possible UnboundLocalError in fetch_openml
  sklearn/datasets/_openml.py
Labels: No Changelog Needed, Quick Review

#25956 ENH Adds PyTorch support to LinearDiscriminantAnalysis
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/update_environments_and_lock_files.py
  doc/modules/array_api.rst
  doc/whats_new/v1.3.rst
  sklearn/_config.py
  sklearn/discriminant_analysis.py
  sklearn/linear_model/_base.py
  sklearn/tests/test_config.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/utils/_array_api.py
  sklearn/utils/_testing.py
  sklearn/utils/extmath.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:linear_model, module:utils

#26247 MNT Use fixed version of Pyodide
  doc/jupyter-lite.json
Labels: No Changelog Needed

#26263 DOC Update example plot_nearest_centroid.py
  examples/neighbors/plot_nearest_centroid.py
Labels: Documentation

#26225 DOC term -> meth in GradientBoosting
  sklearn/ensemble/_gb.py
Labels: Documentation, Quick Review

#26272 MNT Use copy=False when creating DataFrames
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/_base.py
  sklearn/utils/_set_output.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
Labels: module:datasets, module:utils, No Changelog Needed, Quick Review

#26259 MAINT Parameters validation for sklearn.datasets.clear_data_home
  sklearn/datasets/_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26260 MAINT Parameters validation for sklearn.datasets.get_data_home
  sklearn/datasets/_base.py
  sklearn/datasets/_openml.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26240 DOC Fix y-axis plot labels in permutation test score example
  examples/model_selection/plot_permutation_tests_for_classification.py
Labels: Documentation, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#26282 MAINT cython-lint ignores asv_benchmarks
  pyproject.toml
Labels: Quick Review

#26258 MAINT Parameter validation for metrics.cluster._supervised
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26226 MAINT Parameters validation for sklearn.datasets.load_sample_image
  sklearn/datasets/_base.py
  sklearn/datasets/tests/test_base.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26206 MNT SLEP006: prepare sample-props to be merged into main
  doc/metadata_routing.rst
  doc/modules/model_evaluation.rst
  doc/user_guide.rst
  examples/plot_metadata_routing.py
  sklearn/_config.py
  sklearn/calibration.py
  sklearn/exceptions.py
  sklearn/metrics/_scorer.py
  sklearn/model_selection/_split.py
  sklearn/multioutput.py
  sklearn/utils/_metadata_requests.py
Labels: No Changelog Needed, Quick Review, Waiting for Second Reviewer

#26237 DOC Consistent param type for pos_label
  sklearn/calibration.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/utils/_response.py
  sklearn/utils/validation.py
Labels: Documentation, module:metrics, module:utils, Quick Review

#26198 MAINT Parameters validation for sklearn.calibration.calibration_curve
  sklearn/calibration.py
  sklearn/tests/test_public_functions.py
Labels: No Changelog Needed, Validation

#26209 MAINT Parameters validation for sklearn.inspection.partial_dependence
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/tests/test_public_functions.py
Labels: module:inspection, No Changelog Needed, Validation

#26227 MAINT Parameters validation for sklearn.model_selection.learning_curve
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_public_functions.py
Labels: module:model_selection, No Changelog Needed, Validation

#26287 MNT Remove deprecated pandas.api.types.is_sparse
  sklearn/utils/validation.py
Labels: module:utils, Quick Review

#26249 CI Use Trusted Publishers for uploading wheels to PyPI
  .github/workflows/publish_pypi.yml
Labels: Build / CI

#26275 PERF revert openmp use in csr_row_norms
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:metrics, module:utils, cython

#26041 MAINT Parameters validation for metrics.check_scoring
  doc/modules/model_evaluation.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation
