Repository scikit-learn/scikit-learn, pull requests merged in 2023-03, with the labels that each got.

#25732 API Use grid_values instead of pdp_values in partial_dependence
  doc/whats_new/v1.3.rst
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/utils/tests/test_bunch.py
Labels: module:inspection, module:utils, Quick Review

#25741 MAINT: remove `np.product` and inf/nan aliases in favor of canonical names
  benchmarks/bench_20newsgroups.py
  doc/developers/develop.rst
  doc/modules/grid_search.rst
  sklearn/_loss/glm_distribution.py
  sklearn/decomposition/_nmf.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_binning.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/feature_selection/tests/test_variance_threshold.py
  sklearn/mixture/tests/test_bayesian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
  sklearn/model_selection/_search.py
  sklearn/utils/sparsefuncs.py
  sklearn/utils/tests/test_pprint.py
Labels: No Changelog Needed

#25742 MAINT Parameters validation for metrics.label_ranking_loss()
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25748 MAINT Parameters validation for metrics.coverage_error()
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25749 MAINT Parameters validation for metrics.dcg_score()
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: No Changelog Needed, Validation

#25754 MAINT replace cnp.ndarray with memory views in _fast_dict
  sklearn/utils/_fast_dict.pyx
  sklearn/utils/tests/test_fast_dict.py
Labels: module:utils, No Changelog Needed, cython

#25736 MAINT Parameter Validation for feature_selection.f_regression()
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_public_functions.py
Labels: module:feature_selection, No Changelog Needed, Validation

#25734 MAINT Parameters validation for feature_selection.r_regression()
  sklearn/feature_selection/_univariate_selection.py
  sklearn/tests/test_public_functions.py
Labels: module:feature_selection, No Changelog Needed, Validation

#25692 DOC Move allowing pandas nullable dtypes to 1.2.2
  doc/whats_new/v1.2.rst
  doc/whats_new/v1.3.rst
Labels: Documentation, To backport, Quick Review

#25764 MAINT replace cnp.ndarray with memory views in sparsefuncs_fast
  setup.py
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#25759 MAINT parameter validation for sklearn.datasets.fetch_covtype
  sklearn/datasets/_covtype.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25739 MAINT Define centralized generic, but with explicit precision, types
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/utils/_typedefs.pxd
Labels: module:cluster, module:utils, cython

#25743 CI Disable network when SciPy requires it
  sklearn/conftest.py
  sklearn/feature_extraction/tests/test_image.py
Labels: Build / CI, module:feature_extraction, To backport, No Changelog Needed

#25511 FIX add retry mechanism to handle quotechar in read_csv
  doc/whats_new/v1.2.rst
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/data/openml/id_42074/__init__.py
  sklearn/datasets/tests/data/openml/id_42074/api-v1-jd-42074.json.gz
  sklearn/datasets/tests/data/openml/id_42074/api-v1-jdf-42074.json.gz
  sklearn/datasets/tests/data/openml/id_42074/api-v1-jdq-42074.json.gz
  sklearn/datasets/tests/data/openml/id_42074/data-v1-dl-21552912.arff.gz
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, To backport

#25744 FIX Raise an error when min_samples_split=1 in trees
  doc/whats_new/v1.2.rst
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:tree, module:utils, To backport, Validation

#25760 MAINT Added Parameter Validation for metrics.make_scorer()
  sklearn/metrics/_scorer.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25490 EFF Speed-up MiniBatchDictionaryLearning by avoiding multiple validation
  doc/whats_new/v1.3.rst
  sklearn/decomposition/_dict_learning.py
Labels: Performance, module:decomposition, Waiting for Second Reviewer

#25765 DOC Promote Tim Head to the Core Contributor Team
  doc/authors.rst
  doc/contributor_experience_team.rst
Labels: Documentation

#25774 FIX raise a better error in partial_dependence with mixed type categories
  doc/whats_new/v1.2.rst
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection, To backport

#25768 CLN Update `cluster/_hdbscan/_tree.pyx` style and syntax
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, No Changelog Needed, cython

#25772 MAINT Parameters validation for metrics.brier_score_loss.
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25769 MAINT Added Parameter Validation for mutual_info_classif()
  sklearn/feature_selection/_mutual_info.py
  sklearn/tests/test_public_functions.py
Labels: module:feature_selection, No Changelog Needed, Validation

#25779 DOC Fix description of roc_auc_score for average=None
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics

#25589 FIX Fixes bug OneHotEncoder's drop_idx_ when there are infrequent categories
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing, To backport

#25778 REL Update what's new for release 1.2.2
  doc/templates/index.html
  doc/whats_new/v1.2.rst
Labels: To backport

#25747 FIX TransformerMixin does not override index if transform=pandas
  doc/whats_new/v1.2.rst
  sklearn/utils/_set_output.py
  sklearn/utils/tests/test_set_output.py
Labels: module:utils, To backport

#25733 API Wrap __new__ instead of __init__ with the deprecated decorator
  doc/whats_new/v1.3.rst
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/deprecation.py
  sklearn/utils/tests/test_deprecation.py
Labels: module:utils, Quick Review

#25770 DOC specify the meaning of W=None and H=None in sklearn.decomposition.non_negative_factorization
  sklearn/decomposition/_nmf.py
Labels: Documentation, module:decomposition

#25775 MAINT Replaces cnp.ndarray with memory views in _cd_fast
  setup.py
  sklearn/linear_model/_cd_fast.pyx
Labels: module:linear_model, cython

#25659 ENH allow to return train/test split indices in cross_validate
  doc/modules/cross_validation.rst
  doc/whats_new/v1.3.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#25786 MAINT Parameters validation for sklearn.datasets.fetch_20newsgroups
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Quick Review, Validation, Waiting for Second Reviewer

#25608 DOC Add a 'Cython Best Practices, Conventions and Knowledge' section
  doc/developers/contributing.rst
  doc/developers/cython.rst
  doc/developers/index.rst
  doc/developers/performance.rst
Labels: Documentation, No Changelog Needed, cython

#25791 MAINT add const qualifications to required places in cython_blas and cd_fast
  sklearn/linear_model/_cd_fast.pyx
  sklearn/utils/_cython_blas.pxd
  sklearn/utils/_cython_blas.pyx
Labels: module:linear_model, module:utils, cython

#25794 ENH simplify alpha_grid expression for ElasticNetCV
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model

#25788 MAINT parameter validation for sklearn.datasets.load_svmlight_file
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25796 MAINT Parameters validation for sklearn.datasets.fetch_20newsgroups_vectorized
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25800 MAINT Parameters validation for metrics.label_ranking_average_precision_score
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25559 DOC Use plotting utility in Time-related feature engineering example
  examples/applications/plot_cyclical_feature_engineering.py
Labels: Documentation, Quick Review

#25491 FIX Issue 25438 Avoiding zeros in NMF β loss calculation causes inconsistency
  doc/whats_new/v1.3.rst
  sklearn/decomposition/_nmf.py
Labels: module:decomposition, Waiting for Second Reviewer

#25044 ENH Add the fused CSR dense case for Euclidean Specializations
  doc/whats_new/v1.3.rst
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
Labels: Performance, cython

#25802 MAINT Avoid FutureWarning in plot_partial_dependance
  examples/inspection/plot_partial_dependence.py
Labels: Quick Review

#25601 FIX Sets max_samples=1 when it is a float and too low in RandomForestClassifier
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_forest.py
  sklearn/ensemble/tests/test_forest.py
Labels: module:ensemble

#25808 MNT remove links to enable_hist_gradient_boosting
  doc/developers/maintainer.rst
  doc/modules/classes.rst
Labels: Documentation, Quick Review

#25809 CI fix CircleCI failures by making it run sequencially
  doc/Makefile
Labels: Build / CI

#25801 DOC Remove plot_beta_divergence.py
  doc/conf.py
  doc/images/beta_divergence.png
  doc/modules/decomposition.rst
  examples/decomposition/plot_beta_divergence.py
Labels: Documentation

#25805 FIX make CalibratedClassifierCV not enforce sample alignment for fit_params
  doc/whats_new/v1.3.rst
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: module:calibration, Quick Review

#25829 DOC several small typo fixes in the documentation rst files
  doc/developers/maintainer.rst
  doc/faq.rst
  doc/modules/ensemble.rst
  doc/modules/grid_search.rst
  doc/modules/multiclass.rst
  doc/modules/tree.rst
  doc/tutorial/machine_learning_map/index.rst
Labels: Documentation

#25831 MNT Fix Pyodide build errors due to incompatible function pointer types
  sklearn/svm/_liblinear.pxi
  sklearn/svm/_libsvm.pxi
  sklearn/svm/_libsvm_sparse.pyx
  sklearn/svm/src/liblinear/_cython_blas_helpers.h
  sklearn/svm/src/libsvm/_svm_cython_blas_helpers.h
Labels: module:svm, cython

#25811 MAINT parameter validation for sklearn.datasets.load_svmlight_files
  sklearn/datasets/_svmlight_format_io.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25832 CI Disable sphinx parallelism in CircleCI doc build
  .circleci/config.yml
  doc/Makefile
Labels: Build / CI

#25823 MAINT Parameters validation for sklearn.datasets.fetch_olivetti_faces
  sklearn/datasets/_olivetti_faces.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25828 MAINT Parameters validation for metrics.top_k_accuracy_score
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25780 MAINT Use memoryviews in _random.pyx
  sklearn/utils/_random.pyx
Labels: module:utils, cython

#25806 MNT make plot_partial_dependence faster
  examples/inspection/plot_partial_dependence.py
Labels: Quick Review

#25833 MAINT Clean deprecation of normalize in calibration_curve for 1.3
  sklearn/calibration.py
  sklearn/tests/test_calibration.py
Labels: No Changelog Needed, Quick Review

#25839 BLD Clean command removes generated from cython templates
  setup.py
Labels: Build / CI

#24076 PERF Implement `PairwiseDistancesReduction` backend for `KNeighbors.predict_proba`
  .gitignore
  doc/whats_new/v1.3.rst
  setup.cfg
  setup.py
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin_classmode.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/_classification.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: Performance, module:metrics, module:neighbors, cython

#25842 BLD Generate warning automatically for templated cython files
  sklearn/_build_utils/__init__.py
  sklearn/_loss/_loss.pyx.tp
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/utils/_seq_dataset.pxd.tp
  sklearn/utils/_seq_dataset.pyx.tp
  sklearn/utils/_weight_vector.pxd.tp
  sklearn/utils/_weight_vector.pyx.tp
Labels: Build / CI, module:linear_model, module:utils, cython, Quick Review

#25820 MAINT parameter validation for sklearn.datasets.fetch_lfw_people
  sklearn/datasets/_lfw.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25827 CLN Cleaned `TreeUnionFind` in `_hdbscan/_tree.pyx`
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, No Changelog Needed, cython

#25821 TST add global_random_seed fixture to sklearn/covariance/tests/test_robust_covariance.py
  sklearn/covariance/tests/test_robust_covariance.py
Labels: module:covariance, No Changelog Needed

#25817 MAINT Parameter validation for linear_model.orthogonal_mp
  sklearn/linear_model/_omp.py
  sklearn/linear_model/tests/test_omp.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#25849 CI Update lock files
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  examples/calibration/plot_calibration_curve.py
  examples/calibration/plot_compare_calibration.py
  examples/svm/plot_svm_margin.py
  sklearn/_min_dependencies.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
Labels: Build / CI, No Changelog Needed

#25853 MAINT Added Parameter Validation for metrics.mean_gamma_deviance()
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25863 MAINT parameter validation metrics.class_likelihood_ratios
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25797 MAINT Ensure disjoint interval constraints
  sklearn/cluster/_optics.py
  sklearn/cluster/tests/test_optics.py
  sklearn/decomposition/_pca.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_iforest.py
  sklearn/feature_extraction/image.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_sequential.py
  sklearn/linear_model/_ransac.py
  sklearn/model_selection/_split.py
  sklearn/preprocessing/_encoders.py
  sklearn/tests/test_public_functions.py
  sklearn/tree/_classes.py
  sklearn/utils/_param_validation.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_param_validation.py
Labels: No Changelog Needed, Validation

#25864 MAINT Parameters validation for utils.gen_batches
  sklearn/tests/test_public_functions.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_utils.py
Labels: module:utils, No Changelog Needed, Validation

#24533 TST use global_random_seed in sklearn/feature_extraction/tests/test_dict_vectorizer.py
  sklearn/feature_extraction/tests/test_dict_vectorizer.py
Labels: module:cluster, module:feature_extraction, No Changelog Needed

#24526 TST use global_random_seed in sklearn/cross_decomposition/tests/test_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, No Changelog Needed

#24600 TST use global_random_seed in sklearn/gaussian_process/tests/test_gpc.py
  sklearn/gaussian_process/tests/test_gpc.py
Labels: module:gaussian_process, No Changelog Needed

#25870 fixing overlapping plot y axis text which makes bench_sample_without_replacement.py hard to interpret
  benchmarks/bench_sample_without_replacement.py
Labels: Quick Review, Waiting for Second Reviewer

#25871 MAINT Use contiguous memoryviews in _random.pyx
  sklearn/utils/_random.pyx
Labels: module:utils, cython

#25857 MAINT parameter validation sklearn.datasets.fetch_lfw_pair
  sklearn/datasets/_lfw.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25868 MAINT Parameters validation for metrics.classification_report
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25877 DOC fix docstring dtype parameter in OrdinalEncoder
  sklearn/preprocessing/_encoders.py
Labels: Documentation, module:preprocessing

#25865 MAINT Clean up depreacted "log" loss of SGDClassifier for 1.3
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#25334 ENH Adds TargetEncoder
  doc/images/target_encoder_cross_validation.svg
  doc/modules/classes.rst
  doc/modules/preprocessing.rst
  doc/whats_new/v1.3.rst
  examples/preprocessing/plot_target_encoder.py
  setup.py
  sklearn/preprocessing/__init__.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_target_encoder.py
  sklearn/preprocessing/_target_encoder_fast.pyx
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: module:preprocessing, cython

#25876 CI make it possible to cancel running Azure jobs
  azure-pipelines.yml
  build_tools/azure/posix.yml
  build_tools/azure/windows.yml
Labels: Build / CI

#25879 MAINT Clean-up deprecated if_delegate_has_method for 1.3
  doc/modules/classes.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/metaestimators.py
  sklearn/utils/tests/test_metaestimators.py
  sklearn/utils/tests/test_testing.py
Labels: module:utils, No Changelog Needed, Quick Review

#25867 MAINT Parameter validation for tree.export_text
  sklearn/tests/test_public_functions.py
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: module:tree, No Changelog Needed, Validation

#25530 DOC impact of `tol` for solvers in RidgeClassifier
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#25880 MAINT Parameters validation for metrics.hinge_loss
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25885 MAINT Parameters validation for metrics.ndcg_score
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25884 TST use global_random_seed in sklearn/tests/test_dummy.py
  sklearn/tests/test_dummy.py
Labels: No Changelog Needed

#25687 DOC improve calibration user guide
  doc/modules/calibration.rst
Labels: Documentation

#24677 ENH Support for sparse matrices added to `sklearn.metrics.silhouette_samples`
  doc/whats_new/v1.3.rst
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/cluster/tests/test_unsupervised.py
Labels: module:metrics, Waiting for Second Reviewer

#25882 MAINT validate_params for plot_tree
  sklearn/tests/test_public_functions.py
  sklearn/tree/_export.py
Labels: module:tree, No Changelog Needed, Validation

#25913 MAINT add missing space in error message in SVM
  sklearn/svm/_base.py
Labels: module:svm

#25917 FIX Adds requires_y tag to TargetEncoder
  sklearn/preprocessing/_target_encoder.py
Labels: module:preprocessing, No Changelog Needed, Quick Review

#25810 MAINT Consistent cython types continued
  sklearn/feature_extraction/_hashing_fast.pyx
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin_classmode.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_base.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/_kde.py
  sklearn/neighbors/_partition_nodes.pxd
  sklearn/neighbors/_partition_nodes.pyx
  sklearn/neighbors/tests/test_neighbors_tree.py
  sklearn/utils/_heap.pxd
  sklearn/utils/_heap.pyx
  sklearn/utils/_sorting.pxd
  sklearn/utils/_sorting.pyx
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
  sklearn/utils/_vector_sentinel.pxd
  sklearn/utils/_vector_sentinel.pyx
Labels: No Changelog Needed, cython, Waiting for Second Reviewer

#25892 TST Speed-up common tests of DictionaryLearning
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review

#25893 TST Speed-up test_dbscan_optics_parity
  sklearn/cluster/tests/test_optics.py
Labels: module:cluster, No Changelog Needed, Quick Review

#25531 ENH add np.nan option for zero_division in precision/recall/f-score
  doc/whats_new/v1.3.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/utils/extmath.py
Labels: module:metrics

#25901 MAINT Parameters validation for datasets.make_low_rank_matrix
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25895 TST Speed-up test_partial_dependence.test_output_shape
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection, No Changelog Needed, Quick Review

#25899 MAINT Parameters validation for datasets.make_regression
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25924 MAINT Parameters validation for metrics.mean_squared_log_error
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25890 TST random global seed for tests/test_naive_bayes.py
  sklearn/tests/test_naive_bayes.py
Labels: No Changelog Needed

#25920 MAINT Parameters validation for datasets.make_multilabel_classification
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25936 DOC update license year to 2023
  COPYING
Labels: Documentation, Quick Review

#25931 FIX Remove spurious feature names warning in IsolationForest
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble, Quick Review

#25940 TST fix unstable test_newrand_set_seed
  sklearn/svm/tests/test_bounds.py
Labels: module:svm, No Changelog Needed, Quick Review

#25941 MAINT Clean-up deprecated max_features="auto" in trees/forests/gb
  sklearn/ensemble/_base.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/tree/_classes.py
  sklearn/tree/tests/test_tree.py
Labels: module:ensemble, module:tree, No Changelog Needed, Quick Review

#25925 [MRG] LogReg: Check if l1_ratio is None when using elasticnet
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#25938 MAINT Clean-up remaining SGDClassifier(loss="log")
  benchmarks/bench_rcv1_logreg_convergence.py
  sklearn/linear_model/_logistic.py
  sklearn/tests/test_multioutput.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#25813 FIX Fixes pandas extension arrays in check_array
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:preprocessing, module:utils

#25851 MNT SLEP006: change release version to 2.0
  sklearn/exceptions.py
  sklearn/metrics/_scorer.py
  sklearn/model_selection/_split.py
  sklearn/multioutput.py
  sklearn/utils/_metadata_requests.py
Labels: No Changelog Needed, Quick Review

#25951 MAINT remove deprecated call to resources.content
  sklearn/datasets/_base.py
  sklearn/utils/fixes.py
Labels: module:datasets

#24665 MAINT Remove loguniform fix, use scipy.stats instead
  README.rst
  azure-pipelines.yml
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/install.rst
  doc/modules/grid_search.rst
  examples/applications/plot_face_recognition.py
  examples/gaussian_process/plot_compare_gpr_krr.py
  examples/model_selection/plot_randomized_search.py
  pyproject.toml
  sklearn/_min_dependencies.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
Labels: module:utils, No Changelog Needed

#25958 MAINT Fix broken links in cluster.dbscan module
  sklearn/cluster/_dbscan.py
Labels: module:cluster

#25952 fix lars Xy docs
  sklearn/linear_model/_least_angle.py
Labels: module:linear_model

#24668 ENH Add `drop_intermediate` parameter to `metrics.precision_recall_curve`
  doc/whats_new/v1.3.rst
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, Waiting for Second Reviewer

#25672 FIX improve error message when computing NDCG with a single document
  doc/whats_new/v1.3.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#25961 MAINT Extend message for large sparse matrices support
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#25967 MAINT Parameters validation for datasets.make_hastie_10_2
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25955 MAINT Parameters validation for datasets.make_checkerboard
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25945 MAINT Parameters validation for datasets.make_biclusters
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25971 MAINT Parameters validation for datasets.make_moons
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25984 MAINT Fix broken link in feature_selection/_univariate_selection.py
  sklearn/feature_selection/_univariate_selection.py
Labels: module:feature_selection

#25993 DOC Update model_persistence.rst to fix skops example
  doc/model_persistence.rst
Labels: Documentation

#25996 Specified meaning for max_patches=None in feature_extraction.image.extract_patches_2d
  sklearn/feature_extraction/image.py
Labels: module:feature_extraction

#25995 DOC document that last step is never cached in pipeline
  doc/modules/compose.rst
  sklearn/pipeline.py
Labels: Documentation, module:pipeline, Quick Review, Waiting for Second Reviewer

#25973 FIX SequentialFeatureSelector throws IndexError when cv is a generator
  doc/whats_new/v1.3.rst
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection

#25677 ENH Adds infrequent categories support to OrdinalEncoder
  doc/modules/preprocessing.rst
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#26002 DOC improve example of PatchExtractor
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#25986 MAINT Parameters validation for datasets.make_friedman2
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25989 MAINT Parameters validation for datasets.make_friedman3
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26001 MAINT Parameters validation for datasets.make_sparse_uncorrelated
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26003 MAINT Parameters validation for datasets.make_spd_matrix
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26009 MAINT Parameters validation for datasets.make_sparse_spd_matrix
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26005 DOC Added the meanings of default=None for PatchExtractor parameters
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#25942 MAINT Consistent cython types from _typedefs
  setup.py
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin_classmode.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
  sklearn/utils/_typedefs.pxd
  sklearn/utils/_typedefs.pyx
  sklearn/utils/tests/test_typedefs.py
Labels: module:metrics, module:utils, No Changelog Needed, cython

#26022 MAINT Parameters validation for datasets.make_s_curve
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#25983 MAINT Parameters validation for datasets.make_blobs
  sklearn/datasets/_samples_generator.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, No Changelog Needed, Validation

#26018 DOC fix SplineTransformer include_bias docstring
  sklearn/preprocessing/_polynomial.py
Labels: Documentation, module:preprocessing

#25994 DOC show from_estimator and from_predictions for Displays
  doc/modules/classes.rst
  doc/templates/display_all_class_methods.rst
  doc/templates/display_only_from_estimator.rst
Labels: Documentation

#26028 EXA Fix rst in plot_partial_dependence
  examples/inspection/plot_partial_dependence.py
Labels: Documentation, No Changelog Needed, Quick Review
