Repository scikit-learn/scikit-learn, pull requests merged in 2023-06, with the labels that each got.

#26475 MAINT Change default value of n_features_to_select for 1.3
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
Labels: module:feature_selection, No Changelog Needed, Quick Review

#26474 MAINT Clean-up deprecated verbose param in SimpleImputer
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute, No Changelog Needed, Quick Review

#26484 MAINT Clean up deprecated Estimator in check_estimator for 1.3
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review

#26442 MAINT Remove outdated fixes
  sklearn/decomposition/_kernel_pca.py
  sklearn/externals/_lobpcg.py
  sklearn/manifold/_locally_linear.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/metrics/pairwise.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_extmath.py
Labels: No Changelog Needed, Quick Review

#26485 STY Do not make whole space white in html repr
  sklearn/utils/_estimator_html_repr.py
Labels: module:utils, Quick Review

#26479 MAINT Clean-up deprecations in FastICA for 1.3
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/tests/test_fastica.py
Labels: module:decomposition, No Changelog Needed, Quick Review

#26466 CLN EnvironmentError, IOError, WindowsError → OSError
  doc/install.rst
  doc/whats_new/v1.3.rst
  sklearn/conftest.py
  sklearn/datasets/_base.py
  sklearn/datasets/_california_housing.py
  sklearn/datasets/_covtype.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/datasets/tests/test_kddcup99.py
  sklearn/datasets/tests/test_lfw.py
  sklearn/datasets/tests/test_svmlight_format.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/utils/_testing.py
Labels: module:datasets, Quick Review, Waiting for Second Reviewer

#26471 MNT Updated `DistanceMetric` API with new ABC/interface
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/metrics/_dist_metrics.pxd.tp
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pxd.tp
  sklearn/metrics/_pairwise_distances_reduction/_datasets_pair.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_dispatcher.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/neighbors/__init__.py
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_binary_tree.pxi
  sklearn/neighbors/_distance_metric.py
  sklearn/neighbors/_kd_tree.pyx
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:cluster, module:metrics, module:neighbors, No Changelog Needed, cython

#26492 DOC use notebook style in Spectral Biclustering example
  examples/bicluster/plot_spectral_biclustering.py
Labels: Documentation

#26522 FIX: cython 3.0 is stricter about checking except / noexcept status
  sklearn/cluster/_hierarchical_fast.pyx
Labels: module:cluster, cython

#26323 FIX Sets remainder's output in ColumnTransformer
  doc/whats_new/v1.3.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#26510 CI Update to conda-lock 2.0.0
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_environment.yml
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/py39_conda_forge_environment.yml
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  sklearn/_min_dependencies.py
Labels: Build / CI

#25209 ENH Support sample weights in partial_dependence
  doc/whats_new/v1.3.rst
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection, Waiting for Second Reviewer

#26533 Fix a tiny typo in `datasets::load_files` docstring
  sklearn/datasets/_base.py
Labels: module:datasets

#26528 TST Fix failing fastica tests
  sklearn/decomposition/tests/test_fastica.py
Labels: No Changelog Needed, Quick Review

#26483 MAINT Clean up deprecated square_distances in TSNE for 1.3
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold, No Changelog Needed, Quick Review

#26540 DOC Fix docstring param default value in SequentialFeatureSelector
  sklearn/feature_selection/_sequential.py
Labels: Documentation, module:feature_selection, Quick Review

#26504 DOC remove sphinx warnings related to if_delegate_has_method
  doc/whats_new/v1.0.rst
  doc/whats_new/v1.1.rst
Labels: Documentation, Quick Review

#26545 MAINT Clean up leftovers from previous deprecations clean up PRs
  sklearn/decomposition/_dict_learning.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:decomposition, module:metrics, module:neighbors, No Changelog Needed, Quick Review

#26547 FIX Updated loop structure in hdbscan `_tree.pyx` to avoid error
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, No Changelog Needed, cython

#26345 MAINT unpack 0-dim NumPy array instead of implicit conversion
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_sag.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/mixture/tests/test_bayesian_mixture.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/tree/_export.py
  sklearn/utils/random.py
Labels: module:linear_model, module:tree, module:utils, No Changelog Needed

#26551 FIX only consider "?" as missing marker as per ARFF specs
  doc/whats_new/v1.3.rst
  sklearn/datasets/_arff_parser.py
Labels: module:datasets

#26432 CI Do not auto close issue when cirrus ci arm build fails
  build_tools/cirrus/update_tracking_issue.sh
Labels: Build / CI, Quick Review, Waiting for Second Reviewer

#26556 TST Fix test_clone_sparse_matrices on scipy dev
  sklearn/tests/test_base.py
Labels: No Changelog Needed, Quick Review

#26372 ENH Add common Array API tests and estimator tag
  doc/developers/develop.rst
  doc/modules/array_api.rst
  sklearn/discriminant_analysis.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/utils/_tags.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed

#26566 Fix PowerTransformer leaves constant feature unchanged
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing

#26572 DOC Update author tables for 1.3
  doc/authors_emeritus.rst
  doc/contributor_experience_team.rst
Labels: Documentation, Quick Review

#26567 MAINT reorder and clean up what's new 1.3
  doc/whats_new/v1.3.rst
Labels: Quick Review

#26580 CLN Renames missing_values_in_feature_mask
  sklearn/tree/_classes.py
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
Labels: module:tree, No Changelog Needed, cython, Quick Review

#25120 FEA add ValidationCurveDisplay in model_selection module
  doc/modules/classes.rst
  doc/modules/learning_curve.rst
  doc/visualizations.rst
  doc/whats_new/v1.3.rst
  examples/miscellaneous/plot_kernel_ridge_regression.py
  examples/model_selection/plot_validation_curve.py
  sklearn/model_selection/__init__.py
  sklearn/model_selection/_plot.py
  sklearn/model_selection/tests/test_plot.py
  sklearn/utils/_plotting.py
  sklearn/utils/tests/test_plotting.py
Labels: module:model_selection

#26588 CI Fixes tests when matplotlib is not installed
  sklearn/model_selection/tests/test_plot.py
Labels: Build / CI, module:model_selection, No Changelog Needed

#26509 DOC update haversine distance formula
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics

#26544 MAINT Parameters validation for sklearn.metrics.pairwise.paired_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed

#26594 Minor fixes on whats_new 1.3
  doc/whats_new/v1.3.rst
Labels: Documentation, No Changelog Needed, Quick Review

#26589 FIX seed in test_ridge_sample_weight_consistency [all random seeds]
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#26529 DOC Explaining integer+float behavior in HistGradientingBoosting
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation, module:ensemble, Waiting for Second Reviewer

#26610 DOC search link to sphinx version
  doc/developers/contributing.rst
Labels: Documentation

#26603 MAINT Fix broken link in sklearn.datasets._base.py
  sklearn/datasets/_base.py
Labels: module:datasets

#26553 CI Add a bot to comment on PRs when linter fails
  .github/workflows/lint.yml
  build_tools/get_comment.py
  build_tools/linting.sh
Labels: Build / CI, No Changelog Needed

#26615 MAINT Added change in doc for push_doc.sh
  build_tools/circle/push_doc.sh
Labels: Quick Review

#26630 MNT replace flake8 with ruff
  .circleci/config.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Makefile
  azure-pipelines.yml
  build_tools/get_comment.py
  build_tools/linting.sh
  doc/developers/contributing.rst
  examples/feature_selection/plot_select_from_model_diabetes.py
  examples/text/plot_document_classification_20newsgroups.py
  pyproject.toml
  setup.cfg
  sklearn/_min_dependencies.py
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed

#26631 DOC: Add HGBT on landing page
  doc/developers/maintainer.rst
  doc/templates/index.html
Labels: Documentation, No Changelog Needed

#26635 DOC Update plot_digits_agglomeration.py
  examples/cluster/plot_digits_agglomeration.py
Labels: Documentation

#26632 MNT update to mypy=1.3
  .pre-commit-config.yaml
  setup.cfg
  sklearn/_min_dependencies.py
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:cluster, No Changelog Needed

#26625 DOC: a simple implementation of folding
  doc/conf.py
  doc/modules/model_evaluation.rst
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#26645 DOC Fix typos/nitpicks in `TargetEncoder` docstring
  sklearn/preprocessing/_target_encoder.py
Labels: Documentation, module:preprocessing

#26506 ENH make fit_transform and fit_predict composite methods (SLEP6)
  doc/whats_new/v1.4.rst
  sklearn/base.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils

#26626 DOC Update link to best sphinx version for doc build
  doc/developers/contributing.rst
Labels: Documentation

#26647 DOC Add dropdowns to Module 1.5 SGD
  doc/modules/sgd.rst
Labels: Documentation

#26641 DOC Add dropdowns to module 1.4 SVM
  doc/modules/svm.rst
Labels: Documentation

#26646 MAINT solve the failure in scipy-dev
  sklearn/linear_model/tests/test_quantile.py
Labels: module:linear_model, No Changelog Needed

#26464 ENH Adds feature names support to dataframe protocol
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/update_environments_and_lock_files.py
  doc/whats_new/v1.4.rst
  sklearn/_min_dependencies.py
  sklearn/conftest.py
  sklearn/datasets/tests/conftest.py
  sklearn/tests/test_base.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils

#26636 DOC Add instructions how to use dropdowns in contributing guide
  doc/developers/contributing.rst
Labels: Documentation

#26668 [Fix] Remove a duplicated line in whats_new 1.3
  doc/whats_new/v1.3.rst
Labels: To backport

#26667 TST Be more explicit in test_column_transformer_dataframe test
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose, No Changelog Needed, Quick Review

#26633 DOC Fix warnings in auto_examples
  examples/miscellaneous/plot_metadata_routing.py
Labels: Documentation

#26644 ENH Support sample weights in PartialDependenceDisplay.from_estimator
  doc/whats_new/v1.3.rst
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
Labels: module:inspection, To backport

#26495 MAINT Param validation: apply skip nested validation to all functions
  sklearn/calibration.py
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/_optics.py
  sklearn/cluster/_spectral.py
  sklearn/covariance/_empirical_covariance.py
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/_shrunk_covariance.py
  sklearn/datasets/_base.py
  sklearn/datasets/_california_housing.py
  sklearn/datasets/_covtype.py
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_rcv1.py
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_fastica.py
  sklearn/feature_extraction/image.py
  sklearn/feature_selection/_mutual_info.py
  sklearn/feature_selection/_univariate_selection.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_permutation_importance.py
  sklearn/linear_model/_omp.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/_regression.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/pairwise.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/_validation.py
  sklearn/neighbors/_base.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_label.py
  sklearn/random_projection.py
  sklearn/svm/_bounds.py
  sklearn/tests/test_public_functions.py
  sklearn/tree/_export.py
  sklearn/utils/__init__.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: No Changelog Needed, Validation

#26671 FIX add missing prefer_skip_nested_validation in missing paired_distances
  sklearn/metrics/pairwise.py
Labels: module:metrics

#26591 MNT SLEP006 cleanup and doc improvement
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils, Quick Review

#26664 DOC improve inline comment for __dataframe__ support in _get_feature_names
  sklearn/utils/validation.py
Labels: Documentation, module:utils

#26643 DOC Improve target encoder User Guide
  doc/modules/preprocessing.rst
  examples/preprocessing/plot_target_encoder.py
  examples/preprocessing/plot_target_encoder_cross_val.py
  sklearn/preprocessing/_target_encoder.py
Labels: Documentation

#26678 DOC Fix cross references in `LabelBinarizer`
  sklearn/preprocessing/_label.py
Labels: Documentation, module:preprocessing, Quick Review

#26672 FIX seed test_large_sparse_matrix
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#26665 MAINT parameter validation for metrics.pairwise.pairwise_kernels
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed

#26666 DOC Add a button to copy code (#12512)
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/conf.py
  doc/themes/scikit-learn-modern/javascript.html
  doc/themes/scikit-learn-modern/static/css/theme.css
  sklearn/_min_dependencies.py
Labels: Documentation, dependencies

#26627 DOC Update removed sphinx global var `style` in `layout.html`
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  doc/themes/scikit-learn-modern/layout.html
  sklearn/_min_dependencies.py
Labels: Documentation

#25999 DOC add meaning of `max_patches=None` in _compute_n_patches
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#26653 Fix AttributeError use_fallback_lbfgs_solve for newton-cholesky when fitting with max_iter=0
  doc/whats_new/v1.3.rst
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, To backport

#26657 Using ndarray as `init` for `KMeans` raises a ValueError
  doc/whats_new/v1.3.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, To backport

#26634 Add n_components="auto" to NMF when H and W are provided
  doc/whats_new/v1.4.rst
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:decomposition

#25515 MAINT Parameter validation for sklearn.metrics.pairwise_distances
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25782 MAINT Parameters validation for euclidean_distances
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26091 MAINT Parameters validation for graph.single_source_shortest_path_length
  sklearn/tests/test_public_functions.py
  sklearn/utils/graph.py
Labels: module:utils, No Changelog Needed, Validation

#26394 DOC small documentation changes in the advanced installation guide
  doc/developers/advanced_installation.rst
Labels: Documentation

#26125 MAINT Parameters validation for sklearn.metrics.pairwise_distances_chunked
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26131 MAINT Parameters validation for sklearn.utils.safe_mask
  sklearn/tests/test_public_functions.py
  sklearn/utils/__init__.py
Labels: module:utils, No Changelog Needed, Validation

#26153 MAINT Parameters validation for chi2_kernel with gamma
  sklearn/metrics/pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#26251 MAINT Parameters validation for sklearn.model_selection.cross_val_score
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_public_functions.py
Labels: module:model_selection, No Changelog Needed, Validation

#26250 MAINT Parameters validation for sklearn.linear_model.ridge_regression
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#26722 DOC add `pip install sphinx_copybutton` to contribution guide
  doc/developers/contributing.rst
Labels: Documentation

#26257 MAINT Parameters validation for sklearn.isotonic.isotonic_regression
  sklearn/isotonic.py
  sklearn/tests/test_public_functions.py
Labels: No Changelog Needed, Validation

#26702 MAINT Param val: better message when common test fails to raise
  sklearn/tests/test_public_functions.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review, Validation

#26690 MAINT Parameters validation for sklearn.utils.extmath.randomized_svd
  sklearn/tests/test_public_functions.py
  sklearn/utils/extmath.py
Labels: module:utils, No Changelog Needed, Validation

#26682 MAINT Parameters validation for sklearn.utils.gen_even_slices
  sklearn/tests/test_public_functions.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_utils.py
Labels: module:utils, No Changelog Needed, Validation

#26564 MAINT Added parameter validation for sklearn.utils.class_weight.compute_sample_weight
  sklearn/tests/test_public_functions.py
  sklearn/utils/class_weight.py
  sklearn/utils/tests/test_class_weight.py
Labels: module:utils, No Changelog Needed, Validation

#26512 MAINT Parameters validation for sklearn.utils.class_weight.compute_class_weight
  sklearn/tests/test_public_functions.py
  sklearn/utils/class_weight.py
  sklearn/utils/tests/test_class_weight.py
Labels: module:utils, No Changelog Needed, Validation

#26539 MAINT Parameters validation for sklearn.covariance.log_likelihood
  sklearn/covariance/_empirical_covariance.py
  sklearn/tests/test_public_functions.py
Labels: module:covariance, No Changelog Needed, Validation

#26382 MAINT Parameters validation for sklearn.linear_model.orthogonal_mp_gram
  sklearn/linear_model/_omp.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#26730 MAINT Update what's new for 1.3.0 final release
  doc/templates/index.html
  doc/whats_new/v1.3.rst
Labels: To backport

#26526 Release highlights for 1.3
  doc/whats_new/v1.3.rst
  examples/release_highlights/plot_release_highlights_1_3_0.py
Labels: Documentation

#26274 MAINT Parameters validation for sklearn.manifold.smacof
  sklearn/manifold/_mds.py
  sklearn/tests/test_public_functions.py
Labels: module:manifold, No Changelog Needed, Validation

#26727 DOC simplify plotting code in NMF LDA 20newsgroups example
  examples/applications/plot_topics_extraction_with_nmf_lda.py
Labels: Documentation, No Changelog Needed

#26725 DOC default random_state in _fetch_20newsgroup is 42, not None
  sklearn/datasets/_twenty_newsgroups.py
Labels: Documentation, module:datasets

#26728 DOC improve docstring example of NearestNeighbors
  sklearn/neighbors/_unsupervised.py
Labels: Documentation, module:neighbors

#26718 Minor Fix correct typo in function name check_global_ouptut_transform_pandas
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed

#26703 DOC fix rendering of download note in example
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation

#26256 MAINT Parameters validation for sklearn.isotonic.check_increasing
  sklearn/isotonic.py
  sklearn/tests/test_public_functions.py
Labels: No Changelog Needed, Validation

#26276 MAINT Parameters validation for sklearn.manifold.trustworthiness
  sklearn/manifold/_t_sne.py
  sklearn/tests/test_public_functions.py
Labels: module:manifold, No Changelog Needed, Validation

#26379 MAINT Parameters validation for sklearn.linear_model.enet_path
  sklearn/linear_model/_coordinate_descent.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation

#26378 MAINT Parameters validation for sklearn.linear_model.lasso_path
  sklearn/linear_model/_coordinate_descent.py
  sklearn/tests/test_public_functions.py
Labels: module:linear_model, No Changelog Needed, Validation
