Repository scikit-learn/scikit-learn, pull requests merged in 2023-01, with the labels that each got.

#25250 FIX regression due to memoryview in SGD when using verbose
  doc/whats_new/v1.2.rst
  sklearn/linear_model/_sgd_fast.pyx
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, cython, Quick Review

#25251 FIX deprecate sample_weight in predict method of BaseKMeans
  doc/whats_new/v1.3.rst
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, Quick Review

#25269 MAINT Parameters validation for sklearn.covariance.shrunk_covariance
  sklearn/covariance/_shrunk_covariance.py
  sklearn/tests/test_public_functions.py
Labels: module:covariance, No Changelog Needed, Validation

#25265 MAINT Parameters validation for sklearn.datasets.fetch_california_housing
  sklearn/datasets/_california_housing.py
  sklearn/tests/test_public_functions.py
Labels: module:datasets, module:metrics, No Changelog Needed, Validation

#25064 MAINT Remove -Wcpp warnings when compiling sklearn.svm._libsvm
  setup.py
  sklearn/svm/_libsvm.pyx
Labels: Build / CI, module:svm, cython

#25266 DOC include a reference to `kernel_approximation` in SVC/SVR docstring
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#25274 FIX Handles all numerical DataFrames with check_inverse=True in FunctionTransformer
  doc/whats_new/v1.2.rst
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
Labels: module:preprocessing, To backport

#25272 TST use global_random_seed in sklearn/covariance/tests/test_elliptic_envelope.py
  sklearn/covariance/tests/test_elliptic_envelope.py
Labels: module:covariance, No Changelog Needed

#25094 FIX Raises informative error in FeatureHasher when a sample is a single string
  doc/whats_new/v1.3.rst
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/tests/test_feature_hasher.py
Labels: module:feature_extraction

#25257 ENH KBinsDiscretizer sample_weight support for kmeans strategy
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
Labels: module:preprocessing, Quick Review

#25277 MNT Enable O3 optimization for trees
  setup.py
Labels: Performance

#24873 FIX Allow input validation by pass in MLPClassifier
  doc/whats_new/v1.3.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network, Validation

#25235 DOC Minor refinements of lars_path docstring
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#25196 MAINT use ArgKmin in OutputCodeClassifier
  doc/whats_new/v1.3.rst
  sklearn/multiclass.py
Labels: Quick Review

#25244 MAINT remove -Wsign-compare when compiling `sklearn.utils.sparsefuncs_fast`
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#25294 ENH Raise NotFittedError in get_feature_names_out for estimators that use OnetoOneFeatureMixin
  doc/whats_new/v1.3.rst
  sklearn/base.py
  sklearn/tests/test_common.py
Labels: Quick Review, Waiting for Second Reviewer

#25062 TST Remove ConvergenceWarnings in test_logistic
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#25278 MAINT Parameters validation for sklearn.random_projection.johnson_lindenstrauss_min_dim
  sklearn/random_projection.py
  sklearn/tests/test_public_functions.py
  sklearn/tests/test_random_projection.py
Labels: No Changelog Needed, Validation

#25315 DOC fix formatting changelog 1.3
  doc/whats_new/v1.3.rst
Labels: Documentation

#25112 MAINT Remove -Wcpp warnings when compiling sklearn.svm._liblinear
  setup.py
  sklearn/svm/_liblinear.pyx
Labels: Build / CI, module:svm, cython

#25316 CI fix test in scipy-dev build following deprecation of array elementwise comparison with string
  sklearn/cluster/_kmeans.py
Labels: Build / CI, module:cluster, Quick Review

#25323 FIX Add stride to `y` in `_ger_memview`
  sklearn/utils/_cython_blas.pyx
Labels: module:utils, cython, Quick Review

#25331 DOC fix typo in euclidean_distances in `metrics/pairwise.py`
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics

#25338 DOC document how to generate a valid CIRCLE_CI_TOKEN
  .github/workflows/trigger-hosting.yml
Labels: Documentation

#25344 DOC fix typo in doc/developers/contributing.rst (#25343)
  doc/developers/contributing.rst
Labels: Documentation

#25295 FIX Fixes transform wrappig in _SetOutputMixin
  doc/whats_new/v1.2.rst
  sklearn/utils/_set_output.py
  sklearn/utils/tests/test_set_output.py
Labels: module:utils

#25352 TST Fixes set random seed for test_multinomial_binary_probabilities
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#25349 CI Only run cirrus on the scikit-learn repo
  .cirrus.star
Labels: Build / CI, Quick Review

#25345 MNT Fixes convergence issue in test_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#20451 DOC Improve documentation regarding some pitfalls in interpretation
  examples/inspection/plot_causal_interpretation.py
  examples/inspection/plot_linear_model_coefficient_interpretation.py
Labels: Documentation, Waiting for Reviewer

#25306 MNT Refactor tree to share splitters between dense and sparse data
  sklearn/tree/_splitter.pyx
Labels: module:tree, cython

#25353 MAINT always seed make_classification in tests
  sklearn/linear_model/tests/test_logistic.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/tests/test_metaestimators.py
Labels: module:linear_model, module:neighbors, No Changelog Needed, Quick Review

#25358 MNT minor clean-up of sklearn/conftests.py
  sklearn/conftest.py
Labels: Quick Review

#25359 CI Remove unused env var
  azure-pipelines.yml
  build_tools/azure/posix-docker.yml
  build_tools/azure/posix.yml
Labels: Build / CI

#25361 MNT update lock files
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#25281 TST use global_random_seed in sklearn/cluster/tests/test_hierarchical.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster, No Changelog Needed, Waiting for Second Reviewer

#22506 ENH Adds feature_name_combiner to OneHotEncoder
  doc/whats_new/v1.3.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: API, module:preprocessing

#25368 DOC replace markdown by rst
  doc/developers/performance.rst
Labels: Documentation, Quick Review

#25191 DOC update the documentation of fit of stateless transformers
  doc/glossary.rst
  sklearn/feature_extraction/_hash.py
  sklearn/feature_extraction/text.py
  sklearn/preprocessing/_data.py
Labels: Documentation, module:feature_extraction, module:preprocessing, Quick Review

#25371 DOC Include jQuery to fix website
  doc/themes/scikit-learn-modern/layout.html
  doc/themes/scikit-learn-modern/static/js/vendor/jquery-3.6.3.slim.min.js
Labels: Documentation

#25341 FIX Support read-only sparse datasets for `Tree`-based estimators
  doc/whats_new/v1.2.rst
  sklearn/ensemble/tests/test_forest.py
  sklearn/tree/_splitter.pyx
  sklearn/tree/tests/test_tree.py
Labels: Bug, module:ensemble, module:tree, cython, Quick Review, Waiting for Second Reviewer

#24684 DOC only use chi2 on binary and counts features
  doc/modules/feature_selection.rst
  examples/compose/plot_column_transformer_mixed_types.py
  examples/compose/plot_compare_reduction.py
  examples/svm/plot_svm_anova.py
  sklearn/feature_selection/_univariate_selection.py
Labels: Documentation

#25375 DOC Adds sklearn-evaluation to related_projects
  doc/related_projects.rst
Labels: Documentation

#25366 CI Migrate Linux ARM job to CirrusCI
  .circleci/config.yml
  .cirrus.star
  build_tools/cirrus/arm_tests.yml
  build_tools/cirrus/build_test_arm.sh
  build_tools/cirrus/py39_conda_forge_environment.yml
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, No Changelog Needed

#25312 FIX skip space after delimiter in fetch_openml when using pandas parser
  doc/whats_new/v1.2.rst
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/tests/data/openml/id_1590/__init__.py
  sklearn/datasets/tests/data/openml/id_1590/api-v1-jd-1590.json.gz
  sklearn/datasets/tests/data/openml/id_1590/api-v1-jdf-1590.json.gz
  sklearn/datasets/tests/data/openml/id_1590/api-v1-jdq-1590.json.gz
  sklearn/datasets/tests/data/openml/id_1590/data-v1-dl-1595261.arff.gz
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, Waiting for Second Reviewer

#25362 CI Adds arm wheel build in cirrus CI
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/wheels/build_wheels.sh
  build_tools/wheels/test_wheels.sh
Labels: Build / CI, Quick Review, Waiting for Second Reviewer

#25370 FIX Set TSNE's internal PCA to always use numpy as output
  doc/whats_new/v1.2.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold, To backport, Waiting for Second Reviewer

#25382 DOC Adds logo back to navbar
  doc/themes/scikit-learn-modern/layout.html
  doc/themes/scikit-learn-modern/nav.html
Labels: Documentation

#25391 CI Make no-OpenMP build fail with unprotected `cimport openmp`
  build_tools/azure/install.sh
Labels: Build / CI, cython

#25309 MAINT Parameters validation for sklearn.metrics.cluster.contingency_matrix
  sklearn/metrics/cluster/_supervised.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25394 MAINT fix typo in _t_sne.py and _middle_term_computer.pyx.tp
  sklearn/manifold/_t_sne.py
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
Labels: module:manifold, module:metrics, cython

#25376 CI sanitize commit message for Azure
  build_tools/azure/get_commit_message.py
Labels: Build / CI

#25388 MAINT Parameters validation for cluster.ward_tree
  sklearn/cluster/_agglomerative.py
  sklearn/tests/test_public_functions.py
Labels: module:cluster, No Changelog Needed, Validation

#25335 MAINT Parameters validation for metrics.balanced_accuracy_score
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25318 MAINT Parameters validation for sklearn.metrics.average_precision_score
  sklearn/metrics/_ranking.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25329 DOC fix colors in scatter plots of plot_kernel_approximation.py
  examples/miscellaneous/plot_kernel_approximation.py
Labels: Documentation

#25396 Fix typo in the docstring of `RandomizedSearchCV`
  sklearn/model_selection/_search.py
Labels: module:model_selection

#25325 DOC cross-reference the term metaestimator in SelfTrainingClassifier
  sklearn/semi_supervised/_self_training.py
Labels: Documentation, module:semi_supervised

#25271 MAINT Remove -Wsign-compare warnings when compiling sklearn.neighbors._quad_tree
  sklearn/neighbors/_quad_tree.pyx
Labels: module:neighbors, cython, Quick Review, Waiting for Second Reviewer

#25255 DOC Add `ledoit_wolf_shrinkage` reference to the public api
  doc/modules/classes.rst
Labels: Documentation, Quick Review

#25220 ENH add feature_names_in_ in FeatureUnion
  doc/whats_new/v1.3.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Quick Review

#25337 MAINT Remove -Wcpp warnings when compiling sklearn.svm._libsvm_sparse
  setup.py
  sklearn/svm/_libsvm_sparse.pyx
Labels: module:svm, cython

#25404 CI Update conda-lock from 1.2.1 to 1.3.0
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/py38_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/py38_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_no_coverage_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/cirrus/py39_conda_forge_linux-aarch64_conda.lock
  build_tools/github/doc_linux-64_conda.lock
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  sklearn/_min_dependencies.py
Labels: Build / CI, No Changelog Needed

#25408 FIX Change text from "random forest" to "SGD classifier"
  doc/common_pitfalls.rst
Labels: Documentation, Quick Review

#25324 ENH Raise NotFittedError in get_feature_names_out for Stacking and Voting - Classifier and Regressor
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/tests/test_common.py
Labels: module:ensemble, Quick Review

#25232 FIX expose fill_value in IterativeImputer
  doc/whats_new/v1.3.rst
  sklearn/impute/_iterative.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute, Waiting for Second Reviewer

#25393 MNT fix test following scipy.stats.mode change in scipy development version
  sklearn/utils/fixes.py
Labels: module:utils, Quick Review

#25425 CI Adapt handling of discarded fused typed memoryview
  sklearn/datasets/_svmlight_format_fast.pyx
  sklearn/datasets/_svmlight_format_io.py
Labels: Build / CI, module:datasets, cython, Quick Review, Waiting for Second Reviewer

#25347 MAINT Parameters validation for sklearn.metrics.hamming_loss
  sklearn/metrics/_classification.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25410 MAINT Parameters validation for metrics.median_absolute_error
  sklearn/metrics/_regression.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25367 ENH Raise NotFittedError in get_feature_names_out for Imputers and Isotonic Regression
  doc/whats_new/v1.3.rst
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/isotonic.py
  sklearn/tests/test_common.py
Labels: module:impute

#25428 DOC Fix typo in LogisticRegressionCV
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model, Quick Review

#25342 BLD Update Cython minimum version to `0.29.33`
  build_tools/azure/py38_conda_defaults_openblas_environment.yml
  build_tools/azure/py38_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/github/doc_min_dependencies_environment.yml
  build_tools/github/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Build / CI, No Changelog Needed, cython

#25426 MNT Reduces the number of runs for circleci redirector job
  .github/workflows/artifact-redirector.yml
Labels: Quick Review

#25427 CI Enable native osx-arm64 wheels on Python 3.8
  build_tools/cirrus/arm_wheel.yml
  build_tools/wheels/build_wheels.sh
Labels: Build / CI

#25423 DOC Add detail about dataframe passthrough columns
  sklearn/compose/_column_transformer.py
Labels: Documentation, module:compose, Quick Review

#25172 FIX Better support large or read-only datasets in `decomposition.DictionaryLearning`
  doc/whats_new/v1.2.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/linear_model/_cd_fast.pyx
  sklearn/linear_model/_coordinate_descent.py
Labels: module:linear_model, No Changelog Needed, cython, Waiting for Second Reviewer

#25354 FIX online updates in MiniBatchDictionaryLearning
  doc/whats_new/v1.2.rst
  sklearn/decomposition/_dict_learning.py
Labels: module:decomposition

#25012 DOC Rework Importance of Feature Scaling example
  examples/preprocessing/plot_scaling_importance.py
Labels: Documentation

#25435 DOC Update "About Us"
  build_tools/generate_authors_table.py
  doc/authors_emeritus.rst
  doc/communication_team.rst
  doc/communication_team_emeritus.rst
  doc/contributor_experience_team.rst
Labels: Documentation, Quick Review

#25441 DOC Improve visibility of warning message on example "Pitfalls in the interpretation of coefficients of linear models"
  examples/inspection/plot_causal_interpretation.py
  examples/inspection/plot_linear_model_coefficient_interpretation.py
Labels: Documentation, Quick Review

#25436 DOC Update changelog before the 1.2.1 release
  doc/whats_new/v1.2.rst
  doc/whats_new/v1.3.rst
Labels: Documentation, No Changelog Needed

#25437 CI Update nogil lock file
  azure-pipelines.yml
  build_tools/azure/install.sh
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/python_nogil_requirements.txt
Labels: Build / CI

#25363 FIX propagate configuration to workers in parallel
  benchmarks/bench_saga.py
  build_tools/azure/linting.sh
  doc/modules/classes.rst
  doc/whats_new/v1.2.rst
  sklearn/calibration.py
  sklearn/cluster/_mean_shift.py
  sklearn/compose/_column_transformer.py
  sklearn/covariance/_graph_lasso.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_lda.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/feature_selection/_rfe.py
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_omp.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/_theil_sen.py
  sklearn/manifold/_mds.py
  sklearn/metrics/pairwise.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/multiclass.py
  sklearn/multioutput.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_kd_tree.py
  sklearn/pipeline.py
  sklearn/tests/test_config.py
  sklearn/utils/fixes.py
  sklearn/utils/parallel.py
  sklearn/utils/tests/test_fixes.py
  sklearn/utils/tests/test_parallel.py
Labels: To backport

#25455 CI Update nogil lock file
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/python_nogil_requirements.txt
Labels: Build / CI, Quick Review

#25453 DOC Fix typo in alpha parameter description
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model, Quick Review, Waiting for Second Reviewer

#25402 ENH Raise NotFittedError in get_feature_names_out for MissingIndicator, KBinsDiscretizer, SplineTransformer, DictVectorizer
  doc/whats_new/v1.3.rst
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/impute/_base.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/_polynomial.py
  sklearn/tests/test_common.py
Labels: module:feature_extraction, module:impute, module:preprocessing, Waiting for Second Reviewer

#25459 DOC Update date and contributors list for v1.2.1
  doc/whats_new/v1.2.rst
Labels: Documentation

#25305 DOC Make MeanShift documentation clearer
  doc/modules/clustering.rst
  sklearn/cluster/_mean_shift.py
Labels: Documentation, module:cluster

#25461 DOC Reorder whats_new/v1.2.rst
  doc/whats_new/v1.2.rst
Labels: Documentation, No Changelog Needed

#25456 FIX faulty test cross_validate that used Lasso while intending to use SVC
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#25186 EFF Improve IsolationForest predict time
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_iforest.py
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
Labels: module:ensemble

#25392 MAINT refactor spectral_clustering to call SpectralClustering
  sklearn/cluster/_spectral.py
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#25469 TST reduce warnings in test_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#25466 CI Build doc on CircleCI
  .circleci/config.yml
  .github/workflows/build-docs.yml
  .github/workflows/trigger-hosting.yml
  build_tools/circle/build_doc.sh
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/github/trigger_hosting.sh
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#25472 DOC Update news footer for 1.2.1
  doc/templates/index.html
Labels: Documentation, To backport, No Changelog Needed

#25385 MAINT Validate parameter for `sklearn.cluster.cluster_optics_xi`
  sklearn/cluster/_optics.py
  sklearn/tests/test_public_functions.py
Labels: module:cluster, No Changelog Needed, Validation

#25473 DOC Update news footer for 1.2.1 (#25472)
  .circleci/config.yml
  .github/workflows/build-docs.yml
  .github/workflows/trigger-hosting.yml
  build_tools/circle/build_doc.sh
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/github/trigger_hosting.sh
  build_tools/update_environments_and_lock_files.py
  doc/templates/index.html
Labels: Documentation, No Changelog Needed

#25424 MAINT Parameters validation for additive_chi2_kernel
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/tests/test_public_functions.py
Labels: module:metrics, No Changelog Needed, Validation

#25475 CI Include linting in CircleCI
  .circleci/config.yml
  azure-pipelines.yml
  build_tools/linting.sh
Labels: Build / CI

#25471 MAINT Update version number to 1.2.1 in SECURITY.md
  SECURITY.md
Labels: Build / CI, No Changelog Needed

#25446 TST Sets random_state for test_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#25020 MAINT Remove -Wcpp warnings when compiling sklearn.decomposition._online_lda_fast
  setup.py
  sklearn/decomposition/_online_lda_fast.pyx
Labels: module:decomposition, cython

#25432 FIX Support readonly sparse datasets for `manhattan_distances`
  doc/whats_new/v1.3.rst
  sklearn/metrics/_pairwise_fast.pyx
  sklearn/metrics/tests/test_pairwise.py
Labels: Bug, module:metrics, cython, Quick Review

#25417 MAINT dynamically expose kulsinski and remove support in BallTree
  doc/whats_new/v1.3.rst
  sklearn/cluster/_optics.py
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/neighbors/_ball_tree.pyx
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_ball_tree.py
  sklearn/utils/fixes.py
Labels: module:cluster, module:metrics, module:neighbors, cython

#25483 DOC Adds CirrusCI badge to readme
  README.rst
Labels: Documentation, Quick Review

#25485 CI Add linter display name in Azure
  azure-pipelines.yml
Labels: Build / CI, No Changelog Needed, Quick Review

#25041 MAINT remove -Wcpp warnings when compiling sklearn.preprocessing._csr_polynomial_expansion
  setup.py
  sklearn/preprocessing/_csr_polynomial_expansion.pyx
Labels: module:preprocessing, cython

#24426 ENH csr_row_norms optimization
  sklearn/utils/sparsefuncs_fast.pyx
Labels: module:utils, cython

#25498 TST Allow callables as valid parameter regarding cloning estimator
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed

#25504 DOC Fixes sphinx search on website
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/themes/scikit-learn-modern/search.html
Labels: Documentation, To backport

#25508 DOC Fixes sphinx search on website (#25504)
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/themes/scikit-learn-modern/search.html
Labels: Documentation, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#22409 FEA Add Gamma deviance as loss function to HGBT
  doc/whats_new/v1.3.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_compare_lightgbm.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
Labels: module:ensemble, Waiting for Second Reviewer
