Repository scikit-learn/scikit-learn, pull requests merged in 2024-12, with the labels that each got.

#30128 ENH Reduce redundancy in floating type checks for Array API support in `_regression.py`
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed, Array API

#29473 CI Use sys.monitoring with coverage to speed-up Python >= 3.12 builds
  .coveragerc
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/test_script.sh
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#29978 ENH add support for Array API to `mean_pinball_loss` and `explained_variance_score`
  doc/modules/array_api.rst
  doc/whats_new/upcoming_changes/array-api/29978.feature.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics, Array API

#30361 CI Fix rendered doc affected paths for towncrier fragments
  build_tools/circle/build_doc.sh
Labels: Build / CI

#30360 DOC Add changelog for free-threaded support
  doc/whats_new/upcoming_changes/custom-top-level/30360.other.rst
Labels: Documentation, free-threading

#30393 FIX test_csr_polynomial_expansion_index_overflow on [scipy-dev]
  sklearn/preprocessing/tests/test_polynomial.py
Labels: Bug, Build / CI, module:preprocessing, module:test-suite, To backport, No Changelog Needed

#30372 FIX KNeighbor classes correctly set positive_only tag
  sklearn/neighbors/_base.py
  sklearn/utils/_tags.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:neighbors, To backport, No Changelog Needed

#30407 DOC Fix broken ref
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation, module:ensemble, Quick Review

#29519 ENH Array API for `check_consistent_length`
  doc/modules/array_api.rst
  doc/whats_new/upcoming_changes/array-api/29519.feature.rst
  sklearn/metrics/cluster/_supervised.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:metrics, module:utils

#30412 DOC Fix example comment being rendered as text
  examples/inspection/plot_partial_dependence.py
Labels: Documentation, Quick Review

#30414 Simplify estimate gaussian covariances diag
  doc/whats_new/upcoming_changes/sklearn.mixture/30414.efficiency.rst
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#30392 DOC Release Highlights for version 1.6
  examples/frozen/README.txt
  examples/release_highlights/plot_release_highlights_1_6_0.py
Labels: Documentation

#30417 DOC fix link in HuberRegressor docstring
  doc/modules/linear_model.rst
  doc/modules/model_evaluation.rst
  examples/linear_model/plot_robust_fit.py
  examples/model_selection/plot_roc.py
  examples/preprocessing/plot_scaling_importance.py
  sklearn/linear_model/_huber.py
Labels: Documentation, module:linear_model

#30409 FIX: deprecate integer valued numerical features for PDP
  doc/whats_new/upcoming_changes/sklearn.inspection/30409.api.rst
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:inspection

#30421 DOC add caching example link to Pipeline class
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#30349 DOC Add links to example `plot_kmeans_stability_low_dim_dense.py`
  doc/modules/clustering.rst
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#30428 DOC Correct short_summary for sklearn.kernel_approximation module
  doc/api_reference.py
Labels: Documentation, No Changelog Needed

#30432 MAINT postpone erroring in 1.9 when dealing with integer in PDP
  sklearn/inspection/_partial_dependence.py
Labels: module:inspection

#30466 CI Replace deprecated circle CI "deploy" key
  .circleci/config.yml
Labels: Build / CI

#30471 DOC add Stefanie Senger in Contributor Experience Team
  doc/contributor_experience_team.rst
Labels: Documentation

#30472 doc: fix typo in LabelPropagation
  sklearn/semi_supervised/_label_propagation.py
Labels: module:semi_supervised

#30481 DOC sklearn/datasets/_openml.py: Fix spelling mistake when pandas is not installed
  sklearn/datasets/_openml.py
Labels: Documentation, module:datasets

#30474 MAINT Remove unnecessary check in tree.pyx
  sklearn/tree/_tree.pyx
Labels: module:tree, cython, Quick Review

#30497 CI Install PyTorch from conda-forge channel rather than pytorch
  .github/workflows/cuda-ci.yml
  build_tools/github/pylatest_conda_forge_cuda_array-api_linux-64_conda.lock
  build_tools/github/pylatest_conda_forge_cuda_array-api_linux-64_environment.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#30454 FIX Fix device detection when array API dispatch is disabled
  doc/whats_new/upcoming_changes/sklearn.metrics/30454.fix.rst
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, module:utils

#30501 DOC Mention that IsolationForest n_jobs is only for fit and not predict
  sklearn/ensemble/_iforest.py
Labels: Documentation, module:ensemble

#30499 DOC removed reference to closed issue
  doc/modules/impute.rst
Labels: Documentation

#30510 DOC updated math font in SGD formulation
  doc/modules/sgd.rst
Labels: Documentation

#30443 ENH Implement `inverse_transform` in `DictionaryLearning`, `SparseCoder` and `MiniBatchDictionaryLearning`
  doc/whats_new/upcoming_changes/sklearn.decomposition/30443.feature.rst
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/tests/test_dict_learning.py
Labels: module:decomposition, Waiting for Second Reviewer

#30511 MNT replace authors and license with standard text
  benchmarks/bench_plot_randomized_svd.py
  examples/decomposition/plot_faces_decomposition.py
  examples/ensemble/plot_gradient_boosting_early_stopping.py
  examples/feature_selection/plot_select_from_model_diabetes.py
  examples/neighbors/plot_caching_nearest_neighbors.py
  sklearn/_isotonic.pyx
  sklearn/base.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_dbscan_inner.pyx
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/_tree.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/_hierarchical_fast.pyx
  sklearn/cluster/_k_means_elkan.pyx
  sklearn/cluster/_optics.py
  sklearn/ensemble/_hist_gradient_boosting/_binning.pyx
  sklearn/ensemble/_hist_gradient_boosting/_gradient_boosting.pyx
  sklearn/ensemble/_hist_gradient_boosting/_predictor.pyx
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
  sklearn/ensemble/_hist_gradient_boosting/splitting.pyx
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/metrics/_pairwise_distances_reduction/__init__.py
  sklearn/neighbors/_binary_tree.pxi.tp
  sklearn/neighbors/_quad_tree.pxd
  sklearn/neighbors/_quad_tree.pyx
  sklearn/svm/src/libsvm/libsvm_helper.c
  sklearn/utils/_isfinite.pyx
  sklearn/utils/_seq_dataset.pyx.tp
Labels: Quick Review

#30485 MNT Improve error check_array error message when estimator is None
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:utils, No Changelog Needed, Quick Review

#30535 TST remove `xfail` marker for `check_sample_weight_equivalence_on_dense_data` and `LinearRegression`
  sklearn/utils/_test_common/instance_generator.py
Labels: No Changelog Needed

#30547 DOC Fix typos in Developing scikit-learn estimators page
  doc/developers/develop.rst
Labels: Documentation

#30550 DOC minor fix in Glossary: wrong reference in See-also for components_
  doc/glossary.rst
Labels: Documentation

#30555 DOC add Virgil Chan to the contributor experience team
  doc/contributor_experience_team.rst
Labels: Documentation

#30513 DOC mention setting `SCIPY_ARRAY_API=1` in Array API support document
  doc/modules/array_api.rst
Labels: Documentation

#30544 DOC Add early stopping case to `scoring` glossary entry
  doc/glossary.rst
Labels: Documentation, Waiting for Second Reviewer
