Repository scikit-learn/scikit-learn, pull requests merged in 2024-06, with the labels that each got.

#29162 DOC Fix typo in logistic regression predict_proba docstring
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model

#29161 DOC fix digits dataset link
  doc/tutorial/basic/tutorial.rst
  examples/datasets/plot_digits_last_image.py
Labels: Documentation

#29132 MAINT Add user-friendly error when build dependencies are not satifisfied
  Makefile
  build_tools/azure/install.sh
  doc/developers/advanced_installation.rst
Labels: Build / CI, Quick Review

#29170 MAINT Remove unused targets from Makefile
  Makefile
Labels: Quick Review

#29130 Initial GPU CI setup
  .github/workflows/cuda-gpu-ci.yml
  .github/workflows/update-lock-files.yml
  build_tools/github/create_gpu_environment.sh
  build_tools/github/pylatest_conda_forge_cuda_array-api_linux-64_conda.lock
  build_tools/github/pylatest_conda_forge_cuda_array-api_linux-64_environment.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, Array API

#29188 DOC Remove warning from plot adaboost twoclass example
  examples/ensemble/plot_adaboost_twoclass.py
Labels: Documentation

#29187 DOC Remove warning from plot svm margin example
  examples/svm/plot_svm_margin.py
Labels: Documentation

#29186 CI Fixes pull request pull for gpu build
  .github/workflows/cuda-gpu-ci.yml
Labels: Build / CI

#29104 DOC remove tutorials
  doc/conf.py
  doc/conftest.py
  doc/developers/contributing.rst
  doc/getting_started.rst
  doc/images/ml_map.README.rst
  doc/index.rst.template
  doc/machine_learning_map.rst
  doc/presentations.rst
  doc/tutorial/basic/tutorial.rst
  doc/tutorial/common_includes/info.txt
  doc/tutorial/index.rst
  doc/tutorial/statistical_inference/index.rst
  doc/tutorial/statistical_inference/model_selection.rst
  doc/tutorial/statistical_inference/putting_together.rst
  doc/tutorial/statistical_inference/settings.rst
  doc/tutorial/statistical_inference/supervised_learning.rst
  doc/tutorial/statistical_inference/unsupervised_learning.rst
  doc/tutorial/text_analytics/.gitignore
  doc/tutorial/text_analytics/data/languages/fetch_data.py
  doc/tutorial/text_analytics/data/movie_reviews/fetch_data.py
  doc/tutorial/text_analytics/skeletons/exercise_01_language_train_model.py
  doc/tutorial/text_analytics/skeletons/exercise_02_sentiment.py
  doc/tutorial/text_analytics/solutions/exercise_01_language_train_model.py
  doc/tutorial/text_analytics/solutions/exercise_02_sentiment.py
  doc/tutorial/text_analytics/solutions/generate_skeletons.py
  doc/tutorial/text_analytics/working_with_text_data.rst
  doc/user_guide.rst
  doc/whats_new/v0.15.rst
  pyproject.toml
Labels: Documentation

#29193 CI Use git to fetch the branch of the PR for the CUDA GPU CI
  .github/workflows/cuda-gpu-ci.yml
Labels: Build / CI

#29179 FIX fix regression in gridsearchcv when parameter grids have estimators as values
  doc/whats_new/v1.5.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: Regression, module:model_selection, To backport

#19958 DOC Added references to the Matthews correlation coefficient function in the user guide
  doc/modules/model_evaluation.rst
Labels: Documentation, Needs Decision

#29180 CI Enable Dependabot and use full length commit SHA for PyPI publishing
  .github/dependabot.yml
  .github/workflows/publish_pypi.yml
Labels: Build / CI

#29142 ENH Add Array Api compatibility for `mean_squared_error`
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#29204 CI update lock file and use _safe_indexing to select 0-column dataframe in tests
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/pymin_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  sklearn/compose/tests/test_column_transformer.py
Labels: Build / CI, module:compose, No Changelog Needed

#19731 ENH Improve regularization messages for QuadraticDiscriminantAnalysis
  doc/whats_new/v1.6.rst
  sklearn/discriminant_analysis.py
  sklearn/tests/test_common.py
  sklearn/tests/test_discriminant_analysis.py
Labels: module:utils

#29135 FIX exclude samples with nan distance in KNNImputer for uniform weights
  doc/whats_new/v1.6.rst
  sklearn/impute/_knn.py
  sklearn/impute/tests/test_knn.py
Labels: module:impute

#29207 add array API support for d2_tweedie_score
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Waiting for Second Reviewer, Array API

#29208 DOC add mean_squared_error entry in array_api.rst
  doc/modules/array_api.rst
Labels: Documentation

#27096 ENH Add Array API compatibility tests for `*SearchCV` classes
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_common.py
Labels: module:model_selection

#29112 ENH Test Array API compatibility for `paired_cosine_distances`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#29211 CI Update upload-artifact and download-artifact to v4
  .github/workflows/lint.yml
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review

#29222 MAINT temporary pin Python 3.12.3 in GitHub Actions workflow
  .github/workflows/cuda-gpu-ci.yml
Labels: Build / CI

#28984 DOC add link for NearestCentroid example
  sklearn/neighbors/_nearest_centroid.py
Labels: Documentation, module:neighbors

#29136 FEA Add metadata routing for TransformedTargetRegressor
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/compose/_target.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:compose

#29228 MAINT Directly cimport `stack` from Cython
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#29223 CI Use development Cython wheel rather than building from source
  build_tools/azure/install.sh
Labels: Build / CI, Quick Review

#29236 DOC Backport the machine learning map fix in 1.5.X (#29123)
  doc/images/ml_map.svg
  doc/tutorial/machine_learning_map/README.md
  doc/tutorial/machine_learning_map/index.rst
Labels: Documentation, No Changelog Needed

#29212 ENH Add array_api compatibility to `max_error`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Quick Review, Array API

#29243 DOC add example with ``set_params``.
  examples/miscellaneous/plot_set_output.py
Labels: Documentation

#29235 FIX Lazy instantiate the ThreadpoolController
  doc/whats_new/v1.5.rst
  sklearn/__init__.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_argkmin_classmode.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors_classmode.pyx.tp
  sklearn/metrics/tests/test_pairwise_distances_reduction.py
  sklearn/utils/fixes.py
  sklearn/utils/parallel.py
Labels: module:cluster, module:metrics, module:utils, cython

#29239 array API support for mean_gamma_deviance
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Quick Review, Waiting for Second Reviewer, Array API

#29144 ENH Add Array API compatibility for `additive_chi2_kernel`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Quick Review, Waiting for Second Reviewer, Array API

#29141 ENH Add Array API compatibility for `entropy`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
  sklearn/utils/_array_api.py
Labels: module:metrics, Array API

#29226 TST improve metadata routing tests
  sklearn/compose/tests/test_column_transformer.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_pipeline.py
Labels: module:compose, module:ensemble, module:model_selection, No Changelog Needed

#29242 [MRG] Fix typo in error message when attempting to cluster with more clusters than items
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#29264 DOC use semilogx in lasso paths
  examples/linear_model/plot_lasso_coordinate_descent_path.py
Labels: Documentation

#29257 CLN remove unneeded copyrights
  doc/about.rst
  examples/covariance/plot_sparse_cov.py
  setup.py
  sklearn/covariance/_graph_lasso.py
  sklearn/datasets/_base.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_olivetti_faces.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/utils/_testing.py
Labels: module:covariance, module:datasets, module:utils, No Changelog Needed

#29261 MAINT Remove setuptools dependency from tests
  build_tools/azure/cpython_free_threaded_lock.txt
  build_tools/azure/cpython_free_threaded_requirements.txt
  sklearn/_build_utils/pre_build_helpers.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed, Quick Review

#29281 MAINT switch to macOS 12 on Azure Pipelines
  azure-pipelines.yml
Labels: Build / CI, Quick Review

#29210 ENH Add zero_division param to `cohen_kappa_score`
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics

#29247 CI Add CPython 3.13 free-threaded manylinux wheel
  .github/workflows/wheels.yml
  build_tools/wheels/build_wheels.sh
  build_tools/wheels/cibw_before_test.sh
  build_tools/wheels/test_wheels.sh
Labels: Build / CI, free-threading

#29284 CI: update action that got moved org
  .github/workflows/artifact-redirector.yml
Labels: Build / CI

#29259 MAINT Fix typo in parameter name input_dtye -> input_dtype
  sklearn/linear_model/_stochastic_gradient.py
Labels: module:linear_model, Quick Review

#29295 CI Fix build nightly wheels upload
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review

#29297 CI Trigger wheels build on workflow_dispatch
  build_tools/github/check_build_trigger.sh
Labels: Build / CI, Quick Review

#29287 DOC Add guidelines for automated contributions
  doc/developers/contributing.rst
Labels: Documentation, Waiting for Second Reviewer

#29272 TST use global_random_seed in sklearn/decomposition/tests/test_factor_analysis.py
  sklearn/decomposition/tests/test_factor_analysis.py
Labels: module:decomposition, No Changelog Needed, Quick Review

#29143 FIX _check_reg_targets with Array API and multioutput argument
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#29269 FIX `zero_one_loss` breaks with multilabel and Array API
  doc/whats_new/v1.5.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#29278 TST Relax `test_minibatch_sensible_reassign` to avoid CI failures with single global random seed
  sklearn/cluster/tests/test_k_means.py
Labels: Build / CI, module:cluster, No Changelog Needed, Quick Review

#29100 Fix Make centering inplace in KernelPCA
  sklearn/decomposition/_kernel_pca.py
Labels: module:decomposition, Quick Review

#29328 FIX missing force_writeable in KernelCenterer.transform
  sklearn/preprocessing/_data.py
Labels: module:preprocessing, No Changelog Needed, Quick Review

#29124 DEPR deprecate `copy` parameter in `Birch`
  doc/whats_new/v1.6.rst
  sklearn/cluster/_birch.py
  sklearn/cluster/tests/test_birch.py
Labels: module:cluster, Quick Review

#29327 FIX Work around likely SIMD issue in tree export on 32bit OS
  doc/whats_new/v1.5.rst
  sklearn/tree/_export.py
Labels: module:tree, Quick Review

#28322 Fixed TimeSeriesSplit training set size formula
  sklearn/model_selection/_split.py
Labels: module:model_selection

#29322 MAINT Simplify node split Cython API
  sklearn/tree/_splitter.pyx
Labels: module:tree, cython

#29344 CI Use pip 24.1 in free-threaded build
  build_tools/azure/install.sh
Labels: Build / CI

#28096 EFF Optimize memory usage for sparse matrices in LLE (Hessian, Modified and LTSA)
  doc/whats_new/v1.6.rst
  sklearn/manifold/_locally_linear.py
Labels: module:manifold

#29095 MNT remove deprecated loss_function_ in SGD
  sklearn/linear_model/_passive_aggressive.py
  sklearn/linear_model/_perceptron.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, No Changelog Needed

#29359 MAINT Pin the ruff version on CI linters
  .circleci/config.yml
  .github/workflows/lint.yml
  azure-pipelines.yml
Labels: Build / CI

#29352 MAINT Remove setup.py mentions from documentation and comments
  asv_benchmarks/asv.conf.json
  doc/developers/advanced_installation.rst
  doc/developers/cython.rst
  doc/developers/performance.rst
  sklearn/__check_build/__init__.py
  sklearn/_loss/_loss.pyx.tp
  sklearn/ensemble/_gradient_boosting.pyx
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/utils/_seq_dataset.pxd.tp
  sklearn/utils/_seq_dataset.pyx.tp
  sklearn/utils/_weight_vector.pxd.tp
  sklearn/utils/_weight_vector.pyx.tp
Labels: module:ensemble, module:linear_model, module:utils, cython

#29330 Fix performance regression in ColumnTransformer
  doc/whats_new/v1.5.rst
  sklearn/compose/_column_transformer.py
  sklearn/pipeline.py
Labels: module:compose, module:pipeline

#28064 ENH make initial binning in HGBT parallel
  doc/whats_new/v1.6.rst
  sklearn/ensemble/_hist_gradient_boosting/binning.py
Labels: Performance, module:ensemble, Quick Review, Waiting for Second Reviewer

#27963 ENH Simplify pytest global random test plugin
  build_tools/azure/test_script.sh
  doc/computing/parallelism.rst
  setup.cfg
  sklearn/conftest.py
  sklearn/tests/random_seed.py
Labels: Waiting for Reviewer, No Changelog Needed
