Repository scikit-learn/scikit-learn, pull requests merged in 2024-05, with the labels that each got.

#28422 MNT metadata routing: remove `MethodMapping.from_str()` and sort `caller`, `callee` in `MethodPair()`
  examples/miscellaneous/plot_metadata_routing.py
  sklearn/calibration.py
  sklearn/feature_selection/_from_model.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_omp.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/multiclass.py
  sklearn/multioutput.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: No Changelog Needed

#28612 FIX PLSRegression.coef_ takes X and Y variances into account when scale=True
  doc/whats_new/v1.5.rst
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, Waiting for Second Reviewer

#28813 MAINT Clean up deprecations for 1.5: in NearestCentroid
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/tests/test_nearest_centroid.py
Labels: Blocker, module:neighbors, No Changelog Needed, Quick Review

#28912 DOC: rephrase the role of core devs
  build_tools/generate_authors_table.py
  doc/about.rst
  doc/governance.rst
  doc/maintainers.rst
  doc/maintainers_emeritus.rst
  doc/templates/index.html
Labels: Documentation, No Changelog Needed

#28351 FEA Add d2_log_loss_score
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.5.rst
  sklearn/metrics/__init__.py
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics

#28924 DOC mention ot put mixin on the left in developer guide
  doc/developers/develop.rst
Labels: Documentation

#28908 MAINT pymin_conda_defaults_openblas
  build_tools/azure/pymin_conda_defaults_openblas_environment.yml
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#28703 DEP deprecate multi_class in LogisticRegression
  asv_benchmarks/benchmarks/linear_model.py
  benchmarks/bench_saga.py
  doc/developers/develop.rst
  doc/modules/linear_model.rst
  doc/modules/multiclass.rst
  doc/whats_new/v1.5.rst
  examples/classification/plot_classification_probability.py
  examples/linear_model/plot_logistic_multinomial.py
  examples/linear_model/plot_sparse_logistic_regression_20newsgroups.py
  sklearn/ensemble/_voting.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_sag.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_sag.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/multioutput.py
Labels: API, module:linear_model

#28932 MAINT Follow-up inverse_transform standardization and deprecation clean-up
  sklearn/decomposition/_nmf.py
Labels: module:decomposition, Quick Review

#28925 FIX HistGradientBoosting raising ValueError with monotonic_cst and categorical_feature
  doc/whats_new/v1.5.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_monotonic_contraints.py
Labels: module:ensemble

#26120 FEA add TunedThresholdClassifier meta-estimator to post-tune the cut-off threshold
  doc/model_selection.rst
  doc/modules/classes.rst
  doc/modules/classification_threshold.rst
  doc/whats_new/v1.5.rst
  examples/model_selection/plot_cost_sensitive_learning.py
  examples/model_selection/plot_tuned_decision_threshold.py
  sklearn/metrics/_scorer.py
  sklearn/model_selection/__init__.py
  sklearn/model_selection/_classification_threshold.py
  sklearn/model_selection/tests/test_classification_threshold.py
  sklearn/utils/_mocking.py
  sklearn/utils/_response.py
  sklearn/utils/tests/test_mocking.py
  sklearn/utils/tests/test_response.py
Labels: module:metrics, module:utils

#28948 Fixed two typos.
  sklearn/metrics/_ranking.py
Labels: module:metrics

#28938 DOC move d2_log_loss_score in the classification metrics section
  doc/modules/classes.rst
  doc/modules/model_evaluation.rst
  sklearn/tests/test_public_functions.py
Labels: Documentation, No Changelog Needed

#28958 DOC update r2_score default in regression metrics tutorial
  doc/modules/model_evaluation.rst
Labels: Documentation

#28895 DOC add links to examples/linear_model/plot_elastic_net_precomputed_gram_matrix_with_weighted_samples.py
  doc/modules/linear_model.rst
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation, module:linear_model

#28961 Fix tolerance for seed-sensitive test `test_pca_solver_equivalence`
  sklearn/decomposition/tests/test_pca.py
Labels: module:test-suite, No Changelog Needed

#28918 DOC add Tidelift to sponsors
  doc/about.rst
  doc/images/Tidelift-logo-on-light.svg
Labels: Documentation

#28968 DOC Mention the renaming of check_estimator_sparse_data in 1.5 changelog
  doc/whats_new/v1.5.rst
Labels: Documentation

#28965 DOC Update release docs
  doc/developers/maintainer.rst
Labels: Documentation

#28969 DOC updates for D2 log loss
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: Documentation, module:metrics, No Changelog Needed

#28106 ENH Use Array API in mean_tweedie_deviance
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
Labels: module:metrics, Array API

#28987 DOC fix gp predic doc typo
  sklearn/gaussian_process/_gpr.py
Labels: Documentation, module:gaussian_process

#28701 FEA metadata routing for `StackingClassifier` and `StackingRegressor`
  doc/metadata_routing.rst
  doc/modules/ensemble.rst
  doc/whats_new/v1.6.rst
  sklearn/ensemble/_base.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:ensemble

#28998 DOC Update warm start example in ensemble user guide
  doc/modules/ensemble.rst
Labels: Documentation, Quick Review

#28991 MAINT fix redirected link for `Matthews Correlation Coefficient`
  sklearn/metrics/_classification.py
Labels: module:metrics

#28929 DOC Add links to digit denoising examples in docs and the user guide
  doc/modules/decomposition.rst
  sklearn/decomposition/_kernel_pca.py
Labels: Documentation, module:decomposition

#28988 FIX 1d sparse array validation
  doc/whats_new/v1.5.rst
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: Build / CI, module:preprocessing, module:utils, Quick Review

#29006 CI Fix wheel builder windows
  .github/workflows/wheels.yml
  build_tools/github/repair_windows_wheels.sh
Labels: Build / CI

#28889 DOC persistence page revamp
  doc/model_persistence.rst
Labels: Documentation

#29008 DOC Mention that Meson is the main supported way to build scikit-learn
  doc/whats_new/v1.5.rst
Labels: Documentation

#29001 DOC Add warm start section for tree ensembles
  doc/modules/ensemble.rst
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#29020 DOC fix dollar sign to euro sign
  examples/model_selection/plot_cost_sensitive_learning.py
Labels: Documentation

#27736 ENH Add Array API compatibility to `mean_absolute_error`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, module:utils, Array API

#29021 TST check compatibility with metadata routing for *ThresholdClassifier*
  sklearn/model_selection/_classification_threshold.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: Blocker, No Changelog Needed

#28897 ENH use Scipy isotonic_regression
  benchmarks/bench_isotonic.py
  sklearn/isotonic.py
  sklearn/tests/test_isotonic.py
Labels: No Changelog Needed

#29023 DOC add link to sklearn_example_ensemeble_plot_adboost_twoclass
  sklearn/ensemble/_weight_boosting.py
Labels: Documentation, module:ensemble

#29024 DOC Fix default value of n in check_cv
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#27381 ENH Array API support for LabelEncoder
  doc/whats_new/v1.6.rst
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/utils/_array_api.py
  sklearn/utils/_encode.py
  sklearn/utils/tests/test_array_api.py
Labels: module:preprocessing, module:utils, Array API

#28623 DOC [PST] fix styling/simplify structure of testimonial and about pages
  doc/about.rst
  doc/scss/custom.scss
  doc/testimonials/testimonials.rst
Labels: Documentation, No Changelog Needed

#28804 DOC replace pandas with Polars in examples/gaussian_process/plot_gpr_co2.py
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pymin_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  examples/gaussian_process/plot_gpr_co2.py
  pyproject.toml
  sklearn/_min_dependencies.py
  sklearn/tests/test_base.py
Labels: Documentation, No Changelog Needed

#29014 ENH Add Array API compatibility to `cosine_similarity`
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#28975 FEA SLEP006: Metadata routing for `learning_curve`
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/validation.py
Labels: module:model_selection, module:utils

#28951 Loosened to `dist <= stop_thresh` to converge in on 1D constant data
  doc/whats_new/v1.5.rst
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/tests/test_mean_shift.py
Labels: module:cluster

#28592 DOC Fix time complexity of MLP
  doc/modules/neural_networks_supervised.rst
Labels: Documentation

#29047 FIX workaround to remove the left sidebar on some page
  doc/conf.py
Labels: No Changelog Needed

#27108 DOC remove obsolete SVM example
  doc/conf.py
  examples/svm/plot_svm_kernels.py
  examples/svm/plot_svm_nonlinear.py
Labels: Documentation

#29045 Fix use metric_kwargs in check_array_api_metric_pairwise
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed

#29007 DOC Release highlights 1.5
  examples/release_highlights/plot_release_highlights_1_5_0.py
Labels: Documentation

#29049 DOC Add plot face recognition example to API docs
  sklearn/datasets/_lfw.py
Labels: Documentation, module:datasets

#29037 DOC final cleanup for switching to `pydata-sphinx-theme`
  .circleci/config.yml
  build_tools/circle/build_doc.sh
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/circle/push_doc.sh
  build_tools/update_environments_and_lock_files.py
  doc/Makefile
  doc/about.rst
  doc/api/module.rst.template
  doc/api_reference.py
  doc/conf.py
  doc/developers/contributing.rst
  doc/developers/maintainer.rst
  doc/make.bat
  doc/modules/svm.rst
  doc/themes/scikit-learn-modern/javascript.html
  doc/themes/scikit-learn-modern/layout.html
  doc/themes/scikit-learn-modern/nav.html
  doc/themes/scikit-learn-modern/search.html
  doc/themes/scikit-learn-modern/static/css/theme.css
  doc/themes/scikit-learn-modern/static/css/vendor/bootstrap.min.css
  doc/themes/scikit-learn-modern/static/js/details-permalink.js
  doc/themes/scikit-learn-modern/static/js/vendor/bootstrap.min.js
  doc/themes/scikit-learn-modern/static/js/vendor/jquery-3.6.3.slim.min.js
  doc/themes/scikit-learn-modern/theme.conf
  examples/ensemble/plot_hgbt_regression.py
  examples/model_selection/plot_cost_sensitive_learning.py
  examples/release_highlights/plot_release_highlights_1_1_0.py
  examples/release_highlights/plot_release_highlights_1_3_0.py
  pyproject.toml
  setup.cfg
  sklearn/_min_dependencies.py
Labels: Documentation, No Changelog Needed

#29041 MAINT Simplify parameter-parsing logic in pretty printer
  sklearn/utils/_pprint.py
Labels: module:utils

#29056 Various improvements and more details in release highlights for 1.5
  examples/release_highlights/plot_release_highlights_1_5_0.py
Labels: To backport

#29066 DOC fix a rendering typo in the Array API doc
  doc/modules/array_api.rst
Labels: Documentation, Quick Review

#29071 DOC do not recommend a particular Python version
  doc/developers/advanced_installation.rst
Labels: Documentation, Quick Review

#29068 BLD Fix another meson.build dependency
  sklearn/neighbors/meson.build
Labels: Build / CI, module:neighbors, Quick Review

#29072 DOC Removing warnings from plot CV examples
  examples/model_selection/plot_cv_indices.py
Labels: Documentation

#29077 MAINT Update SECURITY.md for 1.5.0
  SECURITY.md
Labels: Quick Review

#29078 FIX Fix GridSearchCV regression in 1.5 with parameter grid with heterogeneous parameter values
  doc/whats_new/v1.5.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection, To backport

#29087 BLD Fix yet another meson.build dependency
  sklearn/metrics/_pairwise_distances_reduction/meson.build
Labels: Build / CI, module:metrics

#29086 FIX avoid warning in input validation with array_api_strict
  sklearn/utils/validation.py
Labels: module:utils, To backport, No Changelog Needed, Array API

#29090 DOC temporary fix for search summary
  doc/js/searchtools.js
Labels: Documentation, No Changelog Needed

#29096 MNT DOC deprecation note in docstring of PassiveAggressive Classifier…
  sklearn/linear_model/_passive_aggressive.py
Labels: Documentation, module:linear_model

#29091 MAINT Remove unused function in Birch
  sklearn/cluster/_birch.py
Labels: module:cluster, Quick Review

#29081 MAINT Require meson-python >= 0.16 and remove temporary work-arounds
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/pymin_conda_defaults_openblas_environment.yml
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/pymin_conda_forge_mkl_environment.yml
  build_tools/azure/pymin_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_environment.yml
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/azure/pypy3_environment.yml
  build_tools/azure/pypy3_linux-64_conda.lock
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/cirrus/pymin_conda_forge_environment.yml
  build_tools/cirrus/pymin_conda_forge_linux-aarch64_conda.lock
  build_tools/update_environments_and_lock_files.py
  pyproject.toml
  sklearn/_min_dependencies.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/tests/test_common.py
Labels: No Changelog Needed

#29058 DOC add link to gradient_boosting_regression in _gp.py
  sklearn/ensemble/_gb.py
Labels: Documentation, module:ensemble

#28922 DOC Add link to AgglomerativeClustering example in docs
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#28997 Added link to plot_adaboost_regression.py example
  sklearn/ensemble/_weight_boosting.py
Labels: module:ensemble

#29109 DOC Removing warnings from plot_iris_dtc
  examples/tree/plot_iris_dtc.py
Labels: Documentation

#29121 DOC Removing warnings from plot_sgd_iris example
  examples/linear_model/plot_sgd_iris.py
Labels: Documentation

#29119 FIX always return None as device when array API dispatch is disabled
  doc/whats_new/v1.5.rst
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, To backport

#29120 DOC Removing warnings from plot_logistic_multinomial examples
  examples/linear_model/plot_logistic_multinomial.py
Labels: Documentation

#29126 DOC improve contributing docs
  doc/developers/contributing.rst
Labels: Documentation

#29125 DOC reflect deprecations in 1.5 on API page
  doc/api_reference.py
Labels: Documentation, To backport, Quick Review

#29105 API Deprecates `copy_X` in `TheilSenRegressor`
  doc/whats_new/v1.6.rst
  sklearn/linear_model/_theil_sen.py
  sklearn/linear_model/tests/test_theil_sen.py
Labels: module:linear_model, Quick Review

#29123 DOC fix mistakes in the machine learning map
  doc/images/ml_map.svg
  doc/tutorial/machine_learning_map/README.md
  doc/tutorial/machine_learning_map/index.rst
Labels: Documentation

#29067 ENH add the parameter prefit in the FixedThresholdClassifier
  doc/modules/classification_threshold.rst
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_classification_threshold.py
  sklearn/model_selection/tests/test_classification_threshold.py
Labels: module:model_selection

#28773 [MRG] Fix LocalOutlierFactor's output for data with duplicated samples
  doc/whats_new/v1.6.rst
  sklearn/neighbors/_lof.py
  sklearn/neighbors/tests/test_lof.py
Labels: module:neighbors

#29139 DOC Remove unneeded html_show_search_summary since True is the default
  doc/conf.py
Labels: Documentation, Quick Review

#29134 DOC bump `pydata-sphinx-theme` to 0.15.3
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  doc/conf.py
  doc/js/searchtools.js
  doc/scss/api-search.scss
  doc/scss/index.scss
  doc/scss/install.scss
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Documentation
