Repository scikit-learn/scikit-learn, pull requests merged in 2024-10, with the labels that each got.

#29948 CI Make templated rst files clickable in the check rendered doc action
  build_tools/circle/build_doc.sh
Labels: Build / CI

#29975 DOC refactor counting of document names in `plot_bicluster_newsgroups.py` example
  examples/bicluster/plot_bicluster_newsgroups.py
Labels: Documentation

#29987 REL scikit-learn 1.5.2 for Python 3.13
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/Windows
  build_tools/github/build_minimal_windows_image.sh
  build_tools/wheels/build_wheels.sh
  build_tools/wheels/cibw_before_test.sh
  build_tools/wheels/test_wheels.sh
Labels: No Changelog Needed

#29991 CI Add free-threaded wheel for macOS
  .github/workflows/wheels.yml
Labels: Build / CI

#29993 MAINT Clean up deprecations for 1.6: log_logistic
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils, No Changelog Needed, Quick Review

#29919 MAINT Clean up deprecations for 1.6: in NMF
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
Labels: module:decomposition, No Changelog Needed, Quick Review

#29916 MAINT Clean up deprecations for 1.6: in HDBSCAN
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/tests/test_hdbscan.py
Labels: module:cluster, No Changelog Needed, Quick Review

#29915 MAINT Clean up deprecations for 1.6: in AgglomerativeClustering
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/tests/test_hierarchical.py
Labels: module:cluster, No Changelog Needed, Quick Review

#29977 MAINT Avoid RuntimeWarning about invalid value in cast
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection, No Changelog Needed

#29938 FIX check_transformer_data_not_an_array for ColumnTransformer
  sklearn/compose/_column_transformer.py
Labels: module:compose

#29994 CI Use bot token for adding CUDA CI label
  .github/workflows/update-lock-files.yml
Labels: Build / CI

#29946 DOC Fixed Git Documentation Link
  doc/developers/contributing.rst
Labels: Documentation

#29992 MAINT Clean up deprecations for 1.6: squared param of MS(L)E
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics, No Changelog Needed, Quick Review

#29634 FIX add metadata routing to CV splitters in `RidgeCV` and `RidgeClassifierCV`
  doc/whats_new/v1.6.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:linear_model

#30017 DOC Add wikipedia principal eigenvector example to API docs
  sklearn/utils/extmath.py
Labels: Documentation, module:utils

#30014 DOC Add link to FeatureAgglomeration examples in docstrings
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#29999 MAINT Clean up deprecations for 1.6: fit_params
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, No Changelog Needed, Quick Review

#29998 DOC Remove mention of deprecated `multi_class` in `LogisticRegression`
  doc/modules/linear_model.rst
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model

#30034 DOC fix docstring of `_validate_shuffle_split`
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#30004 MAINT Handle deprecation of sokalmichener metric
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/neighbors/_base.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: No Changelog Needed

#30012 DOC improve conventions used in MAPE
  doc/modules/model_evaluation.rst
  sklearn/metrics/_regression.py
Labels: Documentation, module:metrics

#29997 MAINT|API Clean up deprecations for 1.6: SAMME.R in AdaBoost and deprecate algorithm
  benchmarks/bench_20newsgroups.py
  doc/modules/ensemble.rst
  doc/whats_new/v1.6.rst
  examples/classification/plot_classifier_comparison.py
  examples/ensemble/plot_adaboost_multiclass.py
  examples/ensemble/plot_adaboost_twoclass.py
  examples/ensemble/plot_forest_iris.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:ensemble

#29996 DOC: add link plot stock market to manifold learning documentation
  doc/modules/manifold.rst
Labels: Documentation

#29990 DOC add link to plot_learning_curve
  doc/modules/learning_curve.rst
Labels: Documentation

#30035 DOC: RandomForestClassifier depends on DecisionTreeClassifier, not DecsionTreeRegressor
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#29985 DOC add link plot_species_distribution_modeling
  sklearn/datasets/_species_distributions.py
Labels: Documentation, module:datasets

#30038 MAINT replace enable_slep006 fixture by @config_context(enable_metadata_routing=True)
  sklearn/compose/tests/test_column_transformer.py
  sklearn/conftest.py
  sklearn/covariance/tests/test_graphical_lasso.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_classification_threshold.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/tests/test_base.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_pipeline.py
Labels: No Changelog Needed, Quick Review

#29779 FIX make sure IterativeImputer does not skip iterative process when keep_empty_features=True
  doc/whats_new/v1.6.rst
  sklearn/impute/_iterative.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#29838 DOC Reorder release steps
  doc/developers/maintainer.rst.template
Labels: Documentation

#28637 ENH Add 'warn' option to 'handle_unknown' parameter in OneHotEncoder
  doc/whats_new/v1.6.rst
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
Labels: module:preprocessing

#29936 DOC merge example presenting the concept of validation curve
  doc/conf.py
  examples/model_selection/plot_train_error_vs_test_error.py
  examples/model_selection/plot_validation_curve.py
Labels: Documentation

#29818 Refactor check_sample_weights_invariance into a more general repetition/reweighting equivalence check
  doc/whats_new/v1.6.rst
  sklearn/cluster/_kmeans.py
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_linear_loss.py
  sklearn/linear_model/_perceptron.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_base.py
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/model_selection/_classification_threshold.py
  sklearn/naive_bayes.py
  sklearn/neighbors/_kde.py
  sklearn/preprocessing/_discretization.py
  sklearn/svm/_classes.py
  sklearn/tree/tests/test_tree.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
Labels: module:linear_model, module:utils

#27412 FIX make `roc_auc_score` consistent with `roc_curve` with a single class
  doc/whats_new/v1.6.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#30059 DOC fix back references to removed example
  doc/modules/learning_curve.rst
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection

#30043 DOC add Lucy Liu as core maintainer
  doc/maintainers.rst
Labels: Documentation

#30067 CI Fix CUDA CI setting in automated lock-file update
  .github/workflows/update-lock-files.yml
Labels: Enhancement, Build / CI

#30060 CI: bump deprecated macos-12 to macos-13
  .github/workflows/wheels.yml
Labels: Build / CI

#30049 DOC fix misleading versionadded in RFECV
  sklearn/feature_selection/_rfe.py
Labels: Documentation, module:feature_selection

#30039 MAINT remove side-effects in test_partial_dependence
  sklearn/inspection/tests/test_partial_dependence.py
Labels: module:test-suite, No Changelog Needed

#30001 MAINT | API Clean up deprecations for 1.6: in make_scorer
  doc/whats_new/v1.6.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#29961 DOC remove color quantization K-means example
  doc/conf.py
  doc/datasets/loading_other_datasets.rst
  doc/modules/clustering.rst
  examples/cluster/plot_color_quantization.py
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#29960 DOC remove KMeans clustering on iris example
  doc/conf.py
  examples/cluster/plot_cluster_iris.py
Labels: Documentation

#29773 ENH: raise an error when MLP diverges
  doc/whats_new/v1.6.rst
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network, Waiting for Second Reviewer

#30022 FIX make sure that TFIDFVectorizer set idf_ dtype based on X.dtype
  doc/whats_new/v1.6.rst
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
Labels: module:feature_extraction, Waiting for Second Reviewer

#29965 DOC remove redundant example on MDI feature importance
  doc/conf.py
  doc/modules/ensemble.rst
  doc/modules/feature_selection.rst
  examples/ensemble/plot_forest_importances_faces.py
Labels: Documentation

#29964 DOC remove basic iris example and merge with iris with PCA example
  doc/conf.py
  examples/datasets/plot_iris_dataset.py
  examples/decomposition/plot_pca_iris.py
  sklearn/datasets/_base.py
Labels: Documentation, module:datasets

#29957 DOC update FAQ regarding dataframe I/O and support for categorical variable
  doc/faq.rst
Labels: Documentation

#29949 DOC: added link plot_dbscan.py
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#29956 DOC: Fixes Docs for estimator types do not list all possible estimator types
  doc/developers/develop.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#29890 DOC Add link to plot coin segmentation in docstrings and user guide
  sklearn/cluster/_spectral.py
Labels: Documentation, module:cluster

#30082 DOC fix call to build draft doc with towncrier
  doc/whats_new/upcoming_changes/README.md
Labels: Documentation, Quick Review

#29744 DOC Take SPHINXOPTS from the command-line environment
  doc/Makefile
Labels: Documentation

#29759 DOC added links for plot_affinity_propagation.py
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#29760 DOC added example links for plot_species_distribution_model.py
  examples/neighbors/plot_species_kde.py
  sklearn/datasets/_species_distributions.py
  sklearn/datasets/descr/species_distributions.rst
  sklearn/svm/_classes.py
Labels: Documentation, module:datasets

#29940 DOC add link to plot_adjusted_for_chance_measures example in adjusted_rand_score
  sklearn/metrics/cluster/_supervised.py
Labels: Documentation, module:metrics

#29868 FIX pipeline now checks if it's fitted
  doc/whats_new/upcoming_changes/sklearn.pipeline/29868.enhancement.rst
  sklearn/model_selection/tests/test_validation.py
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, No Changelog Needed

#29896 DOC add links to plot bisect KMeans example
  doc/modules/clustering.rst
  sklearn/cluster/_bisect_k_means.py
  sklearn/cluster/_kmeans.py
Labels: Documentation, module:cluster

#29947 DOC add link to plot_feature_selection_pipeline example in make_pipeline
  sklearn/pipeline.py
Labels: Documentation, module:pipeline

#30086 CI Update changelog check after move to towncrier
  .github/workflows/check-changelog.yml
  pyproject.toml
Labels: Build / CI

#30091 DOC Remove the 2024 user survey announcement
  doc/conf.py
Labels: Documentation

#29967 DOC remove example OLS with 3D plot
  doc/conf.py
  examples/linear_model/plot_ols.py
  examples/linear_model/plot_ols_3d.py
Labels: Documentation

#30023 FIX handle aliases in displays when used as default and provided by user
  doc/whats_new/upcoming_changes/many-modules/30023.fix.rst
  sklearn/calibration.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/regression.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_predict_error_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/tests/test_calibration.py
  sklearn/utils/_plotting.py
  sklearn/utils/tests/test_plotting.py
Labels: module:metrics

#29921 DOC plot classification probability
  doc/modules/linear_model.rst
  doc/modules/multiclass.rst
  doc/modules/svm.rst
  sklearn/gaussian_process/_gpc.py
  sklearn/linear_model/_logistic.py
  sklearn/svm/_classes.py
Labels: Documentation, module:gaussian_process, module:linear_model, module:svm

#29976 DOC add link to plot_svm_tie_breaking.py in SVC and NuSVC
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#30093 doc-fix: Remove repeated words
  build_tools/update_environments_and_lock_files.py
  sklearn/utils/extmath.py
Labels: module:utils

#30095 DOC : correct comment in _locally_linear_embedding
  sklearn/manifold/_locally_linear.py
Labels: Documentation, module:manifold

#26962 DOC Add link to plot_tree_regression.py example
  doc/modules/tree.rst
  examples/tree/plot_tree_regression.py
  examples/tree/plot_tree_regression_multioutput.py
  sklearn/tree/_classes.py
Labels: Documentation, Waiting for Reviewer, module:tree

#30092 FIX pass xp to avoid redundant namespace inspection
  sklearn/metrics/_regression.py
Labels: module:metrics

#30070 DOC add link plot_tomography_l1_reconstruction
  doc/modules/feature_selection.rst
Labels: Documentation

#29874 TST check that binary only classifiers fail on multiclass data
  doc/whats_new/upcoming_changes/sklearn.utils/29874.enhancement.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, Developer API

#28840 ENH multiclass/multinomial newton cholesky for LogisticRegression
  doc/whats_new/upcoming_changes/sklearn.linear_model/28840.enhancement.rst
  sklearn/_loss/tests/test_loss.py
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_linear_loss.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_linear_loss.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model

#30047 ENH Make `KNeighborsClassifier.predict` handle `X=None`
  doc/whats_new/upcoming_changes/sklearn.neighbors/30047.enhancement.rst
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_regression.py
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors

#30102 MAINT Tweak a few changelog entries
  doc/whats_new/upcoming_changes/README.md
  doc/whats_new/upcoming_changes/array-api/27736.feature.rst
  doc/whats_new/upcoming_changes/array-api/28106.feature.rst
  doc/whats_new/upcoming_changes/array-api/29014.feature.rst
  doc/whats_new/upcoming_changes/array-api/29112.feature.rst
  doc/whats_new/upcoming_changes/array-api/29141.feature.rst
  doc/whats_new/upcoming_changes/array-api/29142.feature.rst
  doc/whats_new/upcoming_changes/array-api/29143.feature.rst
  doc/whats_new/upcoming_changes/array-api/29144.feature.rst
  doc/whats_new/upcoming_changes/array-api/29207.feature.rst
  doc/whats_new/upcoming_changes/array-api/29212.feature.rst
  doc/whats_new/upcoming_changes/array-api/29227.feature.rst
  doc/whats_new/upcoming_changes/array-api/29239.feature.rst
  doc/whats_new/upcoming_changes/array-api/29265.feature.rst
  doc/whats_new/upcoming_changes/array-api/29267.feature.rst
  doc/whats_new/upcoming_changes/array-api/29300.feature.rst
  doc/whats_new/upcoming_changes/array-api/29389.feature.rst
  doc/whats_new/upcoming_changes/array-api/29433.feature.rst
  doc/whats_new/upcoming_changes/array-api/29475.feature.rst
  doc/whats_new/upcoming_changes/array-api/29709.feature.rst
  doc/whats_new/upcoming_changes/array-api/29751.feature.rst
Labels: Quick Review

#30097 ENH add normalize to LDA.transform
  doc/whats_new/upcoming_changes/sklearn.decomposition/30097.enhancement.rst
  sklearn/decomposition/_lda.py
  sklearn/decomposition/tests/test_online_lda.py
Labels: module:decomposition

#30104 MAINT small refactoring in partial_dependence
  sklearn/inspection/_partial_dependence.py
Labels: module:inspection

#30101 TST Improve tests for neighbor models with X=None
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors, module:test-suite, No Changelog Needed

#29584 MAINT Remove some unwanted side effects in our test suite
  sklearn/gaussian_process/tests/test_kernels.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/neighbors/tests/test_nca.py
  sklearn/tests/test_kernel_approximation.py
  sklearn/tests/test_pipeline.py
  sklearn/tree/tests/test_tree.py
Labels: Build / CI, module:test-suite, No Changelog Needed, Quick Review

#30100 FIX properly report `n_iter_` in case of fallback from Newton-Cholesky to LBFGS
  doc/whats_new/upcoming_changes/sklearn.linear_model/30100.fix.rst
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, Quick Review

#30116 doc-fix: Fix for text outside of the dropdown and a grammar fix
  doc/modules/manifold.rst
  sklearn/manifold/tests/test_spectral_embedding.py
Labels: module:manifold, No Changelog Needed

#29966 DOC remove redundant example multiclass logistic regression
  doc/conf.py
  examples/linear_model/plot_iris_logistic.py
  examples/linear_model/plot_logistic_multinomial.py
Labels: Documentation

#30125 MNT add slots to tags
  sklearn/utils/_tags.py
  sklearn/utils/fixes.py
Labels: module:utils, No Changelog Needed, Developer API

#30040 Fix `LinearRegression`'s numerical stability on rank deficient data by setting the `cond` parameter in the call to `scipy.linalg.lstsq`
  doc/whats_new/upcoming_changes/sklearn.linear_model/30040.fix.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model, Quick Review, Waiting for Second Reviewer

#30142 DOC: Fixed typo in OPTICS api for issue #30129
  sklearn/cluster/_optics.py
Labels: Documentation, module:cluster

#30145 FIX signature of deprecated classes
  sklearn/utils/deprecation.py
  sklearn/utils/tests/test_deprecation.py
Labels: module:utils, No Changelog Needed

#30121 TST make warnings in test_mlp.py disappear
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
Labels: module:neural_network, No Changelog Needed

#29705 FEA add FrozenEstimator
  doc/api_reference.py
  doc/developers/develop.rst
  doc/whats_new/upcoming_changes/sklearn.frozen/.gitkeep
  doc/whats_new/upcoming_changes/sklearn.frozen/29705.major-feature.rst
  pyproject.toml
  sklearn/__init__.py
  sklearn/frozen/__init__.py
  sklearn/frozen/_frozen.py
  sklearn/frozen/tests/__init__.py
  sklearn/frozen/tests/test_frozen.py
  sklearn/tests/test_metaestimators.py
  sklearn/utils/_test_common/instance_generator.py
Labels: No Changelog Needed, Waiting for Second Reviewer

#30157 DOC clarify glossary term sample
  doc/glossary.rst
Labels: Documentation

#26689 ENH Add decision_function, predict_proba and predict_log_proba for NearestCentroid estimator
  doc/whats_new/upcoming_changes/sklearn.neighbors/26689.enhancement.rst
  sklearn/discriminant_analysis.py
  sklearn/neighbors/_nearest_centroid.py
  sklearn/neighbors/tests/test_nearest_centroid.py
Labels: module:neighbors

#28519 ENH add shuffle to GroupKFold
  doc/modules/cross_validation.rst
  doc/whats_new/upcoming_changes/sklearn.model_selection/28519.enhancement.rst
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: module:model_selection

#29935 DOC: AgglomerativeCluster Metric Keyword Documentation
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#17575 FIX escape double quotes when exporting tree with Graphviz
  doc/whats_new/upcoming_changes/sklearn.tree/17575.fix.rst
  sklearn/tree/_export.py
  sklearn/tree/tests/test_export.py
Labels: Bug, module:tree

#30117 DOC: Fix documentation for lars_path to reflect actual behavior
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#19746 FIX Ridge.coef_ return a single dimension array when target type is not continuous-multiple
  doc/whats_new/upcoming_changes/sklearn.linear_model/19746.fix.rst
  sklearn/linear_model/_base.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_common.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#29451 FIX min_value and max_value not indexed when features are removed
  doc/whats_new/upcoming_changes/sklearn.impute/29451.fix.rst
  sklearn/impute/_iterative.py
  sklearn/impute/tests/test_impute.py
Labels: Waiting for Reviewer, module:impute

#30153 MAINT Add notes-towncrier.rst to .gitignore
  .gitignore
Labels: Quick Review

#29950 DEP Adding a warning in the SimpleImputer when strategy mode is constant and keep_empty_features is False
  doc/whats_new/upcoming_changes/sklearn.impute/29950.api.rst
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#30126 Plot kmeans plusplus
  doc/modules/clustering.rst
Labels: module:cluster

#30083 DOC update documentation instruction after introducing towncrier
  doc/developers/contributing.rst
  doc/developers/maintainer.rst.template
  doc/developers/tips.rst
Labels: Documentation

#30175 DOC fix items in docstring of zero_division
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#28509 FEA add zero_division to matthews_corrcoef
  doc/whats_new/upcoming_changes/sklearn.metrics/28509.feature.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics

#30177 DOC redirect to GitHub issues & PR instead of mailing list when it comes to contribution
  doc/developers/contributing.rst
Labels: Documentation

#30178 DOC fix a grammar issue in the about-us page
  doc/about.rst
Labels: Documentation, hacktoberfest-accepted

#26367 ENH `despine` keyword for ROC and PR curves
  doc/whats_new/upcoming_changes/sklearn.metrics/26367.enhancement.rst
  examples/model_selection/plot_precision_recall.py
  examples/model_selection/plot_roc.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/utils/_plotting.py
  sklearn/utils/tests/test_plotting.py
Labels: module:metrics, Waiting for Second Reviewer

#30184 CI Remove unneeded line since Python 3.13 release
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review
