Repository scikit-learn/scikit-learn, pull requests merged in 2024-04, with the labels that each got.

#28724 DOC Add polars to the requirements for building documentation
  doc/developers/contributing.rst
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Documentation

#28746 DOC Fix typo `LogisticRegressionCV` docstring
  sklearn/linear_model/_logistic.py
Labels: Documentation, Quick Review

#28734 FIX bagging with metadata routing and estimator implement __len__
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/tests/test_bagging.py
Labels: module:ensemble, No Changelog Needed

#28743 MNT bump to Cython=3.0.10
  asv_benchmarks/asv.conf.json
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/debian_atlas_32bit_requirements.txt
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pymin_conda_defaults_openblas_environment.yml
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/ubuntu_atlas_lock.txt
  build_tools/azure/ubuntu_atlas_requirements.txt
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: cython

#28766 DOC: typo lar not lars
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#28767 DOC: use f-strings in example
  examples/linear_model/plot_logistic_l1_l2_sparsity.py
Labels: Documentation

#28706 DOC adapt logistic regression objective in user guide
  doc/modules/linear_model.rst
Labels: Documentation, module:linear_model

#28754 DOC Add links to miscellaneous examples in docstrings
  doc/modules/kernel_ridge.rst
Labels: Documentation

#28763 MAINT cleanup utils.__init__: deprecate tosequence
  doc/whats_new/v1.5.rst
  sklearn/ensemble/tests/test_gradient_boosting.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_utils.py
Labels: module:ensemble, module:utils, Quick Review

#28783 DOC: Fix typo in svm.rst
  doc/modules/svm.rst
Labels: Documentation

#28768 MAINT cleanup utils.__init__: move IS_PYPY, _IS_WASM, _IS_32BIT into utils.fixes
  doc/conftest.py
  doc/whats_new/v1.5.rst
  sklearn/_loss/tests/test_loss.py
  sklearn/base.py
  sklearn/conftest.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/experimental/tests/test_enable_hist_gradient_boosting.py
  sklearn/experimental/tests/test_enable_iterative_imputer.py
  sklearn/experimental/tests/test_enable_successive_halving.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_extraction/text.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/tests/test_common.py
  sklearn/tests/test_config.py
  sklearn/tests/test_discriminant_analysis.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tree/tests/test_tree.py
  sklearn/utils/__init__.py
  sklearn/utils/_testing.py
  sklearn/utils/discovery.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/tests/test_utils.py
Labels: Quick Review

#28790 MAINT Set 1.4.2 release month
  doc/whats_new/v1.4.rst
Labels: To backport, Quick Review

#28517 MNT more informative error message for `UnsetMetadataPassedError`
  doc/metadata_routing.rst
  examples/miscellaneous/plot_metadata_routing.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/tests/test_metadata_routing.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils, No Changelog Needed

#28652 DOC Improve description of l2_regularization for hgbt models
  doc/modules/ensemble.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
Labels: Documentation, module:ensemble

#28601 DOC user polars instead of polars in plot_time_series_lagged_features
  examples/applications/plot_time_series_lagged_features.py
Labels: Documentation

#28757 CI Use check-sdist to check sdist rather than check-manifest
  .gitattributes
  .github/workflows/check-sdist.yml
  pyproject.toml
Labels: Build / CI

#28774 Release 1.4.2
  doc/templates/index.html
  doc/whats_new/v1.4.rst
  pyproject.toml
  setup.py
  sklearn/__init__.py
  sklearn/preprocessing/_label.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_validation.py
Labels: module:preprocessing, module:utils, No Changelog Needed

#28792 MAINT Replace ruff deprecated --show-source argument
  build_tools/get_comment.py
  build_tools/linting.sh
Labels: Quick Review

#28789 BLD Fix build dependency in meson build
  sklearn/cluster/_hdbscan/meson.build
  sklearn/cluster/meson.build
  sklearn/metrics/meson.build
Labels: Build / CI, module:cluster, module:metrics, cython

#28796 MAINT Update SECURITY.md for 1.4.2
  SECURITY.md
Labels: Quick Review

#28797 DOC Add 1.4.2 to News
  doc/templates/index.html
Labels: Documentation, Quick Review

#28798 DOC update license year to 2024
  COPYING
Labels: Documentation, Quick Review

#28794 CI Add last failure date to automatic issue
  maint_tools/update_tracking_issue.py
Labels: Build / CI

#28448 DOC [PST] tune FAQ page styling
  doc/faq.rst
Labels: Documentation, No Changelog Needed

#27566 FEA Add metadata routing to GraphicalLassoCV
  doc/metadata_routing.rst
  doc/whats_new/v1.5.rst
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:covariance

#28614 MAINT Pass ParentInfo rather than explicit variables
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
Labels: module:tree, cython

#28810 CI Fix title in update_tracking_issue.py
  maint_tools/update_tracking_issue.py
Labels: Build / CI

#28750 DOC Separate predefined scorer names from the ones requiring make_scorer
  doc/modules/model_evaluation.rst
Labels: Documentation

#28806 MAINT Clean up deprecations for 1.5: in Displays
  sklearn/model_selection/_plot.py
  sklearn/model_selection/tests/test_plot.py
Labels: module:model_selection, No Changelog Needed, Quick Review

#28807 MAINT Clean up deprecations for 1.5: in linear_model._bayes
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#27491 ENH new svd_solver='covariance_eigh' for PCA
  .gitignore
  benchmarks/bench_pca_solvers.py
  doc/modules/compose.rst
  doc/whats_new/v1.5.rst
  sklearn/decomposition/_base.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/decomposition/tests/test_incremental_pca.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/decomposition/tests/test_sparse_pca.py
  sklearn/pipeline.py
  sklearn/utils/extmath.py
Labels: Enhancement, Waiting for Reviewer, Performance, module:decomposition, module:utils

#28817 MAINT Clean up deprecations for 1.5: in KBinsDiscretizer
  examples/cluster/plot_face_compress.py
  examples/linear_model/plot_poisson_regression_non_normal_loss.py
  examples/linear_model/plot_tweedie_regression_insurance_claims.py
  examples/preprocessing/plot_discretization_strategies.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: module:preprocessing, No Changelog Needed, Quick Review

#28722 ENH HTML repr show best estimator in `*SearchCV` when `refit=True`
  doc/whats_new/v1.5.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#28819 DOC fix versionchanged in PCA
  sklearn/decomposition/_pca.py
Labels: Documentation, module:decomposition

#28816 MAINT Clean up deprecations for 1.5: in LinearSV*
  benchmarks/bench_mnist.py
  doc/modules/feature_selection.rst
  doc/modules/model_evaluation.rst
  doc/modules/multiclass.rst
  doc/modules/svm.rst
  examples/calibration/plot_calibration_curve.py
  examples/calibration/plot_compare_calibration.py
  examples/feature_selection/plot_feature_selection.py
  examples/feature_selection/plot_feature_selection_pipeline.py
  examples/kernel_approximation/plot_scalable_poly_kernels.py
  examples/miscellaneous/plot_kernel_approximation.py
  examples/model_selection/plot_det.py
  examples/model_selection/plot_grid_search_refit_callable.py
  examples/model_selection/plot_precision_recall.py
  examples/preprocessing/plot_discretization_classification.py
  examples/svm/plot_iris_svc.py
  examples/svm/plot_linearsvc_support_vectors.py
  sklearn/calibration.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_common.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/feature_extraction/tests/test_text.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/kernel_approximation.py
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_successive_halving.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/multiclass.py
  sklearn/svm/_classes.py
  sklearn/svm/tests/test_sparse.py
  sklearn/svm/tests/test_svm.py
  sklearn/tests/test_calibration.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_multiclass.py
  sklearn/tests/test_multioutput.py
Labels: No Changelog Needed, Quick Review

#28811 MAINT Clean up deprecations for 1.5: in graphical_lasso
  sklearn/covariance/_graph_lasso.py
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, No Changelog Needed, Quick Review

#27526 ENH add verbosity to newton-cg solver
  doc/whats_new/v1.5.rst
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/utils/optimize.py
  sklearn/utils/tests/test_optimize.py
Labels: module:feature_selection, module:linear_model, module:utils

#28830 DOC Adds Links to plot_svm_scale_c.py Example
  doc/modules/svm.rst
  sklearn/svm/_classes.py
Labels: Documentation, module:svm

#28821 BLD Fix more build dependencies in meson build
  sklearn/cluster/_hdbscan/meson.build
  sklearn/cluster/meson.build
  sklearn/decomposition/meson.build
  sklearn/feature_extraction/meson.build
  sklearn/linear_model/meson.build
  sklearn/manifold/meson.build
  sklearn/meson.build
  sklearn/metrics/meson.build
  sklearn/neighbors/meson.build
  sklearn/preprocessing/meson.build
  sklearn/svm/meson.build
  sklearn/tree/meson.build
  sklearn/utils/meson.build
Labels: Build / CI, cython

#19789 DOC Add warnings about causal interpretation of coefficients
  examples/inspection/plot_linear_model_coefficient_interpretation.py
Labels: Documentation

#28844 CI Use Meson to build sdist
  build_tools/github/build_source.sh
Labels: Build / CI

#18555 API Deprecate using labels in bytes format
  doc/whats_new/v1.5.rst
  sklearn/metrics/tests/test_ranking.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: Bug, Needs Decision, module:utils

#28848 MAINT Clean up deprecations for 1.5: delayed import path
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_fixes.py
Labels: module:utils, No Changelog Needed, Quick Review

#28849 MAINT Clean up deprecations for 1.5: in KMeans.predict
  sklearn/cluster/_kmeans.py
  sklearn/cluster/tests/test_k_means.py
Labels: module:cluster, No Changelog Needed, Quick Review

#28847 API Deprecate utils.parallel_backend and utils.register_parallel_backend
  build_tools/linting.sh
  doc/whats_new/v1.5.rst
  sklearn/inspection/tests/test_permutation_importance.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/__init__.py
  sklearn/utils/_joblib.py
  sklearn/utils/tests/test_utils.py
Labels: module:inspection, module:utils, Quick Review

#28853 DOC fix description of sample_weight in KBinsDiscretizer
  sklearn/preprocessing/_discretization.py
Labels: Documentation, module:preprocessing

#28805 MAINT Clean up deprecations for 1.5: in make_sparse_coded_signal
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
Labels: module:datasets, No Changelog Needed, Quick Review

#28854 CI Update ruff invoke command
  build_tools/get_comment.py
Labels: Build / CI, Quick Review

#28764 RFE and RFECV allow features_to_select to be larger than available
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, No Changelog Needed

#28839 BLD Avoid misleading OpenMP warning with Apple Clang
  sklearn/meson.build
Labels: Build / CI

#28836 FIX Accept d2_absolute_error_score as named scorer
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics, No Changelog Needed, Quick Review

#28855 MAINT Fix target versions in TODOs
  doc/whats_new/v1.5.rst
  sklearn/metrics/tests/test_ranking.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:metrics, module:utils, No Changelog Needed, Quick Review

#28858 DOC minor improvements of Features in Histogram Gradient Boosting Trees
  examples/ensemble/plot_hgbt_regression.py
Labels: Documentation

#28822 Fix ColumnTransformer in parallel with joblib's auto memmapping
  doc/whats_new/v1.5.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/pipeline.py
Labels: module:compose, module:pipeline

#28866 MNT replace cdef extern from by cimport libc...
  sklearn/manifold/_barnes_hut_tsne.pyx
  sklearn/neighbors/_quad_tree.pyx
Labels: module:manifold, module:neighbors, cython, Quick Review

#28860 fixed error that prevented parametrizing custom estimators that implements `__call__`
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed

#28875 DOC add "polars" to options of transform in `set_output`
  sklearn/compose/_column_transformer.py
  sklearn/pipeline.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/utils/_set_output.py
Labels: Documentation

#28712 FIX `RecursionError` bug with metadata routing in metaestimators with scoring
  doc/whats_new/v1.5.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:linear_model, module:metrics

#27357 DOC improve metadata routing example
  examples/miscellaneous/plot_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: Documentation, module:utils, No Changelog Needed

#28189 DOC update model persistence page to provide clearer recommendations
  doc/model_persistence.rst
Labels: Documentation

#27657 API improve the remainder index dtype to be consistent with transformers
  doc/whats_new/v1.5.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
  sklearn/utils/_indexing.py
Labels: Waiting for Reviewer, module:compose

#28885 DOC Add links to AgglomerativeClustering examples in docs and the user guide
  doc/modules/clustering.rst
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#28893 Fix __array__ requires a copy param
  sklearn/utils/estimator_checks.py
Labels: module:utils

#26951 DOC Add links to plot_document_clustering example
  sklearn/feature_extraction/text.py
Labels: Documentation, module:feature_extraction, Waiting for Second Reviewer

#28896 DOC Fix `cosine_similarity` docstring return
  sklearn/metrics/pairwise.py
Labels: Documentation, Quick Review

#28888 TST Make test_neighbors_metric robust to rng
  sklearn/neighbors/tests/test_neighbors.py
Labels: module:neighbors, No Changelog Needed, Quick Review, Numerical Stability

#28886 CI Fix wheel builder on osx
  .github/workflows/wheels.yml
Labels: Build / CI, Blocker

#28814 MAINT Clean up deprecations for 1.5: in AdditiveChi2Sampler
  sklearn/kernel_approximation.py
  sklearn/tests/test_kernel_approximation.py
Labels: Blocker, No Changelog Needed, Quick Review

#28861 TST make sure test_pca_sparse passes on all random seeds
  sklearn/decomposition/tests/test_pca.py
Labels: No Changelog Needed

#28894 CI Revert PyPy lock file after threadpoolctl min version bump
  build_tools/azure/pypy3_linux-64_conda.lock
Labels: Build / CI

#28851 MAINT Clean up deprecations for 1.5: in log_loss
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_common.py
Labels: Blocker, module:metrics, No Changelog Needed

#28756 API Standardize `X` as `inverse_transform` input parameter
  doc/whats_new/v1.5.rst
  sklearn/cluster/_feature_agglomeration.py
  sklearn/cluster/tests/test_feature_agglomeration.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
  sklearn/pipeline.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/deprecation.py
Labels: module:decomposition, module:utils

#28630 DOC [PST] FIX/RFC machine learning map
  .pre-commit-config.yaml
  doc/images/ml_map.png
  doc/images/ml_map.svg
  doc/js/scripts/vendor/svg-pan-zoom.min.js
  doc/tutorial/machine_learning_map/ML_MAPS_README.txt
  doc/tutorial/machine_learning_map/README.md
  doc/tutorial/machine_learning_map/index.rst
  doc/tutorial/machine_learning_map/parse_path.py
  doc/tutorial/machine_learning_map/pyparsing.py
  doc/tutorial/machine_learning_map/svg2imagemap.py
Labels: Documentation, No Changelog Needed

#28842 MAINT Clean-up utils.__init__: move tests into corresponding test files
  sklearn/utils/tests/test_mask.py
  sklearn/utils/tests/test_missing.py
  sklearn/utils/tests/test_utils.py
  sklearn/utils/tests/test_validation.py
Labels: module:utils, No Changelog Needed, Quick Review
