Repository scikit-learn/scikit-learn, pull requests merged in 2024-02, with the labels that each got.

#28330 DOC Fix typo in F-measure user guide
  doc/modules/model_evaluation.rst
  sklearn/metrics/_classification.py
Labels: Documentation

#28340 DOC make docstring check more lenient in ridge regression
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#28326 CI Fix scipy-dev build
  sklearn/calibration.py
  sklearn/cluster/tests/test_hdbscan.py
  sklearn/datasets/_species_distributions.py
Labels: Build / CI, module:datasets, To backport, No Changelog Needed

#28241 FIX FunctionTransformer overwrite column names if not consistent
  doc/whats_new/v1.4.rst
  sklearn/compose/tests/test_column_transformer.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/tests/test_function_transformer.py
  sklearn/utils/_set_output.py
  sklearn/utils/tests/test_set_output.py
Labels: module:compose, module:preprocessing, To backport

#28188 FIX ColumnTransformer metadata routing work within another meta-estimator
  doc/whats_new/v1.4.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#28345 DOC: fixup plot in "Pipelining: chaining a PCA and a logistic regression" example
  examples/compose/plot_digits_pipe.py
Labels: Documentation

#28184 FIX handle subsampling for sample_weight in partial_dependence
  doc/whats_new/v1.4.rst
  sklearn/inspection/_permutation_importance.py
  sklearn/inspection/tests/test_permutation_importance.py
Labels: module:inspection

#28102 ENH sort before binning in HGBT
  doc/whats_new/v1.5.rst
  sklearn/ensemble/_hist_gradient_boosting/binning.py
Labels: module:ensemble, Quick Review

#28323 MAINT: Adjust the codebase to the new `np.array`'s `copy` keyword meaning
  sklearn/cluster/_affinity_propagation.py
  sklearn/ensemble/_forest.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/model_selection/_plot.py
  sklearn/utils/extmath.py
Labels: To backport

#28233 FIX Target encoder const y
  doc/whats_new/v1.4.rst
  sklearn/preprocessing/_target_encoder_fast.pyx
  sklearn/preprocessing/tests/test_target_encoder.py
Labels: module:preprocessing, To backport, cython

#28333 DOC Add formula to fbeta docstring
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#28256 FIX SLEP6 no errors raised when no metadata is passed
  doc/whats_new/v1.4.rst
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils, To backport

#28294 DOC Fixes ColumnTransformer docstring
  sklearn/compose/_column_transformer.py
Labels: Documentation, module:compose

#28361 CI Update codecov uploader to 0.7.1
  build_tools/azure/upload_codecov.sh
Labels: Build / CI

#28348 CI Fix pandas copy-on-write issues in scipy-dev
  sklearn/neighbors/_binary_tree.pxi.tp
  sklearn/utils/tests/test_utils.py
  sklearn/utils/validation.py
Labels: Build / CI, No Changelog Needed

#28359 CLN Support _MultimetricScorer directly for internal methods
  sklearn/model_selection/_search.py
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, No Changelog Needed, Quick Review

#26934 DOC add links to cross decomposition examples
  sklearn/cross_decomposition/_pls.py
Labels: Documentation, module:cross_decomposition

#28374 CI Fix following scipy dev coo_matrix attr renaming
  sklearn/utils/tests/test_validation.py
Labels: Build / CI, module:utils, No Changelog Needed, Quick Review

#28346 CI Moves macos arm64 wheel building to GitHub Actions
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
Labels: Build / CI

#28353 MAINT [PST] set up live preview
  .circleci/config.yml
  build_tools/circle/push_doc.sh
Labels: No Changelog Needed

#28379 DOC [PST] fix lock files and add `sphinx-design`
  .circleci/config.yml
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/conf.py
Labels: Documentation

#28372 CI Use environment variable to turn warnings into errors in tests and doc build
  .circleci/config.yml
  azure-pipelines.yml
  build_tools/azure/test_script.sh
  doc/computing/parallelism.rst
  doc/conf.py
  setup.cfg
  sklearn/conftest.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: Build / CI, module:utils, No Changelog Needed

#28385 FIX HistgradientBoosting with pandas extension dtypes
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble

#28292 DOC: Improved clarity and structure of Support documentation
  doc/support.rst
Labels: Documentation

#28377 FIX handle dataframe in ARDRegression when predict requests std. dev.
  doc/whats_new/v1.4.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: module:linear_model

#28336 DOC [PST] install page
  doc/conf.py
  doc/install.rst
  doc/scss/install.scss
Labels: Documentation, No Changelog Needed

#28373 DOC add interval range for parameter of SGDRegressor
  sklearn/linear_model/_stochastic_gradient.py
Labels: Documentation, module:linear_model

#27537 ENH use check_finite=False when calling scipy.linalg functions in randomized_range_finder
  sklearn/utils/extmath.py
Labels: module:utils, No Changelog Needed

#27702 FIX raise proper error for not supporting multilabel in VotingClassifier
  doc/whats_new/v1.4.rst
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble

#28354 DOC added example for `sklearn.datasets.make_multilabel_classification`
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#28328 DOC Update the FAQ entry on GPU support
  doc/faq.rst
Labels: Documentation

#28398 ENH use memset for histograms in HGBT
  sklearn/ensemble/_hist_gradient_boosting/histogram.pyx
Labels: module:ensemble, cython

#28390 DOC added example for `sklearn.feature_extraction.image.grid_to_graph`
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#28327 FIX handle properly missing value in MSE and Friedman-MSE `children_impurity`
  doc/whats_new/v1.4.rst
  sklearn/tree/_criterion.pyx
  sklearn/tree/_splitter.pyx
  sklearn/tree/tests/test_tree.py
Labels: Regression, module:tree, cython

#28371 FIX `EmptyRequest.get` defaults to `Bunch` of `METHODS`
  sklearn/metrics/tests/test_score_objects.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:utils, No Changelog Needed

#28167 MNT Checking function `_estimator_has` also raises `AttributeError`
  doc/whats_new/v1.5.rst
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/tests/test_stacking.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_from_model.py
  sklearn/feature_selection/tests/test_rfe.py
  sklearn/multiclass.py
  sklearn/semi_supervised/_self_training.py
  sklearn/semi_supervised/tests/test_self_training.py
  sklearn/tests/test_multiclass.py
Labels: module:ensemble, module:feature_selection, module:semi_supervised

#28187 ENH Add metadata routing for IterativeImputer
  doc/metadata_routing.rst
  doc/whats_new/v1.5.rst
  sklearn/feature_selection/_from_model.py
  sklearn/impute/_iterative.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:feature_selection, module:impute

#28409 DOC [PST] fix changelog badges
  doc/whats_new/_contributors.rst
Labels: Documentation, No Changelog Needed

#28413 DOC update changelog for 1.4.1 release
  doc/templates/index.html
  doc/whats_new/v1.4.rst
  doc/whats_new/v1.5.rst
Labels: Documentation, To backport

#28365 FIX handle inconsistence between `fill_value` and `X` dtype in `SimpleImputer`
  doc/whats_new/v1.4.rst
  sklearn/impute/_base.py
  sklearn/impute/tests/test_impute.py
Labels: module:impute

#28418 MAINT reflect that we move the macos-arm64 to github actions
  build_tools/github/check_wheels.py
Labels: To backport

#28412 CI Unpin numpy in no-OpenMP build
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#27920 DOC: Added drop down menus to `1.17` Neural Networks (supervised)
  doc/modules/neural_networks_supervised.rst
Labels: Documentation

#27919 DOC: Added drop down menus to `1.6` Nearest Neighbors
  doc/modules/neighbors.rst
Labels: Documentation

#28419 DOC correct Xy shape in `lars_path` and `lars_path_gram`
  sklearn/linear_model/_least_angle.py
Labels: Documentation, module:linear_model

#28424 DOC Fix typos in doc of metadata requesting
  doc/metadata_routing.rst
Labels: Documentation

#28383 CI Use Python 3.12 in scipy-dev
  azure-pipelines.yml
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  examples/applications/plot_out_of_core_classification.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_twenty_newsgroups.py
  sklearn/utils/_testing.py
  sklearn/utils/fixes.py
Labels: Build / CI, module:utils, No Changelog Needed

#28420 MAINT Update Pyodide version to 0.25.0
  azure-pipelines.yml
  doc/jupyter-lite.json
Labels: To backport

#28423 REL scikit-learn 1.4.1.post1
  doc/templates/index.html
  doc/whats_new/v1.4.rst
  setup.py
  sklearn/__init__.py
Labels: No Changelog Needed

#28426 REVERT DOC Fix typo - a better typo
  doc/metadata_routing.rst
Labels: Documentation

#27922 DOC: Added drop down menus to `6.3` Preprocessing Data
  doc/modules/preprocessing.rst
Labels: Documentation

#27915 DOC: Added drop down menus to `1.11` Ensemble Methods
  doc/modules/ensemble.rst
Labels: Documentation

#28417 DOC update funders about page and index
  doc/about.rst
  doc/images/probabl.png
  doc/templates/index.html
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation, To backport

#27921 DOC: Added drop down menus to `3.1` Cross Validation
  doc/modules/cross_validation.rst
Labels: Documentation

#28415 DOC [PST] better integrate gallery with `pydata-sphinx-theme`
  doc/conf.py
  doc/sphinxext/move_gallery_links.py
  examples/README.txt
Labels: Documentation, No Changelog Needed

#28436 DOC update funders about page and index (#28417)
  doc/about.rst
  doc/images/probabl.png
  doc/templates/index.html
  doc/themes/scikit-learn-modern/static/css/theme.css
Labels: Documentation, No Changelog Needed

#25991 ENH FeatureUnion: Add verbose_feature_names_out parameter
  doc/whats_new/v1.5.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Waiting for Second Reviewer

#28092 [API, MAINT] Deprecate usage of `y_prob` and `probas_pred` in `sklearn.metrics`
  doc/whats_new/v1.5.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics

#28441 CI Adds environment to upload_anaconda
  .github/workflows/wheels.yml
Labels: Build / CI

#28439 DOC merge section medata routing in 1.4 changelog
  doc/whats_new/v1.4.rst
Labels: Documentation, To backport

#28425 FIX Allow alpha 0 when not using LOO in `RidgeCV`
  doc/modules/linear_model.rst
  sklearn/linear_model/_ridge.py
Labels: module:linear_model

#28444 CI Adds environment to upload_anaconda (#28441)
  .github/workflows/wheels.yml
Labels: Build / CI, No Changelog Needed

#28457 DOC fix jupyterlab and binder could not find `polars`
  .binder/requirements.txt
  doc/conf.py
Labels: Documentation

#28445 CI Adds environment for publishing to pypi
  .github/workflows/publish_pypi.yml
Labels: Build / CI, No Changelog Needed

#28360 ENH Adds multimetric support to check_scoring
  doc/whats_new/v1.5.rst
  sklearn/inspection/_permutation_importance.py
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:inspection, module:metrics

#28411 DOC Add note clarifying how f measures are calculated
  doc/modules/model_evaluation.rst
Labels: Documentation

#28435 FIX default metadata requests when set via class attributes
  doc/whats_new/v1.4.rst
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: module:linear_model, module:utils

#28416 DOC Correct PCA documentation about sparse input
  sklearn/decomposition/_pca.py
Labels: Documentation, module:decomposition

#28223 DOC Mentioned efficiency and precision issues in glossary.rst
  doc/glossary.rst
Labels: Documentation

#28466 CI Adds environment for publishing to pypi (#28445)
  .github/workflows/publish_pypi.yml
Labels: Build / CI, No Changelog Needed

#28480 DOC `TransformedTargetRegressor` docstring mentions that `inverse_func` needs to be set together with `func`
  sklearn/compose/_target.py
Labels: Documentation, module:compose

#28453 ENH minor improvement of binomial hessian
  sklearn/_loss/_loss.pyx.tp
Labels: Quick Review, Waiting for Second Reviewer

#28477 TST Add test `alpha=0.0` raises when `cv=None` for `_BaseRidgeCV`
  doc/whats_new/v1.5.rst
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#28451 MNT move sum_parallel to arrayfuncs
  setup.py
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/ensemble/_hist_gradient_boosting/meson.build
  sklearn/ensemble/_hist_gradient_boosting/utils.py
  sklearn/ensemble/_hist_gradient_boosting/utils.pyx
  sklearn/utils/arrayfuncs.pyx
Labels: module:ensemble, module:utils, cython, Quick Review, Waiting for Second Reviewer

#28489 MAINT Direct import from libcpp within Cython3.0+ for pairwise distances reduction
  sklearn/metrics/_pairwise_distances_reduction/_middle_term_computer.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
Labels: module:metrics, cython, Quick Review

#28482 MAINT cleanup utils.__init__: move check_matplotlib/pandas_support into dedicated submodule
  sklearn/datasets/_arff_parser.py
  sklearn/datasets/_base.py
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/test_openml.py
  sklearn/inspection/_partial_dependence.py
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/regression.py
  sklearn/model_selection/_plot.py
  sklearn/utils/__init__.py
  sklearn/utils/_optional_dependencies.py
  sklearn/utils/_plotting.py
Labels: No Changelog Needed, Quick Review, Waiting for Second Reviewer

#28481 MAINT cleanup utils.__init__: move safe_sqr and _approximate_mode into extmath
  sklearn/model_selection/_split.py
  sklearn/utils/__init__.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
  sklearn/utils/tests/test_utils.py
Labels: module:model_selection, module:utils, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#28432 [FEA] Add metadata routing to `BaggingClassifier` and `BaggingRegressor`
  doc/metadata_routing.rst
  doc/whats_new/v1.5.rst
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_iforest.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:ensemble

#28493 [DOC] Improve documentation of DBSCAN memory use
  sklearn/cluster/_dbscan.py
Labels: Documentation, module:cluster

#28231 DOC: improve plot_compare_calibration.py
  examples/calibration/plot_compare_calibration.py
Labels: Documentation, No Changelog Needed

#28497 DOC Add int to `score` return value `accuracy_score`
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics, Quick Review

#28486 MAINT cleanup utils.__init__: move openblas check into fixes
  sklearn/metrics/_pairwise_distances_reduction/_argkmin.pyx.tp
  sklearn/metrics/_pairwise_distances_reduction/_radius_neighbors.pyx.tp
  sklearn/utils/__init__.py
  sklearn/utils/_testing.py
  sklearn/utils/fixes.py
Labels: module:metrics, module:utils, No Changelog Needed, cython, Quick Review

#28502 DOC: improve plot_compare_calibration.py (#28231)
  examples/calibration/plot_compare_calibration.py
Labels: Documentation, No Changelog Needed

#28331 DOC [PST] landing page
  doc/conf.py
  doc/index.rst
  doc/scss/colors.scss
  doc/scss/custom.scss
  doc/scss/index.scss
  doc/scss/install.scss
  doc/sphinxext/add_toctree_functions.py
  doc/templates/index.html
Labels: Documentation, No Changelog Needed

#27584 FEA Metadata routing for VotingClassifier and VotingRegressor
  doc/metadata_routing.rst
  doc/whats_new/v1.5.rst
  sklearn/compose/tests/test_column_transformer.py
  sklearn/ensemble/_base.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:ensemble, module:utils, Waiting for Second Reviewer

#26991 DOC Add example showcasing HGBT regression
  doc/modules/ensemble.rst
  doc/templates/index.html
  examples/ensemble/plot_adaboost_regression.py
  examples/ensemble/plot_forest_hist_grad_boosting_comparison.py
  examples/ensemble/plot_gradient_boosting_categorical.py
  examples/ensemble/plot_gradient_boosting_quantile.py
  examples/ensemble/plot_gradient_boosting_regression.py
  examples/ensemble/plot_hgbt_regression.py
  examples/release_highlights/plot_release_highlights_0_23_0.py
  examples/release_highlights/plot_release_highlights_1_1_0.py
  examples/release_highlights/plot_release_highlights_1_3_0.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation

#28500 CI Use same install script for Windows as the other builds
  build_tools/azure/install.sh
  build_tools/azure/install_win.sh
  build_tools/azure/windows.yml
Labels: Build / CI, Quick Review

#28475 MAINT Replace setup_module by pytest fixtures
  sklearn/datasets/tests/test_lfw.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:datasets, module:metrics, No Changelog Needed

#28070 MNT proper init of class variables of TreeNode in HGBT
  sklearn/ensemble/_hist_gradient_boosting/grower.py
Labels: No Changelog Needed, Quick Review, Waiting for Second Reviewer

#28495 MAINT cleanup utils.__init__: move nan utils into dedicated submodule
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/impute/_base.py
  sklearn/impute/_iterative.py
  sklearn/impute/_knn.py
  sklearn/metrics/pairwise.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/utils/__init__.py
  sklearn/utils/_encode.py
  sklearn/utils/_mask.py
  sklearn/utils/_missing.py
  sklearn/utils/_pprint.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_utils.py
Labels: No Changelog Needed, Quick Review

#28510 DOC Fix user guide math typo in OMP section
  doc/modules/linear_model.rst
Labels: Documentation, Quick Review

#28514 MNT Update fetch_openml delay param range
  sklearn/datasets/_openml.py
Labels: module:datasets

#28471 API Deprecate `n_iter` in favour of `max_iter` for `TSNE`
  doc/whats_new/v1.5.rst
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/neighbors/tests/test_neighbors_pipeline.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:manifold

#28338 CI Fix nogil build
  build_tools/azure/python_nogil_lock.txt
  build_tools/azure/python_nogil_requirements.txt
Labels: Build / CI, Quick Review

#28518 DOC use n_iter instead of max_iter for TSNE and MDS examples
  examples/manifold/plot_compare_methods.py
  examples/manifold/plot_lle_digits.py
  examples/manifold/plot_t_sne_perplexity.py
Labels: Documentation

#27576 TST separate checks for sparse array and sparse matrix input in `estimator_checks`
  doc/whats_new/v1.5.rst
  sklearn/cluster/_bicluster.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/multioutput.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:cluster, module:utils, No Changelog Needed

#28171 DOC more precise calibration wording
  doc/modules/calibration.rst
Labels: Documentation, No Changelog Needed

#28483 ENH `TransformedTargetRegressor.fit()` raises if only `inverse_func` is provided
  doc/whats_new/v1.5.rst
  sklearn/compose/_target.py
  sklearn/compose/tests/test_target.py
Labels: module:compose

#28427 DOC Add a docstring example for sklearn.datasets.make_checkerboard
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets, Quick Review, Waiting for Second Reviewer

#28516 MAINT cleanup utils.__init__: move chunking tools into dedicated submodule
  sklearn/cluster/_optics.py
  sklearn/datasets/_arff_parser.py
  sklearn/ensemble/_iforest.py
  sklearn/metrics/pairwise.py
  sklearn/utils/__init__.py
  sklearn/utils/_chunking.py
  sklearn/utils/tests/test_chunking.py
  sklearn/utils/tests/test_utils.py
Labels: No Changelog Needed, Quick Review

#28539 Fix typo in comment in `TSNE`
  sklearn/manifold/_t_sne.py
Labels: module:manifold, Quick Review

#26619 DOC Add dropdowns to Module 2.3 Clustering
  doc/modules/clustering.rst
Labels: Documentation, Waiting for Reviewer

#28511 DOC [PST] use jinja2 template for rst generation
  .gitignore
  doc/conf.py
  doc/index.rst.template
  doc/min_dependency_substitutions.rst.template
  doc/min_dependency_table.rst.template
Labels: Documentation, No Changelog Needed

#28515 MAINT cleanup utils.__init__: move masking tools into utils._mask
  sklearn/ensemble/_bagging.py
  sklearn/linear_model/_huber.py
  sklearn/utils/__init__.py
  sklearn/utils/_mask.py
Labels: module:ensemble, module:linear_model, module:utils, No Changelog Needed, Quick Review

#28465 DOC Add a note on the min_samples parameter of HDBSCAN
  sklearn/cluster/_hdbscan/hdbscan.py
Labels: Documentation, module:cluster

#28540 DOC Fix `GroupKFold` docstring
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#25010 MAINT Parameters validation for decomposition.dict_learning_online
  sklearn/decomposition/_dict_learning.py
  sklearn/tests/test_public_functions.py
Labels: module:decomposition, No Changelog Needed, Validation

#25579 MAINT Parameters validation for `sklearn.manifold.spectral_embedding`
  sklearn/cluster/_spectral.py
  sklearn/manifold/_spectral_embedding.py
  sklearn/tests/test_public_functions.py
Labels: module:manifold, No Changelog Needed, Validation

#28306 FIX correct NeighborhoodComponentsAnalysis (NCA) `_n_features_out` value
  doc/whats_new/v1.4.rst
  sklearn/neighbors/_nca.py
  sklearn/neighbors/tests/test_nca.py
Labels: module:neighbors

#28101 FIX make 'array-like' reject sparse containers in parameter validation
  doc/glossary.rst
  sklearn/cluster/_agglomerative.py
  sklearn/model_selection/_validation.py
  sklearn/neighbors/_graph.py
  sklearn/preprocessing/_label.py
  sklearn/utils/__init__.py
  sklearn/utils/tests/test_param_validation.py
  sklearn/utils/validation.py
Labels: No Changelog Needed

#28290 DOC Added an example for the sklearn.datasets.get_data_home
  sklearn/datasets/_base.py
Labels: Documentation, module:datasets

#28498 ENH Select arpack for sparse inputs and do not raise error
  doc/whats_new/v1.5.rst
  sklearn/decomposition/_pca.py
  sklearn/decomposition/tests/test_pca.py
Labels: module:decomposition

#28538 DOC Add a docstring example for sklearn.feature_extraction.image.reconstruct_from_patches_2d
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction
