Repository scikit-learn/scikit-learn, pull requests merged in 2024-09, with the labels that each got.

#29753 TST Fix lfw doctest
  sklearn/datasets/_lfw.py
Labels: module:datasets, Quick Review

#29769 DOC Announce 2024 user survey on the stable doc
  doc/conf.py
Labels: Documentation, No Changelog Needed

#29712 TST move check_class_weight_balanced_linear_classifier to estimator checks
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Quick Review, Developer API

#29775 DOC update wording for MAPE formula
  doc/modules/model_evaluation.rst
Labels: Documentation

#29726 EXA Fix axis scaling in example `plot_ica_vs_pca.py`
  examples/decomposition/plot_ica_vs_pca.py
Labels: Quick Review

#29771 FIX update debian 32 bit CI config to avoid a SIMD related bug in numpy 1.24.2 on some GitHub Actions CI workers
  azure-pipelines.yml
  build_tools/azure/debian_32bit_lock.txt
  build_tools/azure/debian_32bit_requirements.txt
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/install.sh
  build_tools/azure/test_script.sh
  build_tools/update_environments_and_lock_files.py
  sklearn/svm/tests/test_svm.py
Labels: Build / CI, No Changelog Needed

#29699 TST allow categorisation of tests into API and legacy
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Developer API

#29702 TST refactor instance generation and parameter setting
  doc/sphinxext/allow_nan_estimators.py
  sklearn/decomposition/tests/test_pca.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_test_common/__init__.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed, Developer API

#29782 CI Handle unchanged lock-file in workflow triggering on comment
  build_tools/on_pr_comment_update_environments_and_lock_files.py
Labels: Build / CI

#29777 DOC Improve readability in `2.1.2. Variational Bayesian Gaussian Mixture` dropdown
  doc/modules/mixture.rst
Labels: Documentation

#29780 FIX accept infinite C in SVC and SVR
  doc/whats_new/v1.5.rst
  sklearn/svm/_base.py
  sklearn/svm/tests/test_svm.py
Labels: module:svm, Quick Review, Waiting for Second Reviewer

#28678 TST check if docstring items are equal between objects (functions, classes, etc.)
  sklearn/metrics/_classification.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:metrics, module:utils, No Changelog Needed, Waiting for Second Reviewer

#29786 DOC update the list of related projects
  doc/related_projects.rst
Labels: Documentation

#29728 DOC add MLJAR AutoML and supertree in related projects
  doc/related_projects.rst
Labels: Documentation

#27631 DOC Add dropdowns to User Guide section 3.2, "Tuning the hyper-parameters of an estimator"
  doc/modules/grid_search.rst
Labels: Documentation

#29788 DOC Improve the plot_gpy_noisy.py example
  examples/gaussian_process/plot_gpr_noisy.py
Labels: Documentation, Quick Review

#29762 BLD Add Meson OpenMP checks
  azure-pipelines.yml
  build_tools/check-meson-openmp-dependencies.py
  sklearn/cluster/meson.build
  sklearn/ensemble/_hist_gradient_boosting/meson.build
  sklearn/metrics/_pairwise_distances_reduction/meson.build
Labels: Build / CI

#27516 DOC `GradientBoosting*` will not implement monotonic constraints, use `HistGradientBoosting*` instead
  sklearn/ensemble/_gb.py
Labels: Documentation, module:ensemble, module:tree

#29776 DOC update KNNImputer `metric` parameter by describing the expected interface when passing a callable
  sklearn/impute/_knn.py
Labels: Documentation, module:impute

#29774 FIX improve doc and test for HTMLDocumentationLinkMixin
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:utils, No Changelog Needed

#29738 PERF speedup classification_report by attaching unique values to dtype.metadata
  doc/whats_new/v1.6.rst
  sklearn/metrics/_classification.py
  sklearn/utils/_array_api.py
  sklearn/utils/_unique.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_unique.py
Labels: module:metrics, module:utils

#29707 TST remove _required_parameters and improve instance generation
  doc/developers/develop.rst
  sklearn/base.py
  sklearn/compose/_column_transformer.py
  sklearn/decomposition/_dict_learning.py
  sklearn/ensemble/_base.py
  sklearn/model_selection/_classification_threshold.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed, Developer API

#29419 add sample weight to default scoring _log_reg_scoring_path
  doc/whats_new/v1.6.rst
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model

#29796 Make check_sample_weights_invariance cv-aware
  sklearn/calibration.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_ridge.py
  sklearn/tests/test_calibration.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer

#29442 Fix elasticnect cv sample weight
  doc/whats_new/v1.6.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model, Waiting for Second Reviewer

#29815 DOC fix entry in changelog for backport happening in 1.5.2
  doc/whats_new/v1.5.rst
  doc/whats_new/v1.6.rst
Labels: Documentation, To backport

#29814 Raise RuntimeError instead of a warning when using array API without setting SCIPY_ARRAY_API=1
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed, Array API

#29819 DOC update the list of contributors for 1.5.2
  doc/whats_new/v1.5.rst
Labels: To backport

#29816 DOC update date for the 1.5.2 release
  doc/templates/index.html
  doc/whats_new/v1.5.rst
Labels: Documentation, To backport

#29817 DOC Fix release checklist
  doc/developers/maintainer.rst.template
Labels: Documentation

#29826 TST move check_f_contiguous_array_estimator to common tests
  sklearn/tests/test_common.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Developer API

#29828 DOC fix typo in the name of Silverman for KDE bandwidth estimation
  doc/modules/density.rst
Labels: Documentation

#29806 DOC add BiocSklearn into the related project page
  doc/related_projects.rst
Labels: Documentation

#29824 TST enable testing for multiple instances in common tests
  doc/sphinxext/allow_nan_estimators.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, No Changelog Needed, Developer API

#29700 DOC update sphinx-gallery 0.17.1 and remove our workaround
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  doc/conf.py
  doc/scss/custom.scss
  doc/sphinxext/move_gallery_links.py
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Documentation, No Changelog Needed

#29476 FIX sparse arrays not included in array API dispatch
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_validation.py
Labels: module:utils, No Changelog Needed

#29801 TST improve error message on _more_tags and _get_tags deprecation
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Developer API

#29820 TST allow setting per test settings for estimators
  sklearn/cluster/_bicluster.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
Labels: module:utils, Developer API

#29751 Fixed array api support for MinMaxScaler with clip=True
  doc/whats_new/v1.6.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing, Array API

#29839 CI Use Meson 1.5 in no-OpenMP build
  build_tools/azure/install.sh
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#29841 DOC add fetch_file into the API reference
  doc/api_reference.py
Labels: Documentation

#29724 Add _voting.py file with voting regressor implementation
  sklearn/ensemble/_voting.py
Labels: module:ensemble

#29851 MNT ignore .env file
  .gitignore
Labels: No Changelog Needed

#29835 PERF Slightly speedup MinCovDet.
  doc/whats_new/v1.6.rst
  sklearn/covariance/_robust_covariance.py
Labels: module:covariance

#29848 DOC fix all unintentional block quotes in docs
  doc/modules/manifold.rst
  doc/modules/model_evaluation.rst
  doc/modules/multiclass.rst
  examples/applications/plot_face_recognition.py
  examples/applications/plot_species_distribution_modeling.py
  examples/applications/wikipedia_principal_eigenvector.py
  examples/compose/plot_compare_reduction.py
  examples/compose/plot_transformed_target.py
  examples/datasets/plot_random_multilabel_dataset.py
  examples/ensemble/plot_forest_importances_faces.py
  examples/ensemble/plot_stack_predictors.py
  examples/impute/plot_missing_values.py
  examples/inspection/plot_linear_model_coefficient_interpretation.py
  examples/linear_model/plot_ard.py
  examples/linear_model/plot_lasso_and_elasticnet.py
  examples/miscellaneous/plot_display_object_visualization.py
  examples/miscellaneous/plot_multilabel.py
  examples/miscellaneous/plot_pipeline_display.py
  examples/multiclass/plot_multiclass_overview.py
  examples/neighbors/plot_species_kde.py
  examples/svm/plot_svm_scale_c.py
  examples/tree/plot_unveil_tree_structure.py
  sklearn/cluster/_bisect_k_means.py
  sklearn/compose/_target.py
  sklearn/datasets/_base.py
  sklearn/datasets/_lfw.py
  sklearn/datasets/_svmlight_format_io.py
  sklearn/datasets/descr/species_distributions.rst
  sklearn/datasets/descr/twenty_newsgroups.rst
  sklearn/decomposition/_lda.py
  sklearn/decomposition/_nmf.py
  sklearn/discriminant_analysis.py
  sklearn/ensemble/_iforest.py
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/_rfe.py
  sklearn/gaussian_process/_gpr.py
  sklearn/inspection/_plot/partial_dependence.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_ransac.py
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/metrics/_dist_metrics.pyx.tp
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/pairwise.py
  sklearn/mixture/_bayesian_mixture.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/_validation.py
  sklearn/naive_bayes.py
  sklearn/pipeline.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_polynomial.py
  sklearn/random_projection.py
  sklearn/tree/_classes.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/multiclass.py
Labels: Documentation

#29863 MAINT filename typo `test_monotonic_contraints` -> `constraints`
  sklearn/ensemble/_hist_gradient_boosting/tests/test_monotonic_constraints.py
Labels: No Changelog Needed

#29831 TST Add test to check docstring consistency of stacking estimators
  sklearn/ensemble/_stacking.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
Labels: module:ensemble, module:utils, No Changelog Needed

#29857 DOC add more developer doc in RidgeGCV
  sklearn/linear_model/_ridge.py
Labels: Documentation, module:linear_model

#29877 FIX RidgeCV works with multioutput and sample-weight non-default score
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed

#29842 FIX scoring != None for RidgeCV should used unscaled y for evaluation
  doc/whats_new/v1.6.rst
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model

#29886 DOC fix typos introduced in #29842
  doc/whats_new/v1.6.rst
  sklearn/linear_model/tests/test_ridge.py
Labels: Documentation, module:linear_model, No Changelog Needed

#29885 MAINT redirect the URL of the machine learning map (#29879)
  doc/conf.py
Labels: No Changelog Needed

#29884 TST check that we support multioutput custom scorer in RidgeCV
  doc/whats_new/v1.6.rst
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, Quick Review

#29892 MAINT remove wrong redirection machine learning map
  doc/conf.py
Labels: To backport

#29897 MNT Correct typos and simplify logic
  sklearn/cluster/_hdbscan/_linkage.pyx
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/_tree.pyx
Labels: module:cluster, cython, Waiting for Second Reviewer

#29789 MAINT Add Python 3.13 wheels
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/Windows
  build_tools/github/build_minimal_windows_image.sh
  build_tools/wheels/cibw_before_test.sh
Labels: Build / CI

#29869 TST fix estimator checks when set_output is called on the instance
  doc/whats_new/v1.6.rst
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, Developer API

#29844 TST move check_n_features_in_after_fitting to common tests
  sklearn/neighbors/_classification.py
  sklearn/neighbors/_regression.py
  sklearn/tests/test_common.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer, Developer API

#29932 DOC Fix a typo in the model evaluation doc
  doc/modules/model_evaluation.rst
Labels: Documentation

#29871 DOC add link to plot_cost_complexity_pruning.py example in DecisionTree, RandomForest and GradientBoostingTrees
  sklearn/ensemble/_forest.py
  sklearn/ensemble/_gb.py
  sklearn/tree/_classes.py
Labels: Documentation, module:tree

#29709 ENH add support for array API to various metric
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics, Array API

#29939 DOC: make it explicit that `groups` is used to perform the split in `GridSearch CV`
  sklearn/model_selection/_search.py
Labels: Documentation, module:model_selection

#29931 DOC remove example showing a single image from digits dataset
  doc/conf.py
  examples/datasets/plot_digits_last_image.py
Labels: Documentation

#29955 DOC Merge Lasso Lasso-LARS and ElasticNet examples together
  doc/conf.py
  doc/modules/linear_model.rst
  examples/linear_model/plot_lasso_coordinate_descent_path.py
  examples/linear_model/plot_lasso_lars.py
  examples/linear_model/plot_lasso_lasso_lars_elasticnet_path.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation

#29933 DOC: replace plot_random_dataset with snippets in docstrings
  doc/conf.py
  doc/datasets/sample_generators.rst
  examples/datasets/plot_random_dataset.py
  sklearn/datasets/_samples_generator.py
Labels: Documentation, module:datasets

#29918 MAINT Clean up deprecations for 1.6: in MiniBatchDictionaryLearning
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_sparse_pca.py
  sklearn/decomposition/tests/test_dict_learning.py
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition, No Changelog Needed, Quick Review
