Repository scikit-learn/scikit-learn, pull requests merged in 2024-07, with the labels that each got.

#29314 Fix a regression in GridSearchCV for parameter grids that have arrays of different sizes as parameter values
  doc/whats_new/v1.5.rst
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
Labels: module:model_selection

#29377 DOC Set 1.5.1 release month
  doc/templates/index.html
  doc/whats_new/v1.5.rst
Labels: Documentation

#29331 DOC Fix tree explanation of `tree_.value` in example
  doc/whats_new/v1.4.rst
  examples/tree/plot_unveil_tree_structure.py
Labels: Documentation

#28622 ENH Enable prediction of isolation forest in parallel
  benchmarks/bench_isolation_forest_predict.py
  doc/whats_new/v1.6.rst
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_iforest.py
Labels: module:ensemble

#29336 FIX: `accuracy` and `zero_loss` support for multilabel with Array API
  doc/whats_new/v1.5.rst
  sklearn/metrics/_classification.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, Array API

#28967 DOC Improve `plot_precision_recall`
  examples/model_selection/plot_precision_recall.py
Labels: Documentation

#29160 DOC tweak appearance of installation instructions
  doc/install.rst
  doc/install_instructions_conda.rst
  doc/scss/install.scss
Labels: Documentation

#29393 DOC fix the caption of installation tabs
  doc/scss/install.scss
Labels: Documentation

#29398 MNT remove unused mixin class in TransformedTargetRegressor
  sklearn/compose/_target.py
Labels: module:compose

#29387 Quick fix for new version of array_api_strict
  sklearn/utils/_array_api.py
Labels: module:utils

#29386 Fix for making the initial binning in HGBT parallel
  sklearn/ensemble/_hist_gradient_boosting/binning.py
Labels: module:ensemble

#29405 DOC Rephrase Datasets guide introduction
  doc/datasets.rst
Labels: Documentation

#29356 DOC Update funding information
  doc/about.rst
  doc/templates/index.html
Labels: Documentation

#29408 CI Fix Assign workflow
  .github/workflows/assign.yml
Labels: Build / CI, Quick Review

#29311 DOC: Added ref to `SpectralBiclustering`
  sklearn/cluster/_bicluster.py
Labels: Documentation, module:cluster, Waiting for Second Reviewer

#29415 MAINT Use python3 rather than python in build script shebang
  sklearn/_build_utils/version.py
Labels: Build / CI, Quick Review

#29329 FEA SLEP006: Metadata routing for `validation_curve`
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#29418 DOC Replace partial list of sprints with link to page with more complete links
  doc/about.rst
Labels: Documentation

#29401 FIX `TransformedTargetRegressor` warns when `set_output` expects dataframe
  doc/whats_new/v1.5.rst
  sklearn/compose/_target.py
  sklearn/compose/tests/test_target.py
Labels: module:compose, To backport, No Changelog Needed

#29321 fix: `mps` device support in `entropy`
  sklearn/metrics/cluster/_supervised.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, module:utils, No Changelog Needed, Array API

#29432 TST workaround arpack-ng regression in [scipy-dev]
  sklearn/utils/estimator_checks.py
Labels: Build / CI, module:utils, No Changelog Needed

#29388 MNT Update main-ci lock files
  build_tools/azure/debian_atlas_32bit_lock.txt
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pymin_conda_defaults_openblas_linux-64_conda.lock
  build_tools/azure/pymin_conda_forge_mkl_win-64_conda.lock
  build_tools/azure/pymin_conda_forge_openblas_ubuntu_2204_linux-64_conda.lock
  build_tools/circle/doc_environment.yml
  build_tools/circle/doc_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  doc/conftest.py
  doc/modules/feature_extraction.rst
  doc/modules/multiclass.rst
  sklearn/conftest.py
  sklearn/feature_extraction/image.py
  sklearn/utils/_indexing.py
  sklearn/utils/validation.py
Labels: Build / CI, module:feature_extraction, module:utils, No Changelog Needed

#28494 FEA SLEP006: Metadata routing for `SelfTrainingClassifier`
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/semi_supervised/_self_training.py
  sklearn/semi_supervised/tests/test_self_training.py
  sklearn/tests/metadata_routing_common.py
  sklearn/tests/test_metaestimators_metadata_routing.py
  sklearn/tests/test_pipeline.py
Labels: module:semi_supervised

#29263 DOC Update doc for `min_samples` in HDBSCAN
  sklearn/cluster/_hdbscan/_reachability.pyx
  sklearn/cluster/_hdbscan/hdbscan.py
Labels: Documentation, module:cluster, cython

#29380 DOC Fix UserWarning in plot_gpr_prior_posterior
  examples/gaussian_process/plot_gpr_prior_posterior.py
Labels: Documentation

#29371 Update biclustering documentation new scipy algorithm (#29282)
  doc/modules/biclustering.rst
  sklearn/metrics/cluster/_bicluster.py
Labels: Documentation, module:metrics, Waiting for Second Reviewer

#29435 DOC Add lock-file trick to help debug CI issues
  doc/developers/tips.rst
Labels: Documentation, Build / CI

#29376 CI Move CUDA CI to `pull_request` trigger
  .github/workflows/cuda-gpu-ci.yml
  .github/workflows/update-lock-files.yml
Labels: Build / CI, Array API

#29436 Fix tests for numpy 2 and array api compat
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed

#29445 CI Unpin PyTorch in pylatest_conda_forge_mkl build
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, Quick Review

#28268 FEA Support missing-values in `ExtraTrees*`
  doc/whats_new/v1.6.rst
  sklearn/ensemble/tests/test_forest.py
  sklearn/tree/_classes.py
Labels: module:ensemble, module:tree, cython

#29447 DOC Link to right user guide section in `StratifiedGroupKFold` docstring
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection, Quick Review

#28179 ENH verbose >= 2 for per iteration info in HGBT
  doc/whats_new/v1.6.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble, Quick Review, Waiting for Second Reviewer

#29444 CI Update pylatest-pip-openblas-pandas build to Python 3.11
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#29402 FIX Improve error message when RepeatedStratifiedKFold.split is called without a y argument
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_split.py
  sklearn/model_selection/tests/test_split.py
Labels: module:model_selection, Quick Review, Waiting for Second Reviewer

#29266 FEAT SLEP006 `permutation_test_score` to support metadata routing
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection, module:semi_supervised

#29354 ENH fetch_file to fetch data files by URL with retries, checksuming and local caching
  doc/whats_new/v1.6.rst
  examples/applications/plot_time_series_lagged_features.py
  sklearn/datasets/__init__.py
  sklearn/datasets/_base.py
  sklearn/datasets/tests/test_base.py
Labels: Waiting for Reviewer, module:datasets, Waiting for Second Reviewer

#29433 ENH Array API support for euclidean_distances and rbf_kernel
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/decomposition/_base.py
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, module:utils, Array API, CUDA CI

#29461 MAINT Remove scipy<1.6 specific code
  examples/linear_model/plot_quantile_regression.py
  sklearn/kernel_approximation.py
  sklearn/linear_model/_quantile.py
  sklearn/linear_model/tests/test_quantile.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/fixes.py
  sklearn/utils/optimize.py
Labels: module:linear_model, module:metrics, module:utils, No Changelog Needed

#29456 CI Move label removal to a separate workflow
  .github/workflows/cuda-ci.yml
  .github/workflows/cuda-label-remover.yml
Labels: Build / CI

#29474 DOC improve rendering of items in LDA
  sklearn/decomposition/_lda.py
Labels: Documentation, module:decomposition

#29265 array API support for cosine_distances
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/pairwise.py
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
Labels: module:metrics, module:utils, Array API

#29300 array API support for mean_absolute_percentage_error
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#29471 EXA Use tick_labels in boxplot for matplotlib>=3.9
  examples/ensemble/plot_gradient_boosting_regression.py
  examples/inspection/plot_permutation_importance_multicollinear.py
  examples/release_highlights/plot_release_highlights_0_22_0.py
Labels: Build / CI

#29230 DOC Elaborate on the criterion used for poisson regression using decision trees.
  doc/modules/tree.rst
  sklearn/tree/_classes.py
Labels: Documentation, module:tree, Quick Review, Waiting for Second Reviewer

#29482 MAINT Remove MANIFEST.in that was a setuptools thing
  MANIFEST.in
Labels: Build / CI, Quick Review

#29488 Fix changed return type dtype for array API
  build_tools/github/pylatest_conda_forge_cuda_array-api_linux-64_conda.lock
  sklearn/decomposition/_base.py
  sklearn/discriminant_analysis.py
Labels: module:decomposition, Array API

#29489 DOC improved documentation for `MethodPair` and `RouterMappingPair`
  sklearn/utils/_metadata_requests.py
Labels: Documentation, module:utils

#29460 MAINT Clean-up some old warning filters
  sklearn/cluster/tests/test_spectral.py
  sklearn/decomposition/tests/test_factor_analysis.py
  sklearn/ensemble/tests/test_forest.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/inspection/tests/test_partial_dependence.py
  sklearn/linear_model/tests/test_least_angle.py
  sklearn/linear_model/tests/test_sgd.py
  sklearn/manifold/tests/test_spectral_embedding.py
  sklearn/metrics/cluster/tests/test_common.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/model_selection/tests/test_validation.py
  sklearn/preprocessing/tests/test_label.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_multioutput.py
  sklearn/tree/tests/test_tree.py
  sklearn/utils/tests/test_multiclass.py
Labels: No Changelog Needed, Quick Review

#29510 MNT convert `unsigned char` to `uint8_t`
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/_tree.pxd
  sklearn/tree/_tree.pyx
  sklearn/tree/_utils.pxd
  sklearn/tree/_utils.pyx
Labels: module:tree, No Changelog Needed, cython, Quick Review

#29490 Fix array api in mean_absolute_percentage_error for older versions
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
Labels: module:metrics, No Changelog Needed

#29441 Fixing NeighborhoodComponentAnalysis documentation.
  sklearn/neighbors/_nca.py
Labels: module:neighbors

#29462 MAINT Deprecate scoring='max_error' and replace it by scoring='neg_max_error'
  doc/modules/model_evaluation.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
Labels: module:metrics

#29527 DOC Fix documentation example sparsefuncs_fast (#29526)
  sklearn/utils/sparsefuncs_fast.pyx
Labels: Documentation, module:utils, cython

#29525 MAINT Remove assert_no_warnings from tests
  sklearn/compose/tests/test_target.py
  sklearn/metrics/tests/test_classification.py
  sklearn/preprocessing/tests/test_encoders.py
  sklearn/tests/test_base.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed, Quick Review

#29492 ENH Adjust estimator representation beyond `maxlevels`
  sklearn/utils/_pprint.py
  sklearn/utils/tests/test_pprint.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer

#29528 MAINT Clean-up some testing utils
  sklearn/linear_model/tests/test_coordinate_descent.py
  sklearn/tests/test_base.py
  sklearn/utils/_testing.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_testing.py
Labels: module:linear_model, module:utils, No Changelog Needed, Quick Review

#29458 MAINT Pull apart Splitter and Partitioner in the sklearn/tree code
  sklearn/tree/_partitioner.pxd
  sklearn/tree/_partitioner.pyx
  sklearn/tree/_splitter.pxd
  sklearn/tree/_splitter.pyx
  sklearn/tree/meson.build
Labels: module:tree, No Changelog Needed, cython, Quick Review, Waiting for Second Reviewer

#29493 DOC fix dropdown anchor and collapse-all button in `sphinx-design==0.6.0`
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  doc/js/scripts/dropdown.js
  doc/scss/custom.scss
  doc/sphinxext/dropdown_anchors.py
  pyproject.toml
  sklearn/_min_dependencies.py
Labels: Documentation

#29158 ENH improve HTML display of `FunctionTransformer`
  doc/whats_new/v1.6.rst
  sklearn/preprocessing/_function_transformer.py
  sklearn/utils/_estimator_html_repr.css
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:preprocessing, module:utils, Waiting for Second Reviewer

#29538 BLD Build wheels against released version of our dependencies
  build_tools/github/upload_anaconda.sh
  build_tools/wheels/build_wheels.sh
Labels: Quick Review

#29511 MAINT Clean-up more warning filters
  sklearn/decomposition/tests/test_nmf.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
  sklearn/inspection/_plot/tests/test_plot_partial_dependence.py
  sklearn/linear_model/tests/test_ridge.py
  sklearn/manifold/tests/test_t_sne.py
  sklearn/metrics/_plot/tests/test_confusion_matrix_display.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/tests/test_classification.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_pairwise.py
  sklearn/metrics/tests/test_ranking.py
  sklearn/mixture/tests/test_bayesian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
  sklearn/model_selection/tests/test_search.py
  sklearn/model_selection/tests/test_split.py
  sklearn/neighbors/tests/test_neighbors.py
  sklearn/neural_network/tests/test_mlp.py
  sklearn/svm/tests/test_svm.py
  sklearn/tests/test_base.py
  sklearn/tests/test_common.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_dummy.py
  sklearn/tests/test_multiclass.py
  sklearn/tests/test_naive_bayes.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed

#29446 DOC Add class link in `GroupShuffleSplit` docstring
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection, Quick Review

#29412 DOC reorganize the maintainer info page
  .gitignore
  doc/conf.py
  doc/developers/maintainer.rst
  doc/developers/maintainer.rst.template
  doc/install.rst
  doc/scss/custom.scss
  doc/scss/install.scss
Labels: Documentation

#29449 DOC Add note on cv splits in `CalibratedClassifierCV` missing classes
  doc/modules/calibration.rst
Labels: Documentation

#29389 adding array api test cases for paired_euclidean_distances
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Quick Review, Waiting for Second Reviewer, Array API

#29227 array API support for mean_poisson_deviance
  .github/workflows/cuda-ci.yml
  azure-pipelines.yml
  doc/modules/array_api.rst
  doc/whats_new/v1.6.rst
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:metrics, Array API

#29063 DOC Add quantile loss to user guide on HGBT regression
  doc/modules/ensemble.rst
Labels: Documentation

#29544 DOC fix links in the machine learning map
  doc/images/ml_map.svg
Labels: Documentation

#28029 ENH replace Cython loss functions in SGD part 2
  sklearn/linear_model/__init__.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_sag.py
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/_sgd_fast.pxd
  sklearn/linear_model/_sgd_fast.pyx.tp
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/meson.build
  sklearn/linear_model/tests/test_sag.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, No Changelog Needed, cython

#28934 ENH add possibility to have a callable for verbose_feature_names_out of ColumnTransformer
  doc/whats_new/v1.6.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose

#28037 MNT replace Cython loss functions in SGD part 3
  sklearn/_loss/_loss.pxd
  sklearn/_loss/_loss.pyx.tp
  sklearn/_loss/tests/test_loss.py
  sklearn/linear_model/_sag_fast.pyx.tp
  sklearn/linear_model/tests/test_sag.py
Labels: module:linear_model, No Changelog Needed, cython

#29541 CI Use correct Python version in lock-file update script for Debian 32bit build
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI, Quick Review

#29215 DOC add persistence methods table
  doc/model_persistence.rst
Labels: Documentation

#29216 MNT Moving `_CurveScorer` from `model_selection` to `metrics`
  sklearn/metrics/_scorer.py
  sklearn/metrics/tests/test_score_objects.py
  sklearn/model_selection/_classification_threshold.py
  sklearn/model_selection/tests/test_classification_threshold.py
Labels: module:metrics, module:model_selection, No Changelog Needed

#29559 DOC fixed typo in _rfe.py
  sklearn/feature_selection/_rfe.py
Labels: Documentation, module:feature_selection

#29561 MAINT Remove unused check-manifest config
  setup.cfg
Labels: Quick Review

#29562 MAINT Remove Cython generated files from .gitignore
  .gitignore
  sklearn/utils/tests/test_cython_templating.py
Labels: No Changelog Needed, Quick Review

#29566 DOC Added link to plot_mean_shift.py example to _mean_shift.py
  sklearn/cluster/_mean_shift.py
Labels: Documentation, module:cluster

#29572 CI Install pandas when testing the free threaded wheels
  .github/workflows/wheels.yml
  build_tools/wheels/cibw_before_test.sh
Labels: Build / CI

#29260 FEA Add metadata routing for SequentialFeatureSelector
  doc/metadata_routing.rst
  doc/whats_new/v1.6.rst
  sklearn/feature_selection/_sequential.py
  sklearn/feature_selection/tests/test_sequential.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: module:feature_selection
