Repository scikit-learn/scikit-learn, pull requests merged in 2025-01, with the labels that each got.

#30418 DOC Add link to random tree embedding example in docs
  sklearn/ensemble/_forest.py
Labels: Documentation, module:ensemble

#30451 FIX methods in model_selection/_validation accept params=None with metadata routing enabled
  doc/whats_new/upcoming_changes/sklearn.model_selection/30451.fix.rst
  sklearn/model_selection/_validation.py
  sklearn/model_selection/tests/test_validation.py
Labels: module:model_selection

#30395 ENH Add array api support for precision, recall and fbeta_score
  doc/modules/array_api.rst
  doc/whats_new/upcoming_changes/array-api/30395.feature.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, Array API

#30455 DOC Update maintainers doc now that we use towncrier
  doc/developers/maintainer.rst.template
Labels: Documentation

#30311 DOC add details regarding `decision_function` in the docstring of metrics
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics

#30557 FIX Uses log2 in tree building
  doc/whats_new/upcoming_changes/sklearn.tree/30557.fix.rst
  sklearn/tree/_partitioner.pyx
  sklearn/tree/tests/test_tree.py
Labels: module:tree, cython, Quick Review, Waiting for Second Reviewer

#30570 Fix a typo
  sklearn/preprocessing/_polynomial.py
Labels: module:preprocessing

#30429 DOC add link to plot_covariance_estimation example in docstrings and userguide
  sklearn/covariance/_shrunk_covariance.py
Labels: Documentation, module:covariance, module:model_selection

#30196 ENH Add parameter return_X_y to `make_classification`
  doc/whats_new/upcoming_changes/sklearn.datasets/30196.enhancement.rst
  sklearn/datasets/_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
Labels: module:datasets

#30495 DOC Update rst doctests to be compatible with numpy >= 2
  doc/conftest.py
  doc/developers/develop.rst
  doc/modules/classification_threshold.rst
  doc/modules/clustering.rst
  doc/modules/ensemble.rst
  doc/modules/linear_model.rst
  doc/modules/model_evaluation.rst
  doc/modules/preprocessing_targets.rst
  doc/modules/random_projection.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#30515 MNT Un-xfail SplitTransformer check_estimators_pickle common test
  sklearn/utils/_test_common/instance_generator.py
Labels: module:utils, Quick Review

#30581 DOC avoid version switcher dropdown being cut off by right boundary
  doc/scss/custom.scss
Labels: Documentation, Waiting for Second Reviewer

#30578 DOC fix formatting in maintainer information - releasing
  doc/developers/maintainer.rst.template
Labels: Documentation, Waiting for Second Reviewer

#30582 CI Use scipy 1.15 rather than scipy-dev for free-threaded build
  build_tools/azure/install.sh
Labels: Build / CI, Quick Review

#30473 DOC Clarify chi2 usage with continuous data
  sklearn/feature_selection/_univariate_selection.py
Labels: module:feature_selection

#30573 FIX change FutureWarnings to DeprecationWarnings for the tags
  doc/whats_new/upcoming_changes/many-modules/30573.fix.rst
  sklearn/base.py
  sklearn/utils/_tags.py
  sklearn/utils/tests/test_tags.py
Labels: module:utils

#30516 FIX warn if an estimator does have a concrete __sklearn_tags__ implementation
  doc/whats_new/upcoming_changes/sklearn.utils/30516.fix.rst
  sklearn/utils/_tags.py
  sklearn/utils/tests/test_tags.py
Labels: module:utils

#30583 TST Fix doctest due to GradientBoostingClassifier difference with scipy 1.15
  doc/common_pitfalls.rst
Labels: Quick Review, Waiting for Second Reviewer

#29845 DOC: Updates to Macro vs micro-averaging in plot_roc.py
  examples/model_selection/plot_roc.py
Labels: Documentation

#30607 CI Revert lock-file bot
  .github/workflows/update-lock-files-pr.yml
  build_tools/on_pr_comment_update_environments_and_lock_files.py
  doc/developers/contributing.rst
Labels: Build / CI

#30604 CI Add code scanning for Github Actions workflow files
  .github/workflows/codeql.yml
Labels: Build / CI

#30577 DOC add link to plot_lw_vs_oas example in docstrings
  sklearn/covariance/_shrunk_covariance.py
Labels: Documentation, module:covariance

#30613 MNT bump min pandas version to 1.2.0
  README.rst
  build_tools/azure/pymin_conda_forge_openblas_min_dependencies_environment.yml
  build_tools/azure/pymin_conda_forge_openblas_min_dependencies_linux-64_conda.lock
  build_tools/circle/doc_min_dependencies_environment.yml
  build_tools/circle/doc_min_dependencies_linux-64_conda.lock
  pyproject.toml
  sklearn/_min_dependencies.py
  sklearn/inspection/tests/test_permutation_importance.py
  sklearn/utils/tests/test_validation.py
Labels: module:inspection, module:utils, No Changelog Needed

#30580 DOC fix tooltip not showing up on the dropdown toggles
  doc/js/scripts/dropdown.js
Labels: Documentation, Waiting for Second Reviewer

#30619 REL Add 1.6.1 to news (in 1.6.X) (#30618)
  doc/templates/index.html
Labels: No Changelog Needed

#30521 Add `tol` to `LinearRegression`
  doc/whats_new/upcoming_changes/sklearn.linear_model/30521.fix.rst
  sklearn/linear_model/_base.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/_test_common/instance_generator.py
Labels: module:linear_model, Waiting for Second Reviewer

#30406 ENH Expose verbose_feature_names_out in make_union
  doc/whats_new/upcoming_changes/sklearn.pipeline/30406.enhancement.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Quick Review

#29727 FIX Avoid setting legend when labels are None in RocCurveDisplay kwargs
  doc/whats_new/upcoming_changes/sklearn.metrics/29727.fix.rst
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
Labels: module:metrics, Waiting for Second Reviewer

#30608 Filtering on the sparse tag to yield checks
  sklearn/utils/estimator_checks.py
Labels: module:utils, Quick Review, Waiting for Second Reviewer

#30351 DOC readability and clarity on `permutation_test_score` in userguide and example
  doc/modules/cross_validation.rst
  examples/model_selection/plot_permutation_tests_for_classification.py
  sklearn/model_selection/_split.py
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection, No Changelog Needed

#30630 DOC Improve color distinction in Gradient Boosting Regression.
  examples/ensemble/plot_gradient_boosting_quantile.py
Labels: Documentation

#30380 Propagate warnings to all workers in joblib
  doc/whats_new/upcoming_changes/sklearn.utils/30380.enhancement.rst
  sklearn/utils/parallel.py
  sklearn/utils/tests/test_parallel.py
Labels: module:utils

#30651 MNT Tweak towncrier fragments to follow guideline
  doc/whats_new/upcoming_changes/array-api/29978.feature.rst
  doc/whats_new/upcoming_changes/sklearn.linear_model/30521.fix.rst
  doc/whats_new/upcoming_changes/sklearn.pipeline/30406.enhancement.rst
Labels: Quick Review

#30654 DOC Fix link in contributing.rst
  doc/developers/contributing.rst
  doc/whats_new/upcoming_changes/README.md
Labels: Documentation

#30155 ENH add sample weight support to MLP
  doc/whats_new/upcoming_changes/sklearn.neural_network/30155.feature.rst
  sklearn/neural_network/_base.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/neural_network/tests/test_mlp.py
  sklearn/utils/_test_common/instance_generator.py
Labels: module:neural_network

#30644 FIX Sample weight in BayesianRidge
  doc/whats_new/upcoming_changes/sklearn.linear_model/30644.fix.rst
  sklearn/linear_model/_bayes.py
  sklearn/utils/_test_common/instance_generator.py
Labels: module:linear_model

#30415 PERF float32 propagation in GaussianMixture
  doc/whats_new/upcoming_changes/sklearn.mixture/30415.efficiency.rst
  sklearn/mixture/_base.py
  sklearn/mixture/_gaussian_mixture.py
  sklearn/mixture/tests/test_gaussian_mixture.py
Labels: Performance, module:mixture, float32, Waiting for Second Reviewer

#30496 CI Use scipy-doctest for more convenient doctests
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/test_docs.sh
  build_tools/update_environments_and_lock_files.py
  setup.cfg
  sklearn/conftest.py
Labels: Build / CI, module:utils

#30661 CI Update lock-file to fix broken pip on `main`
  build_tools/azure/pylatest_conda_forge_mkl_linux-64_conda.lock
Labels: Build / CI

#29288 ENH Add `replace_undefined_by` param to `class_likelihood_ratios`
  doc/modules/model_evaluation.rst
  doc/whats_new/upcoming_changes/sklearn.metrics/29288.enhancement.rst
  doc/whats_new/upcoming_changes/sklearn.metrics/29288.fix.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
  sklearn/utils/_param_validation.py
  sklearn/utils/tests/test_param_validation.py
Labels: module:metrics

#30658 CI Move linux arm64 wheels build to github actions
  .cirrus.star
  .github/workflows/wheels.yml
  build_tools/cirrus/arm_wheel.yml
  build_tools/github/check_build_trigger.sh
  build_tools/github/check_wheels.py
  doc/developers/contributing.rst
Labels: Build / CI

#30668 FIX update deprecated param for example using class_likelihood_ratios
  examples/model_selection/plot_likelihood_ratios.py
  sklearn/metrics/_scorer.py
Labels: module:metrics

#30681 CI Xfail test for Pyodide
  sklearn/utils/tests/test_parallel.py
Labels: Build / CI, module:utils, No Changelog Needed

#30483 FIX Restore support for n_samples == n_features in MinCovDet.
  doc/whats_new/upcoming_changes/sklearn.covariance/30483.fix.rst
  sklearn/covariance/_robust_covariance.py
  sklearn/covariance/tests/test_robust_covariance.py
Labels: module:covariance, To backport

#30665 DOC make the graph more readable
  examples/covariance/plot_robust_vs_empirical_covariance.py
Labels: Documentation

#30649 FIX Validate estimators in Voting{Classifier,Regressor}
  doc/whats_new/upcoming_changes/sklearn.ensemble/30649.fix.rst
  sklearn/ensemble/_base.py
  sklearn/ensemble/tests/test_voting.py
Labels: module:ensemble, Quick Review, Waiting for Second Reviewer

#30671 MNT Remove mypy ignores for missing imports
  sklearn/cluster/_agglomerative.py
  sklearn/linear_model/_least_angle.py
  sklearn/manifold/_t_sne.py
Labels: module:cluster, No Changelog Needed

#30691 DOC remove duplicate sentence fragment
  doc/modules/calibration.rst
Labels: Documentation

#30690 DOC Remove unused n_bins in plot_calibration.py
  examples/calibration/plot_calibration.py
Labels: Documentation

#30696 DOC Move legend to avoid blocking the graph
  examples/linear_model/plot_theilsen.py
Labels: Documentation

#30517 TST Use global_random_seed in sklearn/cluster/tests/test_mean_shift.py
  sklearn/cluster/tests/test_mean_shift.py
Labels: module:cluster, No Changelog Needed, Quick Review

#30576 DOC impact of stratification on the target class in cross-validation splitters
  doc/modules/cross_validation.rst
  sklearn/model_selection/_split.py
Labels: Documentation, Waiting for Reviewer, module:model_selection

#30709 MNT Revert "Remove mypy ignores for missing imports"
  sklearn/cluster/_agglomerative.py
  sklearn/linear_model/_least_angle.py
  sklearn/manifold/_t_sne.py
Labels: module:cluster, module:linear_model, module:manifold

#30660 MNT Fix typos found by codespell
  build_tools/circle/build_doc.sh
  build_tools/github/build_minimal_windows_image.sh
  doc/conf.py
  doc/modules/neighbors.rst
  doc/scss/custom.scss
  doc/whats_new/upcoming_changes/sklearn.inspection/30409.api.rst
  doc/whats_new/upcoming_changes/sklearn.linear_model/30521.fix.rst
  examples/ensemble/plot_hgbt_regression.py
  examples/model_selection/plot_cost_sensitive_learning.py
  examples/model_selection/plot_precision_recall.py
  examples/release_highlights/plot_release_highlights_1_6_0.py
  meson.build
  sklearn/calibration.py
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/tests/test_hdbscan.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/_weight_boosting.py
  sklearn/gaussian_process/_gpc.py
  sklearn/gaussian_process/_gpr.py
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_ridge.py
  sklearn/metrics/tests/test_dist_metrics.py
  sklearn/svm/_classes.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/tree/_partitioner.pxd
  sklearn/tree/tests/test_tree.py
  sklearn/utils/_mocking.py
  sklearn/utils/optimize.py
  sklearn/utils/parallel.py
  sklearn/utils/tests/test_array_api.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/validation.py
Labels: Documentation, No Changelog Needed, cython

#30706 MNT Remove unneeded skipping test logic
  doc/conftest.py
  sklearn/utils/tests/test_validation.py
Labels: No Changelog Needed, Quick Review

#30705 TST use global_random_seed in sklearn/preprocessing/tests/test_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:test-suite, No Changelog Needed, Quick Review

#30688 MNT Change LinearRegression default tol to not break behavior
  sklearn/linear_model/_base.py
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model, No Changelog Needed

#30469 DOC add scikit-learn MOOC and course materials on the FAQ page
  doc/faq.rst
  doc/presentations.rst
Labels: Documentation

#30710 MNT Remove duplicated blank issue option
  .github/ISSUE_TEMPLATE/config.yml
Labels: Quick Review

#30711 DOC Rework SVM weighted samples example
  examples/svm/plot_weighted_samples.py
Labels: Documentation, Quick Review

#30715 DOC Fix doc build now that OpenML is back
  examples/applications/plot_time_series_lagged_features.py
Labels: Documentation

#30725 DOC Enable the canonical link for docs
  doc/conf.py
Labels: Documentation

#30727 Backport docs updates (conda-forge link, canonical URL) to 1.6.x
  doc/conf.py
  doc/developers/advanced_installation.rst
  doc/install_instructions_conda.rst
Labels: No Changelog Needed

#30716 DOC Fix 1.6 doc build now that OpenML is back
  examples/applications/plot_time_series_lagged_features.py
Labels: Documentation, No Changelog Needed

#30728 Backport docs updates (conda-forge link, canonical URL) to 1.5.x
  build_tools/circle/build_doc.sh
  doc/conf.py
  doc/developers/advanced_installation.rst
  doc/install_instructions_conda.rst
Labels: Documentation, No Changelog Needed

#30726 DOC moved legend in LOF Novelty Detection
  examples/neighbors/plot_lof_novelty_detection.py
Labels: Documentation

#30734 DOC: update social links
  README.rst
  doc/developers/maintainer.rst.template
  doc/templates/index.html
  doc/whats_new/_contributors.rst
Labels: Documentation

#30704 CI Add explicit permissions to more GHA workflows
  .github/workflows/check-changelog.yml
  .github/workflows/check-sdist.yml
  .github/workflows/label-blank-issue.yml
  .github/workflows/update_tracking_issue.yml
Labels: Build / CI

#30703 CI Set explicit permissions for wheels GHA workflow
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review

#30735 DOC Update social links in 1.6 website
  README.rst
  doc/developers/maintainer.rst.template
  doc/templates/index.html
  doc/whats_new/_contributors.rst
Labels: Documentation, No Changelog Needed, Quick Review

#30729 DOC improve docs in DecisionBoundaryDisplay and linear models
  doc/modules/linear_model.rst
  sklearn/inspection/_plot/decision_boundary.py
Labels: Documentation, module:inspection
