Repository scikit-learn/scikit-learn, pull requests merged in 2025-04, with the labels that each got.

#31118 DOC Add bumping dependencies guidelines to maintainer doc
  doc/developers/maintainer.rst.template
  maint_tools/bump-dependencies-versions.py
Labels: Documentation

#31120 MNT Clean-up deprecations for 1.7: Ridge cv_values
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, No Changelog Needed, Quick Review

#31121 MNT Clean-up deprecations for 1.7: proba_pred in precision_recall_curve
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, No Changelog Needed, Quick Review

#31106 MNT Clean-up deprecations for 1.7: Xt in inverse_transform
  sklearn/cluster/_feature_agglomeration.py
  sklearn/cluster/tests/test_feature_agglomeration.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/tests/test_nmf.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/tests/test_search.py
  sklearn/pipeline.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/tests/test_pipeline.py
  sklearn/utils/deprecation.py
Labels: No Changelog Needed, Quick Review

#31109 MNT Clean-up deprecations for 1.7: Y in PLS*
  sklearn/cross_decomposition/_pls.py
  sklearn/cross_decomposition/tests/test_pls.py
Labels: module:cross_decomposition, No Changelog Needed, Quick Review

#31069 MNT improve UnsetMetadataPassedError error message and fix disable metadata routing in examples
  doc/metadata_routing.rst
  examples/model_selection/plot_cost_sensitive_learning.py
  examples/release_highlights/plot_release_highlights_1_6_0.py
  sklearn/utils/_metadata_requests.py
  sklearn/utils/multiclass.py
Labels: module:utils

#31122 DOC Add paid support section
  doc/support.rst
Labels: Documentation

#31138 DOC Fix typos
  doc/whats_new/upcoming_changes/array-api/30340.other.rst
  sklearn/externals/array_api_compat/common/_helpers.py
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#31137 DOC Remove obsolete comment from doc sources
  doc/developers/advanced_installation.rst
Labels: Documentation

#31065 FIX Fix adjusted_mutual_info_score numerical issue
  doc/whats_new/upcoming_changes/sklearn.metrics/31065.fix.rst
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
Labels: module:metrics

#31141 MNT Clean-up deprecations for 1.7: y_prob in brier_score_loss
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, No Changelog Needed, Quick Review

#29431 Add array API support for _weighted_percentile
  sklearn/utils/stats.py
  sklearn/utils/tests/test_stats.py
Labels: module:utils, No Changelog Needed, Array API

#31142 DOC Clean up build dependencies
  doc/developers/advanced_installation.rst
Labels: Documentation

#31136 DOC Add a cross-ref link to oversubscription section
  doc/computing/parallelism.rst
Labels: Documentation

#31103 DOC Improve `pairwise_kernel` docstring
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#31132 DOC One version per line, for readability
  doc/install.rst
Labels: Documentation

#31163 DOC Remove old comment in `cosine_similarity`
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics, Quick Review

#31159 CI Work around the lack of Windows free-threaded wheel for pandas
  .github/workflows/wheels.yml
  build_tools/github/build_minimal_windows_image.sh
  build_tools/wheels/cibw_before_test.sh
Labels: Build / CI

#30857 TST use global_random_seed in sklearn/utils/tests/test_stats.py
  sklearn/utils/tests/test_stats.py
Labels: module:utils, No Changelog Needed, Waiting for Second Reviewer

#30112 TST use global_random_seed in sklearn/utils/tests/test_optimize.py
  sklearn/utils/tests/test_optimize.py
Labels: Waiting for Reviewer, module:utils, No Changelog Needed

#24802 TST use global_random_seed in sklearn/cluster/tests/test_spectral.py
  sklearn/cluster/tests/test_spectral.py
Labels: module:cluster, No Changelog Needed

#30865 TST use global_random_seed in sklearn/metrics/tests/test_regression.py
  sklearn/metrics/tests/test_regression.py
Labels: module:metrics, No Changelog Needed

#31182 DOC fix small typos in `LatentDirichletAllocation`
  sklearn/decomposition/_lda.py
Labels: Documentation, module:decomposition

#31181 TST Use global_random_seed in sklearn/datasets/tests/test_samples_generator.py
  sklearn/datasets/tests/test_samples_generator.py
Labels: module:datasets, No Changelog Needed

#31171 MAINT Remove scalar manipulation in `consine_distances` now `clip` fixed in array-api-compat
  sklearn/metrics/pairwise.py
Labels: module:metrics

#31115 Fixes #30400: update index finding with np.where(condition)
  examples/applications/plot_species_distribution_modeling.py
  examples/applications/plot_stock_market.py
  examples/bicluster/plot_bicluster_newsgroups.py
  examples/cluster/plot_hdbscan.py
  examples/decomposition/plot_sparse_coding.py
  examples/ensemble/plot_adaboost_twoclass.py
  examples/linear_model/plot_sgd_iris.py
  examples/manifold/plot_mds.py
  examples/miscellaneous/plot_multilabel.py
  examples/semi_supervised/plot_label_propagation_digits_active_learning.py
  examples/semi_supervised/plot_label_propagation_structure.py
  examples/svm/plot_linearsvc_support_vectors.py
  examples/tree/plot_iris_dtc.py
Labels: No Changelog Needed

#30520 np.where sustituted by np.asarray in _affinity_propagation.py
  sklearn/cluster/_affinity_propagation.py
Labels: Stalled, module:cluster

#29865 DEP expose y_score instead of y_pred RocCurveDisplay.from_predictions
  doc/whats_new/upcoming_changes/sklearn.metrics/29865.api.rst
  examples/miscellaneous/plot_outlier_detection_bench.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/metrics/_ranking.py
Labels: module:metrics

#31173 DOC: Update documentation of Installing the development version of scikit-learn
  doc/developers/advanced_installation.rst
Labels: Documentation

#31188 MNT Skip sample_weight common test only for scipy 1.15
  sklearn/utils/_test_common/instance_generator.py
Labels: module:utils, No Changelog Needed, Quick Review

#31094 FIX Covariance matrix in BayesianRidge
  doc/whats_new/upcoming_changes/sklearn.linear_model/31094.fix.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/tests/test_bayes.py
Labels: module:linear_model

#31170 DOC Add comment about input checking in `pairwise_distances`
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics

#30949 DOC add link to plot_confusion_matrix example in confusion_matrix.py
  sklearn/metrics/_plot/confusion_matrix.py
Labels: Documentation, module:metrics

#31119 MNT Clean-up deprecations for 1.7: sample_weight as positional arg when not consumed
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_stacking.py
  sklearn/ensemble/_voting.py
  sklearn/ensemble/tests/test_voting.py
  sklearn/linear_model/_ransac.py
  sklearn/utils/_metadata_requests.py
Labels: module:ensemble, No Changelog Needed, Quick Review

#31208 MNT Add missing cython-lint install in lint workflow
  .github/workflows/lint.yml
Labels: Build / CI

#31202 DOC Simplify Windows build instructions
  doc/developers/advanced_installation.rst
Labels: Documentation

#31207 DOC Fix typos
  sklearn/manifold/tests/test_mds.py
  sklearn/neural_network/tests/test_mlp.py
Labels: Documentation, module:manifold, module:neural_network, No Changelog Needed

#30903 Error in d2_log_loss_score multiclass when one of the classes is missing in y_true.
  doc/whats_new/upcoming_changes/sklearn.metrics/30903.fix.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, Waiting for Second Reviewer

#31209 MNT Use pytest --import-mode=importlib
  pyproject.toml
Labels: Quick Review

#31176 DOC Improve `pairwise_distances` docstring
  sklearn/metrics/pairwise.py
Labels: Documentation, module:metrics

#31026 MNT git ignore recent black/ruff updates
  .git-blame-ignore-revs
Labels: No Changelog Needed

#29151 ENH/FIX add drop_intermediate to DET curve and add threshold at infinity
  doc/whats_new/upcoming_changes/sklearn.metrics/29151.enhancement.rst
  doc/whats_new/upcoming_changes/sklearn.metrics/29151.fix.rst
  examples/model_selection/plot_det.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/tests/test_det_curve_display.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_ranking.py
Labels: module:metrics, Waiting for Second Reviewer

#31184 DOC add metadata_routing.rst to User Guide sidebar
  doc/conf.py
  doc/metadata_routing.rst
  doc/user_guide.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer, Metadata Routing

#30819 FIX Add input array check to `randomized_range_finder`
  doc/whats_new/upcoming_changes/array-api/30819.feature.rst
  doc/whats_new/upcoming_changes/sklearn.utils/30819.fix.rst
  sklearn/cluster/_bicluster.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_factor_analysis.py
  sklearn/decomposition/_nmf.py
  sklearn/decomposition/_pca.py
  sklearn/decomposition/_truncated_svd.py
  sklearn/utils/extmath.py
  sklearn/utils/tests/test_extmath.py
Labels: module:utils

#31134 MNT Clean-up deprecations for 1.7: old tags
  sklearn/base.py
  sklearn/pipeline.py
  sklearn/tests/test_common.py
  sklearn/utils/_tags.py
  sklearn/utils/tests/test_tags.py
Labels: module:utils, No Changelog Needed

#31214 MNT Make ruff check line-too-long (E501)
  examples/covariance/plot_mahalanobis_distances.py
  examples/feature_selection/plot_rfe_digits.py
  examples/feature_selection/plot_select_from_model_diabetes.py
  examples/miscellaneous/plot_partial_dependence_visualization_api.py
  examples/text/plot_document_classification_20newsgroups.py
  pyproject.toml
  sklearn/datasets/tests/test_openml.py
  sklearn/utils/tests/test_pprint.py
Labels: No Changelog Needed

#31213 TST use global_random_seed in `sklearn/decomposition/tests/test_sparse_pca.py`
  sklearn/decomposition/tests/test_sparse_pca.py
Labels: module:decomposition, No Changelog Needed

#31221 MAINT: remove unused local var in `sklearn.utils.estimator_checks.py`
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: module:utils, No Changelog Needed

#31225 DOC Add missing directives to det_curve-related docstrings
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics, Quick Review

#30730 ENH: improve validation for SGD models to accept l1_ratio=None when penalty is not `elasticnet`
  doc/whats_new/upcoming_changes/sklearn.linear_model/30730.enhancement.rst
  sklearn/linear_model/_stochastic_gradient.py
  sklearn/linear_model/tests/test_sgd.py
Labels: module:linear_model, Waiting for Second Reviewer

#30616 Fixes API Deprecate n_alphas in LinearModelCV
  doc/whats_new/upcoming_changes/sklearn.linear_model/30616.api.rst
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/tests/test_coordinate_descent.py
Labels: module:linear_model

#28981 FIX ‘sparse’ kwarg was not used by fowlkes_mallows_score
  doc/whats_new/upcoming_changes/sklearn.metrics/28981.api.rst
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/tests/test_supervised.py
Labels: module:metrics

#30179 FEAT rfecv: add support and ranking for each cv and step
  doc/whats_new/upcoming_changes/sklearn.feature_selection/30179.enhancement.rst
  examples/feature_selection/plot_rfe_with_cross_validation.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/tests/test_rfe.py
Labels: module:feature_selection, Waiting for Second Reviewer

#31236 MNT Clean-up deprecations for 1.7: byte labels
  sklearn/metrics/tests/test_ranking.py
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:metrics, module:utils, No Changelog Needed, Quick Review

#31237 MNT Clean-up some leftovers comments
  sklearn/ensemble/tests/test_voting.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:ensemble, No Changelog Needed, Quick Review

#31180 DOC Add note about using `_get_namespace_device_dtype_ids`
  sklearn/utils/_array_api.py
Labels: Documentation, module:utils, Array API

#31190 ENH Add Array API compatibility to Binarizer
  doc/modules/array_api.rst
  doc/whats_new/upcoming_changes/array-api/31190.feature.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
Labels: module:preprocessing, Array API

#31263 Use BLAS_Order.ColMajor sklearn/utils/_cython_blas.pyx
  azure-pipelines.yml
  sklearn/conftest.py
  sklearn/utils/_cython_blas.pyx
Labels: module:utils, cython, Quick Review

#30944 MNT Add `ignore_types` to `assert_docstring_consistency`
  sklearn/tests/test_docstring_parameters_consistency.py
  sklearn/utils/_testing.py
Labels: No Changelog Needed

#31238 DOC Improve descriptions of roc_curve-related dosctrings
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics

#31117 ENH Change the default `n_init` and `eps` for MDS
  doc/whats_new/upcoming_changes/sklearn.manifold/31117.enhancement.rst
  doc/whats_new/upcoming_changes/sklearn.manifold/31117.fix.rst
  examples/manifold/plot_compare_methods.py
  examples/manifold/plot_lle_digits.py
  examples/manifold/plot_mds.py
  sklearn/manifold/_mds.py
  sklearn/manifold/tests/test_mds.py
  sklearn/tests/test_docstring_parameters.py
Labels: module:manifold

#31273 MNT Avoid pre-commit failure
  sklearn/cluster/_agglomerative.py
Labels: module:cluster

#31211 MNT Avoid nested sequence in `weighted_percentile`
  sklearn/utils/stats.py
Labels: module:utils, Array API

#31275 DOC Minor update to CalibratedClassifierCV docstring
  sklearn/calibration.py
Labels: Documentation

#31262 Investigate `test_precomputed_nearest_neighbors_filtering[60]` failure on CI
  sklearn/cluster/tests/test_spectral.py
Labels: Build / CI, module:test-suite, No Changelog Needed, Quick Review

#31135 DOC Improve consistency of inverse_transform return name
  sklearn/cluster/_feature_agglomeration.py
  sklearn/cross_decomposition/_pls.py
  sklearn/decomposition/_base.py
  sklearn/decomposition/_dict_learning.py
  sklearn/decomposition/_fastica.py
  sklearn/decomposition/_kernel_pca.py
  sklearn/decomposition/_nmf.py
  sklearn/feature_extraction/_dict_vectorizer.py
  sklearn/feature_extraction/text.py
  sklearn/feature_selection/_base.py
  sklearn/model_selection/_search.py
  sklearn/pipeline.py
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/_encoders.py
  sklearn/preprocessing/_function_transformer.py
  sklearn/preprocessing/_label.py
Labels: Documentation, Waiting for Second Reviewer

#31277 DOC Fix typos found by codespell
  build_tools/codespell_ignore_words.txt
  examples/feature_selection/plot_rfe_with_cross_validation.py
  pyproject.toml
Labels: Documentation

#27124 ENH add X_val and y_val to HGBT.fit
  doc/whats_new/upcoming_changes/sklearn.ensemble/27124.feature.rst
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
Labels: module:ensemble, Metadata Routing

#31063 MNT Apply ruff/flake8-executable rules (EXE)
  doc/sphinxext/allow_nan_estimators.py
  examples/miscellaneous/plot_pipeline_display.py
  sklearn/_build_utils/version.py
  sklearn/cluster/_optics.py
  sklearn/ensemble/tests/test_weight_boosting.py
Labels: module:cluster, module:ensemble, No Changelog Needed

#26335 ENH `check_classification_targets` raises a warning when unique classes > 50% of `n_samples`
  doc/whats_new/upcoming_changes/sklearn.utils/26335.enhancement.rst
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
Labels: module:utils, Waiting for Second Reviewer
