Repository scikit-learn/scikit-learn, pull requests merged in 2025-02, with the labels that each got.

#30575 Make scorers return python floats
  doc/modules/clustering.rst
  doc/modules/model_evaluation.rst
  sklearn/metrics/_base.py
  sklearn/metrics/_classification.py
  sklearn/metrics/_ranking.py
  sklearn/metrics/_regression.py
  sklearn/metrics/cluster/_bicluster.py
  sklearn/metrics/cluster/_supervised.py
  sklearn/metrics/cluster/_unsupervised.py
  sklearn/metrics/cluster/tests/test_common.py
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed, Waiting for Second Reviewer

#30764 DOC Update Pyodide version to 0.27.2 in JupyterLite deployment
  doc/jupyter-lite.json
Labels: Documentation

#30724 DOC Remove links to old scikit-learn tutorial videos
  doc/presentations.rst
Labels: Documentation

#30765 DOC Update Pyodide version to 0.27.2 in JupyterLite deployment for 1.6 doc
  doc/jupyter-lite.json
Labels: Documentation, No Changelog Needed

#30642 DOC time_series_split: release unexisting constraints
  doc/modules/cross_validation.rst
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#30741 DOC Update reference link in linear_model.rst
  doc/modules/linear_model.rst
Labels: Documentation

#30595 DOC: Example of train_test_split with `pandas` DataFrames
  sklearn/model_selection/_split.py
Labels: Documentation, module:model_selection

#30773 FIX: Remove blank figure that gets rendered in the load_digits API Example section
  sklearn/datasets/_base.py
Labels: module:datasets

#30776 MNT Fix misleading FutureWarning raised by check_estimator(..., generate_only=True)
  sklearn/utils/estimator_checks.py
Labels: module:utils

#30319 DOC Improve and make consistent `scoring` parameter docstrings
  sklearn/base.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
  sklearn/feature_selection/_rfe.py
  sklearn/feature_selection/_sequential.py
  sklearn/inspection/_permutation_importance.py
  sklearn/linear_model/_logistic.py
  sklearn/linear_model/_ridge.py
  sklearn/metrics/_scorer.py
  sklearn/model_selection/_classification_threshold.py
  sklearn/model_selection/_plot.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
  sklearn/model_selection/_validation.py
Labels: Documentation, Waiting for Second Reviewer

#30784 DOC: Updated reference links in scikit-learn User Guide
  doc/modules/calibration.rst
  doc/modules/model_evaluation.rst
  doc/modules/neighbors.rst
Labels: Documentation

#29907 Fix sample weight passing in `KBinsDiscretizer`
  doc/whats_new/upcoming_changes/sklearn.preprocessing/29907.enhancement.rst
  doc/whats_new/upcoming_changes/sklearn.preprocessing/29907.fix.rst
  doc/whats_new/upcoming_changes/sklearn.utils/29907.enhancement.rst
  sklearn/ensemble/_hist_gradient_boosting/tests/test_gradient_boosting.py
  sklearn/inspection/tests/test_permutation_importance.py
  sklearn/preprocessing/_discretization.py
  sklearn/preprocessing/tests/test_discretization.py
  sklearn/preprocessing/tests/test_polynomial.py
  sklearn/preprocessing/tests/test_target_encoder.py
  sklearn/tests/test_docstring_parameters.py
  sklearn/utils/_indexing.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/stats.py
  sklearn/utils/tests/test_indexing.py
  sklearn/utils/tests/test_stats.py
Labels: module:preprocessing, module:utils

#30788 DOC Small improvement to `mean_absolute_error` docstring
  sklearn/metrics/_regression.py
Labels: Documentation, Quick Review

#30794 DOC Correct some typos in SVM documentation
  doc/modules/svm.rst
Labels: Documentation, Quick Review

#30057 Fix linear svc handling sample weights under class_weight="balanced"
  doc/whats_new/upcoming_changes/sklearn.linear_model/30057.fix.rst
  doc/whats_new/upcoming_changes/sklearn.svm/30057.fix.rst
  doc/whats_new/upcoming_changes/sklearn.utils/30057.enhancement.rst
  sklearn/linear_model/_logistic.py
  sklearn/svm/_base.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/class_weight.py
  sklearn/utils/tests/test_class_weight.py
Labels: module:svm

#30797 CI Migrate ARM tests to Github Actions
  .cirrus.star
  .github/workflows/arm-unit-tests.yml
  .github/workflows/update-lock-files.yml
  README.rst
  build_tools/cirrus/arm_tests.yml
  build_tools/cirrus/update_tracking_issue.sh
  build_tools/github/build_test_arm.sh
  build_tools/github/pymin_conda_forge_arm_environment.yml
  build_tools/github/pymin_conda_forge_arm_linux-aarch64_conda.lock
  build_tools/github/upload_anaconda.sh
  build_tools/update_environments_and_lock_files.py
  doc/about.rst
  doc/developers/contributing.rst
Labels: Build / CI, No Changelog Needed

#30747 DOC add example plot_stack_predictors.py for Stacked Generalization in ensemble.rst
  doc/modules/ensemble.rst
Labels: Documentation

#30800 DOC: Update link to facial recognition dataset
  examples/applications/plot_face_recognition.py
  sklearn/datasets/descr/lfw.rst
Labels: Documentation, module:datasets

#30749 DOC added links to plot_gradient_boosting_regularization.py and plot_gradient_boosting_categorical.py
  sklearn/ensemble/_gb.py
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation, module:ensemble

#30813 CI Switch to using newer ubuntu images for CI workflows
  .github/workflows/cuda-label-remover.yml
  .github/workflows/labeler-title-regex.yml
  azure-pipelines.yml
Labels: Build / CI

#30823 CI Update Pyodide version to 0.27.2
  azure-pipelines.yml
Labels: Build / CI, Quick Review

#30827 DOC: Correct typos in 10.3.3.2 Robustness
  doc/common_pitfalls.rst
Labels: Documentation

#30829 MNT Use regression data for `check_sample_weight_invariance` test on multioutput regression metrics
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed

#30837 DOC HistGradientBoosting* Make docstring of categorical_features consistent with code.
  sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py
Labels: Documentation, module:ensemble

#30127 DOC Linked examples for clustering algorithms in their docstrings (#26927)
  sklearn/cluster/_affinity_propagation.py
  sklearn/cluster/_agglomerative.py
  sklearn/cluster/_birch.py
  sklearn/cluster/_dbscan.py
  sklearn/cluster/_hdbscan/hdbscan.py
  sklearn/cluster/_kmeans.py
  sklearn/cluster/_mean_shift.py
  sklearn/cluster/_optics.py
  sklearn/cluster/_spectral.py
  sklearn/mixture/_gaussian_mixture.py
Labels: Documentation, module:cluster

#30182 DOC add link plot_inductive_clustering
  doc/modules/clustering.rst
Labels: Documentation

#30842 DOC fix typo in `plot_stock_market.py` example
  examples/applications/plot_stock_market.py
Labels: Documentation

#30848 DOC: Correct links and typos in 6.6 Random Projections
  doc/modules/random_projection.rst
Labels: Documentation

#30841 Add Doc for GMM Example
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#30780 Logistic Regression Examples Link User Guide
  doc/modules/multiclass.rst
  examples/linear_model/plot_logistic_path.py
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/svm/_bounds.py
Labels: module:inspection, module:linear_model

#30856 DOC: Update California housing data reference details
  sklearn/datasets/_california_housing.py
  sklearn/datasets/descr/california_housing.rst
Labels: Documentation, module:datasets

#30853 TST move test for parameters consistency checks
  sklearn/tests/test_docstring_parameters.py
  sklearn/tests/test_docstring_parameters_consistency.py
Labels: No Changelog Needed

#30683 DOC add plot_ols_ridge_variance example to the doc
  doc/conf.py
  doc/modules/linear_model.rst
  examples/linear_model/plot_ols.py
  examples/linear_model/plot_ols_ridge.py
  examples/linear_model/plot_ols_ridge_variance.py
Labels: Documentation

#30850 DOC add link to plot_gpr_noisy_targets example in _gpr.py
  sklearn/gaussian_process/_gpr.py
Labels: Documentation, module:gaussian_process

#30862 MNT Fix Binder on 1.6 doc
  .binder/postBuild
Labels: No Changelog Needed

#30867 DOC add link to cluster_plot_agglomerative_clustering example in Aggl…
  sklearn/cluster/_agglomerative.py
Labels: Documentation, module:cluster

#30870 DOC Add bash cell to Developer Guide to make it more intuitive
  doc/developers/contributing.rst
Labels: No Changelog Needed

#30880 DOC Correct a typo in model_persistence.rst
  doc/model_persistence.rst
Labels: Documentation

#30666 DOC add read more tagline for contingency matrix metric
  sklearn/metrics/cluster/_supervised.py
Labels: Documentation, module:metrics

#30885 DOC: Correct typos in clustering.rst
  doc/modules/clustering.rst
Labels: Documentation

#30876 Improve the error text to include the problematic values
  sklearn/manifold/_t_sne.py
  sklearn/manifold/tests/test_t_sne.py
Labels: module:manifold, No Changelog Needed, Quick Review

#30890 CI Fix nightly wheel upload script
  build_tools/github/upload_anaconda.sh
Labels: Build / CI, Quick Review

#30875 ENH improve init_root of HGBT TreeGrower
  sklearn/ensemble/_hist_gradient_boosting/grower.py
  sklearn/utils/arrayfuncs.pyx
  sklearn/utils/meson.build
Labels: Enhancement, Performance, module:ensemble, cython, Waiting for Second Reviewer

#30708 ENH Use OpenML metadata for download url
  sklearn/datasets/_openml.py
  sklearn/datasets/tests/data/openml/id_2/data-v1-dl-1666876.arff.gz
  sklearn/datasets/tests/data/openml/id_42074/api-v1-jd-42074.json.gz
  sklearn/datasets/tests/test_openml.py
Labels: module:datasets, No Changelog Needed

#30897 CI Fix lock-file update workflow
  .github/workflows/update-lock-files.yml
Labels: Build / CI, Quick Review

#30898 Revert "Make FrozenEstimator explicitly accept and ignore sample_weight"
  doc/whats_new/upcoming_changes/sklearn.frozen/30874.enhancement.rst
  sklearn/frozen/_frozen.py
  sklearn/frozen/tests/test_frozen.py
Labels: No Changelog Needed
