Repository scikit-learn/scikit-learn, pull requests merged in 2025-05, with the labels that each got.

#30985 DOC Rework voting classifier example
  doc/conf.py
  doc/modules/ensemble.rst
  examples/ensemble/plot_voting_decision_regions.py
  examples/ensemble/plot_voting_probas.py
Labels: Documentation

#31167 MNT Clean-up deprecations for 1.7: Remainder column type of ColumnTransformer
  doc/whats_new/upcoming_changes/sklearn.compose/31167.api.rst
  sklearn/compose/_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose, Quick Review, Waiting for Second Reviewer

#31301 Fix BLAS_Order.RowMajor import and similar in test_cython_blas with Cython 3.1
  sklearn/utils/tests/test_cython_blas.py
Labels: module:utils, No Changelog Needed

#31287 COSMIT Use `get_namespace_and_device` in `multilabel_confusion_matrix`
  sklearn/metrics/_classification.py
Labels: module:metrics, Quick Review, Array API

#31285 DOC Fix return type for `d2_tweedie_score`
  sklearn/metrics/_regression.py
Labels: Documentation, Quick Review

#31227 ENH Use scipy Yeo-Johnson implementation in PowerTransformer for scipy >= 1.9
  doc/whats_new/upcoming_changes/sklearn.preprocessing/31227.fix.rst
  sklearn/preprocessing/_data.py
  sklearn/preprocessing/tests/test_data.py
  sklearn/utils/fixes.py
Labels: module:preprocessing, module:utils

#30916 DOC: added link to cluster_plot_coin_ward_segmentation example in feature_extraction.grid_to_graph
  doc/modules/feature_extraction.rst
  sklearn/feature_extraction/image.py
Labels: Documentation, module:feature_extraction

#30828 Improve SimpleImputer error message for incompatible fill_value types
  sklearn/impute/_base.py
Labels: module:impute

#30553 DOC improve headings in LabelSpreading examples
  examples/semi_supervised/plot_label_propagation_digits_active_learning.py
  examples/semi_supervised/plot_label_propagation_structure.py
Labels: Documentation, module:semi_supervised

#30959 DOC Added an example reference for plot_manifold_sphere.py
  doc/modules/manifold.rst
Labels: Documentation

#31280 DOC: Add link to plot_nnls example
  sklearn/linear_model/_base.py
Labels: Documentation, module:linear_model

#31249 doc: add link to the plot_gmm_covariances example
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture

#31278 DOC Add link to plot_sparse_cov example
  sklearn/covariance/_graph_lasso.py
Labels: Documentation, module:covariance

#22227 ENH Exposes latent mean and variance for GPCs
  doc/modules/gaussian_process.rst
  doc/whats_new/upcoming_changes/sklearn.gaussian_process/22227.enhancement.rst
  sklearn/gaussian_process/_gpc.py
  sklearn/gaussian_process/tests/test_gpc.py
Labels: API, Needs Decision, module:gaussian_process

#31040 FIX _safe_indexing for pyarrow
  doc/whats_new/upcoming_changes/sklearn.utils/31040.enhancement.rst
  sklearn/utils/_indexing.py
  sklearn/utils/_testing.py
  sklearn/utils/tests/test_indexing.py
  sklearn/utils/tests/test_testing.py
  sklearn/utils/validation.py
Labels: module:utils

#31107 Fix #30936: ElasticNet l1 ratio fails for float-only arrays
  doc/whats_new/upcoming_changes/sklearn.feature_selection/31107.fix.rst
  sklearn/feature_selection/_from_model.py
  sklearn/feature_selection/tests/test_from_model.py
Labels: module:feature_selection

#31313 DOC add reference to "Visualizations" in user doc guide from "PartialDependenceDisplay" docstring.
  sklearn/inspection/_plot/partial_dependence.py
Labels: Documentation, module:inspection

#31308 DOC Link PrecisionRecallDisplay to visualization and evaluation guides
  sklearn/metrics/_plot/precision_recall_curve.py
Labels: Documentation, module:metrics

#31331 MNT remove default behaviour deprecation from class_likelihood_ratios
  doc/whats_new/upcoming_changes/sklearn.metrics/29288.api.rst
  sklearn/metrics/_classification.py
  sklearn/metrics/tests/test_classification.py
Labels: module:metrics, No Changelog Needed

#31306 DOC Link Visualization tools to their respective interpretation
  sklearn/metrics/_plot/confusion_matrix.py
Labels: Documentation, module:metrics

#31330 DOC Improve Contributer guide for writting docstrings
  doc/developers/contributing.rst
Labels: Documentation

#31346 BLD Add missing cython generator for a few extensions
  sklearn/cluster/_hdbscan/meson.build
  sklearn/meson.build
  sklearn/neighbors/meson.build
  sklearn/utils/meson.build
Labels: module:cluster, module:neighbors, module:utils, Quick Review

#31339 DOC Remove old section `_fit_and_score_over_thresholds`
  sklearn/model_selection/_classification_threshold.py
Labels: Documentation, module:model_selection, Quick Review

#31340 MNT Fix doctest dict value
  sklearn/model_selection/_search.py
Labels: module:model_selection

#31307 DOC Add references to DetCurveDisplay docstring
  sklearn/metrics/_plot/det_curve.py
Labels: Documentation, module:metrics

#31305 DOC Add reference to PrecisionRecallDisplay in average_precision_score docstring
  sklearn/metrics/_ranking.py
Labels: Documentation, module:metrics

#31193 TST Add unit tests for `_BinaryClassifierCurveDisplayMixin`
  sklearn/utils/tests/test_plotting.py
Labels: module:utils, No Changelog Needed

#31321 DOC Add "see also" section to learning_curve docstring
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection

#31316 Fix do not recommend to increase `max_iter` in `ConvergenceWarning` when not appropriate
  doc/whats_new/upcoming_changes/changed-models/31316.fix.rst
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/tests/test_logistic.py
  sklearn/utils/optimize.py
  sklearn/utils/tests/test_optimize.py
Labels: module:linear_model, module:utils

#31351 DOC Fix typos in visualization tools docstrings
  sklearn/metrics/_plot/confusion_matrix.py
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
Labels: Documentation, module:metrics, No Changelog Needed, Quick Review

#31345 DOC Add policy to upper bound build deps in maintainers page
  doc/developers/maintainer.rst.template
Labels: Documentation

#31325 DOC Math/code formatting in docs
  doc/modules/calibration.rst
  doc/modules/cross_validation.rst
  doc/modules/kernel_ridge.rst
  doc/modules/lda_qda.rst
  doc/modules/partial_dependence.rst
  doc/modules/sgd.rst
Labels: Documentation

#31309 DOC Update docstring in partial_dependence.py
  sklearn/inspection/_plot/partial_dependence.py
Labels: Documentation, module:inspection

#31314 DOC Add "See Also" reference to ValidationCurveDisplay in validation_curve docstring
  sklearn/model_selection/_validation.py
Labels: Documentation, module:feature_extraction, module:model_selection

#31376 DOC: Correct a typo in math equations
  doc/modules/linear_model.rst
Labels: Documentation

#30990 DOC improve plot_grid_search_refit_callable.py and add links
  doc/whats_new/v0.20.rst
  doc/whats_new/v1.5.rst
  examples/model_selection/plot_grid_search_refit_callable.py
  sklearn/model_selection/_search.py
  sklearn/model_selection/_search_successive_halving.py
Labels: Documentation, module:model_selection, No Changelog Needed

#31394 MNT Remove leftover Boston data file
  sklearn/datasets/data/boston_house_prices.csv
Labels: module:datasets, Quick Review

#31378 DOC Add link to plot_swissroll example
  doc/modules/manifold.rst
Labels: Documentation

#31400 DOC Fix plotly rendering inside JupyterLite
  doc/conf.py
Labels: Documentation

#31404 DOC Fix various typos in documentation and comments
  doc/modules/ensemble.rst
  examples/bicluster/plot_spectral_biclustering.py
  examples/cluster/plot_agglomerative_clustering_metrics.py
  examples/svm/plot_svm_kernels.py
  sklearn/_loss/_loss.pyx.tp
  sklearn/preprocessing/_function_transformer.py
  sklearn/utils/fixes.py
  sklearn/utils/tests/test_array_api.py
Labels: Documentation, module:preprocessing, module:utils, No Changelog Needed, cython

#31250 TST use global_random_seed in sklearn/decomposition/tests/test_incremental_pca.py
  sklearn/decomposition/tests/test_incremental_pca.py
Labels: module:decomposition, No Changelog Needed, Quick Review, Waiting for Second Reviewer

#31372 MNT cleaner Cython coordinate descent in _cd_fast.pyx
  sklearn/linear_model/_cd_fast.pyx
Labels: module:linear_model, cython

#31402 CI Avoid joblib 1.5.0 in Pyodide
  .github/workflows/emscripten.yml
Labels: Build / CI

#31409 DOC Fix wheel builder badge on README
  README.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#31363 DOC Minor updates to `OPTICS` docstring
  sklearn/cluster/_optics.py
Labels: Documentation, module:cluster

#31421 DOC Revise a math equation to incorporate text
  doc/modules/model_evaluation.rst
Labels: Documentation, Quick Review

#31420 DOC Update documentation: Communication section improvements
  README.rst
Labels: Documentation, Quick Review

#30825 DOC: Add `from_predictions` example and other details to `visualizations.rst`
  doc/visualizations.rst
Labels: Documentation

#30399 ENH add `from_cv_results` in `RocCurveDisplay` (single `RocCurveDisplay`)
  doc/whats_new/upcoming_changes/sklearn.metrics/30399.feature.rst
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_common_curve_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/utils/_plotting.py
  sklearn/utils/tests/test_plotting.py
Labels: module:metrics, module:utils, Waiting for Second Reviewer

#31434 FIX random failure in `test_solver_consistency` with SAG/SAGA solvers
  sklearn/linear_model/tests/test_ridge.py
Labels: module:linear_model, module:test-suite, No Changelog Needed, Quick Review

#31422 DOC Add link to spectral coclustering
  sklearn/cluster/_bicluster.py
Labels: Documentation, module:cluster, No Changelog Needed

#31433 DOC: Update link to Least Angle Regression paper
  doc/modules/linear_model.rst
Labels: Documentation

#30886 MNT Make sample_weight checking more consistent in regression metrics
  doc/whats_new/upcoming_changes/sklearn.metrics/30886.fix.rst
  sklearn/metrics/_regression.py
  sklearn/metrics/tests/test_common.py
  sklearn/metrics/tests/test_regression.py
  sklearn/utils/validation.py
Labels: module:metrics, module:utils, Array API
