Repository scikit-learn/scikit-learn, pull requests merged in 2025-07, with the labels that each got.

#31431 ENH Make `GaussianProcessRegressor.predict` faster when return_std and return_cov are false
  doc/whats_new/upcoming_changes/sklearn.gaussian_process/31431.efficiency.rst
  sklearn/gaussian_process/_gpr.py
  sklearn/gaussian_process/tests/test_gpr.py
Labels: module:gaussian_process, To backport, Quick Review

#29022 Reduce iteration over steps in `_sk_visual_block_`
  sklearn/pipeline.py
  sklearn/utils/_repr_html/tests/test_estimator.py
Labels: module:pipeline, No Changelog Needed

#31688 MAINT upgrade CI to cibuildwheel 3.0
  .github/workflows/cuda-ci.yml
  .github/workflows/emscripten.yml
Labels: Build / CI

#31687 DOC Recommend setting `array_api_dispatch` globally in array API docs
  doc/modules/array_api.rst
Labels: Documentation, Array API

#29716 FIX wrong >= in error message in `_locally_linear_embedding`
  sklearn/manifold/_locally_linear.py
Labels: Stalled, module:manifold

#31494 FIX _safe_indexing: improve error message for string indexing on axis=0
  sklearn/utils/_indexing.py
  sklearn/utils/tests/test_indexing.py
Labels: module:utils, No Changelog Needed

#31151 BLD Use Cython's shared memoryview utility to reduce wheel size
  sklearn/meson.build
Labels: No Changelog Needed

#31720 TST use global_random_seed in sklearn/compose/tests/test_column_transformer.py
  sklearn/compose/tests/test_column_transformer.py
Labels: module:compose, No Changelog Needed

#31500 FIX short deprecation cycle for private module
  sklearn/tests/test_common.py
  sklearn/utils/_estimator_html_repr.py
  sklearn/utils/tests/test_estimator_html_repr.py
Labels: module:utils, No Changelog Needed

#31692 TST use global_random_seed in sklearn/covariance/tests/test_graphical…
  sklearn/covariance/tests/test_graphical_lasso.py
Labels: module:covariance, No Changelog Needed

#31732 DOC Fix broken formatting of `cohen_kappa_score` docstring
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics, Quick Review, Waiting for Second Reviewer

#31729 CI Remove constraints for scipy version in `pylatest_conda_mkl_no_openmp` job
  build_tools/azure/pylatest_conda_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#31703 MNT little refactor and doc improvement for metadata routing consumes() methods
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: Documentation, module:utils, No Changelog Needed, Metadata Routing

#31726 MNT Add more sample weight checks in regression metric common tests
  sklearn/metrics/tests/test_common.py
Labels: module:metrics, No Changelog Needed, Waiting for Second Reviewer

#31584 Fix spurious warning from type_of_target when called on estimator.classes_
  doc/whats_new/upcoming_changes/sklearn.utils/31584.fix.rst
  sklearn/utils/multiclass.py
  sklearn/utils/tests/test_multiclass.py
  sklearn/utils/tests/test_response.py
Labels: module:utils, To backport

#31723 FIX Avoid fitting a pipeline without steps
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, No Changelog Needed

#31553 FIX: Regression in DecisionBoundaryDisplay.from_estimator with colors and plot_method='contour'
  doc/whats_new/upcoming_changes/sklearn.inspection/31553.fix.rst
  sklearn/inspection/_plot/decision_boundary.py
  sklearn/inspection/_plot/tests/test_boundary_decision_display.py
Labels: module:inspection, To backport

#31771 CI Avoid miniconda CondaToSNonInteractiveError
  azure-pipelines.yml
  build_tools/azure/install_setup_conda.sh
  build_tools/azure/pylatest_conda_forge_mkl_no_openmp_environment.yml
  build_tools/azure/pylatest_conda_forge_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_conda_mkl_no_openmp_osx-64_conda.lock
  build_tools/azure/pylatest_pip_openblas_pandas_environment.yml
  build_tools/azure/pylatest_pip_openblas_pandas_linux-64_conda.lock
  build_tools/azure/pylatest_pip_scipy_dev_environment.yml
  build_tools/azure/pylatest_pip_scipy_dev_linux-64_conda.lock
  build_tools/azure/windows.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#31062 DOC Update plots in Categorical Feature Support in GBDT example
  examples/ensemble/plot_gradient_boosting_categorical.py
Labels: Documentation

#31780 DOC update news for 1.7.1
  doc/templates/index.html
Labels: Documentation, Quick Review

#31559 FIX Add validation for FeatureUnion transformer outputs (#31318)
  doc/whats_new/upcoming_changes/sklearn.pipeline/31559.fix.rst
  sklearn/pipeline.py
  sklearn/tests/test_pipeline.py
Labels: module:pipeline, Waiting for Second Reviewer

#31585 DOC improve doc for `_check_n_features` and `_check_feature_names` and fix their usages
  sklearn/preprocessing/_function_transformer.py
  sklearn/utils/validation.py
Labels: Documentation, module:preprocessing, module:utils

#31660 DOC Increase prominence of starting from existing issues
  CONTRIBUTING.md
  doc/developers/contributing.rst
Labels: Documentation

#31814 TST fix check_array_api_input device check
  sklearn/model_selection/tests/test_split.py
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_array_api.py
Labels: module:utils, No Changelog Needed

#31836 FIX: Use context managers to safely close dataset files
  sklearn/datasets/_kddcup99.py
  sklearn/datasets/_lfw.py
Labels: module:datasets

#31831 MNT Improve _check_array_api_dispatch docstring
  sklearn/utils/_array_api.py
Labels: Documentation, Quick Review

#29310 Add input validation to _basePCA.inverse_transform
  doc/whats_new/upcoming_changes/sklearn.decomposition/29310.fix.rst
  sklearn/decomposition/_base.py
Labels: module:decomposition

#31764 API Replace y_pred with y_score in DetCurveDisplay
  doc/whats_new/upcoming_changes/sklearn.metrics/31764.fix.rst
  sklearn/metrics/_plot/det_curve.py
  sklearn/metrics/_plot/precision_recall_curve.py
  sklearn/metrics/_plot/roc_curve.py
  sklearn/metrics/_plot/tests/test_det_curve_display.py
  sklearn/metrics/_plot/tests/test_precision_recall_display.py
  sklearn/metrics/_plot/tests/test_roc_curve_display.py
  sklearn/utils/_plotting.py
Labels: Documentation, module:metrics, Waiting for Second Reviewer

#31418 MNT refactor _rescale_data in linear models into _preprocess_data
  sklearn/linear_model/_base.py
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
  sklearn/linear_model/_least_angle.py
  sklearn/linear_model/_ridge.py
  sklearn/linear_model/tests/test_base.py
Labels: module:linear_model, No Changelog Needed, Waiting for Second Reviewer

#31362 TST use global_random_seed in `sklearn/linear_model/tests/test_logistic.py`
  sklearn/linear_model/tests/test_logistic.py
Labels: module:linear_model, No Changelog Needed

#31027 MNT Improve codespell support (and add CI) and make it fix few typos
  .github/workflows/codespell.yml
  .pre-commit-config.yaml
  build_tools/codespell_ignore_words.txt
  build_tools/wheels/LICENSE_windows.txt
  pyproject.toml
  sklearn/ensemble/_bagging.py
  sklearn/metrics/pairwise.py
  sklearn/utils/tests/test_array_api.py
Labels: Build / CI, module:inspection, module:model_selection, module:preprocessing, No Changelog Needed
