Repository scikit-learn/scikit-learn, pull requests merged in 2025-06, with the labels that each got.

#31458 DOC: Correct a typo: this examples -> this example
  examples/frozen/plot_frozen_examples.py
Labels: Documentation, Quick Review

#31455 DOC Use `from_cv_results` in `plot_roc_crossval.py`
  examples/model_selection/plot_roc_crossval.py
Labels: Documentation

#31453 Don't leak cache_directory from test_check_memory
  sklearn/utils/tests/test_validation.py
Labels: module:utils, No Changelog Needed

#31471 DOC Add link to plot_monotonic_constraints.py in ensemble examples
  doc/modules/ensemble.rst
Labels: Documentation

#31482 DOC Don't use deprecated RocCurveDisplay kwargs
  doc/visualizations.rst
Labels: Documentation

#31492 DOC Update news for 1.7.0
  doc/templates/index.html
Labels: Documentation

#31379 DOC Add additional donation options to About page
  doc/about.rst
Labels: Documentation

#31425 DOC Added example comparing L1-based models to ARD user guide
  doc/modules/linear_model.rst
  sklearn/linear_model/_bayes.py
  sklearn/linear_model/_coordinate_descent.py
Labels: Documentation

#31524 FIX: fix wrongly used `plt.show()` in examples
  examples/bicluster/plot_spectral_biclustering.py
  examples/svm/plot_svm_kernels.py
Labels: Quick Review

#31517 Preemptively fix incompatibilities with an upcoming array-api-strict release
  sklearn/metrics/tests/test_common.py
  sklearn/utils/_array_api.py
  sklearn/utils/estimator_checks.py
Labels: module:metrics, module:utils, No Changelog Needed, Array API

#31532 CI Fix wheels build after cibuildwheel 3.0 release
  .github/workflows/wheels.yml
Labels: Build / CI, Quick Review

#31419 DOC Clarify metadata routing docs from `_metadata_requests.py` module
  pyproject.toml
  sklearn/tests/test_metadata_routing.py
  sklearn/utils/_metadata_requests.py
Labels: Documentation, module:utils, No Changelog Needed, Metadata Routing

#31481 Improve error message in `check_requires_y_none`
  sklearn/utils/estimator_checks.py
  sklearn/utils/tests/test_estimator_checks.py
Labels: No Changelog Needed

#31310 TST use global_random_seed in sklearn/feature_extraction/tests/test_image.py
  sklearn/feature_extraction/tests/test_image.py
Labels: module:feature_extraction, No Changelog Needed

#31414 FIX Draw indices using sample_weight in Bagging
  doc/whats_new/upcoming_changes/sklearn.ensemble/31414.fix.rst
  sklearn/ensemble/_bagging.py
  sklearn/ensemble/_iforest.py
  sklearn/ensemble/tests/test_bagging.py
  sklearn/tests/test_metaestimators_metadata_routing.py
Labels: Waiting for Reviewer, module:ensemble

#31485 DOC: add link to the plot_mahalanobis_distances example
  sklearn/covariance/_empirical_covariance.py
Labels: Documentation, module:covariance

#31511 Doc add link plot robust vs empirical covariance examples
  sklearn/covariance/_robust_covariance.py
Labels: module:covariance

#31504 DOC add link to plot_cv_predict example in cross_val_predict doc
  sklearn/model_selection/_validation.py
Labels: Documentation, module:model_selection

#31577 DOC fix formatting of `intercept_scaling` parameter in `LogisticRegression`-related docs
  sklearn/linear_model/_logistic.py
Labels: Documentation, module:linear_model

#31556 Fix set `CategoricalNB().__sklearn_tags__.input_tags.categorical` to `True`
  doc/whats_new/upcoming_changes/sklearn.naive_bayes/31556.fix.rst
  sklearn/naive_bayes.py
  sklearn/tests/test_naive_bayes.py
  sklearn/utils/_test_common/instance_generator.py
  sklearn/utils/estimator_checks.py
Labels: module:naive_bayes

#30878 ENH: Make roc_curve array API compatible
  doc/modules/array_api.rst
  doc/whats_new/upcoming_changes/array-api/30878.feature.rst
  sklearn/metrics/_ranking.py
  sklearn/metrics/tests/test_common.py
  sklearn/utils/tests/test_validation.py
  sklearn/utils/validation.py
Labels: module:metrics, module:utils, Array API

#31516 DOC Fix example Recursive feature elimination with cross-validation
  examples/feature_selection/plot_rfe_with_cross_validation.py
Labels: Documentation

#28755 DOC Add examples of make_scorer usage to fbeta_score docstring
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics

#31445 Fix `_fill_or_add_to_diagonal` when `reshape` returns copy
  sklearn/decomposition/_base.py
  sklearn/metrics/pairwise.py
  sklearn/utils/_array_api.py
  sklearn/utils/tests/test_array_api.py
Labels: module:decomposition, module:metrics, module:utils, No Changelog Needed, Array API

#31598 DOC Revise the math formatting for eta_0
  doc/modules/sgd.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#31607 MNT Use `_add_to_diagonal` in GaussianMixture
  sklearn/mixture/_gaussian_mixture.py
Labels: module:mixture, Array API

#31603 MNT Simplify inefficient regex
  sklearn/tests/test_min_dependencies_readme.py
Labels: No Changelog Needed, Quick Review

#31641 CI Avoid Windows timeout by switching to OpenBLAS
  azure-pipelines.yml
  build_tools/azure/pymin_conda_forge_openblas_environment.yml
  build_tools/azure/pymin_conda_forge_openblas_win-64_conda.lock
  build_tools/azure/windows.yml
  build_tools/update_environments_and_lock_files.py
Labels: Build / CI

#31639 FIX GaussianMixture sample method to correctly handle mps
  sklearn/mixture/_base.py
Labels: module:mixture, Quick Review, Array API

#28043 ENH Add support for np.nan values in SplineTransformer
  doc/whats_new/upcoming_changes/sklearn.preprocessing/28043.enhancement.rst
  sklearn/preprocessing/_polynomial.py
  sklearn/preprocessing/tests/test_polynomial.py
Labels: module:preprocessing

#31605 FIX use pyarrow types in pyarrow.filter() for older pyarrow versions
  build_tools/azure/pymin_conda_forge_openblas_min_dependencies_environment.yml
  build_tools/azure/pymin_conda_forge_openblas_min_dependencies_linux-64_conda.lock
  build_tools/update_environments_and_lock_files.py
  sklearn/utils/_indexing.py
  sklearn/utils/fixes.py
Labels: module:utils, Waiting for Second Reviewer

#31646 Fix `make_swiss_roll` docstring to resolve a copyright ambiguity
  sklearn/datasets/_samples_generator.py
Labels: module:datasets

#31650 feat: support Intel GPUs in Array API testing
  sklearn/utils/_array_api.py
  sklearn/utils/_testing.py
Labels: module:utils, Array API

#31665 ENH avoid np.square(X) in enet_coordinate_descent to save memory
  doc/whats_new/upcoming_changes/sklearn.linear_model/31665.enhancement.rst
  sklearn/linear_model/_cd_fast.pyx
Labels: Performance, module:linear_model, cython

#31667 DOC Fixed minor typo: "multiclasss" -> "multiclass"
  sklearn/metrics/_classification.py
Labels: Documentation, module:metrics, Quick Review, Waiting for Second Reviewer

#31642 MNT Remove deprecated `iprint` and `disp` usage in scipy 1.15 LBFGS
  sklearn/linear_model/_glm/_newton_solver.py
  sklearn/linear_model/_glm/glm.py
  sklearn/linear_model/_huber.py
  sklearn/linear_model/_logistic.py
  sklearn/neighbors/_nca.py
  sklearn/neural_network/_multilayer_perceptron.py
  sklearn/utils/fixes.py
Labels: module:linear_model, module:neural_network, module:utils, Quick Review, Waiting for Second Reviewer

#31669 DOC fix typo and improve whatsnew of #31665
  doc/whats_new/upcoming_changes/sklearn.linear_model/31665.enhancement.rst
Labels: Documentation, Quick Review, Waiting for Second Reviewer

#31622 DOC The set {0,1} should be \{0, 1\} in math mode
  doc/modules/model_evaluation.rst
Labels: Documentation

#31677 DOC: Remove FIXME tags from glossary
  doc/glossary.rst
Labels: Documentation
